        <h2 class="textbook-section-title" id="title2"><strong>2 : Ruby on Railsの準備</strong></h2>
        <h4 id="chapter2-2">
        ここまでRuby on Railsでは基本的になにをしているかを説明しました。
        <br>
        ただ実際にRuby on Railsでウェブページを作るにあたって、Ruby on Rails以外にも必要となるソフトウェアがあります。
        <br><br>
        <strong>ここでは、Ruby on Railsとその他のソフトウェアをインストールして開発ができる環境にしましょう...</strong>
        <hr class="red-hr">
        <strong class="remarkable">の前に！</strong>
        <br>
        <strong>インストールする時に必要になる<span class="color-blue">「ターミナル」</span>というアプリケーションについて説明します。</strong>
        </h4>
        <hr>
        <%= render "page2/title2_1" %>
        <hr>
        <%= render "page2/title2_2" %>
        <hr>
        <%= render "page2/title2_3" %>
        <hr>
        <%= render "page2/title2_4" %>
        <hr>
        <%= render "page2/title2_5" %>
        <hr>
        <h4>
        <i class="fa fa-star color-blue"></i>　<strong>ここまでで環境構築は終わりです。次の章からは実際にRuby on Rails を使った開発をしていきます。</strong>
        </h4>