 <h4 id="chapter2-2-3">
        <p id="title2-3"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">③ : Sublime Textのインストール</strong></p>
        <br>
        設定ファイルを編集するためのファイルの編集ソフト、<strong><u>Sublime Text</u></strong>もインストールしましょう。
        <hr class="red-hr">
        まずは<a href="http://www.sublimetext.com/" target="_blank"><strong>Sublime Textのホームページ</strong></a>に移動して、ファイルをダウンロードします。
        <br><br>
        <a href="http://www.sublimetext.com/" target="_blank"><strong>こちら</strong></a>を開いてみて下さい
        <br><br>
        下のような表示はでてきたでしょうか？
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/Chrome_Sublime_Text.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/Chrome_Sublime_Text.png",
                    :target => ["_blank"] %>
        このページの<strong>「<u>Download for OS X</u>」</strong>をクリックして、ダウンロードをしましょう。
        <hr class="red-hr">
        ダウンロードが終わったら、<strong>「<u>ダウンロード</u>」フォルダ</strong>に、ダウンロードしたファイルがあるので開いてみましょう！
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/Finder_Downloads_Sublime_Text.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/Finder_Downloads_Sublime_Text.png",
                    :target => ["_blank"] %>
        クリックすると、
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/Finder_after_download_sublime_text.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/Finder_after_download_sublime_text.png",
                    :target => ["_blank"] %>
        のように表示されます。
        <br><br>
        ここにある「Sublime Text」のアイコンを<strong>「<u>Shift</u>」キーを押しながらクリック</strong>して、<strong>「<u>Applications</u>」</strong>に移動させて下さい。
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/Finder_move_sublime_text_to_applications.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/Finder_move_sublime_text_to_applications.png",
                    :target => ["_blank"] %>
        これで<strong>「<u>Sublime Text</u>」</strong>のインストールが完了しました！
        <hr class="red-hr">
        <i class="fa fa-play-circle"></i>　<strong>確認のために一回開いてみましょう！</strong>
        <br><br>
        右上の虫眼鏡マークを押して、<strong>「Sublime Text」</strong>と入力してみて下さい。
        <br>
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/Spotlight_find_Sublime_Text.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/Spotlight_find_Sublime_Text.png",
                    :target => ["_blank"] %>
        できたら<strong>「<u>Enter</u>」</strong>キーを押せば開きます。
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Window_Sublime_Text.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Window_Sublime_Text.png",
                    :target => ["_blank"] %>
        このようなウィンドウが出てきたでしょうか？
        <br>
        この<strong>「<u>Sublime Text</u>」</strong>を今回は使っていきます。
        <br>
</h4>