        <h2 class="textbook-section-title" id="title2"><strong>2 : Ruby on Rails的准备</strong></h2>
        <h4 id="chapter2-2">
        我們解释了， Ruby on Rails 是这么样作网站。
        <br>
        但是用 Ruby on Rails 作网站的时候，Ruby on Rails以外还有需要的软件。
        <br><br>
        <strong>在这里，我們安裝 Ruby on Rails跟其他软件。在这里作可以用 Ruby on Rails 作网站的环境。</strong>
        <br><br><br><br><br><br>
        </h4>
        <h2 style="border-bottom:2px solid #1170db; padding-bottom:2px; line-height:40px"><i class="fa fa-windows color-blue"></i>　<strong>用 Windows 的电脑的话、<a href="/zh-CN/mugcups/windows_rails" target="_blank">请看这里的说明</a></strong>！</h2>
        <br><br><br><br><br><br>
        <hr class="red-hr">
        <h4>
        先解释<strong>安装的时候要用的<span class="color-blue">「terminal」</span>的应用程序吧。</strong>
        </h4>
        <hr>
        <%= render "page2/zh-CN/title2_1" %>
        <hr>
        <%= render "page2/zh-CN/title2_2" %>
        <hr>
        <%= render "page2/zh-CN/title2_3" %>
        <hr>
        <%= render "page2/zh-CN/title2_4" %>
        <hr>
        <%= render "page2/zh-CN/title2_5" %>
        <hr>
        <h4>
        <i class="fa fa-star color-blue"></i>　<strong>恭喜你！这样作網站的环境作好了！
        <hr class="red-hr">
        從下一章，用 Ruby on Rails 开始作网站吧。</strong>
        </h4>