<% provide :title, "認証メールを再送信する" %>
<header class="text-center header-img-desk">
  <div id="top-page" class="log-area">
    <%= render "common/alert" %>
    <div class="log-area-inner fadeIn wow">
      <div class="text-left">
        <%= devise_error_messages! %>
      </div>
      <div>
      <h2><%= image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/logo/mugcup_logo_nav_gray.png") %> <strong>認証メールを再送信する</strong></h2>

      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>

        <div class="field">
          <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), :class => "form-control", :placeholder => "メールアドレスを入力" %> 
        </div>
        <br>
        <div class="actions">
          <%= f.submit "認証メールを再送信する", :class => "btn btn-green" %>
        </div>
      <% end %>
      <hr class="log-hr">
      <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</header>
