<h4 id="chapter10-4-2-2">
  <p id="title4-2-2"><i class="fa fa-check-square color-red"></i>　<strong>⑵ :显示网页</strong></p>
  <br>
  <i class="fa fa-play-circle"></i>　<strong>那么，设定网页的显示吧。</strong>
  <hr class="red-hr">
  显示「posts」资料库的「name」的地方，<strong><u>改成用「users」资料库的「family_name」跟「first_name」显示</u></strong>吧。
  <br><br>
  这个显示的编辑有
  <strong>
    <ul class="number_ul">
      <li>编辑输入框</li>
      <li>显示「<u>@user</u>」的资料「<u>family_name</u>」「<u>first_name</u>」</li>
    </ul>
  的两个。
  <br>
  首先做输入框的编辑吧。</strong>
  <ul class="number_ul">
    <hr class="red-hr">
    <strong><li>输入框的编辑</li></strong>
      <br>
      在这里设定使用「user_id」做<strong>「<u>posts_controller.rb</u>」里的<u>资料操作</u></strong>。
      <br>
      首先删除<strong><u>网页显示</u>里设定的「name」的输入款，再來用「user_id」作输入框吧</strong>。
      <br><br>
      在设定「name」的输入框在<strong><u>new.html.erb</u></strong>网页里。
      <br><br>
      <i class="fa fa-play-circle"></i>　<strong>那么编辑「<u>new.html.erb</u>」的內容吧！</strong>
      <br><br>
      <i class="fa fa-file color-red"></i>　<strong>new.html.erb</strong>
      <br>
      <small>
        ※　<strong><u>用半母字母数字打入</u></strong>。一起点击<strong><u>「Command」跟「s」</u></strong>可以保存內容。
        <br>
        <i class="fa fa-windows color-blue"></i>　使用Windows的话，点击<strong><u>「ctrl」跟「s」</u></strong>可以保存內容。
      </small>
      <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>4
5
6
</td>
<td class='code-content'><span class='code-line'>  &lt;<span class='word-red'>p</span>&gt;名字&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>    &lt;%= f.text_field <span class="word-purple">:name</span>, <span class='word-purple'>:class</span> =&gt; <span class='word-yellow'>"form-control my-form"</span> %&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>br</span>&gt;</span>
</td>
</tr>
</table>
      <br>
      <strong>删除第4～6行吧。</strong>
      <br><br>
      <small>
        ※　<u>一起点击<strong>「Command」跟「c」</strong></u>停止，用<strong>「<u>rails s</u>」</strong>打开的服务器之后，再打入<strong><u>「rails s」</u></strong>吧。
      </small>
      <br><br><br>
      <p class="alert alert-success">
      <i class="fa fa-windows color-blue"></i>　<strong>使用Windows的话，
      <br>
      　<u>一起点击「ctrl」跟「c」</u>停止，用「<u>rails s</u>」打开的服务器之后，再打入「<u>rails s</u>」吧。</strong>
      </p>
      <br>
      这样，输入框也删除了，
      <br>
      <strong>接着编辑在显示「<u>@post</u>」的「<u>name</u>」的网页，改成使用「<u>@user</u>」的「<u>family_name</u>」「<u>first_name</u>」显示吧</strong>。
      <hr class="red-hr">
    <strong><li>@user的显示</li></strong>
    <br>
    那么，显示看会员资料吧。
    <br><br>
    <i class="fa fa-question-circle color-green"></i>　<strong><u>在网页上显示「@user」的「family_name」</u>要怎么设定好呢？</strong>
    <br><br>
    <input type="input" class="input-code form-control" placeholder="打入答案">
    <br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content answer-code'><span class='code-line'>&lt;%= @user.family_name %&gt;</span>
</td>
</tr>
</table>
    <br>
    使用<strong>「<u>@user</u>」的这个设定</strong>，在
    <strong>
    <ul class="number_ul">
      <li><u>show.html.erb</u></li>
      <li><u>create.html.erb</u></li>
      <li><u>update.html.erb</u></li>
      <li><u>destroy.html.erb</u></li>
    </ul>
    </strong>
    <br>
    的网页里<strong>显示会员的资料「<u>family_name</u>」「<u>first_name</u>」</strong>吧。
    <hr class="red-hr">
  首先在<strong>「<a href="/zh-CN/mugcups/5#title1-1" target="_blank">show</a>」</strong>的网页里，显示<strong>「<u>@user</u>」</strong>的<strong>「<u>family_name</u>」跟「<u>first_name</u>」</strong>吧！
  <br>
  打开<strong>「<u>app > views > posts > show.html.erb</u>」</strong>之后，参考下面的內容编辑吧。
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>show.html.erb（编辑第2〜4行目）</strong>
  <br>
  <small>
    ※　<strong><u>用半母字母数字打入</u></strong>。一起点击<strong><u>「Command」跟「s」</u></strong>可以保存內容。
    <br>
    <i class="fa fa-windows color-blue"></i>　使用Windows的话，点击<strong><u>「ctrl」跟「s」</u></strong>可以保存內容。
  </small>
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
<strong class="color-red">2
3
4</strong>
5
6
7
8
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line remarkable-code'>&lt;<span class='word-red'>p</span>&gt;&lt;%= @user.family_name %&gt;&lt;%= @user.first_name %&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line remarkable-code'>&lt;<span class='word-red'>h4</span>&gt;&lt;%= @post.content %&gt;&lt;/<span class='word-red'>h4</span>&gt;</span>
<span class='code-line remarkable-code'>&lt;<span class='word-red'>small</span>&gt;&lt;%= @post.created_at %&gt;：&lt;%= @post.place %&gt;&lt;/<span class='word-red'>small</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>p</span>&gt;&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/posts"</span> <span class="word-green">class</span>=<span class="word-yellow">"btn btn-info"</span>&gt;返回主页&lt;/<span class='word-red'>a</span>&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>p</span>&gt;&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/posts/&lt;%= @post.id %&gt;/edit"</span> <span class="word-green">class</span>=<span class="word-yellow">"btn btn-success"</span>&gt;编辑投稿&lt;/<span class='word-red'>a</span>&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>p</span>&gt;&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/posts/&lt;%= @post.id %&gt;"</span> <span class="word-green">data-method</span>=<span class="word-yellow">"delete"</span> <span class="word-green">class</span>=<span class="word-yellow">"btn btn-danger"</span>&gt;删除投稿&lt;/<span class='word-red'>a</span>&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
</td>
</tr>
</table>
  <br>
  这样设定好了，<strong>在投稿的网页上<u>显示会员资料</u>的內容</strong>了。
  <br><br>
  还有为了网页显示的更漂亮编辑了第3,4行的html。不要忘记编辑內容吧。
  <hr class="red-hr">
  <strong>
    同样的
    <ul class="number_ul" style="margin-bottom:10px;">
      <li>「<u>create.html.erb</u>」</li>
      <li>「<u>update.html.erb</u>」</li>
      <li>「<u>destroy.html.erb</u>」</li>
    </ul>
    也参考下面，编辑內容吧！
  </strong>
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>create.html.erb（编辑第2〜5行）</strong>
  <br>
  <small>
    ※　<strong><u>用半母字母数字打入</u></strong>。一起点击<strong><u>「Command」跟「s」</u></strong>可以保存內容。
    <br>
    <i class="fa fa-windows color-blue"></i>　使用Windows的话，点击<strong><u>「ctrl」跟「s」</u></strong>可以保存內容。
  </small>
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
<strong class="color-red">2
3
4
5</strong>
6
7
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>h1</span>&gt;投稿作好了&lt;/<span class='word-red'>h1</span>&gt;</span>
<span class="code-line remarkable-code">&lt;<span class="word-red">hr</span>&gt;</span>
<span class='code-line remarkable-code'>&lt;<span class='word-red'>p</span>&gt;名字：&lt;%= @user.family_name %&gt;&lt;%= @user.first_name %&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line remarkable-code'>&lt;<span class='word-red'>p</span>&gt;内容：&lt;%= @post.content %&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line remarkable-code'>&lt;<span class='word-red'>p</span>&gt;地方：&lt;%= @post.place %&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/posts"</span> <span class="word-green">class</span>=<span class="word-yellow">"btn btn-info"</span>&gt;返回主页&lt;/<span class='word-red'>a</span>&gt;</span>
</td>
</tr>
</table>
    <hr class="red-hr">
    <i class="fa fa-file color-red"></i>　<strong>update.html.erb（编辑第3〜5行）</strong>
    <br>
    <small>
      ※　<strong><u>用半母字母数字打入</u></strong>。一起点击<strong><u>「Command」跟「s」</u></strong>可以保存內容。
      <br>
      <i class="fa fa-windows color-blue"></i>　使用Windows的话，点击<strong><u>「ctrl」跟「s」</u></strong>可以保存內容。
    </small>
    <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
<strong class="color-red">3
4
5</strong>
6
7
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>h1</span>&gt;投稿编辑好了&lt;/<span class='word-red'>h1</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line remarkable-code'>&lt;<span class='word-red'>p</span>&gt;名字：&lt;%= @user.family_name %&gt;&lt;%= @user.first_name %&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line remarkable-code'>&lt;<span class='word-red'>p</span>&gt;内容：&lt;%= @post.content %&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line remarkable-code'>&lt;<span class='word-red'>p</span>&gt;地方：&lt;%= @post.place %&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/posts"</span> <span class="word-green">class</span>=<span class="word-yellow">"btn btn-info"</span>&gt;返回主页&lt;/<span class='word-red'>a</span>&gt;</span>
</td>
</tr>
</table>
    <hr class="red-hr">
    <i class="fa fa-file color-red"></i>　<strong>destroy.html.erb（编辑第3〜5行）</strong>
    <br>
    <small>
      ※　<strong><u>用半母字母数字打入</u></strong>。一起点击<strong><u>「Command」跟「s」</u></strong>可以保存內容。
      <br>
      <i class="fa fa-windows color-blue"></i>　使用Windows的话，点击<strong><u>「ctrl」跟「s」</u></strong>可以保存內容。
    </small>
    <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
<strong class="color-red">3
4
5</strong>
6
7
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>h1</span>&gt;删除投稿了&lt;/<span class='word-red'>h1</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line remarkable-code'>&lt;<span class='word-red'>p</span>&gt;名字：&lt;%= @user.family_name %&gt;&lt;%= @user.first_name %&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line remarkable-code'>&lt;<span class='word-red'>p</span>&gt;内容：&lt;%= @post.content %&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line remarkable-code'>&lt;<span class='word-red'>p</span>&gt;地方：&lt;%= @post.place %&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/posts"</span> <span class="word-green">class</span>=<span class="word-yellow">"btn btn-info"</span>&gt;返回主页&lt;/<span class='word-red'>a</span>&gt;</span>
</td>
</tr>
</table>
    <br>
    <i class="fa fa-exclamation color-red"></i>　<strong>这样设定好了「<u>create</u>」「<u>update</u>」「<u>destroy</u>」的显示网页的设定了！</strong>
    <hr class="red-hr">
    这样「index.html.erb」以外的「posts」网页的设定好了。在这里设定看<strong><u>「index.html.erb」</u></strong>的內容吧。
    <br><br>
    在「index.html.erb」里<strong><u>用「@posts」的资料显示一个一个的「user」资料</u></strong>。但是到这里沒有说明使用「@posts」显示「user」资料的方法。
    <br>
    <small>※　详细<a href="/zh-CN/codes/5#title1-2" target="_blank"><strong>请参考这里</strong></a></small>
    <br><br>
    其实指定会员资料的
<pre>
User.find(id号码)
</pre>
    可以在html文件上
<pre>
&lt;%= %&gt;
</pre>
    也使用。在这里是用这个，设定內容。
    <br><br>
    <i class="fa fa-play-circle"></i>　<strong>例如说要设定「id」是「90」的会员的「<u>family_name</u>」的话，</strong>
    <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>&lt;%= <span class="word-blue">User</span>.find(<span class="word-purple">90</span>).family_name %&gt;</span>
</td>
</tr>
</table>
    <br>
    可以这样设定，显示「id」是「90」的会员的「family_name」。
    <br><br>
    <strong><u>那么在「id号码」的部分放「user_id」，设定看会员资料的显示吧。</u></strong>
    <hr class="red-hr">
    打开<strong>「<u>app > views > posts > index.html.erb</u>」</strong>之后，参考下面编辑內容。
    <br><br>
    <i class="fa fa-file color-red"></i>　<strong>index.html.erb（编辑第4、5行）</strong>
    <br>
    <small>
      ※　<strong><u>用半母字母数字打入</u></strong>。一起点击<strong><u>「Command」跟「s」</u></strong>可以保存內容。
      <br>
      <i class="fa fa-windows color-blue"></i>　使用Windows的话，点击<strong><u>「ctrl」跟「s」</u></strong>可以保存內容。
    </small>
    <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
<strong class="color-red">4
5</strong>
6
7
8
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>h1</span>&gt;投稿一览&lt;/<span class='word-red'>h1</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line'>&lt;% @posts.each <span class="word-red">do</span> |p| %&gt;</span>
<span class='code-line remarkable-code'>  &lt;<span class='word-red'>p</span>&gt;&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/users/&lt;%= p.user_id %&gt;"</span>&gt;&lt;%= <span class="word-blue">User</span>.find(p.user_id).family_name %&gt;&lt;%= <span class="word-blue">User</span>.find(p.user_id).first_name %&gt;&lt;/<span class='word-red'>a</span>&gt;的投稿&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line remarkable-code'>  &lt;<span class='word-red'>h3</span>&gt;&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/posts/&lt;%= p.id %&gt;"</span>&gt;&lt;%= p.content %&gt;&lt;/<span class='word-red'>a</span>&gt;&lt;/<span class='word-red'>h3</span>&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line'>&lt;% <span class="word-red">end</span> %&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/posts/new"</span> <span class="word-green">class</span>=<span class="word-yellow">"btn btn-primary"</span>&gt;新增投稿&lt;/<span class='word-red'>a</span>&gt;</span>
</td>
</tr>
</table>
  <br>
  编辑的地方是
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'><strong class="color-red">4</strong>
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>p</span>&gt;&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow remarkable-code'>"/users/&lt;%= p.user_id %&gt;"</span>&gt;...</span>
</td>
</tr>
</table>
  <br>
  跟
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'><strong class="color-red">4</strong>
</td>
<td class='code-content'><span class='code-line remarkable-code'>&lt;%= <span class="word-blue">User</span>.find(p.user_id).family_name %&gt;&lt;%= <span class="word-blue">User</span>.find(p.user_id).first_name %&gt;</span>
</td>
</tr>
</table>
    <br>
    这个两个地方。
    <hr class="red-hr">
    这一次的在<strong>「<a href="/zh-CN/mugcups/5#title1-2" target="_blank">index</a>」</strong>网页上，把选择全部的资料的
<pre>
Post.all
</pre>
    用
<pre>
&lt;% @post.each do |p| %&gt;
</pre>
    <strong>分成一个一个的资料「p」</strong>（详细<a href="/zh-CN/mugcups/5#title1-2-1" target="_blank"><strong>请参考这里</strong></a>）。
    <br><br>
    从这个<strong>「p」</strong>取得的「user_id」，<strong><u>做会员的选择跟「family_name」「first_name」的显示</u></strong>。
    <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'><strong class="color-red">4</strong>
</td>
<td class='code-content'><span class='code-line remarkable-code'>&lt;%= <span class="word-blue">User</span>.find(p.user_id).family_name %&gt;&lt;%= <span class="word-blue">User</span>.find(p.user_id).first_name %&gt;</span>
</td>
</tr>
</table>
    <hr class="red-hr">
    <br>
    <small>
      ※　<u>一起点击<strong>「Command」跟「c」</strong></u>停止，用<strong>「<u>rails s</u>」</strong>打开的服务器之后，再打入<strong><u>「rails s」</u></strong>吧。
    </small>
    <br><br><br>
    <p class="alert alert-success">
    <i class="fa fa-windows color-blue"></i>　<strong>使用Windows的话，
    <br>
    　<u>一起点击「ctrl」跟「c」</u>停止，用「<u>rails s</u>」打开的服务器之后，再打入「<u>rails s</u>」吧。</strong>
    </p>
    <br>
    做好之后打开「<a href="http://0.0.0.0:3000/posts/new" target="_blank"><strong>0.0.0.0:3000/posts/new</strong></a>」吧！
    <br>
    <small>
      <i class="fa fa-windows color-blue"></i>　使用Windows的话，打开「<a href="http://localhost:3000/posts/new" target="_blank"><strong>localhost:3000/posts/new</strong></a>」吧。
    </small>
    <br><br>
    有沒有显示下面一样的网页吗？
    <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page11/Chrome_posts_new_after_devise_before.png",
                          :width => "90%",
                          :class => "hover_img textbook-title-img"),
                "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page11/Chrome_posts_new_after_devise_before.png",
                :target => ["_blank"] %>
    出來之后，打入內容
    <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page11/Chrome_posts_new_after_devise.png",
                          :width => "90%",
                          :class => "hover_img textbook-title-img"),
                "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page11/Chrome_posts_new_after_devise.png",
                :target => ["_blank"] %>
    点击<strong>「<u>登录</u>」</strong>吧！
    <br>
    有沒有显示下面一样的网页吗？
    <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page11/Chrome_posts_create_after_devise.png",
                          :width => "90%",
                          :class => "hover_img textbook-title-img"),
                "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page11/Chrome_posts_create_after_devise.png",
                :target => ["_blank"] %>
    这样子投稿的內容保存好了。
    <br>
    <strong>使用<a href="/zh-CN/mugcups/how_to_open#title3" target="_blank">Sequel Pro</a>或者，打开「<a href="/zh-CN/mugcups/5#title1-1" target="_blank">show</a>」网页</strong>看看资料有沒有保存了沒！
    <br>
    <small><i class="fa fa-windows color-blue"></i>　使用Windows的话，打开<a href="/zh-CN/mugcups/how_to_open#title4" target="_blank"><strong>SqliteBrowser</strong></a>看看內容吧！</small>
    <hr class="red-hr">
    <strong>
    打开看「<a href="/zh-CN/mugcups/5#title1-2" target="_blank">index</a>」网页「<a href="http://0.0.0.0:3000/posts" target="_blank">0.0.0.0:3000/posts</a>」或是「<a href="/zh-CN/mugcups/6#title1-5" target="_blank">edit</a>」网页「<a href="http://0.0.0.0:3000/posts/1/edit" target="_blank">0.0.0.0:3000/posts/1/edit</a>」看看內容吧。
    </strong>
    <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page11/Chrome_posts_all_after_devise_create_post.png",
                          :width => "90%",
                          :class => "hover_img textbook-title-img"),
                "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page11/Chrome_posts_all_after_devise_create_post.png",
                :target => ["_blank"] %>
    <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page11/Chrome_posts_1_after_devise_create_post.png",
                          :width => "90%",
                          :class => "hover_img textbook-title-img"),
                "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page11/Chrome_posts_1_after_devise_create_post.png",
                :target => ["_blank"] %>
    <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page11/Chrome_posts_1_edit_after_devise.png",
                          :width => "90%",
                          :class => "hover_img textbook-title-img"),
                "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page11/Chrome_posts_1_edit_after_devise.png",
                :target => ["_blank"] %>
    <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page11/Chrome_posts_1_update_after_devise.png",
                          :width => "90%",
                          :class => "hover_img textbook-title-img"),
                "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page11/Chrome_posts_1_update_after_devise.png",
                :target => ["_blank"] %>
    <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page11/Chrome_posts_1_destroy_after_devise.png",
                          :width => "90%",
                          :class => "hover_img textbook-title-img"),
                "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page11/Chrome_posts_1_destroy_after_devise.png",
                :target => ["_blank"] %>
  </ul>
  <br><br>
  <strong>
  最后做內容的总结。
  </strong>
</h4>