        <h2 class="textbook-section-title" id="title2"><strong>2 : Ruby on Rails的準備</strong></h2>
        <h4 id="chapter2-2">
        我們解釋 Ruby on Rails 是這麼做網站。
        <br>
        但是用 Ruby on Rails 作網站的時候，Ruby on Rails以外還有需要的軟件。
        <br><br>
        <strong>在這裡，我們安裝 Ruby on Rails跟其他軟件。做好可以用 Ruby on Rails 作網站的環境。</strong>
        <br><br><br><br><br><br>
        </h4>
        <h2 style="border-bottom:2px solid #1170db; padding-bottom:2px; line-height:40px"><i class="fa fa-windows color-blue"></i>　<strong>用 Windows 的電腦的話、<a href="/zh-TW/mugcups/windows_rails" target="_blank">請看這裡的說明</a></strong>！</h2>
        <br><br><br><br><br><br>
        <hr class="red-hr">
        <h4>
        先解釋<strong>安裝的時需要的叫做<span class="color-blue">「terminal」</span>的应用程序。</strong>
        </h4>
        <hr>
        <%= render "page2/zh-TW/title2_1" %>
        <hr>
        <%= render "page2/zh-TW/title2_2" %>
        <hr>
        <%= render "page2/zh-TW/title2_3" %>
        <hr>
        <%= render "page2/zh-TW/title2_4" %>
        <hr>
        <%= render "page2/zh-TW/title2_5" %>
        <hr>
        <h4>
        <i class="fa fa-star color-blue"></i>　<strong>恭喜你！這樣作網站的環境已經做好了！
        <hr class="red-hr">
        從下一章，開始用Ruby on Rails 作網站。</strong>
        </h4>