<h4 id="chapter2-2-2">
  <p id="title2-2"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">② : Ruby on Rails 的安裝</strong></p>
  <br>
  <strong>
    那麽，咱們安裝 Ruby on Rails 吧！
    <br>
    這個有一點長，加油！
    <br><br>
    安裝的環境是
    <ul class="number_ul">
      <li><u>Ruby 2.1.3</u></li>
      <li><u>Ruby on Rails 4.2.6</u></li>
    </ul>
    <br>
    如果已經安裝好的話、<u>不用再安裝環境</u>。看<a href="#title2-3">下一個安裝</a>吧！
  </strong>
  <hr class="red-hr">
  <i class="fa fa-play-circle"></i>　<strong>我們先安裝叫做「<u>Command Line Tools</u>」的軟件。</strong>
  <br><br>
  <i class="fa fa-exclamation"></i>　請準備好<strong><u>AppleID</u></strong>，用<strong><u>AppleID</u></strong><a href="https://developer.apple.com/downloads/index.action" target="_blank"><strong>從這裡</strong></a>登錄。
  <br>
  <small>※　註冊AppleID<a href="https://support.apple.com/zh-tw/HT203993" target="_blank"><strong>請從這裡做</strong></a></small>
  <br>
  <br>
  有下面一樣的畫面嗎？
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/Chrome_Apple_Developer.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/Chrome_Apple_Developer.png",
              :target => ["_blank"] %>
  從這裡安裝<strong>「<u>Command Line Tools</u>」</strong>。
  <hr class="red-hr">
  <i class="fa fa-arrow-right"></i>　<strong>安裝之前，先確認Mac的環境。</strong>
  <br>
  <small>※　隨着Mac的環境，安裝的東西也不同。請注意。</small>
  <br><br>
  跟下面一樣子，點擊 <i class="fa fa-apple"></i> ，之後點擊裡面的<strong>「<u>About This Mac</u>」</strong>。
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/Settiing_About_This_Mac.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/Settiing_About_This_Mac.png",
              :target => ["_blank"] %>
  會顯示下面的畫面，請確認紅線的地方。
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/About_This_Mac_Overview.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/About_This_Mac_Overview.png",
              :target => ["_blank"] %>
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/About_This_Mac_Overview_detail.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/About_This_Mac_Overview_detail.png",
              :target => ["_blank"] %>
  確認您 Mac 的環境之後，參考下面表下載「Command Line Tools」。
  <table class="table table-bordered table-hover" style="margin:15px 0">
    <thead style="font-size:15px">
      <tr>
        <td>Mac的環境</td>
        <td>Command Line Tools</td>
      </tr>
    </thead>
    <tbody style="font-size:12px">
      <tr>
        <td>10.11.x</td>
        <td>Command Line Tools(OS X 10.11)for Xcode x.x.x</td>
      </tr>
      <tr>
        <td>10.10.x</td>
        <td>Command Line Tools(OS X 10.10)for Xcode x.x.x</td>
      </tr>
      <tr>
        <td>10.9.x</td>
        <td>Command Line Tools(OS X 10.9)for Xcode x.x.x</td>
      </tr>
      <tr>
        <td>10.8.x</td>
        <td>Command Line Tools(OS X Mountain Lion)for Xcode x.x.x</td>
      </tr>
      <tr>
        <td>10.7.x</td>
        <td>Command Line Tools(OS X Lion)for Xcode x.x.x</td>
      </tr>
    </tbody>
  </table>
  如果有幾個的話，選<strong><u>最新的東西</u></strong>吧！
  <br><br>
  下載之後，開<strong>「<u>download</u>」文件夾</strong>，點擊剛剛下載的文件，
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/Finder_Downloads_Command_Line_Tools.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/Finder_Downloads_Command_Line_Tools.png",
              :target => ["_blank"] %>
  之後開安裝的文件就OK了。
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/Finder_Command_Line_Tools.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/Finder_Command_Line_Tools.png",
              :target => ["_blank"] %>
  <hr class="red-hr">
  <i class="fa fa-play-circle"></i>　<strong>咱們安裝「<u>Ruby on Rails</u>」。<br>在terminal上，打入下面的命令吧。</strong>
  <br><br>
  <i class="fa fa-arrow-right"></i>　
  <strong>
  這裡我們使用terminal。
  <br>
  　　 那麼，打開看terminal吧。
  </strong>
  <br>
  <small>※　開terminal的方法<a href="/zh-TW/mugcups/2#title2-1" target="_blank"><strong>請參考這裡</strong></a></small>
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/Terminal_Open.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/Terminal_Open.png",
              :target => ["_blank"] %>
  打開之後打入，
  <br><br>
  　<strong>terminal（用半角字母數字打入）</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'> 1 
</td>
<td class='code-content'><span class='code-line'>cd</span>
</td>
</tr>
</table>
  <br>
  這樣，terminal回到剛開始開的時候的地方。
  <br><br>
  <i class="fa fa-play-circle"></i>　<strong>那麽，開始吧！</strong>
  <br><br>
  <ul class="number_ul">
    <strong><u><li>Homebrew的安裝</li></u></strong>
    <br>
    先打入下面的命令。這個是安裝叫做<strong>「<u>Homebrew</u>」</strong>的工具。
    <br>
    選這文字之後點擊<strong>「<u>Command</u>」跟「<u>c</u>」</strong>可以複製文字，點擊<strong>「<u>Command</u>」跟「<u>v</u>」</strong>可以黏贴複製的文字。
    <br><br>
    　<strong>terminal（用半角字母數字打入）</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'> 1 
</td>
<td class='code-content'><span class='code-line'>ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"</span>
</td>
</tr>
</table>
    <br>
    途中會有要求打入密碼，那個時候打入自己電腦Mac的密碼吧。
    <br><br>
    安裝完了之後，打入
    <br><br>
    　<strong>terminal</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'> 1 
</td>
<td class='code-content'><span class='code-line'>brew -v</span>
</td>
</tr>
</table>
    <br>
    之後，顯示<strong>「<u>Homebrew</u>」</strong>的環境的話OK。
    <hr class="red-hr">
    <strong><u><li>rbenv跟ruby-build的安裝</li></u></strong>
    <br>
    這兩個工具在管理，<strong>動「Ruby on Rails」的<u>叫做「Ruby」的程序語言的版本</u></strong>。
    <br>
    那麽，開始安裝吧！在terminal上，打入下面兩個命令。
    <br><br>
    <small>※　選這文字之後點擊<strong>「<u>Command</u>」跟「<u>c</u>」</strong>可以複製文字，點擊<strong>「<u>Command</u>」跟「<u>v</u>」</strong>可以黏贴複製的文字。</small>
    <br><br>
    　<strong>terminal（用半角字母數字打入）</strong>
    <br><br>
    <i class="fa fa-exclamation color-red"></i>　<strong>有時候，不能複製與黏貼。那個時候，請直接打入。</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'> 1 
</td>
<td class='code-content'><span class='code-line'>brew install ruby-­build</span>
</td>
</tr>
</table>
    <br>
    　<strong>terminal（用半角字母數字打入）</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'> 1 
</td>
<td class='code-content'><span class='code-line'>brew install rbenv</span>
</td>
</tr>
</table>
    <br>
    這樣，安裝好了！
    <br><br>
    <i class="fa fa-arrow-right"></i>　可是現在的狀態還不能用，請打入下面的命令。
    <br><br>
    <small>※　選這文字之後點擊<strong>「<u>Command</u>」跟「<u>c</u>」</strong>可以複製文字，點擊<strong>「<u>Command</u>」跟「<u>v</u>」</strong>可以黏贴複製的文字。</small>
    <br><br>
    　<strong>terminal（用半母字母數字打入）</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'> 1 
</td>
<td class='code-content'><span class='code-line'>echo 'eval "$(rbenv init -)"' &gt;&gt; ~/.bash_profile</span>
</td>
</tr>
</table>
    <br>
    之後，打入
    <br><br>
    　<strong>terminal（用半母字母數字打入）</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'> 1 
</td>
<td class='code-content'><span class='code-line'>source ~/.bash_profile</span>
</td>
</tr>
</table>
    <br>
    這樣，設定好了。
    <hr class="red-hr">
    <strong><u><li>readline的安裝</li></u></strong>
    <br>
    為了避免漢語的亂碼，安裝叫做<strong>「<u>readline</u>」</strong>的工具。
    <br><br>
    打入下面的命令，安裝「readline」吧！
    <br><br>
    <small>※　選這文字之後點擊<strong>「<u>Command</u>」跟「<u>c</u>」</strong>可以複製文字，點擊<strong>「<u>Command</u>」跟「<u>v</u>」</strong>可以黏贴複製的文字。</small>
    <br><br>
    　<strong>terminal（用半母字母數字打入）</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'> 1 
</td>
<td class='code-content'><span class='code-line'>brew install readline</span>
</td>
</tr>
</table>
    <br>
    <i class="fa fa-arrow-right"></i>　下次<strong>設定為了使用「<u>readline</u>」</strong>的命令。
    <br><br>
    <small>※　選這文字之後點擊<strong>「<u>Command</u>」跟「<u>c</u>」</strong>可以複製文字，點擊<strong>「<u>Command</u>」跟「<u>v</u>」</strong>可以黏贴複製的文字。</small>
    <br><br>
    　<strong>terminal（用半母字母數字打入）</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'> 1 
</td>
<td class='code-content'><span class='code-line'>brew link readline --force</span>
</td>
</tr>
</table>
    <br>
    　<strong>terminal（用半母字母數字打入）</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'> 1 
</td>
<td class='code-content'><span class='code-line'>RUBY_CONFIGURE_OPTS="--with-readline-dir=$(brew --prefix readline) --with-openssl-dir=$(brew --prefix openssl)"</span>
</td>
</tr>
</table>
    <hr class="red-hr">
    <li><strong><u>Ruby 的安裝</u></strong></li>
    <br>
    用剛才安裝的「rbenv」，<strong>安裝在動「<u>Ruby on Rails</u>」的叫「<u>Ruby</u>」的程序語言</strong>。
    <br><br>
    在這裡安裝<strong>環境是「<u>2.1.3</u>」的「<u>Ruby</u>」</strong>。
    <br><br>
    　<strong>terminal（用半母字母數字打入）</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'> 1 
</td>
<td class='code-content'><span class='code-line'>rbenv install 2.1.3</span>
</td>
</tr>
</table>
    <br>
    這樣安裝好了！咱們打入準備起動「Ruby」的命令。
    <br><br>
    　<strong>terminal（用半母字母數字打入）</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'> 1 
</td>
<td class='code-content'><span class='code-line'>rbenv rehash</span>
</td>
</tr>
</table>
    <br>
    這樣安裝跟準備好了、咱們設定<strong>「<u>Ruby</u>」的環境</strong>。打入下面的命令。
    <br><br>
    　<strong>terminal（用半母字母數字打入）</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'> 1 
</td>
<td class='code-content'><span class='code-line'>rbenv global 2.1.3</span>
</td>
</tr>
</table>
    <br>
    這樣設定好了。打入下面的命令。
    <br><br>
    　<strong>terminal（用半母字母數字打入）</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'> 1 
</td>
<td class='code-content'><span class='code-line'>ruby -v</span>
</td>
</tr>
</table>
    <br>
    這樣確認<strong>「<u>Ruby</u>」的版本</strong>。
    <br>
    顯示<strong>「<u>2.1.3</u>」</strong>的話OK。
    <hr class="red-hr">
    <strong><u><li>rails 的安裝</li></u></strong>
    <br>
    最後，安裝<strong>「<u>Ruby on Rails</u>」</strong>！
    <br>
    先、安裝為了使用<strong>「<u>Ruby on Rails</u>」的工具</strong>。
    <br><br>
    　<strong>terminal（用半母字母數字打入）</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'> 1 
</td>
<td class='code-content'><span class='code-line'>gem install bundler</span>
</td>
</tr>
</table>
    <br>
    下次<strong>安裝「<u>Ruby on Rails</u>」</strong>。
    <br><br>
    　<strong>terminal（用半母字母數字打入）</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'> 1 
</td>
<td class='code-content'><span class='code-line'>gem install rails</span>
</td>
</tr>
</table>
    <br>
    下次在打入
    <br><br>
    　<strong>terminal（用半母字母數字打入）</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'> 1 
</td>
<td class='code-content'><span class='code-line'>rbenv rehash</span>
</td>
</tr>
</table>
    <br>
    打入完後，確認<strong>「<u>Ruby on Rails</u>」的版本。</strong>
    <br><br>
    　<strong>terminal（用半母字母數字打入）</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'> 1 
</td>
<td class='code-content'><span class='code-line'>rails -v</span>
</td>
</tr>
</table>
    <br>
    <i class="fa fa-play-circle"></i>　<strong>這樣安裝好了「<u>Ruby on Rails</u>」！</strong>
  </ul>
</h4>
<!-- 参考ページ -->
<!-- 1 : http://skillhub.jp/blogs/128 -->
<!-- 2 : http://www.oiax.jp/rails/zakkan/rails_4_2_installation_on_macosx.html -->
<!--  -->