 <h4 id="chapter2-2-3">
        <p id="title2-3"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">③ : Sublime Text的安裝</strong></p>
        <br>
        咱們安裝，編輯設定文件的文件編輯軟件<strong><u>Sublime Text</u></strong>。
        <hr class="red-hr">
        首先，移動到<a href="http://www.sublimetext.com/" target="_blank"><strong>Sublime Text的主頁</strong></a>、下載文件。
        <br><br>
        <a href="http://www.sublimetext.com/" target="_blank"><strong>請打開這裡</strong></a>。
        <br><br>
        顯示下面一樣的畫面嗎？
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/Chrome_Sublime_Text.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/Chrome_Sublime_Text.png",
                    :target => ["_blank"] %>
        之後，點擊<strong>「<u>Download for OS X</u>」</strong>，開始下載。
        <hr class="red-hr">
        下載完了之後，開<strong>「<u>download</u>」文件夾</strong>找有沒有下載的文件。
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/Finder_Downloads_Sublime_Text.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/Finder_Downloads_Sublime_Text.png",
                    :target => ["_blank"] %>
        點擊之後，
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/Finder_after_download_sublime_text.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/Finder_after_download_sublime_text.png",
                    :target => ["_blank"] %>
        會這樣顯示。
        <br><br>
        <strong>邊點擊「<u>Shift</u>」點擊鍵按這裡面的「Sublime Text」的圖標，之後移動圖標到「<u>Applications</u>」文件夾。</strong>
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/Finder_move_sublime_text_to_applications.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/Finder_move_sublime_text_to_applications.png",
                    :target => ["_blank"] %>
        這樣<strong>「<u>Sublime Text</u>」</strong>的安裝好了。
        <hr class="red-hr">
        <i class="fa fa-play-circle"></i>　<strong>為了確認，在開一次吧。</strong>
        <br><br>
        點擊右上邊的放大鏡標記、打入看看<strong>「Sublime Text」</strong>。
        <br>
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/Spotlight_find_Sublime_Text.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/Spotlight_find_Sublime_Text.png",
                    :target => ["_blank"] %>
        打入完後，點擊<strong>「<u>Enter</u>」</strong>按鍵就可以開「Sublime Text」。
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Window_Sublime_Text.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Window_Sublime_Text.png",
                    :target => ["_blank"] %>
        有沒有出現這樣子的畫面嗎？
        <br>
        我們會用這個<strong>「<u>Sublime Text</u>」</strong>。
        <br>
</h4>