<h2 class="textbook-section-title" id="title4"><strong>4 : 作會員的投稿</strong></h2>
<h4 id="chapter10-4">
  「用戶管理」的內容，到這裡我們做了<strong>
  <ul class="number_ul">
    <li><a href="/zh-TW/mugcups/9#title1" target="_blank">導入「devise」</a></li>
    <li><a href="/zh-TW/mugcups/9#title2" target="_blank">設定登入機能</a></li>
    <li><a href="/zh-TW/mugcups/10#title3" target="_blank">設定「users」網頁</a></li>
  </ul>
  </strong>這個三個內容。
  <br><br>
  <strong><u>接着用設定的會員的資料，在投稿上顯示會員的資料吧！</u></strong>
  <br><br>
  例如說...
  <br>
  <br>
  到這裡的內容，我們用「posts」資料庫裡的「name」的框子，顯示作投稿的人的資料。
  <br>
  可是在會員制的網站的話，<strong>一次一次打入自己的名字有一點麻煩。</strong>
  <br>
  所以在這裡想做做看，<strong><u>不用自己打自己的名字就可以作投稿的設定。</u></strong>
  <br><br>
  為了設定這個，作投稿的時候<strong><u>在投稿的資料庫裡保存作投稿的會員的資料（作這個投稿的會員的id是1 等等）。然後用這個資料顯示會員的資料。</u></strong>
  <hr class="red-hr">
  在這邊作的網頁是，
  <br>
  <strong>如果是有登入的會員的話，顯示的網頁上作<u>新增・編輯資料</u>的網頁（沒有打入名字的框子）。</strong>
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page11/Chrome_posts_new_after_devise.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page11/Chrome_posts_new_after_devise.png",
              :target => ["_blank"] %>
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page11/Chrome_posts_1_edit_after_devise.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page11/Chrome_posts_1_edit_after_devise.png",
              :target => ["_blank"] %>
  在投稿資料編輯完成・顯示投稿的網頁上、<strong><u>顯示投稿或者作投稿的會員的資料</u></strong>。
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page11/Chrome_posts_create_after_devise.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page11/Chrome_posts_create_after_devise.png",
              :target => ["_blank"] %>
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page11/Chrome_posts_all_after_devise_create_post.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page11/Chrome_posts_all_after_devise_create_post.png",
              :target => ["_blank"] %>
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page11/Chrome_posts_1_after_devise_create_post.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page11/Chrome_posts_1_after_devise_create_post.png",
              :target => ["_blank"] %>
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page11/Chrome_posts_1_update_after_devise.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page11/Chrome_posts_1_update_after_devise.png",
              :target => ["_blank"] %>
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page11/Chrome_posts_1_destroy_after_devise.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page11/Chrome_posts_1_destroy_after_devise.png",
              :target => ["_blank"] %>
  為了要顯示這樣的內容，<strong><u>在「posts」資料庫上追加作投稿的會員的框子</u></strong>。用這個會員資料的框子，顯示會員資料。
  <br><br>
  之後用這個投稿資料裡的會員的資料，<br>
  <strong><u>不讓會員編輯或者刪除自己以外的會員作的資料</u></strong>（如果自己的投稿被別人編輯的話有一點危險呢）的設定。
  <hr class="red-hr">
  所以在這個章，設定下面三個設定。
  <strong>
  <ul class="number_ul">
    <li>「posts」資料庫裡追加，會員的框子</li>
    <li>操作資料・顯示網頁的設定</li>
    <li>檢查會員可不可以編輯・刪除資料的設定</li>
  </ul>
  </strong>
  那麽，開始做吧！
  <hr>
  <%= render "page11/zh-TW/title4_1" %>
  <hr>
  <%= render "page11/zh-TW/title4_2" %>
  <hr>
  <%= render "page11/zh-TW/title4_3" %>
</h4>