<% provide :title, "編輯帳號資料" %>
<header class="text-center header-img-desk">
  <div id="top-page" class="log-area">
    <%= render "common/alert" %>
    <div class="log-area-inner fadeIn wow">
      <div class="text-left">
        <%= devise_error_messages! %>
      </div>
      <div>
        <h2><%= image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/logo/mugcup_logo_nav_gray.png") %> <strong>編輯帳號資料</strong></h2>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

          <div class="field">
            <%= f.email_field :email, autofocus: true, :class => "form-control", :placeholder => "郵箱" %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>我們等您的驗證 : <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="field">
            <%= f.password_field :password, autocomplete: "off", :class => "form-control", :placeholder => "密碼(8字以上)" %>
          </div>

          <div class="field">
            <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control", :placeholder => "驗證(確認)" %>
          </div>

          <div class="field">
            <%= f.password_field :current_password, autocomplete: "off", :class => "form-control", :placeholder => "現在的密碼" %>
          </div>
          <br>
          <div class="actions">
            <%= f.submit "更新", :class => "btn btn-green" %>
          </div>
        <% end %>
        <hr class="log-hr">
        <h3><%= image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/logo/mugcup_hand_logo_gray.png") %> <strong>取消您的帳號</strong></h3>

        <p><strong>Unhappy?</strong> <%= button_to "取消您的帳號", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class => "btn btn-danger" %></p>
      </div>
    </div>
  </div>
</header>
