<% provide :title, "註冊" %>
<header class="text-center header-img-desk">
  <div id="top-page" class="log-area">
    <%= render "common/alert" %>
    <div class="log-area-inner fadeIn wow">
      <div class="text-left">
        <%= devise_error_messages! %>
      </div>
      <div>
        <h2><%= image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/logo/mugcup_logo_nav_gray.png") %> <strong>註冊</strong></h2>
        <h5><strong><u>註冊之後，可以買教材。</u></strong></h5>
        <h5><strong>使用教材之前，請準備<u>Mac 或者 Windows 的電腦</u>。</strong></h5>
        <h5><strong>請認可，從<u> support@coffee-cup.info </u>受到的郵件。</strong></h5>
      </div>
      <br>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.email_field :email, autofocus: true, :class => "form-control", :placeholder => "郵箱" %>
        </div>
        <div class="field">
          <%= f.password_field :password, autocomplete: "off", :class => "form-control coffee-form", :placeholder => "密碼（8字以上）" %>
        </div>
        <div class="field">
          <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control", :placeholder => "密碼（確認）" %>
        </div>
        <br>
        <div class="field">
          <%= f.text_field :family_name, autofocus: "off", :class => "form-control", :placeholder => "姓氏" %>
        </div>
        <div class="field">
          <%= f.text_field :first_name, autofocus: "off", :class => "form-control", :placeholder => "名字" %>
        </div>
        <div class="field">
          <%= f.text_field :phone_number, autofocus: "off", :class => "form-control", :placeholder => "電話號碼（例子：0399999999）" %>
        </div>
        <br>
        <div class="field">
          <%= f.text_field :birth_year, autofocus: "off", :class => "form-control", :placeholder => "生日（例：1996）" %>
        </div>
        <div class="field">
          <%= f.text_field :company_name, autofocus: "off", :class => "form-control", :placeholder => "公司，學校名" %>
        </div>
        <div class="field">
          <%= f.text_field :prefecture, :autofocus => "off", :class => "form-control", :placeholder => "都道府県名" %>
        </div>
        <div class="field">
          <label class="log-label"><%= f.radio_button :sex, "1" %> 男生</label>　
          <label class="log-label"><%= f.radio_button :sex, "2" %> 女生</label>
        </div>
        <div class="field">
          <p style="margin-top:15px;margin-bottom:7px;">
          <%= f.check_box :agreement %> 同意<a href="/<%= I18n.locale %>/term" target="_blank">利用規約</a> <span style="letter-spacing:1.1px"></span>
          <br>
          </p>
          <p style="margin-top:5px">
          <a href="tokusho" target="_blank" style="">特定商取引法に基づく表記</a>
          </p>
          </p>
        <div class="actions text-center">
          <%= f.submit "註冊", :class => "btn btn-green" %>
        </div>
      <% end %>
      <hr class="log-hr">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</header>
