<% provide :title, "登録する" %>
<header class="text-center header-img-desk">
  <div id="top-page" class="log-area">
    <%= render "common/alert" %>
    <div class="log-area-inner fadeIn wow">
      <div class="text-left">
        <%= devise_error_messages! %>
      </div>
      <div>
        <h2><%= image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/logo/mugcup_logo_nav_gray.png") %> <strong>登録する</strong></h2>
        <h5><strong><u>教材の購入は登録後に可能になります(学生は3ヶ月無料でご利用いただけます)。</u></strong></h5>
        <h5><strong>教材を使用するには、<u>MacかWindowsのPC</u>をご用意下さい。</strong></h5>
        <h5><strong><u>support@coffee-cup.info </u> からのメールの受信を許可して下さい。</strong></h5>
      </div>
      <br>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.email_field :email, autofocus: true, :class => "form-control", :placeholder => "メールアドレス" %>
        </div>
        <div class="field">
          <%= f.password_field :password, autocomplete: "off", :class => "form-control coffee-form", :placeholder => "パスワード（8文字以上）" %>
        </div>
        <div class="field">
          <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control", :placeholder => "パスワード（確認）" %>
        </div>
        <br>
        <div class="field">
          <%= f.text_field :family_name, autofocus: "off", :class => "form-control", :placeholder => "名字" %>
        </div>
        <div class="field">
          <%= f.text_field :first_name, autofocus: "off", :class => "form-control", :placeholder => "名前" %>
        </div>
        <div class="field">
          <%= f.text_field :phone_number, autofocus: "off", :class => "form-control", :placeholder => "電話番号（例：0399999999）" %>
        </div>
        <br>
        <div class="field">
          <%= f.text_field :birth_year, autofocus: "off", :class => "form-control", :placeholder => "誕生年（例：1996）" %>
        </div>
        <div class="field">
          <%= f.text_field :company_name, autofocus: "off", :class => "form-control", :placeholder => "会社名・学校名" %>
        </div>
        <div class="field">
          <%= f.text_field :prefecture, :autofocus => "off", :class => "form-control", :placeholder => "都道府県名" %>
        </div>
        <div class="field">
          <label class="log-label"><%= f.radio_button :sex, "1" %> 男性</label>　
          <label class="log-label"><%= f.radio_button :sex, "2" %> 女性</label>
        </div>
        <div class="field">
          <p style="margin-top:15px;margin-bottom:7px;">
          <%= f.check_box :agreement %> <a href="/term" target="_blank">利用規約</a> <span style="letter-spacing:1.1px">に同意する</span>
          <br>
          </p>
          <p style="margin-top:5px">
          <a href="tokusho" target="_blank" style="">特定商取引法に基づく表記</a>
          </p>
          </p>
        <div class="actions text-center">
          <%= f.submit "登録する", :class => "btn btn-green" %>
        </div>
      <% end %>
      <hr class="log-hr">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</header>
