<h4 id="chapter1-3">
  <p id="title1-3"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">③ : Sublime Text的安裝</strong></p>
  <br>
  咱們安裝，編輯設定文件的文件編輯軟件<strong><u>Sublime Text</u></strong>。
  <hr class="red-hr">
  首先，移動到<a href="http://www.sublimetext.com/3" target="_blank"><strong>Sublime Text的主頁</strong></a>，下載文件。
  <br><br>
  <a href="http://www.sublimetext.com/3" target="_blank"><strong>請打開這裡</strong></a>。
  <br><br>
  顯示下面一樣的畫面嗎？
  <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/sublime_text1.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/sublime_text1.png",
              :target => ["_blank"] %>
  使用的電腦是
  <br>
  <ul class="number_ul">
    <li><strong><u>32bit</u></strong>的話，點擊網頁上的<strong>「Windows」</strong></li>
    <li><strong><u>64bit</u></strong>的話，點擊網頁上的<strong>「Windows 64 bit」</strong></li>
  </ul>
  下載文件。
  <br>
  <small>※　確認Windows的bit的方法，<a href="/zh-TW/mugcups/windows_bit" target="_blank"><strong>參考這裡</strong></a>。</small>
  <hr class="red-hr">
  下載完了之後，點擊在下面出現的<strong>「<u>運行</u>」</strong>。
  <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/sublime_text2.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/sublime_text2.png",
              :target => ["_blank"] %>
  點擊之後，
  <br>
  會出現<strong>「<u>你要允許此應用對你的電腦進行的更改嗎？</u>」</strong>的顯示，點擊<strong>「<u>是(Y)</u>」</strong>。
  <hr class="red-hr">
  之後<strong>點擊「<u>Next</u>」</strong>，開始安裝。
  <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/sublime_text3.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/sublime_text3.png",
              :target => ["_blank"] %>
  <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/sublime_text4.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/sublime_text4.png",
              :target => ["_blank"] %>
  <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/sublime_text5.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/sublime_text5.png",
              :target => ["_blank"] %>
  <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/sublime_text6.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/sublime_text6.png",
              :target => ["_blank"] %>
  <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/sublime_text7.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/sublime_text7.png",
              :target => ["_blank"] %>
  安裝完成之後，會顯示下面的畫面。
  <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/sublime_text8.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/sublime_text8.png",
              :target => ["_blank"] %>
  這樣子「Sublime Text」的安裝完成了！
  <hr class="red-hr">
  那麽開開看這個吧！
  <br>
  <ul class="number_ul">
    <li>如果是<strong><u>Windows10</u></strong>的話，在<strong>「<u>Cortana</u>」</strong>上</li>
    <li>如果是<strong><u>Windows8以下</u></strong>的話，在<strong>「<u>搜索框</u>」</strong>上</li>
  </ul>
  打入「Sublime Text」，之後選擇結果。
  <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/sublime_text9.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/sublime_text9.png",
              :target => ["_blank"] %>
  會出現下面圖像一樣的畫面嗎？
  <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/sublime_text10.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/sublime_text10.png",
              :target => ["_blank"] %>
  這樣子<strong>Sublime Text的安裝</strong>完成了！
</h4>