<h4 id="chapter1-4">
  <p id="title1-4"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">④ : 導入Bootstrap</strong></p>
  <br>
  在這裡，解釋用Windows導入Bootstrap的方法。
  <br><br>
  <i class="fa fa-play-circle"></i>　<strong>首先<a href="http://getbootstrap.com/getting-started/#download" target="_blank">從這邊</a>Bootstrap的網頁</strong>
  <br><br>
  然後從網頁的中央點擊<strong>「<u>Download source</u>」</strong>，開始下載。
  <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/windows_bootstrap1.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/windows_bootstrap1.png",
              :target => ["_blank"] %>
  下載完了之後，點擊<strong>「<u>打開文件夾</u>」</strong>。
  <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/windows_bootstrap2.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/windows_bootstrap2.png",
              :target => ["_blank"] %>
  看到像下面圖像一樣<strong>「<u>bootstrap-3.3.6-dist</u>」</strong>的文件嗎？
  <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/windows_bootstrap3.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/windows_bootstrap3.png",
              :target => ["_blank"] %>
  打開<strong>「<u>bootstrap-3.3.6-dist</u>」</strong>。
  <br>
  打開之後像下面一樣、<strong>用左點擊移動到「<u>下載</u>」</strong>。
  <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/windows_bootstrap5.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/windows_bootstrap5.png",
              :target => ["_blank"] %>
  確認<strong>「<u>下載</u>」</strong>裡有沒有<strong>「<u>bootstrap-3.3.6-dist</u>」</strong>。
  <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/windows_bootstrap6.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/windows_bootstrap6.png",
              :target => ["_blank"] %>
  如果有的話開開看之後、確認裡面有沒有下面的文件。
  <br>
  <ul class="number_ul">
    <strong><li>「dist > css > bootstrap.min.css」</li></strong>
    <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/windows_bootstrap7.png",
                          :width => "90%",
                          :class => "hover_img textbook-title-img"),
                "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/windows_bootstrap7.png",
                :target => ["_blank"] %>
    <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/windows_bootstrap8.png",
                          :width => "90%",
                          :class => "hover_img textbook-title-img"),
                "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/windows_bootstrap8.png",
                :target => ["_blank"] %>
    <strong><li>「dist > js > bootstrap.min.js」</li></strong>
    <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/windows_bootstrap9.png",
                          :width => "90%",
                          :class => "hover_img textbook-title-img"),
                "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/windows_bootstrap9.png",
                :target => ["_blank"] %>
    <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/windows_bootstrap10.png",
                          :width => "90%",
                          :class => "hover_img textbook-title-img"),
                "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/windows_bootstrap10.png",
                :target => ["_blank"] %>
    <strong><li>「dist > fonts」</li></strong>
    <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/windows_bootstrap11.png",
                          :width => "90%",
                          :class => "hover_img textbook-title-img"),
                "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/windows_bootstrap11.png",
                :target => ["_blank"] %>
  </ul>
  <hr class="red-hr">
  確認好了話，參考下面的圖像打開「rails_projects」之後
  <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/make_folder2.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/make_folder2.png",
              :target => ["_blank"] %>
  <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/windows_bootstrap12.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/windows_bootstrap12.png",
              :target => ["_blank"] %>
  <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/windows_bootstrap13.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/windows_bootstrap13.png",
              :target => ["_blank"] %>
  按照下面的表，複製文件。
  <br><br>
  <small><i class="fa fa-arrow-right"></i>　選這文字之後點擊<strong><u>「ctrl」跟「c」</u></strong>可以複製文字，點擊<strong><u>「ctrl」跟「v」</u></strong>可以黏贴複製的文字。 </small>
  <br><br>
  <table class="table table-hover table-bordered table-striped">
    <thead>
      <th>Bootstrap裡的文件夾</th>
      <th>黏貼文件的 Rails裡的文件夾</th>
    </thead>
    <tbody>
      <tr>
        <th>dist > css > bootstrap.min.css</th>
        <th>app > assets > stylesheets</th>
      </tr>
      <tr>
        <th>dist > js > bootstrap.min.js</th>
        <th>app > assets > javascripts</th>
      </tr>
      <tr>
        <th>dist > fonts</th>
        <th>vendor > assets</th>
      </tr>
    </tbody>
  </table>
  如果這些設定完了話，為了要適用這些設定的話，編輯
  <ul class="number_ul">
    <strong><li>「app > assets > javascripts > application.js」</li></strong>
    <strong><li>「app > assets > stylesheets > application.css」</li></strong>
  </ul>
  這個兩個文件。加上下面的內容。
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>application.js（加15行）</strong>
  <br>
  <small>※　用半母字母數字打入。編輯好了之後，一起點擊「ctrl」跟「s」保存文件的內容。</small>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
4
5
6
7
8
9
10
11
12
13
14
<strong class="color-red">15</strong>
16
17
</td>
<td class='code-content word-gray'><span class='code-line'>// This is a manifest file that'll be compiled into application.js, which will include all the files</span>
<span class='code-line'>// listed below.</span>
<span class='code-line'>//</span>
<span class='code-line'>// Any JavaScript/Coffee file within this directory, lib/assets/javascripts, vendor/assets/javascripts,</span>
<span class='code-line'>// or any plugin's vendor/assets/javascripts directory can be referenced here using a relative path.</span>
<span class='code-line'>//</span>
<span class='code-line'>// It's not advisable to add code directly here, but if you do, it'll appear at the bottom of the</span>
<span class='code-line'>// compiled file.</span>
<span class='code-line'>//</span>
<span class='code-line'>// Read Sprockets README (https://github.com/rails/sprockets#sprockets-directives) for details</span>
<span class='code-line'>// about supported directives.</span>
<span class='code-line'>//</span>
<span class='code-line'>//= require jquery</span>
<span class='code-line'>//= require jquery_ujs</span>
<span class='code-line remarkable-code'>//= require bootstrap.min</span>
<span class='code-line'>//= require turbolinks</span>
<span class='code-line'>//= require_tree .</span>
</td>
</tr>
</table>
  <br>
  <i class="fa fa-file color-red"></i>　<strong>application.css加（15行）</strong>
  <br>
  <small>※　用半母字母數字打入。編輯好了之後，一起點擊「ctrl」跟「s」保存文件的內容。</small>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
4
5
6
7
8
9
10
11
12
<strong class="color-red">13</strong>
14
15
16
</td>
<td class='code-content word-gray'><span class='code-line'>/*</span>
<span class='code-line'> * This is a manifest file that'll be compiled into application.css, which will include all the files</span>
<span class='code-line'> * listed below.</span>
<span class='code-line'> *</span>
<span class='code-line'> * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,</span>
<span class='code-line'> * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.</span>
<span class='code-line'> *</span>
<span class='code-line'> * You're free to add application-wide styles to this file and they'll appear at the bottom of the</span>
<span class='code-line'> * compiled file so the styles you add here take precedence over styles defined in any styles</span>
<span class='code-line'> * defined in the other CSS/SCSS files in this directory. It is generally better to create a new</span>
<span class='code-line'> * file per style scope.</span>
<span class='code-line'> *</span>
<span class='code-line remarkable-code'> *= require bootstrap.min</span>
<span class='code-line'> *= require_tree .</span>
<span class='code-line'> *= require_self</span>
<span class='code-line'> */</span>
</td>
</tr>
</table>
  <br>
  <i class="fa fa-windows color-blue"></i>　<strong>到這裡做好了，使用Windows安裝Bootstrap的方法。</strong>
</h4>