<h4 id="chapter1-3">
  <p id="title1-3"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">③ : Sublime Textのインストール</strong></p>
  <br>
  設定ファイルを編集するためのファイルの編集ソフト、<strong><u>Sublime Text</u></strong>もインストールしましょう。
  <hr class="red-hr">
  まずは<a href="http://www.sublimetext.com/3" target="_blank"><strong>Sublime Textのウェブページ</strong></a>に移動して、ファイルをダウンロードしましょう！
  <br><br>
  <a href="http://www.sublimetext.com/3" target="_blank"><strong>こちら</strong></a>を開いてみて下さい
  <br><br>
  下のような表示は出てきたでしょうか？
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/sublime_text1.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/sublime_text1.png",
              :target => ["_blank"] %>
  お使いのPCが、
  <br>
  <ul class="number_ul">
    <li><strong><u>32bit</u></strong>なら、ページの<strong>「Windows」</strong></li>
    <li><strong><u>64bit</u></strong>なら、ページの<strong>「Windows 64 bit」</strong></li>
  </ul>
  をクリックしてダウンロードしましょう！
  <br>
  <small>※　bitの確認は<a href="/mugcups/windows_bit" target="_blank"><strong>こちら</strong></a>を参考にして下さい。</small>
  <hr class="red-hr">
  ダウンロードが完了したら、下に表示が出てくる<strong>「<u>実行</u>」をクリック</strong>して下さい。
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/sublime_text2.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/sublime_text2.png",
              :target => ["_blank"] %>
  クリックすると、
  <br>
  <strong>「<u>このアプリがPCに変更を加えることを許可しますか？</u>」</strong>という表示が出てくるので、<strong>「<u>はい(Y)</u>」</strong>をクリックして下さい。
  <hr class="red-hr">
  この後はずっと<strong>「<u>Next</u>」をクリック</strong>して、インストールをして下さい。
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/sublime_text3.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/sublime_text3.png",
              :target => ["_blank"] %>
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/sublime_text4.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/sublime_text4.png",
              :target => ["_blank"] %>
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/sublime_text5.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/sublime_text5.png",
              :target => ["_blank"] %>
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/sublime_text6.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/sublime_text6.png",
              :target => ["_blank"] %>
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/sublime_text7.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/sublime_text7.png",
              :target => ["_blank"] %>
  インストールが完了すると、下のような表示が出てきます。
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/sublime_text8.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/sublime_text8.png",
              :target => ["_blank"] %>
  これで「Sublime Text」のインストールが完了しました！
  <hr class="red-hr">
  ではこれを開いてみましょう！
  <br>
  <ul class="number_ul">
    <li><strong><u>Windows10</u></strong>であれば、<strong>「<u>Cortana</u>」</strong></li>
    <li><strong><u>Windows8以下</u></strong>であれば、<strong>「<u>アプリ検索</u>」</strong></li>
  </ul>
  で「Sublime Text」と入力して、結果をクリックしてみて下さい。
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/sublime_text9.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/sublime_text9.png",
              :target => ["_blank"] %>
  下のようなウィンドウが出てきたでしょうか？
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/sublime_text10.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/sublime_text10.png",
              :target => ["_blank"] %>
  これで、<strong>Sublime Textのインストール</strong>も完了です。
</h4>