<h4 id="chapter1-4">
  <p id="title1-4"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">④ : Sqlite Browserのインストール</strong></p>
  <br>
  Windowsでは、<strong><u>Sqlite</u>というデータベース（Excelの表）</strong>を使います。
  <br>
  そのデータベースの中身を簡単に表示させてくれるソフトウェアである<strong><u>Sqlite Browser</u></strong>をインストールします。
  <br><br>
  まずは<a href="http://sqlitebrowser.org/" target="_blank"><strong>こちらのページ</strong></a>を開いてみて下さい。
  <br><br>
  下のようなページが表示されたでしょうか？
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/sqlite_browser1.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/sqlite_browser1.png",
              :target => ["_blank"] %>
  お使いのPCが、
  <ul class="number_ul">
    <li><strong><u>32bit</u></strong>なら、ページの<strong>「Download 32bit Windows.exe」</strong></li>
    <li><strong><u>64bit</u></strong>なら、ページの<strong>「Download 64bit Windows.exe」</strong></li>
  </ul>
  をクリックしてダウンロードしましょう！
  <br>
  <small>※　bitの確認は<a href="/mugcups/windows_bit" target="_blank"><strong>こちら</strong></a>を参考にして下さい</small>
  <hr class="red-hr">
  ダウンロードが完了したら、下に表示が出てくる<strong>「<u>実行</u>」をクリック</strong>して下さい。
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/sqlite_browser2.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/sqlite_browser2.png",
              :target => ["_blank"] %>
  クリックすると、
  <br>
  <strong>「<u>この不明な発行元からのアプリがPCに変更を加えることを許可しますか？</u>」</strong>という表示が出てくるので、<strong>「<u>はい(Y)</u>」</strong>をクリックして下さい。
  <hr class="red-hr">
  この後はずっと<strong>「<u>Next</u>」をクリック</strong>して、インストールをして下さい。
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/sqlite_browser3.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/sqlite_browser3.png",
              :target => ["_blank"] %>
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/sqlite_browser4.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/sqlite_browser4.png",
              :target => ["_blank"] %>
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/sqlite_browser5.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/sqlite_browser5.png",
              :target => ["_blank"] %>
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/sqlite_browser6.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/sqlite_browser6.png",
              :target => ["_blank"] %>
  インストールが完了すると、下のような表示が出てきます。
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/sqlite_browser7.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/sqlite_browser7.png",
              :target => ["_blank"] %>
  ではこれを開いてみましょう！
  <br>
  <ul class="number_ul">
    <li><strong><u>Windows10</u></strong>であれば、<strong>「<u>Cortana</u>」</strong></li>
    <li><strong><u>Windows8以下</u></strong>であれば、<strong>「<u>アプリ検索</u>」</strong></li>
  </ul>
  で「SqliteBrowser」と入力して、結果をクリックして下さい。
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/sqlite_browser8.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/sqlite_browser8.png",
              :target => ["_blank"] %>
  下のようなウィンドウが出てきたでしょうか？
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/sqlite_browser9.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/sqlite_browser9.png",
              :target => ["_blank"] %>
  これで、<strong>SqliteBrowserのインストール</strong>も完了です。
</h4>