<h4 id="chapter1-4">
  <p id="title1-4"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">④ : Bootstrapの導入</strong></p>
  <br>
  ここでは、WindowsでのBootstrapの導入の方法を説明します。
  <br><br>
  <i class="fa fa-play-circle"></i>　<strong>まずは、Bootstrapのページを<a href="http://getbootstrap.com/getting-started/#download" target="_blank">こちら</a>から開いてみて下さい。</strong>
  <br><br>
  このページの真ん中にある<strong>「<u>Download source</u>」</strong>をクリックして、ダウンロードを始めます。
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/windows_bootstrap1.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/windows_bootstrap1.png",
              :target => ["_blank"] %>
  ダウンロードが出来たら<strong>「<u>フォルダーを開く</u>」</strong>をクリックします。
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/windows_bootstrap2.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/windows_bootstrap2.png",
              :target => ["_blank"] %>
  下のように<strong>「<u>bootstrap-3.3.6-dist</u>」</strong>ファイルが作成されているでしょうか？
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/windows_bootstrap3.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/windows_bootstrap3.png",
              :target => ["_blank"] %>
  <strong>「<u>bootstrap-3.3.6-dist</u>」</strong>を右クリックして、
  <br>
  下のように<strong>「<u>プログラムから開く(H)</u>」「<u>エクスプローラー</u>」</strong>を選択して下さい。
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/windows_bootstrap4.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/windows_bootstrap4.png",
              :target => ["_blank"] %>
  開けたら下のようにして、<strong>「<u>ダウンロード</u>」に移動</strong>させて下さい。
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/windows_bootstrap5.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/windows_bootstrap5.png",
              :target => ["_blank"] %>
  <strong>「<u>ダウンロード</u>」</strong>に<strong>「<u>bootstrap-3.3.6-dist</u>」</strong>があるかを確認してみましょう！
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/windows_bootstrap6.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/windows_bootstrap6.png",
              :target => ["_blank"] %>
  あったら開いてみて、中にある<strong>「<u>dist</u>」</strong>の中に下のファイルがあるかを確認して下さい。
  <br>
  <ul class="number_ul">
    <strong><li>「dist > css > bootstrap.min.css」</li></strong>
    <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/windows_bootstrap7.png",
                          :width => "90%",
                          :class => "hover_img textbook-title-img"),
                "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/windows_bootstrap7.png",
                :target => ["_blank"] %>
    <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/windows_bootstrap8.png",
                          :width => "90%",
                          :class => "hover_img textbook-title-img"),
                "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/windows_bootstrap8.png",
                :target => ["_blank"] %>
    <strong><li>「dist > js > bootstrap.min.js」</li></strong>
    <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/windows_bootstrap9.png",
                          :width => "90%",
                          :class => "hover_img textbook-title-img"),
                "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/windows_bootstrap9.png",
                :target => ["_blank"] %>
    <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/windows_bootstrap10.png",
                          :width => "90%",
                          :class => "hover_img textbook-title-img"),
                "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/windows_bootstrap10.png",
                :target => ["_blank"] %>
    <strong><li>「dist > fonts」</li></strong>
    <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/windows_bootstrap11.png",
                          :width => "90%",
                          :class => "hover_img textbook-title-img"),
                "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/windows_bootstrap11.png",
                :target => ["_blank"] %>
  </ul>
  <hr class="red-hr">
  確認ができたら「rails_projects」を下の手順で開いて、
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/make_folder2.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/make_folder2.png",
              :target => ["_blank"] %>
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/windows_bootstrap12.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/windows_bootstrap12.png",
              :target => ["_blank"] %>
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/windows_bootstrap13.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/windows_bootstrap13.png",
              :target => ["_blank"] %>
  下の通りにファイルをコピーして下さい。
  <br><br>
  <small><i class="fa fa-arrow-right"></i>　コピーは<strong>「<u>ctrl</u>」と「<u>c</u>」</strong>を一緒に押せば、貼り付けは<strong>「<u>ctrl</u>」と「<u>v</u>」</strong>を一緒に押せばできます。</small>
  <br><br>
  <table class="table table-hover table-bordered table-striped">
    <thead>
      <th>Bootstrapコピー元</th>
      <th>Railsコピー先</th>
    </thead>
    <tbody>
      <tr>
        <th>dist > css > bootstrap.min.css</th>
        <th>app > assets > stylesheets</th>
      </tr>
      <tr>
        <th>dist > js > bootstrap.min.js</th>
        <th>app > assets > javascripts</th>
      </tr>
      <tr>
        <th>dist > fonts</th>
        <th>vendor > assets</th>
      </tr>
    </tbody>
  </table>
  これが終わったら設定を適用させるために
  <ul class="number_ul">
    <strong><li>「app > assets > javascripts > application.js」</li></strong>
    <strong><li>「app > assets > stylesheets > application.css」</li></strong>
  </ul>
  を下のように変更して下さい。
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>application.js（15行目を追加）</strong>
  <br>
  <small>※　半角英数字で入力。変更が完了したら「ctrl」と「s」を一緒に押して内容を保存して下さい。</small>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
4
5
6
7
8
9
10
11
12
13
14
<strong class="color-red">15</strong>
16
17
</td>
<td class='code-content word-gray'><span class='code-line'>// This is a manifest file that'll be compiled into application.js, which will include all the files</span>
<span class='code-line'>// listed below.</span>
<span class='code-line'>//</span>
<span class='code-line'>// Any JavaScript/Coffee file within this directory, lib/assets/javascripts, vendor/assets/javascripts,</span>
<span class='code-line'>// or any plugin's vendor/assets/javascripts directory can be referenced here using a relative path.</span>
<span class='code-line'>//</span>
<span class='code-line'>// It's not advisable to add code directly here, but if you do, it'll appear at the bottom of the</span>
<span class='code-line'>// compiled file.</span>
<span class='code-line'>//</span>
<span class='code-line'>// Read Sprockets README (https://github.com/rails/sprockets#sprockets-directives) for details</span>
<span class='code-line'>// about supported directives.</span>
<span class='code-line'>//</span>
<span class='code-line'>//= require jquery</span>
<span class='code-line'>//= require jquery_ujs</span>
<span class='code-line remarkable-code'>//= require bootstrap.min</span>
<span class='code-line'>//= require turbolinks</span>
<span class='code-line'>//= require_tree .</span>
</td>
</tr>
</table>
  <br>
  <i class="fa fa-file color-red"></i>　<strong>application.css（15行目を追加）</strong>
  <br>
  <small>※　半角英数字で入力。変更が完了したら「ctrl」と「s」を一緒に押して内容を保存して下さい。</small>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
4
5
6
7
8
9
10
11
12
<strong class="color-red">13</strong>
14
15
16
</td>
<td class='code-content word-gray'><span class='code-line'>/*</span>
<span class='code-line'> * This is a manifest file that'll be compiled into application.css, which will include all the files</span>
<span class='code-line'> * listed below.</span>
<span class='code-line'> *</span>
<span class='code-line'> * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,</span>
<span class='code-line'> * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.</span>
<span class='code-line'> *</span>
<span class='code-line'> * You're free to add application-wide styles to this file and they'll appear at the bottom of the</span>
<span class='code-line'> * compiled file so the styles you add here take precedence over styles defined in any styles</span>
<span class='code-line'> * defined in the other CSS/SCSS files in this directory. It is generally better to create a new</span>
<span class='code-line'> * file per style scope.</span>
<span class='code-line'> *</span>
<span class='code-line remarkable-code'> *= require bootstrap.min</span>
<span class='code-line'> *= require_tree .</span>
<span class='code-line'> *= require_self</span>
<span class='code-line'> */</span>
</td>
</tr>
</table>
  <br>
  <i class="fa fa-windows color-blue"></i>　<strong>ここまでが、WindowsでのBootstrapのインストールになります。</strong>
</h4>