<h4 id="chapter5-1-1-3">
        <p id="title1-1-3"><i class="fa fa-check-square color-red"></i>　<strong>⑶ : ページを設定する</strong></p>
        ここまでで<u>「７つのページの設定」と「データ操作の設定」</u>が終わりました。
        <br>
        <strong>いよいよ、保存したデータをページに表示してみましょう！</strong>
        ページの作成は、前に少し触れた<strong class="little-remarkable"><u>「views」フォルダにhtmlファイルを作る</u></strong>ことでやっていきます。
        <hr class="red-hr">
        まずは下の手順に従って、Sublime Textで開いた「myapp > app」から「views」フォルダを開いてみましょう！（Sublime Textの開き方は<a href="/mugcups/how_to_open#title1" target="_blank"><strong>こちら</strong></a>から）
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page5/Sublime_Text_Select_views.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page5/Sublime_Text_Select_views.png",
                    :target => ["_blank"] %>
        この「views」フォルダに入っている<strong><u>「posts」ファルダ</u>に、ページを表示させるための設定ファイル・htmlファイルを作っていきます。</strong>
        <br><br>
        まずはこの<strong>「<u>posts</u>」ファルダにページを設定するファイル、「<u>show.html.erb</u>」を保存してみましょう！</strong>（ファイルの保存の方法は<a href="/mugcups/how_to_save" target="_blank"><strong>こちら</strong></a>から）
        <br>
        <small>※　「show.html」でなくて「show.html.erb」などという変な名前なのは、Ruby on Railsでデータを扱うためのファイルだからです。</small>
        <br><br>
        できたら、下の手順で<strong>「<u>show.html.erb</u>」</strong>を開いてみましょう。
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page5/Sublime_Text_posts_show_html_erb.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page5/Sublime_Text_posts_show_html_erb.png",
                    :target => ["_blank"] %>
        この設定ファイルにページの設定を記入していきます。
        <hr class="red-hr">
        ついでに同じ手順で、
        <br><br>
        <ul class="number_ul">
        <strong>
          <li>「index.html.erb」（データの全表示をするページ）</li>
          <li>「new.html.erb」（新しいデータの記入をするページ）</li>
          <li>「create.html.erb」（データの作成）</li>
          <li>「edit.html.erb」（編集するデータの記入をするページ）</li>
          <li>「update.html.erb」（データを変更するページ）</li>
          <li>「destroy.html.erb」（データの削除をするページ）</li>
        </strong>
        </ul>
        <br>
        を新しく<strong>「<u>posts</u>」フォルダ</strong>の中に作ってみましょう！
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page5/Sublime_Text_views_posts_all.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page5/Sublime_Text_views_posts_all.png",
                    :target => ["_blank"] %>
        これらのファイルを使って、他のページの設定をしていきます。
        <hr class="red-hr">
        では、ページの設定をしてみましょう！
        <br>
        <u>まずは、htmlの復習を兼ねて文字を表示させましょう。</u>
        <br><br>
        <i class="fa fa-file color-red"></i>　<strong>show.html.erb</strong>
        <br>
        <small>※　半角英数字で入力。変更が完了したら「Command」と「s」を一緒に押して内容を保存して下さい。</small>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>h1</span>&gt;投稿&lt;/<span class='word-red'>h1</span>&gt;</span>
</td>
</tr>
</table>
        <br>
        <u>これで内容が保存できたら、ブラウザで表示させてみましょう！</u>
        <br>
        Ruby on Railsで作ったウェブページでは、<strong><u>まずサーバーを立ちあげてからページを表示させます。</u></strong>（詳しい内容は<a href="/mugcups/3#title2-3" target="_blank"><strong>こちら</strong></a>から）
        <br><br>
        <strong class="little-remarkable">サーバーを立ちあげて、ページを見てみましょう！</strong>
        <hr class="red-hr">
        まずは、<strong><u>ターミナルで「myapp」に移動して下さい。</u></strong>
        <br><br>
        <strong>　ターミナル</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
</td>
<td class='code-content'><span class='code-line'>cd Desktop</span>
<span class='code-line'>cd rails_project</span>
<span class='code-line'>cd myapp</span>
</td>
</tr>
</table>
        <br><br>
        「myapp」まで移動できたら、<strong>「<i>rails s</i>」</strong>を入力してサーバーを立ちあげましょう！
        <br><br>
        <strong>ターミナル</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rails s</span>
</td>
</tr>
</table>
        <br>
        下のように表示されたでしょうか？
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Terminal_rails_s.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Terminal_rails_s.png",
                    :target => ["_blank"] %>
        これでサーバーを立ち上げることができました。
        <br>
        サーバーが立ち上がったんで、これでページもみられるようになりました。
        <br><br>
        では、「<a href="http://0.0.0.0:3000/posts/1" target="_blank"><strong>0.0.0.0:3000/posts/1</strong></a>」をブラウザで開いてみましょう！
        <br>
        下のようなページは出てきたでしょうか？
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page5/Chrome_localhost_posts_1_1.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page5/Chrome_localhost_posts_1_1.png",
                    :target => ["_blank"] %>
        「１つのデータを表示する（show）」のページは、<strong>「<u>0.0.0.0:3000/データベース名/idの番号</u>」</strong>で「idの番号」のデータを選択することができます。
        <br><br>
        このページは<strong>「<u>postsデータベースの中から、idが1</u>」</strong>のデータを選択しています。
        <br>
        では、「<a href="http://0.0.0.0:3000/posts/2016" target="_blank"><strong>0.0.0.0:3000/posts/2016</strong></a>」をブラウザで開いてみて下さい。
        <br><br>
        下のようなエラーの表示っぽいものはでてきたでしょうか？
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page5/Chrome_localhost_posts_2016.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page5/Chrome_localhost_posts_2016.png",
                    :target => ["_blank"] %>
        これは、<strong>「<u>idが2016のpostsのデータ</u>」がないから</strong>です。
        <br>
        もし他に保存したデータがあったら、そのページを開いてみましょう！
        <br><br>
        <i class="fa fa-question-circle color-green"></i>　<strong>「<u>tweetsのデータベースからidが9028のデータを選択</u>」する「１つのデータの表示（show）」をするページをブラウザで開くには、どのように入力すればいいのでしょうか？</strong>
        <br><br>
        <input type="input" class="form-control input-code" placeholder="答えを入力して下さい">
        <br>
        <i class="fa fa-chrome color-red"></i><strong>　ブラウザ</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content answer-code'><span class='code-line small-code'>0.0.0.0:3000/tweets/9028</span>
</td>
</tr>
</table>
        <br>
        <hr class="red-hr">
        ここまでで各データのページを作ってみました。
        <br>
        <strong><u>でもこれだけではなにも変わらなくて面白くないので、保存したデータを表示させてみましょう！</u></strong>
        <br>
        <u>下のように「show.html.erb」を変更してみましょう！</u>
        <br><br>
        <i class="fa fa-file color-red"></i>　<strong>show.html.erb（2〜4行目を変更）</strong>
        <br>
        <small>※　半角英数字で入力。変更が完了したら「Command」と「s」を一緒に押して内容を保存して下さい。</small>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>h1</span>&gt;投稿&lt;/<span class='word-red'>h1</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>p</span>&gt;&lt;%= @post.name %&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>p</span>&gt;&lt;%= @post.content %&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
</td>
</tr>
</table>
        <br>
        内容が変更できたら、ターミナルで「<u>myapp</u>」に移動してから<strong>「<i>rails s</i>」</strong>でサーバを立ち上げて、「<a href="http://0.0.0.0:3000/posts/1" target="_blank"><strong>0.0.0.0:3000/posts/1</strong></a>」を開いてみましょう！
        <br><br>
        下のように保存されたデータが表示されたでしょうか？
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page5/Chrome_localhost_posts_1_2.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page5/Chrome_localhost_posts_1_2.png",
                    :target => ["_blank"] %>
        <u>他に保存したデータがあれば、それも同じように開いて内容を確認してみましょう！</u>
        <br>
        <small>※　<a href="/mugcups/how_to_open#title2" target="_blank"><strong>ここ</strong></a>を参考にして、<u>Sequel Proで「posts」のデータベースの中身を確認</u>してからやってみましょう！</small>
        <hr class="red-hr">
        <strong>では、htmlファイルの設定を説明しましょう。</strong>
        <br><br>
        <i class="fa fa-file color-red"></i>　<strong>show.html.erb</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>h1</span>&gt;投稿&lt;/<span class='word-red'>h1</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>p</span>&gt;&lt;%= @post.name %&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>p</span>&gt;&lt;%= @post.content %&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
</td>
</tr>
</table>
        <br>
        内容はなんとなく想像できるのではないかと思います。
        <br>
        <strong><a href="/mugcups/5#title1-1-2" target="_blank">さっきデータ操作の部分</a>で設定した「<u>@post</u>」</strong>がありますね。この<strong>「<u>@post</u>」</strong>がページで選択されたデータになります。
        <br><br>
        <u>なので、もしデータ操作の部分・「posts_controller.rb」で「@post」を設定しなければ、このようなデータは表示されません。</u>
        <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>2
</td>
<td class='code-content'><span class='code-line'>&lt;%= @post.name %&gt;</span>
</td>
</tr>
</table>
        <br>
        の部分で、<strong><u>データ操作で選択された「@post」から「name」を取り出しています。</u></strong>
        <br>
        同じように、
        <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>3
</td>
<td class='code-content'><span class='code-line'>&lt;%= @post.content %&gt;</span>
</td>
</tr>
</table>
        <br>
        <strong><u>で「content」を取り出しています。</u></strong>
        <hr class="red-hr">
        少しだけ説明を加えます。
        <br><br>
        <strong>Ruby on Railsで作るhtmlファイルでは、データベースからデータを取ってくる必要があります。</strong>
        <br><br>
        そのような部分は、
<pre>
&lt;%= 内容 %&gt;
</pre>
もしくは、
<pre>
&lt;% 内容 %&gt;
</pre>
        のように設定します。<strong>この<u>「&lt;%=」もしくは「&lt;%」</u>と、<u>「%&gt;」</u>の間でデータベースからの情報をとってきます。
        <br>
        <u>「&lt;%=」と「%&gt;」</u>の間の内容はページに表示されますが、<u>「&lt;%」と「%&gt;」</u>の間の内容は表示されません。</strong>
        <br><br>
        内容とは言っても、ここに入る内容は<strong><u>データベースの操作の設定や簡単な計算</u></strong>しか入れることができません。これはその都度説明していきましょう。
        <hr class="red-hr">
        今回のような<strong>「１つのデータを表示する（show）」データベースの操作</strong>は、
<pre>
@設定した標識.枠組みの名前
</pre>
        で設定します。
        <br><br>
        <i class="fa fa-question-circle color-green"></i>　<strong>では、「<u>@tweetからplaceを選択</u>」する表示は、どのように設定すればいいのでしょうか？</strong>
        <br><br>
        <input type="input" class="form-control input-code" placeholder="答えを入力して下さい">
        <br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content answer-code'><span class='code-line'>&lt;%= @tweet.place %&gt;</span>
</td>
</tr>
</table>
        <hr class="red-hr">
        <i class="fa fa-question-circle color-green"></i>　<strong>今のページでは、選択したデータ「@post」から「name」と「content」しか表示させていませんが、<u>「place」を表示させる設定を追加しましょう。</u></strong>
        <br><br>
        <input type="input" class="form-control input-code" placeholder="答えを入力して下さい">
        <br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content answer-code'><span class='code-line'>&lt;<span class='word-red'>p</span>&gt;&lt;%= @post.place %&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
</td>
</tr>
</table>
</h4>