<h4 id="chapter10-4-2-2">
  <p id="title4-2-2"><i class="fa fa-check-square color-red"></i>　<strong>⑵ : ページ表示</strong></p>
  <br>
  <i class="fa fa-play-circle"></i>　<strong>では、ページ表示を設定しましょう。</strong>
  <hr class="red-hr">
  「posts」データベースの「name」を表示している部分を、<strong><u>「users」データベースの「family_name」「first_name」に変更</u></strong>していきます。
  <br><br>
  この表示の変更には
  <strong>
    <ul class="number_ul">
      <li>入力欄の変更</li>
      <li>「<u>@user</u>」の情報「<u>family_name</u>」「<u>first_name</u>」の表示</li>
    </ul>
  の二つがあります。
  <br>
  まずは入力欄の変更からやってみます。</strong>
  <ul class="number_ul">
    <hr class="red-hr">
    <strong><li>入力欄の変更</li></strong>
      <br>
      「name」の代わりに「user_id」を使って<strong>「<u>posts_controller.rb</u>」での<u>データ操作</u></strong>をしたので、今度は<strong><u>ページ表示</u>で「name」を設定している入力欄を消しましょう。</strong>
      <br><br>
      「name」の入力欄の設定をしているページは、<strong><u>new.html.erb</u></strong>になります。
      <br><br>
      <i class="fa fa-play-circle"></i>　<strong>では「<u>new.html.erb</u>」を変更してみましょう！</strong>
      <br><br>
      <i class="fa fa-file color-red"></i>　<strong>new.html.erb</strong>
      <br>
      <small>
      ※　<strong><u>半角英数字で入力</u></strong>。変更が完了したら<strong><u>「Command」と「s」</u></strong>を一緒に押して内容を保存して下さい。
      <br>
      <i class="fa fa-windows color-blue"></i>　Windowsをご利用の方は、<strong><u>「ctrl」と「s」</u></strong>を一緒に押して内容を保存して下さい。
      </small>
      <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>4
5
6
</td>
<td class='code-content'><span class='code-line'>  &lt;<span class='word-red'>p</span>&gt;名前&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>    &lt;%= f.text_field <span class="word-purple">:name</span>, <span class='word-purple'>:class</span> =&gt; <span class='word-yellow'>"form-control my-form"</span> %&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>br</span>&gt;</span>
</td>
</tr>
</table>
      <br>
      <strong>この4〜6行目を消しましょう。</strong>
      <br><br>
      <small>※　一回<strong>「<u>rails s</u>」</strong>で動かしたサーバーを<strong><u>「Command」と「c」</u></strong>を一緒に押して止めてから、もう一度<strong>「<u>rails s</u>」</strong>を入力して下さい。</small>
      <br><br><br>
      <p class="alert alert-success">
      <i class="fa fa-windows color-blue"></i>　<strong>Windowsをご利用の方は、
      <br>
      　「<u>rails s</u>」で動かしたサーバーを<u>「ctrl」と「c」を一緒に押して</u>止めてから、もう一度「<u>rails s</u>」を入力して下さい。</strong>
      </p>
      <br>
      これで入力欄も消せたので、
      <br>
      <strong>次は「<u>@post</u>」の「<u>name</u>」の代わりに、「<u>@user</u>」の「<u>family_name</u>」「<u>first_name</u>」を表示</strong>させるようにしましょう。
      <hr class="red-hr">
    <strong><li>@userの表示</li></strong>
    <br>
    では、会員の情報を表示させてみましょう。
    <br><br>
    <i class="fa fa-question-circle color-green"></i>　<strong><u>ページで「@user」の「family_name」を表示</u>させるにはどのような設定をすればいいでしょうか？</strong>
    <br><br>
    <input type="input" class="input-code form-control" placeholder="答えを入力して下さい">
    <br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content answer-code'><span class='code-line'>&lt;%= @user.family_name %&gt;</span>
</td>
</tr>
</table>
    <br>
    この設定を使って<strong>「<u>@user</u>」</strong>を設定した
    <strong>
    <ul class="number_ul">
      <li><u>show.html.erb</u></li>
      <li><u>create.html.erb</u></li>
      <li><u>update.html.erb</u></li>
      <li><u>destroy.html.erb</u></li>
    </ul>
    </strong>
    <br>
    に、<strong>会員の情報「<u>family_name</u>」「<u>first_name</u>」</strong>を表示させます。
    <hr class="red-hr">
  まずは<strong>「<u>@user</u>」</strong>の<strong>「<u>family_name</u>」「<u>first_name</u>」</strong>を、<strong>「<a href="/mugcups/5#title1-1" target="_blank">show</a>」</strong>ページに表示させてみましょう！
  <br>
  <strong>「<u>app > views > posts > show.html.erb</u>」</strong>を開いて下のように内容を変更してみましょう。
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>show.html.erb（2〜4行目を変更）</strong>
  <br>
  <small>
  ※　<strong><u>半角英数字で入力</u></strong>。変更が完了したら<strong><u>「Command」と「s」</u></strong>を一緒に押して内容を保存して下さい。
  <br>
  <i class="fa fa-windows color-blue"></i>　Windowsをご利用の方は、<strong><u>「ctrl」と「s」</u></strong>を一緒に押して内容を保存して下さい。
  </small>
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
<strong class="color-red">2
3
4</strong>
5
6
7
8
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line remarkable-code'>&lt;<span class='word-red'>p</span>&gt;&lt;%= @user.family_name %&gt;&lt;%= @user.first_name %&gt;さん&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line remarkable-code'>&lt;<span class='word-red'>h4</span>&gt;&lt;%= @post.content %&gt;&lt;/<span class='word-red'>h4</span>&gt;</span>
<span class='code-line remarkable-code'>&lt;<span class='word-red'>small</span>&gt;&lt;%= @post.created_at %&gt;：&lt;%= @post.place %&gt;&lt;/<span class='word-red'>small</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>p</span>&gt;&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/posts"</span> <span class="word-green">class</span>=<span class="word-yellow">"btn btn-info"</span>&gt;トップに戻る&lt;/<span class='word-red'>a</span>&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>p</span>&gt;&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/posts/&lt;%= @post.id %&gt;/edit"</span> <span class="word-green">class</span>=<span class="word-yellow">"btn btn-success"</span>&gt;投稿を編集する&lt;/<span class='word-red'>a</span>&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>p</span>&gt;&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/posts/&lt;%= @post.id %&gt;"</span> <span class="word-green">data-method</span>=<span class="word-yellow">"delete"</span> <span class="word-green">class</span>=<span class="word-yellow">"btn btn-danger"</span>&gt;投稿を削除する&lt;/<span class='word-red'>a</span>&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
</td>
</tr>
</table>
  <br>
  これで、<strong>投稿のページに<u>会員の情報を表示</u>させる設定</strong>ができました。
  <br><br>
  ついでにページを綺麗にするために3,4行目も変更したので、忘れず変更しましょう。
  <hr class="red-hr">
  <strong>
    同じようにして、
    <ul class="number_ul" style="margin-bottom:10px;">
      <li>「<u>create.html.erb</u>」</li>
      <li>「<u>update.html.erb</u>」</li>
      <li>「<u>destroy.html.erb</u>」</li>
    </ul>
    も下のように設定しましょう！
  </strong>
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>create.html.erb（2〜5行目を変更）</strong>
  <br>
  <small>
  ※　<strong><u>半角英数字で入力</u></strong>。変更が完了したら<strong><u>「Command」と「s」</u></strong>を一緒に押して内容を保存して下さい。
  <br>
  <i class="fa fa-windows color-blue"></i>　Windowsをご利用の方は、<strong><u>「ctrl」と「s」</u></strong>を一緒に押して内容を保存して下さい。
  </small>
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
<strong class="color-red">2
3
4
5</strong>
6
7
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>h1</span>&gt;投稿が完了しました&lt;/<span class='word-red'>h1</span>&gt;</span>
<span class="code-line remarkable-code">&lt;<span class="word-red">hr</span>&gt;</span>
<span class='code-line remarkable-code'>&lt;<span class='word-red'>p</span>&gt;名前：&lt;%= @user.family_name %&gt;&lt;%= @user.first_name %&gt;様&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line remarkable-code'>&lt;<span class='word-red'>p</span>&gt;内容：&lt;%= @post.content %&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line remarkable-code'>&lt;<span class='word-red'>p</span>&gt;場所：&lt;%= @post.place %&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/posts"</span> <span class="word-green">class</span>=<span class="word-yellow">"btn btn-info"</span>&gt;トップに戻る&lt;/<span class='word-red'>a</span>&gt;</span>
</td>
</tr>
</table>
    <hr class="red-hr">
    <i class="fa fa-file color-red"></i>　<strong>update.html.erb（3〜5行目を変更）</strong>
     <br>
    <small>
    ※　<strong><u>半角英数字で入力</u></strong>。変更が完了したら<strong><u>「Command」と「s」</u></strong>を一緒に押して内容を保存して下さい。
    <br>
    <i class="fa fa-windows color-blue"></i>　Windowsをご利用の方は、<strong><u>「ctrl」と「s」</u></strong>を一緒に押して内容を保存して下さい。
    </small>
    <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
<strong class="color-red">3
4
5</strong>
6
7
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>h1</span>&gt;投稿を変更しました。&lt;/<span class='word-red'>h1</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line remarkable-code'>&lt;<span class='word-red'>p</span>&gt;名前：&lt;%= @user.family_name %&gt;&lt;%= @user.first_name %&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line remarkable-code'>&lt;<span class='word-red'>p</span>&gt;内容：&lt;%= @post.content %&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line remarkable-code'>&lt;<span class='word-red'>p</span>&gt;場所：&lt;%= @post.place %&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/posts"</span> <span class="word-green">class</span>=<span class="word-yellow">"btn btn-info"</span>&gt;トップに戻る&lt;/<span class='word-red'>a</span>&gt;</span>
</td>
</tr>
</table>
    <hr class="red-hr">
    <i class="fa fa-file color-red"></i>　<strong>destroy.html.erb（3〜5行目を変更）</strong>
    <br>
    <small>
    ※　<strong><u>半角英数字で入力</u></strong>。変更が完了したら<strong><u>「Command」と「s」</u></strong>を一緒に押して内容を保存して下さい。
    <br>
    <i class="fa fa-windows color-blue"></i>　Windowsをご利用の方は、<strong><u>「ctrl」と「s」</u></strong>を一緒に押して内容を保存して下さい。
    </small>
    <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
<strong class="color-red">3
4
5</strong>
6
7
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>h1</span>&gt;投稿を削除しました&lt;/<span class='word-red'>h1</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line remarkable-code'>&lt;<span class='word-red'>p</span>&gt;名前：&lt;%= @user.family_name %&gt;&lt;%= @user.first_name %&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line remarkable-code'>&lt;<span class='word-red'>p</span>&gt;内容：&lt;%= @post.content %&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line remarkable-code'>&lt;<span class='word-red'>p</span>&gt;場所：&lt;%= @post.place %&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/posts"</span> <span class="word-green">class</span>=<span class="word-yellow">"btn btn-info"</span>&gt;トップに戻る&lt;/<span class='word-red'>a</span>&gt;</span>
</td>
</tr>
</table>
    <br>
    <i class="fa fa-exclamation color-red"></i>　<strong>これで「<u>create</u>」「<u>update</u>」「<u>destroy</u>」のページの設定ができました！</strong>
    <hr class="red-hr">
    ここまでで大体終わったんですが、実は<strong><u>「index.html.erb」の設定</u></strong>はまだやっていなかったのでやってみたいと思います。
    <br><br>
    「index.html.erb」で設定する<strong><u>「@posts」は複数のデータを表示させるため「@user」を指定できない</u></strong>ので、ここまででは説明してきませんでした。
    <br>
    <small>※　詳細は<a href="/codes/5#title1-2" target="_blank"><strong>こちら</strong></a>を参考にして下さい</small>
    <br><br>
    ですが会員の情報を指定した
<pre>
User.find(idの番号)
</pre>
    はhtmlファイルの
<pre>
&lt;%= %&gt;
</pre>
    の中でも使うこともできるので、それを使って設定してみます。
    <br><br>
    <i class="fa fa-play-circle"></i>　<strong>例えば、「id」が「90」の会員の「<u>family_name</u>」を表示させるなら、</strong>
    <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>&lt;%= <span class="word-blue">User</span>.find(<span class="word-purple">90</span>).family_name %&gt;</span>
</td>
</tr>
</table>
    <br>
    と設定すれば、「id」が「90」の会員の「family_name」を表示させることができます。
    <br><br>
    <strong><u>ここでは「id」の部分に「user_id」を入れることで、その設定をしてみたいと思います。</u></strong>
    <hr class="red-hr">
    <strong>「<u>app > views > posts > index.html.erb</u>」</strong>を開いて、下のように内容を変更しましょう。
    <br><br>
    <i class="fa fa-file color-red"></i>　<strong>index.html.erb（4、5行目を変更）</strong>
    <br>
    <small>
    ※　<strong><u>半角英数字で入力</u></strong>。変更が完了したら<strong><u>「Command」と「s」</u></strong>を一緒に押して内容を保存して下さい。
    <br>
    <i class="fa fa-windows color-blue"></i>　Windowsをご利用の方は、<strong><u>「ctrl」と「s」</u></strong>を一緒に押して内容を保存して下さい。
    </small>
    <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
<strong class="color-red">4
5</strong>
6
7
8
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>h1</span>&gt;投稿一覧&lt;/<span class='word-red'>h1</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line'>&lt;% @posts.each <span class="word-red">do</span> |p| %&gt;</span>
<span class='code-line remarkable-code'>  &lt;<span class='word-red'>p</span>&gt;&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/users/&lt;%= p.user_id %&gt;"</span>&gt;&lt;%= <span class="word-blue">User</span>.find(p.user_id).family_name %&gt;&lt;%= <span class="word-blue">User</span>.find(p.user_id).first_name %&gt;様&lt;/<span class='word-red'>a</span>&gt;の投稿&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line remarkable-code'>  &lt;<span class='word-red'>h3</span>&gt;&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/posts/&lt;%= p.id %&gt;"</span>&gt;&lt;%= p.content %&gt;&lt;/<span class='word-red'>a</span>&gt;&lt;/<span class='word-red'>h3</span>&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line'>&lt;% <span class="word-red">end</span> %&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/posts/new"</span> <span class="word-green">class</span>=<span class="word-yellow">"btn btn-primary"</span>&gt;新しく投稿する&lt;/<span class='word-red'>a</span>&gt;</span>
</td>
</tr>
</table>
  <br>
  変更をした部分は
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'><strong class="color-red">4</strong>
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>p</span>&gt;&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow remarkable-code'>"/users/&lt;%= p.user_id %&gt;"</span>&gt;...</span>
</td>
</tr>
</table>
  <br>
  と
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'><strong class="color-red">4</strong>
</td>
<td class='code-content'><span class='code-line remarkable-code'>&lt;%= <span class="word-blue">User</span>.find(p.user_id).family_name %&gt;&lt;%= <span class="word-blue">User</span>.find(p.user_id).first_name %&gt;様</span>
</td>
</tr>
</table>
    <br>
    になります。
    <hr class="red-hr">
    今回の<strong>「<a href="/mugcups/5#title1-2" target="_blank">index</a>」</strong>ページでは全ての投稿データを選択している
<pre>
Post.all
</pre>
    を
<pre>
&lt;% @post.each do |p| %&gt;
</pre>
    で、<strong>一つ一つの投稿データ「p」</strong>に分けています（詳細は<a href="/mugcups/5#title1-2-1" target="_blank"><strong>こちら</strong></a>）。
    <br><br>
    この<strong>「p」</strong>から「user_id」を取得することで、<strong><u>会員の選択と「family_name」「first_name」の表示</u></strong>を行っています。
    <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'><strong class="color-red">4</strong>
</td>
<td class='code-content'><span class='code-line remarkable-code'>&lt;%= <span class="word-blue">User</span>.find(p.user_id).family_name %&gt;&lt;%= <span class="word-blue">User</span>.find(p.user_id).first_name %&gt;様</span>
</td>
</tr>
</table>
    <hr class="red-hr">
    <br>
    <small>※　一回<strong>「<u>rails s</u>」</strong>で動かしたサーバーを<strong><u>「Command」と「c」</u></strong>を一緒に押して止めてから、もう一度<strong>「<u>rails s</u>」</strong>を入力して下さい。</small>
    <br><br><br>
    <p class="alert alert-success">
    <i class="fa fa-windows color-blue"></i>　<strong>Windowsをご利用の方は、
    <br>
    　「<u>rails s</u>」で動かしたサーバーを<u>「ctrl」と「c」を一緒に押して</u>止めてから、もう一度「<u>rails s</u>」を入力して下さい。</strong>
    </p>
    <br>
    できたら、「<a href="http://0.0.0.0:3000/posts/new" target="_blank"><strong>0.0.0.0:3000/posts/new</strong></a>」を開いてみましょう！
    <br>
    <small>
      <i class="fa fa-windows color-blue"></i>　Windowsをご利用の方は、「<a href="http://localhost:3000/posts/new" target="_blank"><strong>localhost:3000/posts/new</strong></a>」を開いてみて下さい。
    </small>
    <br><br>
    下のようなページは出てきたでしょうか？
    <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page11/Chrome_posts_new_after_devise_before.png",
                          :width => "90%",
                          :class => "hover_img textbook-title-img"),
                "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page11/Chrome_posts_new_after_devise_before.png",
                :target => ["_blank"] %>
    出てきたら内容を記入して、
    <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page11/Chrome_posts_new_after_devise.png",
                          :width => "90%",
                          :class => "hover_img textbook-title-img"),
                "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page11/Chrome_posts_new_after_devise.png",
                :target => ["_blank"] %>
    <strong>「<u>登録する</u>」ボタン</strong>を押しましょう！
    <br>
    下のようなページが出てきたでしょうか？
    <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page11/Chrome_posts_create_after_devise.png",
                          :width => "90%",
                          :class => "hover_img textbook-title-img"),
                "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page11/Chrome_posts_create_after_devise.png",
                :target => ["_blank"] %>
    これで投稿の内容は保存されました。
    <br>
    <strong><a href="/mugcups/how_to_open#title3" target="_blank">Sequel Pro</a>や「<a href="/mugcups/5#title1-1" target="_blank">show</a>」ページ</strong>を開いて保存ができているか確認してみましょう！
    <br>
    <small><i class="fa fa-windows color-blue"></i>　Windowsをご利用の方は、<a href="/mugcups/how_to_open#title4"><strong>SqliteBrowser</strong></a>で確認しましょう！</small>
    <hr class="red-hr">
    <strong>
    「<a href="/mugcups/5#title1-2" target="_blank">index</a>」ページ「<a href="http://0.0.0.0:3000/posts" target="_blank">0.0.0.0:3000/posts</a>」や「<a href="/mugcups/6#title1-5" target="_blank">edit</a>」ページなどを開いてみて内容を確認してみましょう。
    </strong>
    <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page11/Chrome_posts_all_after_devise_create_post.png",
                          :width => "90%",
                          :class => "hover_img textbook-title-img"),
                "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page11/Chrome_posts_all_after_devise_create_post.png",
                :target => ["_blank"] %>
    <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page11/Chrome_posts_1_after_devise_create_post.png",
                          :width => "90%",
                          :class => "hover_img textbook-title-img"),
                "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page11/Chrome_posts_1_after_devise_create_post.png",
                :target => ["_blank"] %>
    <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page11/Chrome_posts_1_edit_after_devise.png",
                          :width => "90%",
                          :class => "hover_img textbook-title-img"),
                "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page11/Chrome_posts_1_edit_after_devise.png",
                :target => ["_blank"] %>
    <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page11/Chrome_posts_1_update_after_devise.png",
                          :width => "90%",
                          :class => "hover_img textbook-title-img"),
                "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page11/Chrome_posts_1_update_after_devise.png",
                :target => ["_blank"] %>
    <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page11/Chrome_posts_1_destroy_after_devise.png",
                          :width => "90%",
                          :class => "hover_img textbook-title-img"),
                "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page11/Chrome_posts_1_destroy_after_devise.png",
                :target => ["_blank"] %>
  </ul>
  <br><br>
  <strong>
  最後に内容のまとめをします。
  </strong>
</h4>