<h4 id="chapter7-2-2-4">
  <p id="title2-2-4"><i class="fa fa-check-square color-red"></i>　<strong>⑷ : navigation-bar</strong></p>
  <br>
  到这里作好了输入框跟按钮了，网页也变了漂亮一点吧。
  <br>
  <strong><u>最后解释，用Bootstrap的「<a href="/zh-CN/mugcups/3#title1-2-css-class" target="_blank"><strong>class</strong></a>」显示网页上面的游览列（navigation-bar）吧。</u></strong>
  <br><br>
  在这里显示下面图像一样的画面。
  <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page7/Chrome_posts_all_bootstrap_nav_3.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page7/Chrome_posts_all_bootstrap_nav_3.png",
              :target => ["_blank"] %>
  <br>
  那么开始作吧！
  <hr class="red-hr">
  首先用Sublime Text打开<strong>「<u>myapp</u>」</strong>之后，打开<strong>「<u>app > views > layouts > application.html.erb</u>」</strong>吧。
  <br>
  <small>
    ※　使用Sublime Text打开文件的方法<a href="/zh-CN/mugcups/how_to_open#title1" target="_blank"><strong>请参考这里</strong></a>
    <br>
    <i class="fa fa-windows color-blue"></i>　使用Windows的Sublime Text打开文件文件夾的方法<a href="/zh-CN/mugcups/how_to_open#title2" target="_blank"><strong>请参考这里</strong></a>。
  </small>
  <br><br>
  在这个<strong>「<u>application.html.erb</u>」</strong>上面设定內容。
  <br><br>
  那么在第9行的
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>application.html.erb（第9行）</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>9
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>body</span>&gt;</span>
</td>
</tr>
</table>
  <br>
  后面追加
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>nav</span><span class='word-green'> id</span>=<span class='word-yellow'>"mainNav"</span> <span class="word-green">class</span>=<span class="word-yellow">"navbar navbar-default navbar-fixed-top"</span>&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>div</span><span class='word-green'> class</span>=<span class='word-yellow'>"container-fluid"</span>&gt;</span>
<span class='code-line'>    &lt;<span class='word-red'>div</span><span class='word-green'> class</span>=<span class='word-yellow'>"navbar-header"</span>&gt;</span>
<span class='code-line'>      &lt;<span class='word-red'>button</span><span class='word-green'> type</span>=<span class='word-yellow'>"button"</span> <span class="word-green">class</span>=<span class="word-yellow">"navbar-toggle collapsed"</span> <span class="word-green">data-toggle</span>=<span class="word-yellow">"collapse"</span> <span class="word-green">data-target</span>=<span class="word-yellow">"#bs-example-navbar-collapse-1"</span>&gt;</span>
<span class='code-line'>                &lt;<span class='word-red'>span</span><span class='word-green'> class</span>=<span class='word-yellow'>"sr-only"</span>&gt;Toggle navigation&lt;/<span class='word-red'>span</span>&gt;</span>
<span class='code-line'>                &lt;<span class='word-red'>span</span><span class='word-green'> class</span>=<span class='word-yellow'>"icon-bar"</span>&gt;&lt;/<span class='word-red'>span</span>&gt;</span>
<span class='code-line'>                &lt;<span class='word-red'>span</span><span class='word-green'> class</span>=<span class='word-yellow'>"icon-bar"</span>&gt;&lt;/<span class='word-red'>span</span>&gt;</span>
<span class='code-line'>                &lt;<span class='word-red'>span</span><span class='word-green'> class</span>=<span class='word-yellow'>"icon-bar"</span>&gt;&lt;/<span class='word-red'>span</span>&gt;</span>
<span class='code-line'>      &lt;/<span class='word-red'>button</span>&gt;</span>
<span class='code-line'>      &lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/posts"</span> <span class="word-green">class</span>=<span class="word-yellow">"navbar-brand"</span>&gt;myapp&lt;/<span class='word-red'>a</span>&gt;</span>
<span class='code-line'>    &lt;/<span class='word-red'>div</span>&gt;</span>
<span class='code-line'>      &lt;<span class='word-red'>div</span><span class='word-green'> class</span>=<span class='word-yellow'>"collapse navbar-collapse"</span> <span class="word-green">id</span>=<span class="word-yellow">"bs-example-navbar-collapse-1"</span>&gt;</span>
<span class='code-line'>      &lt;<span class='word-red'>ul</span><span class='word-green'> class</span>=<span class='word-yellow'>"nav navbar-nav navbar-right"</span>&gt;</span>
<span class='code-line'>      &lt;/<span class='word-red'>ul</span>&gt;</span>
<span class='code-line'>      &lt;/<span class='word-red'>div</span>&gt;</span>
<span class='code-line'>  &lt;/<span class='word-red'>div</span>&gt;</span>
<span class='code-line'>&lt;/<span class='word-red'>nav</span>&gt;</span>
</td>
</tr>
</table>
  <br>
  的內容吧！应为內容很长，使用复制与粘贴吧。
  <strong>
  <ul class="number_ul">
    <li>复制　一起点击<u>「Command」跟「c」</u></li>
    <small><i class="fa fa-windows color-blue"></i>　使用Windows的话，<strong>「ctrl」跟「c」</strong></small>
    <br><br>
    <li>粘贴　一起点击<u>「Command」跟「v」</u></li>
    <small><i class="fa fa-windows color-blue"></i>　使用Windows的话，<strong>「ctrl」跟「v」</strong></small>
  </ul>
  </strong>
  <br>
  <small>
    ※　<u>一起点击<strong>「Command」跟「c」</strong></u>停止，用<strong>「<u>rails s</u>」</strong>打开的服务器之后，再打入<strong><u>「rails s」</u></strong>吧。
  </small>
  <br><br><br>
  <p class="alert alert-success">
  <i class="fa fa-windows color-blue"></i>　<strong>使用Windows的话，
  <br>
  　<u>一起点击「ctrl」跟「c」</u>停止，用「<u>rails s</u>」打开服务器之后，再打入「<u>rails s</u>」吧。</strong>
  </p>
  <br>
  追加內容之后，打开<strong>「<a href="http://0.0.0.0:3000/posts" target="_blank">0.0.0.0:3000/posts</a>」</strong>吧！
  <br>
  <small>
    <i class="fa fa-windows color-blue"></i>　使用Windows的话，打开「<a href="http://localhost:3000/posts" target="_blank"><strong>localhost:3000/posts</strong></a>」吧。
  </small>
  <br><br>
  有沒有显示下面一样的画面吗？
  <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page7/Chrome_posts_all_bootstrap_nav_1.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page7/Chrome_posts_all_bootstrap_nav_1.png",
              :target => ["_blank"] %>
  上面的游览列盖住网页的內容显示的不是那么好，但是上面应该显示了游览列。
  <hr class="red-hr">
  在这里
  <br><br>
<table class="highlight">
<tr>
<td class='code-line-no text-center'>10
</td>
<td><span class='code-line'>&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/posts"</span> <span class="word-green">class</span>=<span class="word-yellow">"navbar-brand"</span>&gt;myapp&lt;/<span class='word-red'>a</span>&gt;</span>
</td>
</tr>
</table>
  <br>
  <strong><u>用「&lt;a&gt;」的连接显示左边的「myapp」。点击这个连接之后会移动到「/posts」的网页</u></strong>。
  <br>
  別的设定方法，等一下再解释吧！
  <hr class="red-hr">
  先修这个游览列盖上來的网页吧。
  <br>
  修这个游览列盖上來的地方的话，更改<strong><a href="/zh-CN/mugcups/7#application-html" target="_blank">显示「show」或者「index」等等的网页的</a></strong>
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>application.html.erb（第10〜12行）</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>10
11
12
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>div</span><span class='word-green'> class</span>=<span class='word-yellow'>"container"</span>&gt;</span>
<span class='code-line'>  &lt;%= <span class="word-red">yield</span> %&gt;</span>
<span class='code-line'>&lt;/<span class='word-red'>div</span>&gt;</span>
</td>
</tr>
</table>
  <br>
  这个「yield」的位置。
  <br><br>
  首先在这个「<a href="/zh-CN/mugcups/7#title2-2-1-css-div" target="_blank"><strong>div</strong></a>」上，设定<strong>「<u>main-page</u>」</strong>的「<a href="/zh-CN/mugcups/3#title1-2-css-class" target="_blank"><strong>class</strong></a>」吧。在这个「class」里设定网页的位置的设定。
  <br><br>
  <i class="fa fa-question-circle color-green"></i>　<strong>在<u>&lt;div class="container"&gt;</u>上追加「main-page」的class吧！</strong>
  <br><br>
  <textarea class="input-code form-control" placeholder="打入答案" rows="3"></textarea>
  <br>
  <i class="fa fa-file color-red"></i>　<strong>application.html.erb（第10〜12行）</strong>
  <br>
  <small>
    ※　<strong><u>用半母字母数字打入</u></strong>。一起点击<strong><u>「Command」跟「s」</u></strong>可以保存內容。
    <br>
    <i class="fa fa-windows color-blue"></i>　使用Windows的话，点击<strong><u>「ctrl」跟「s」</u></strong>可以保存內容。
  </small>
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>10
11
12
</td>
<td class='code-content answer-code'><span class='code-line'>&lt;<span class='word-red'>div</span><span class='word-green'> class</span>=<span class='word-yellow'>"container main-page"</span>&gt;</span>
<span class='code-line'>  &lt;%= <span class="word-red">yield</span> %&gt;</span>
<span class='code-line'>&lt;/<span class='word-red'>div</span>&gt;</span>
</td>
</tr>
</table>
  <hr class="red-hr">
  <strong>那么在CSS文件「style.scss」上，追加「main-page」的装饰设定吧。</strong>
  <br><br>
  <p id="title2-2-4-margin" class="fix-link-nav"><i class="fa fa-play-circle"></i>　<strong>更改这个被盖的地方要，在指定的地方上面作空格。</strong></p>
  <br>
  这个是，用
<pre>
margin-top:50px;
</pre>
  的內容设定。
  <br><br>
  想改空格的地方的话，编辑数字的地方。
  <br>
  想在右边作空格的话使用<strong>「<u>margin-right:</u>」</strong>、左边的话使用<strong>「<u>margin-left:</u>」</strong>，下面的话使用<strong>「<u>margin-bottom:</u>」</strong>设定。
  <br>
  <small>※　<a href="/zh-CN/mugcups/css#title1-3" target="_blank"><strong>请参考这里</strong></a></small>
  <br><br>
  首先用Sublime Text打开<strong>「<u>myapp</u>」</strong>之后，打开<strong>「<u>app > assets > stylesheets > style.scss</u>」</strong>吧。
  <br>
  <small>
    ※　使用Sublime Text打开文件的方法<a href="/zh-CN/mugcups/how_to_open#title1" target="_blank"><strong>请参考这里</strong></a>
    <br>
    <i class="fa fa-windows color-blue"></i>　使用Windows的Sublime Text打开文件文件夾的方法<a href="/zh-CN/mugcups/how_to_open#title2" target="_blank"><strong>请参考这里</strong></a>。
  </small>
  <br><br>
  打开之后追加下面的设定吧！
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>style.scss（第4〜6行）</strong>
  <br>
  <small>
    ※　<strong><u>用半母字母数字打入</u></strong>。一起点击<strong><u>「Command」跟「s」</u></strong>可以保存內容。
    <br>
    <i class="fa fa-windows color-blue"></i>　使用Windows的话，点击<strong><u>「ctrl」跟「s」</u></strong>可以保存內容。
  </small>
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>4
5
6
</td>
<td class='code-content'><span class='code-line'><span class='word-green'>.main-page</span>{</span>
<span class='code-line'>  <span class='word-blue'>margin-top</span>:<span class='word-blue'><span class='word-purple'>50</span><span class='word-red'>px</span></span>;</span>
<span class='code-line'>}</span>
</td>
</tr>
</table>
  <br>
  <u>这样在「main-page」的class里设定了<strong>在上面作50px的空格</strong>的內容。</u>
  <br><br>
  <small>
    ※　<u>一起点击<strong>「Command」跟「c」</strong></u>停止，用<strong>「<u>rails s</u>」</strong>打开的服务器之后，再打入<strong><u>「rails s」</u></strong>吧。
  </small>
  <br><br><br>
  <p class="alert alert-success">
  <i class="fa fa-windows color-blue"></i>　<strong>使用Windows的話、
  <br>
  　<u>一起点击「ctrl」跟「c」</u>停止，用「<u>rails s</u>」打开的服务器之后，再打入「<u>rails s</u>」吧。</strong>
  </p>
  <br>
  设定好了之后，打开「<a href="http://0.0.0.0:3000/posts" target="_blank"><strong>0.0.0.0:3000/posts</strong></a>」吧！
  <br>
  <small>
    <i class="fa fa-windows color-blue"></i>　使用Windows的话，打开「<a href="http://localhost:3000/posts" target="_blank"><strong>localhost:3000/posts</strong></a>」吧。
  </small>
  <br><br>
  有沒有显示下面图像一样的画面吗？
  <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page7/Chrome_posts_all_bootstrap_nav_2.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page7/Chrome_posts_all_bootstrap_nav_2.png",
              :target => ["_blank"] %>
  <hr class="red-hr">
  最后设定看，跟下面一样
  <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page7/Chrome_posts_all_bootstrap_nav_3.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page7/Chrome_posts_all_bootstrap_nav_3.png",
              :target => ["_blank"] %>
  在右边<strong>「<u>作投稿</u>」</strong>的连接吧。从这个连接可以移动到「<a href="/zh-CN/mugcups/6#title1-3" target="_blank"><strong>new</strong></a>」的网页。
  <br><br>
  右边的文字的设定在，
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>application.html.erb（第22,23行）</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>19
20
21
<strong class="color-red">22
23</strong>
24
25
26
</td>
<td class='code-content'><span class='code-line'>      &lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/posts"</span> <span class="word-green">class</span>=<span class="word-yellow">"navbar-brand"</span>&gt;myapp&lt;/<span class='word-red'>a</span>&gt;</span>
<span class='code-line'>    &lt;/<span class='word-red'>div</span>&gt;</span>
<span class='code-line'>      &lt;<span class='word-red'>div</span><span class='word-green'> class</span>=<span class='word-yellow'>"collapse navbar-collapse"</span> <span class="word-green">id</span>=<span class="word-yellow">"bs-example-navbar-collapse-1"</span>&gt;</span>
<span class='code-line remarkable-code'>      &lt;<span class='word-red'>ul</span><span class='word-green'> class</span>=<span class='word-yellow'>"nav navbar-nav navbar-right"</span>&gt;</span>
<span class='code-line remarkable-code'>      &lt;/<span class='word-red'>ul</span>&gt;</span>
<span class='code-line'>      &lt;/<span class='word-red'>div</span>&gt;</span>
<span class='code-line'>  &lt;/<span class='word-red'>div</span>&gt;</span>
<span class='code-line'>&lt;/<span class='word-red'>nav</span>&gt;</span>
</td>
</tr>
</table>
  <br>
  这个第22，23行之间，设定。
  <br>
  那么开始做吧。在上面的第22行后面追加下面的內容。
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>application.html.erb（追加第23行）</strong>
  <br>
  <small>
    ※　<strong><u>用半母字母数字打入</u></strong>。一起點擊<strong><u>「Command」跟「s」</u></strong>可以保存內容。
    <br>
    <i class="fa fa-windows color-blue"></i>　使用Windows的话，点击<strong><u>「ctrl」跟「s」</u></strong>可以保存內容。
  </small>
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>22
<strong class="color-red">23</strong>
24
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>ul</span><span class='word-green'> class</span>=<span class='word-yellow'>"nav navbar-nav navbar-right"</span>&gt;</span>
<span class='code-line remarkable-code'>  &lt;<span class='word-red'>li</span>&gt;&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/posts/new"</span>&gt;作投稿&lt;/<span class='word-red'>a</span>&gt;&lt;/<span class='word-red'>li</span>&gt;</span>
<span class='code-line'>&lt;/<span class='word-red'>ul</span>&gt;</span>
</td>
</tr>
</table>
  <br>
  <u>在这里设定的「&lt;li&gt;」跟「&lt;/li&gt;」围起來的地方会在网页上显示。</u>
  <br>
  这一次的话，是<strong>「<u>&lt;a href="/posts/new"&gt;作投稿&lt;/a&gt;</u>」的地方</strong>呢。
  <br><br>
  那么，看看內容吧！
  <br>
  <small>
    ※　<u>一起点击<strong>「Command」跟「c」</strong></u>停止，用<strong>「<u>rails s</u>」</strong>打开的服务器之后，再打入<strong><u>「rails s」</u></strong>吧。
  </small>
  <br><br><br>
  <p class="alert alert-success">
  <i class="fa fa-windows color-blue"></i>　<strong>使用Windows的话，
  <br>
  　<u>一起點擊「ctrl」跟「c」</u>停止，用「<u>rails s</u>」打开服务器之后，再打入「<u>rails s</u>」吧。</strong>
  </p>
  <br>
  打开「<a href="http://0.0.0.0:3000/posts" target="_blank"><strong>0.0.0.0:3000/posts</strong></a>」吧！
  <br>
  <small>
    <i class="fa fa-windows color-blue"></i>　使用Windows的话，打开「<a href="http://localhost:3000/posts" target="_blank"><strong>localhost:3000/posts</strong></a>」吧。
  </small>
  <br><br>
  有沒有显示下面图像一样的网页吗？
  <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page7/Chrome_posts_all_bootstrap_nav_3.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page7/Chrome_posts_all_bootstrap_nav_3.png",
              :target => ["_blank"] %>
  <br><br>
  <i class="fa fa-question-circle color-green"></i>　<strong>那么在上面的游览列上追加，移动到「/posts」的网页的<a href="/zh-CN/mugcups/5#title1-2-2" target="_blank">连接</a>「返回主页」（&lt;a&gt;）的內容要怎么设定好呢？（第23行上放鼠标可以看答案）</strong>
  <br><br>
  <input type="input" class="input-code form-control" placeholder="打入答案">
  <br>
  <i class="fa fa-file color-red"></i>　<strong>application.html.erb（第22行〜第24行）</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>22
<strong class="color-red">23</strong>
24
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>ul</span><span class='word-green'> class</span>=<span class='word-yellow'>"nav navbar-nav navbar-right"</span>&gt;</span>
<span class='code-line answer-code remarkable-code'>  &lt;<span class='word-red'>li</span>&gt;&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/posts"</span>&gt;返回住頁&lt;/<span class='word-red'>a</span>&gt;&lt;/<span class='word-red'>li</span>&gt;</span>
<span class='code-line'>&lt;/<span class='word-red'>ul</span>&gt;</span>
</td>
</tr>
</table>
  <hr class="red-hr">
  移动到別的网页（「edit」「index」等等），看看显示的画面有沒有一样。
  <br><br>
  <i class="fa fa-star color-blue"></i>　<strong>用Bootstrap作上面的游览列的时候，要设定</strong>
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>application.html.erb（第10行〜第26行）</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>9
<strong class="color-red">10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26</strong>
27
28
29
30
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>body</span>&gt;</span>
<span class='code-line remarkable-code'>&lt;<span class='word-red'>nav</span><span class='word-green'> id</span>=<span class='word-yellow'>"mainNav"</span> <span class="word-green">class</span>=<span class="word-yellow">"navbar navbar-default navbar-fixed-top"</span>&gt;</span>
<span class='code-line remarkable-code'>  &lt;<span class='word-red'>div</span><span class='word-green'> class</span>=<span class='word-yellow'>"container-fluid"</span>&gt;</span>
<span class='code-line remarkable-code'>    &lt;<span class='word-red'>div</span><span class='word-green'> class</span>=<span class='word-yellow'>"navbar-header"</span>&gt;</span>
<span class='code-line remarkable-code'>      &lt;<span class='word-red'>button</span><span class='word-green'> type</span>=<span class='word-yellow'>"button"</span> <span class="word-green">class</span>=<span class="word-yellow">"navbar-toggle collapsed"</span> <span class="word-green">data-toggle</span>=<span class="word-yellow">"collapse"</span> <span class="word-green">data-target</span>=<span class="word-yellow">"#bs-example-navbar-collapse-1"</span>&gt;</span>
<span class='code-line remarkable-code'>                &lt;<span class='word-red'>span</span><span class='word-green'> class</span>=<span class='word-yellow'>"sr-only"</span>&gt;Toggle navigation&lt;/<span class='word-red'>span</span>&gt;</span>
<span class='code-line remarkable-code'>                &lt;<span class='word-red'>span</span><span class='word-green'> class</span>=<span class='word-yellow'>"icon-bar"</span>&gt;&lt;/<span class='word-red'>span</span>&gt;</span>
<span class='code-line remarkable-code'>                &lt;<span class='word-red'>span</span><span class='word-green'> class</span>=<span class='word-yellow'>"icon-bar"</span>&gt;&lt;/<span class='word-red'>span</span>&gt;</span>
<span class='code-line remarkable-code'>                &lt;<span class='word-red'>span</span><span class='word-green'> class</span>=<span class='word-yellow'>"icon-bar"</span>&gt;&lt;/<span class='word-red'>span</span>&gt;</span>
<span class='code-line remarkable-code'>      &lt;/<span class='word-red'>button</span>&gt;</span>
<span class='code-line remarkable-code'>      &lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/posts"</span> <span class="word-green">class</span>=<span class="word-yellow">"navbar-brand"</span>&gt;myapp&lt;/<span class='word-red'>a</span>&gt;</span>
<span class='code-line remarkable-code'>    &lt;/<span class='word-red'>div</span>&gt;</span>
<span class='code-line remarkable-code'>      &lt;<span class='word-red'>div</span><span class='word-green'> class</span>=<span class='word-yellow'>"collapse navbar-collapse"</span> <span class="word-green">id</span>=<span class="word-yellow">"bs-example-navbar-collapse-1"</span>&gt;</span>
<span class='code-line remarkable-code'>      &lt;<span class='word-red'>ul</span><span class='word-green'> class</span>=<span class='word-yellow'>"nav navbar-nav navbar-right"</span>&gt;</span>
<span class='code-line remarkable-code'>      &lt;/<span class='word-red'>ul</span>&gt;</span>
<span class='code-line remarkable-code'>      &lt;/<span class='word-red'>div</span>&gt;</span>
<span class='code-line remarkable-code'>  &lt;/<span class='word-red'>div</span>&gt;</span>
<span class='code-line remarkable-code'>&lt;/<span class='word-red'>nav</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>div</span><span class='word-green'> class</span>=<span class='word-yellow'>"container"</span>&gt;</span>
<span class='code-line'>  &lt;%= <span class="word-red">yield</span> %&gt;</span>
<span class='code-line'>&lt;/<span class='word-red'>div</span>&gt;</span>
<span class='code-line'>&lt;/<span class='word-red'>body</span>&gt;</span>
</td>
</tr>
</table>
  <br>
  的內容。
  <br>
  用复制与粘贴打入內容也可以。
  <br><br>
  在这个里面，有可以编辑的地方
  <ul class="number_ul">
  <strong><li>左边的文字</li></strong>
  <br>
  <i class="fa fa-file color-red"></i>　<strong>application.html.erb</strong>
<table class="highlight">
<tr>
<td class='code-line-no text-center'>10
</td>
<td><span class='code-line'>&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/posts"</span> <span class="word-green">class</span>=<span class="word-yellow">"navbar-brand"</span>&gt;myapp&lt;/<span class='word-red'>a</span>&gt;</span>
</td>
</tr>
</table>
  <br>
  <strong><li>右边的文字</li></strong>
  <br>
  <i class="fa fa-file color-red"></i>　<strong>application.html.erb</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>22
23
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>ul</span><span class='word-green'> class</span>=<span class='word-yellow'>"nav navbar-nav navbar-right"</span>&gt;</span>
<span class='code-line'>&lt;/<span class='word-red'>ul</span>&gt;</span>
</td>
</tr>
</table>
  <br>
  之间设定
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>li</span>&gt;&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/posts/new"</span>&gt;作投稿&lt;/<span class='word-red'>a</span>&gt;&lt;/<span class='word-red'>li</span>&gt;</span>
</td>
</tr>
</table>
  <br>
  想显示的文字。
  <hr class="red-hr">
  <strong><u>辛苦你了。接着做总结。</u></strong>
</h4>