<h4 id="chapter6-1-5">
        <p id="title1-5"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">⑤ : 編集するデータの記入(edit)</strong></p>
        <br>
        <u>「１つのデータの表示（show）」「全てのデータの表示（index）」「新しいデータの記入（new）」「データの作成（create）」</u>をする４つのページをここまでで作りました。
        <br><br>
        <strong>残っているデータ操作は、「データの変更」と「データの削除」をするページのみになります。</strong>
        <br>
        まずは「データの変更」からやってみましょう！
        <hr class="red-hr">
        データの変更は「<a href="/mugcups/4#title2-2" target="_blank"><strong>rails c</strong></a>」でやった、
        <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line small-code'>Post.find(1).update(:content =&gt; "SFC入学式")</span>
</td>
</tr>
</table>
        <br>
        をデータ操作の部分で設定していきます。
        <hr class="red-hr">
        データの変更もデータの作成と同じように、「編集するデータの記入（edit）」と「データの変更（update）」の2つがあります。
        <br>
        <strong>
        <ul class="number_ul">
            <li>「edit」でデータを記入する画面を表示</li>
            <li>「update」で入力された情報をデータベースに保存</li>
        </ul>
        </strong>
        する流れになります。
        <br><br>
        具体的には、「編集するデータの記入（edit）」をするページでデータを入力して「変更する」ボタンを押すと、
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page6/Chrome_posts_1_edit_1.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page6/Chrome_posts_1_edit_1.png",
                    :target => ["_blank"] %>
        「データの変更（update）」ページに移動して、
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page6/Chrome_posts_1_update_1.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page6/Chrome_posts_1_update_1.png",
                    :target => ["_blank"] %>
        変更したデータのページ「0.0.0.0:3000/posts/idの番号」をブラウザで開いて、変更ができたかを確認します。
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page6/Chrome_posts_1_edited.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page6/Chrome_posts_1_edited.png",
                    :target => ["_blank"] %>
        まずはこの「編集するデータの記入する（edit）」ページから作っていきましょう！
</h4>
        <hr>
        <%= render "page6/title1_5_1" %>
        <hr>
        <%= render "page6/title1_5_2" %>