<h4 id="chapter6-1-3">
          <p id="title1-3"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">③ : 新しいデータを記入する（new）</strong></p>
          <br>
          ここまでで<u>「１つのデータの表示（show）」と「全てのデータの表示（index）」</u>をやってみました。
          <br>
          <strong><u>ですが、データを表示させるだけで、追加することができなかったら意味はありませんですよね。</u></strong>
          <br><br>
          ここでページでのデータの作成をやってみましょう。
          <br>
          基本的には「<a href="/pages/4#title2-1" target="_blank"><strong>rails c</strong></a>」でやった
          <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line small-code'>Post.create(:name =&gt; "山田太郎", :content =&gt; "春からSFC", :place =&gt; "新宿")</span>
</td>
</tr>
</table>
          <br>
          を設定する感じだと思ってもらえれば分かりやすいと思います。
          <hr class="red-hr">
          データの作成にはなぜか「new」と「create」の２つがありますが、
          <br>
          <strong><u>「new」でデータを記入する画面を出して、「create」でデータを実際に保存してその保存完了画面を出す</u></strong>流れになります。
          <br><br>
          具体的には、「新しいデータの記入（new）」をするページでデータを入力して「登録する」ボタンを押すと、
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page6/Chrome_posts_new_2.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page6/Chrome_posts_new_2.png",
                    :target => ["_blank"] %>
        「データを作成（create）」ページに移動して、
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page6/Chrome_posts_create_1.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page6/Chrome_posts_create_1.png",
                    :target => ["_blank"] %>
        Sequel Proでデータベースを確認すると、下のようにデータが保存されるようになることを目指します。
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page6/Sequel_Pro_myapp_posts_3.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page6/Sequel_Pro_myapp_posts_3.png",
                    :target => ["_blank"] %>
          <br>
          まずはこの「新しいデータを記入する（new）」ページから作っていきましょう。
          <hr>
          <%= render "page6/title1_3_1" %>
          <hr>
          <%= render "page6/title1_3_2" %>
</h4>