<header class="text-center header-img-pen">
  <div class="header-content fadeIn wow">
  <%= render "common/alert" %>
    <div class="header-content-word">
      <div class="header-content-word-form text-left">
        <%= form_for @user do |f| %>
          <h2 class="color-green text-center" style="margin-top:8px"><strong><i class="fa fa-edit"></i> プロフィール変更</strong></h2>
          <hr class="red-hr">
          <div class="field">
            <h4><%= f.label :family_name %>　<small>※(必要項目)</small></h4>
            <%= f.text_field :family_name, :class => "form-control" %>
          </div>
          <br>
          <div class="field">
            <h4><%= f.label :first_name %>　<small>※(必要項目)</small></h4>
            <%= f.text_field :first_name, :class => "form-control" %>
          </div>
          <br>
          <div class="field">
            <h4><%= f.label :birth_year %>(半角英数字で入力)　<small>※(必要項目)</small></h4>
            <%= f.number_field :birth_year, :class => "form-control", :placeholder => "例：2016" %>
          </div>
          <br>
          <div class="field">
            <h4><%= f.label :sex %>　<small>※(必要項目)</small></h4>
            <label><%= f.radio_button :sex, "1" %> 男性</label>　
            <label><%= f.radio_button :sex, "2" %> 女性</label>
          </div>
          <br>
          <div class="field">
            <h4><%= f.label :company_name %>
            <%= f.text_field :company_name, :class => "form-control" %>
          </div>
          <br>
          <div class="field">
            <h4><%= f.label :phone_number %>
            <%= f.text_field :phone_number, :class => "form-control" %>
          </div>
          <br>
          <div class="field">
            <h4><%= f.label :prefecture %></h4>
            <%= f.text_field :prefecture, :class => "form-control" %>
          </div>
          <br>
          <div class="text-center">
            <%= f.submit "変更する", :class => "btn btn-green" %>
          </div>
        <% end %>
        <br>
        <div class="text-center">
          <a href="/<%= I18n.locale %>/dashboard" class="btn btn-warning">ユーザー情報に戻る</a>
        </div>
      </div>
    </div>
  </div>
</header>