<header class="text-center header-img-pen">
  <div class="header-content fadeIn wow">
  <%= render "common/alert" %>
    <div class="header-content-word">
      <div class="header-content-word-form text-left">
        <%= form_for @user do |f| %>
          <h2 class="color-green text-center" style="margin-top:8px"><strong><i class="fa fa-edit"></i> 編輯帳號資料</strong></h2>
          <hr class="red-hr">
          <div class="field">
            <%= f.label :family_name %>
            <%= f.text_field :family_name, :class => "form-control" %>
          </div>
          <br>
          <div class="field">
            <%= f.label :first_name %>
            <%= f.text_field :first_name, :class => "form-control" %>
          </div>
          <br>
          <div class="field">
            <%= f.label :sex %>
            <br>
            <label><%= f.radio_button :sex, "1" %> 男生</label>　
            <label><%= f.radio_button :sex, "2" %> 女生</label>
          </div>
          <br>
          <div class="field">
            <%= f.label :phone_number %>
            <%= f.text_field :phone_number, :class => "form-control" %>
          </div>
          <br>
          <div class="field">
            <%= f.label :company_name %>
            <%= f.text_field :company_name, :class => "form-control" %>
          </div>
          <br>
          <div class="field">
            <%= f.label :prefecture %>
            <%= f.text_field :prefecture, :class => "form-control" %>
          </div>
          <br>
          <div class="text-center">
            <%= f.submit "編輯", :class => "btn btn-green" %>
          </div>
        <% end %>
        <br>
        <div class="text-center">
          <a href="/<%= I18n.locale %>/dashboard" class="btn btn-warning">返回帳號資料</a>
        </div>
      </div>
    </div>
  </div>
</header>