<header class="text-center header-img-shop">
  <div class="header-content fadeIn wow">
  <%= render "common/alert" %>
    <div class="header-content-word">
      <h1 style="line-height:1.5">
        <%= image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/logo/coffee_grains_logo.png") %>
        <br>
        <strong>
        <%= current_user.full_name %>
        <br>
        ようこそ、Coffee-Cupへ！
        </strong>
      </h1>
    </div>
  </div>
</header>
<div class="container">
  <div class="textbook-area">
    <div class="textbook-area-inner fadeIn wow">
      <div id="title" class="textbook-title">
        <h1><strong>学習室</strong></h1>
      </div>
      <br>
      <div class="row text-center">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 study-text-section">
          <h2><i class="fa fa-book color-red"></i> 勉強する</h2>
          <%= image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/header/coffee_img_text.jpg",
                        :width => "90%",
                        :class => "textbook-title-img hover_img zoom_img") %>
          <h4>
            <strong><u>教材を学ぶことができます。</u></strong>
          </h4>
          <hr class="red-hr">
          <div class="row">
            <div class="text-center">
              <a href="/<%= I18n.locale %>/pay_warning" class="btn btn-warning btn-lg">使用時の注意点</a>
            </div>
          </div>
          <br><br>
          <div class="row">
            <div class="col-xs-12 col-lg-6">
              <a href="/<%= I18n.locale %>/mugcups" target="_blank" class="btn btn-primary btn-lg">
                    <%= image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/logo/mugcup_logo_link.png",
                                  :class => "nav-img") %>
                    Mugcup(基礎編)
              </a>
              <br><br>
            </div>
            <div class="col-xs-12 col-lg-6">
              <a href="/<%= I18n.locale %>/coffee_cups" target="_blank" class="btn btn-danger btn-lg">
                  <%= image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/logo/coffee_logo_link.png",
                                :class => "nav-img") %>
                  Coffee（応用編）
              </a>
              <br><br>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 teach-text-section">
          <h2><i class="fa fa-question color-blue"></i> 質問する</h2>
          <%= image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/header/coffee_img_teacher.jpg",
                        :width => "90%",
                        :class => "hover_img textbook-title-img zoom_img") %>
          <h4>
          <% if current_user.company? %>
            <strong><u>有料版</u>なら、勉強中に分からないところの質問対応をいたします。</strong>
            <br>
            もしご興味がありましたら、ご活用下さい。
          <% else %>
            <a href="https://facebook.com" target="_blank">Facebook</a>に登録した上、<a href="https://www.facebook.com/CoffeeCupJapan/" target="_blank">Facebookページ</a>にて投稿・質問下さい。
            <br><br>
            もしくは<a href="mailto:support@coffee-cup.info">当社メール（support@coffee-cup.info）</a>宛に質問下さい。
            </h4>
          <% end %>
        </div>
      </div>
      <br>
      <div id="title0" class="textbook-title">
        <h1><strong>ユーザー情報</strong></h1>
      </div>
      <br>
      <div class="my-info-card hover_img_reverse">
        <div class="my-info-card-inner">
          <h2 class="text-center">
            <strong><i class="fa fa-user"></i>　<%= current_user.full_name %></strong>
          </h2>
          <hr class="red-hr">
          <% if current_user.company? %>
            <% if current_user.company.picture_url? %>
              <%= image_tag(current_user.company.picture_url,
                            :width => "200px",
                            :height => "200px") %>
            <% end %>
          <% end %>
          <h4 class="text-left">
            <strong>Id</strong>　　　　　　 : <%= current_user.id %>
            <br>
            <strong>性別</strong>　　　　　 : <%= current_user.sex_name %>
            <br>
            <strong>Email</strong>　　　　 : <%= current_user.email %>
            <br>
            <strong>電話番号</strong>　　　 : <%= current_user.phone_number %>
            <br>
            <% unless current_user.company? %>
              <strong>会社・学校名</strong>　 : <%= current_user.company_name %>
              <br>
            <% end %>
            <strong>都道府県名</strong>　　 : <%= current_user.prefecture %>
          </h4>
          <br>
          <% unless current_user.company? %>
            <div class="row">
              <div class="col-sm-6">
                <p><%= link_to "ユーザー情報を編集", edit_user_path(current_user.id), :class => "btn btn-success btn-lg" %></p>
              </div>
              <div class="col-sm-6">
                <p><%= link_to "基本情報の編集", edit_user_registration_path, :class => "btn btn-warning btn-lg" %></p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <br>
    </div>
  </div>
</div>