<% provide :title, "ようこそ！#{current_user.full_name}" %>
<header class="text-center header-img-shop">
  <div class="header-content fadeIn wow">
  <%= render "common/alert" %>
    <div class="header-content-word">
      <h1 style="line-height:1.5">
        <%= image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/logo/coffee_grains_logo.png") %>
        <br>
        <strong>
        <%= current_user.full_name %>
        <br>
        ようこそ、Coffee-Cupへ！
        </strong>
      </h1>
    </div>
  </div>
</header>
<div class="container">
  <div class="textbook-area">
    <div class="textbook-area-inner fadeIn wow">
      <div id="title" class="textbook-title">
        <h1><strong>学習室</strong></h1>
      </div>
      <br>
      <div class="row text-center">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 study-text-section">
          <h2><i class="fa fa-book color-red"></i> 勉強する</h2>
          <%= image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/header/coffee_img_text.jpg",
                        :width => "90%",
                        :class => "textbook-title-img hover_img zoom_img") %>
          <% if user_studiable? %>
            <h4>
            <strong><u><%= current_user.limit_time %></u></strong>まで
            <br>
            残り<strong><u><%= current_user.time_left %></u></strong>です
            </h4>
            <a href="/pay_info" class="btn btn-green">閲覧期間を延長する</a>
            <hr class="red-hr">
            <p>
            <a href="/mugcups" target="_blank" class="btn btn-primary">
                  <%= image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/logo/mugcup_logo_link.png",
                                :class => "nav-img") %>
                  Mugcup(基礎編)
            </a>　
            <a href="/coffee_cups" target="_blank" class="btn btn-danger">
                  <%= image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/logo/coffee_logo_link.png",
                                :class => "nav-img") %>
                  Coffee（応用編）
            </a>
            </p>
          <% else %>
            <h4>教材を購入しておりません</h4>
            <a href="/pay_warning" class="btn btn-green">購入はこちらから</a>
            <hr class="red-hr">
            <p>
            <a target="_blank" class="btn btn-primary disabled">
                  <%= image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/logo/mugcup_logo_link.png",
                                :class => "nav-img") %>
                  Mugcup(基礎編)
            </a>　
            <a target="_blank" class="btn btn-danger disabled">
                  <%= image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/logo/coffee_logo_link.png",
                                :class => "nav-img") %>
                  Coffee（応用編）
            </a>
            </p>
          <% end %>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 teach-text-section">
          <h2><i class="fa fa-question color-blue"></i> 質問する</h2>
          <%= image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/header/coffee_img_teacher.jpg",
                        :width => "90%",
                        :class => "hover_img textbook-title-img zoom_img") %>
          <h4>
          <a href="https://facebook.com" target="_blank">Facebook</a>に登録した上、<a href="https://www.facebook.com/CoffeeCupJapan/" target="_blank">Facebookページ</a>にて投稿・質問下さい。
          <hr class="red-hr" style="margin-top:40px">
          <small>※　学習に支障が生じる場合は、当社員が直接教えることもできます。その場合はメールで<a href="mailto:support@coffee-cup.info"><strong>support@coffee-cup.info</strong></a>までご連絡下さい。</small>
          </h4>
        </div>
      </div>
      <br>
      <div id="title0" class="textbook-title">
        <h1><strong>ユーザー情報</strong></h1>
      </div>
      <br>
      <div class="my-info-card hover_img_reverse">
        <div class="my-info-card-inner">
          <h2 class="text-center">
            <strong><i class="fa fa-user"></i>　<%= current_user.full_name %></strong>
            <br>
            <p><a href="/users/<%= current_user.id %>/edit" class="btn btn-success" style="margin-top:15px">ユーザー情報を編集</a></p>
          </h2>
          <hr class="red-hr">
          <h4 class="text-left">
            <strong>Id</strong>　　　　　　 : <%= current_user.id %>
            <br>
            <strong>性別</strong>　　　　　 : <%= current_user.sex_name %>
            <br>
            <strong>Email</strong>　　　　 : <%= current_user.email %>
            <br>
            <strong>電話番号</strong>　　　 : <%= current_user.phone_number %>
            <br>
            <strong>会社・学校名</strong>　 : <%= current_user.company_name %>
            <br>
            <strong>都道府県名</strong>　　 : <%= current_user.prefecture %>
          </h4>
          <p><%= link_to "基本情報の編集", edit_user_registration_path, :class => "btn btn-warning" %></p>
        </div>
      </div>
      <br>
    </div>
  </div>
</div>