<% provide :title, "ようこそ！#{current_user.full_name}" %>
<header class="text-center header-img-shop">
  <div class="header-content fadeIn wow">
  <%= render "common/alert" %>
    <div class="header-content-word">
      <h1 style="line-height:1.5">
        <%= image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/logo/coffee_grains_logo.png") %>
        <br>
        <strong>
        <%= current_user.full_name %>
        <br>
        ようこそ、CoffeeCupへ！
        </strong>
      </h1>
    </div>
  </div>
</header>
<div class="container">
  <div class="textbook-area">
    <div class="textbook-area-inner fadeIn wow">
      <div id="title" class="textbook-title">
        <h1><strong>学習室</strong></h1>
      </div>
      <br>
      <div class="row text-center">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 study-text-section">
          <h2><i class="fa fa-book color-red"></i> 勉強する</h2>
          <%= image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/header/coffee_img_text.jpg",
                        :width => "90%",
                        :class => "textbook-title-img hover_img") %>
          <% if user_studiable? %>
            <h4>残り?日です</h4>
            <hr class="red-hr">
            <p>
            <a target="_blank" class="btn btn-primary">
                  <%= image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/logo/mugcup_logo_link.png",
                                :class => "nav-img") %>
                  Mugcup(基礎編)
            </a>　
            <a target="_blank" class="btn btn-danger">
                  <%= image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/logo/coffee_logo_link.png",
                                :class => "nav-img") %>
                  Coffee（応用編）
            </a>
            </p>
          <% else %>
            <h4>教材を購入しておりません</h4>
            <a class="btn btn-success">購入はこちらから</a>
            <hr class="red-hr">
            <p>
            <a target="_blank" class="btn btn-primary disabled">
                  <%= image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/logo/mugcup_logo_link.png",
                                :class => "nav-img") %>
                  Mugcup(基礎編)
            </a>　
            <a target="_blank" class="btn btn-danger disabled">
                  <%= image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/logo/coffee_logo_link.png",
                                :class => "nav-img") %>
                  Coffee（応用編）
            </a>
            </p>
          <% end %>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 teach-text-section">
          <h2><i class="fa fa-question color-blue"></i> 質問する</h2>
          <%= image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/header/coffee_img_teacher.jpg",
                        :width => "90%",
                        :class => "hover_img textbook-title-img") %>
          <h4>
          <a href="https://facebook.com" target="_blank">Facebook</a>に登録した上、<br><a href="https://www.facebook.com/kazuya.kurihara.0218" target="_blank">運営者(栗原和也)</a>にメッセージ下さい。
          <hr class="red-hr" style="margin-top:40px">
          <small>※　新宿・湘南台の喫茶店などであれば、直接教えることもできます。その場合は相談下さい。</small>
          </h4>
        </div>
      </div>
      <br>
      <div id="title0" class="textbook-title">
        <h1><strong>ユーザー情報</strong></h1>
      </div>
      <br>
      <div class="my-info-card hover_img_reverse">
        <div class="my-info-card-inner">
          <h2 class="text-center">
            <strong><i class="fa fa-user"></i>　<%= current_user.full_name %></strong>
            <br>
            <a href="/users/<%= current_user.id %>/edit" class="btn btn-warning" style="margin-top:10px">ユーザー情報を編集</a>
          </h2>
          <hr class="red-hr">
          <h4 class="text-left">
          <strong>Id</strong>　　　　　　 : <%= current_user.id %>
          <br>
          <strong>Email</strong>　　　　 : <%= current_user.email %>
          <br>
          <strong>会社・学校名</strong>　 : <%= current_user.company_name %>
          <br>
          <strong>電話番号</strong>　　　 : <%= current_user.phone_number %>
          <br>
          </h4>
        </div>
      </div>
      <br>
    </div>
  </div>
</div>