<% provide :title, "パスワードを忘れましたか？" %>
<header class="text-center header-img-pen">
<%= render "common/alert" %>
  <div id="top-page" class="log-area">
    <div class="log-area-inner fadeIn wow">
      <div class="text-left">
        <%= devise_error_messages! %>
      </div>
      <div>
        <h2><%= image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/logo/mugcup_logo_nav_gray.png") %> <strong>パスワードを変更する</strong></h2>

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.hidden_field :reset_password_token %>

          <div class="field">
            <%= f.password_field :password, autofocus: true, autocomplete: "off", :class => "form-control", :placeholder => "新しいパスワード(8文字以上)" %>
          </div>
          <div class="field">
            <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control", :placeholder => "パスワード(確認)" %>
          </div>
          <br>
          <div class="actions">
            <%= f.submit "パスワードを変更する", :class => "btn btn-primary" %>
          </div>
        <% end %>
        <hr class="red-hr">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</header>
