<h4 id="chapter8-1-2">
  <p id="title1-2"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">② : 作网页</strong></p>
  <br>
  在这里，设定好的<strong>「<a href="http://0.0.0.0:3000" target="_blank">0.0.0.0:3000</a>」</strong>上显示看图像吧。
  <br>
  <u>首先把图像文件保存在 Ruby on Rails 的设定文件夾里吧。</u>
  <br><br>
  <a href="https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/header/header12.jpg" target="_blank"><strong>这里</strong></a>有图像文件，下载这个文件之后，
  <br>
  在<strong>「app > assets > images」</strong>里，保存图像的文件吧。
  <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page8/Chrome_image_save_assets1.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page8/Chrome_image_save_assets1.png",
              :target => ["_blank"] %>
  <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page8/Chrome_image_save_assets2.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page8/Chrome_image_save_assets2.png",
              :target => ["_blank"] %>
  用Sublime Text打开<strong>「<u>myapp</u>」</strong>之后，打开看<strong>「app > assets > images > header12.jpg」</strong>吧。
  <br>
  有沒有显示下面图像一样的画面吗？
  <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page8/Sublime_Text_header12.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page8/Sublime_Text_header12.png",
              :target => ["_blank"] %>
  在网页上显示看这个图像文件吧。
  <hr class="red-hr">
  首先编辑<strong>「<u>index.html.erb</u>」</strong>吧。
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>index.html.erb（第1、3行）</strong>
  <br>
  <small>
    ※　<strong><u>用半母字母数字打入</u></strong>。一起点击<strong><u>「Command」跟「s」</u></strong>可以保存內容。
    <br>
    <i class="fa fa-windows color-blue"></i>　使用Windows的话，点击<strong><u>「ctrl」跟「s」</u></strong>可以保存內容。
  </small>
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'><strong class="color-red">1</strong>
2
<strong class="color-red">3</strong>
4
5
</td>
<td class='code-content'><span class='code-line remarkable-code'>&lt;<span class='word-red'>div</span><span class='word-green'> class</span>=<span class='word-yellow'>"header-image"</span>&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>h1</span>欢迎光临&lt;/<span class='word-red'>h1</span>&gt;</span>
<span class='code-line remarkable-code'>&lt;/<span class='word-red'>div</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>br</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/posts"</span> <span class="word-green">class</span>=<span class="word-yellow">"btn btn-primary"</span>&gt;看投稿一览&lt;/<span class='word-red'>a</span>&gt;</span>
</td>
</tr>
</table>
  <br>
  现在打开网页，应该还看不到图像吧。
  <br>
  在这个<strong>「<u>header-image</u>」</strong>上面追加，显示图像的<strong>「<u>style.scss</u>」</strong>的设定。
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>style.scss（追加第7〜15行）</strong>
  <br>
  <small>
    ※　<strong><u>用半母字母数字打入</u></strong>。一起点击<strong><u>「Command」跟「s」</u></strong>可以保存內容。
    <br>
    <i class="fa fa-windows color-blue"></i>　使用Windows的话，点击<strong><u>「ctrl」跟「s」</u></strong>可以保存內容。
  </small>
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>7
8
9
10
11
12
13
14
</td>
<td class='code-content'><span class='code-line'><span class='word-green'>.header-image</span>{</span>
<span class='code-line'>  <span class="word-blue">background-image</span>: <span class="word-blue">url</span>(<span class="color-orange">/assets/header12.jpg</span>);</span>
<span class='code-line'>  <span class='word-blue'>height</span>:<span class='word-blue'><span class='word-purple'>400</span><span class='word-red'>px</span></span>;</span>
<span class='code-line'>  <span class="word-blue">-webkit-background-size</span>: cover;</span>
<span class='code-line'>  <span class="word-blue">-moz-background-size</span>: cover;</span>
<span class='code-line'>  <span class="word-blue">background-size</span>: cover;</span>
<span class='code-line'>  <span class="word-blue">-o-background-size</span>: cover;</span>
<span class='code-line'>}</span>
</td>
</tr>
</table>
  <br>
  <small>
    ※　<u>一起点击<strong>「Command」跟「c」</strong></u>停止，用<strong>「<u>rails s</u>」</strong>打开的服务器之后，再打入<strong><u>「rails s」</u></strong>吧。
  </small>
  <br><br><br>
  <p class="alert alert-success">
  <i class="fa fa-windows color-blue"></i>　<strong>使用Windows的话，
  <br>
  　<u>一起点击「ctrl」跟「c」</u>停止，用「<u>rails s</u>」打开的服务器之后，再打入「<u>rails s</u>」吧。</strong>
  </p>
  <br>
  做完了之后，打开「<a href="http://0.0.0.0:3000" target="_blank"><strong>0.0.0.0:3000</strong></a>」吧！
  <br>
  <small>
    <i class="fa fa-windows color-blue"></i>　使用Windows的话，打开「<a href="http://localhost:3000" target="_blank"><strong>localhost:3000</strong></a>」吧。
  </small>
  <br><br>
  有沒有显示下面图像一样的画面吗？
  <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page8/Chrome_posts_root_image.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page8/Chrome_posts_root_image.png",
              :target => ["_blank"] %>
  <hr class="red-hr">
  解释里面的內容吧。
  <br>
  首先，
  <br><br>
<table class="highlight">
<tr>
<td class='code-line-no text-center'>8
</td>
<td class='code-content'><span class='code-line'>  <span class="word-blue">background-image</span>: <span class="word-blue">url</span>(<span class="color-orange">/assets/header12.jpg</span>);</span>
</td>
</tr>
</table>
  <br>
  在这里，设定<strong>「<u>header-image</u>」</strong>的背景要使用<strong>「<u>header12.jpg</u>」</strong>的图像。
  <br><br>
  如果要用<strong>「<u>header.jpg</u>」</strong>的话，设定
  <br><br>
<table class="highlight">
<tr>
<td class='code-line-no text-center'>8
</td>
<td class='code-content'><span class='code-line'>  <span class="word-blue">background-image</span>: <span class="word-blue">url</span>(<span class="color-orange remarkable-code">/assets/header.jpg</span>);</span>
</td>
</tr>
</table>
  <br>
  这样子的內容。
  <hr class="red-hr">
<table class="highlight">
<tr>
<td class="code-line-no text-center">9
</td>
<td class="code-content"><span class='code-line'>  <span class='word-blue'>height</span>:<span class='word-blue'><span class='word-purple'>400</span><span class='word-red'>px</span></span>;</span>
</td>
</tr>
</table>
  <br>
  在这里设定，图像的上下高度。
  <br>
  长度是电脑在设定，但是如果想自己设定的话，
<pre>
width:自己喜欢的长度px（或者%）
</pre>
  这样设定也OK。
  <hr class="red-hr">
  最后的4行。
<table class="highlight">
<tr>
<td class="code-line-no text-center">10
11
12
13
</td>
<td class="code-content"><span class='code-line'>  <span class="word-blue">-webkit-background-size</span>: cover;</span>
<span class='code-line'>  <span class="word-blue">-moz-background-size</span>: cover;</span>
<span class='code-line'>  <span class="word-blue">background-size</span>: cover;</span>
<span class='code-line'>  <span class="word-blue">-o-background-size</span>: cover;</span>
</td>
</tr>
</table>
  <br>
  这里是，浏览器的大小有变化的时候，随着浏览器的大小自动改变图像的大小的设定。
  <br><br>
  这样子设定有很多种。到习惯用这些设定为止，自己试试看看吧。
  <hr class="red-hr">
  <strong><u>现在的状况，文字显示在左边有一点不好看。最后吧这个文字显示在中央吧。</u></strong>
  <br><br>
  首先像上面的图像一样，置中对齐文字吧。
  <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page8/Chrome_posts_root_text_center.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page8/Chrome_posts_root_text_center.png",
              :target => ["_blank"] %>
  <u>这个也可以用<strong>Bootstrap</strong>设定。</u>
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>index.html.erb（编辑第2行）</strong>
  <br>
  <small>
    ※　<strong><u>用半母字母数字打入</u></strong>。一起点击<strong><u>「Command」跟「s」</u></strong>可以保存內容。
    <br>
    <i class="fa fa-windows color-blue"></i>　使用Windows的话，点击<strong><u>「ctrl」跟「s」</u></strong>可以保存內容。
  </small>
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
<strong class="color-red">2</strong>
3
4
5
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>div</span><span class='word-green'> class</span>=<span class='word-yellow'>"header-image"</span>&gt;</span>
<span class='code-line remarkable-code'>  &lt;<span class='word-red'>h1</span><span class='word-green'> class</span>=<span class='word-yellow'>"text-center"</span>&gt;&lt;<span class='word-red'>strong</span>&gt;欢迎光临&lt;/<span class='word-red'>strong</span>&gt;&lt;/<span class='word-red'>h1</span>&gt;</span>
<span class='code-line'>&lt;/<span class='word-red'>div</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>br</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/posts"</span> <span class="word-green">class</span>=<span class="word-yellow">"btn btn-primary"</span>&gt;看投稿一览&lt;/<span class='word-red'>a</span>&gt;</span>
</td>
</tr>
</table>
  <br>
  <small>
    ※　<strong>「&lt;strong&gt;」跟「&lt;/strong&gt;」围起來的地方</strong>会强调文字。
    <br>
    ※　<u>一起点击<strong>「Command」跟「c」</strong></u>停止，用<strong>「<u>rails s</u>」</strong>打开的服务器之后，再打入<strong><u>「rails s」</u></strong>吧。
  </small>
  <br><br><br>
  <p class="alert alert-success">
  <i class="fa fa-windows color-blue"></i>　<strong>使用Windows的话，
  <br>
  　<u>一起点击「ctrl」跟「c」</u>停止，用「<u>rails s</u>」打开服务器之后，再打入「<u>rails s</u>」吧。</strong>
  </p>
  <br>
  做完了之后，打开「<a href="http://0.0.0.0:3000" target="_blank"><strong>0.0.0.0:3000</strong></a>」吧！
  <br>
  <small>
    <i class="fa fa-windows color-blue"></i>　使用Windows的话，打开「<a href="http://localhost:3000" target="_blank"><strong>localhost:3000</strong></a>」吧。
  </small>
  <br><br>
  文字有沒有置中对齐了吗？
  <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page8/Chrome_posts_root_text_center.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page8/Chrome_posts_root_text_center.png",
              :target => ["_blank"] %>
  这样子用Bootstrap置中对齐文字的时候，在class里设定
<pre>
text-center
</pre>
  的內容。
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>h1</span><span class='word-green'> class</span>=<span class='word-yellow'>"text-center"</span>&gt;&lt;<span class='word-red'>strong</span>&gt;欢迎光临&lt;/<span class='word-red'>strong</span>&gt;&lt;/<span class='word-red'>h1</span>&gt;</span>
</td>
</tr>
</table>
  <br>
  <strong>如果想靠右对齐的话使用「text-right」，想靠左对齐的话使用「text-left」。</strong>
  <hr class="red-hr">
  这样设定置中对齐文字了。但是文字的位置还是有一点奇怪。
  <br>
  接着修这个內容吧。
  <br><br>
  首先在<strong>「&lt;h1&gt;」</strong>的<strong><u>class里设定「header-content」吧。</u></strong>
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>index.html.erb</strong>
  <br>
  <small>
    ※　<strong><u>用半母字母数字打入</u></strong>。一起点击<strong><u>「Command」跟「s」</u></strong>可以保存內容。
    <br>
    <i class="fa fa-windows color-blue"></i>　使用Windows的话，点击<strong><u>「ctrl」跟「s」</u></strong>可以保存內容。
  </small>
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>2
</td>
<td class='code-content'><span class='code-line remarkable-code'>&lt;<span class='word-red'>h1</span><span class='word-green'> class</span>=<span class='word-yellow'>"text-center header-content"</span>&gt;&lt;<span class='word-red'>strong</span>&gt;欢迎光临&lt;/<span class='word-red'>strong</span>&gt;&lt;/<span class='word-red'>h1</span>&gt;</span>
</td>
</tr>
</table>
  <br>
  在这个<strong>「<u>style.scss</u>」</strong>里，设定<strong>「<u>header-content</u>」</strong>的装饰的內容。
  <br><br>
  <i class="fa fa-question-circle color-green"></i>　<strong>首先设定看，<u>在「header-content」的class里设定75px的大小的文字
  </u>吧。
  <br><br>
  文字的大小，用
  </strong>
<pre>
font-size:文字的大小px;
</pre>
  <strong>设定。</strong>
  <br><br>
  <textarea class="input-code form-control" placeholder="打入答案" rows="3"></textarea>
  <br>
  <i class="fa fa-file color-red"></i>　<strong>style.scss</strong>
  <br>
  <small>
    ※　<strong><u>用半母字母数字打入</u></strong>。一起点击<strong><u>「Command」跟「s」</u></strong>可以保存內容。
    <br>
    <i class="fa fa-windows color-blue"></i>　使用Windows的话，点击<strong><u>「ctrl」跟「s」</u></strong>可以保存內容。
  </small>
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>16
17
18
</td>
<td class='code-content answer-code'><span class='code-line'><span class='word-green'>.header-content</span>{</span>
<span class='code-line'>  <span class='word-blue'>font-size</span>:<span class='word-blue'><span class='word-purple'>75</span><span class='word-red'>px</span></span>;</span>
<span class='code-line'>}</span>
</td>
</tr>
</table>
  <hr class="red-hr">
  那么接着在这个<strong>「<u>header-content</u>」</strong>里，追加把文字的位置移动到下面的设定吧。
  <br><br>
  移动文字的位置的话，可以使用<a href="/zh-CN/mugcups/7#title2-2-4-margin" target="_blank"><strong>作空白</strong></a>的
<pre>
margin-top:150px
</pre>
  这样子设定吗？
  <br><br>
  试试看吧。
  <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page8/Chrome_posts_root_margin.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page8/Chrome_posts_root_margin.png",
              :target => ["_blank"] %>
  结果是这样，上面显示空白了。
  <br>
  这是应为，<u>这个<strong>「margin」是在內容的外面作空格的</strong>设定</u>，所以像这一次一样在內容的（&lt;div&gt;）里面作空格的时候不能使用。
  <br><br>
  <strong>像这一次一样，在內容的（&lt;div&gt;）里面作空格的时候，使用「<a href="/zh-CN/mugcups/css#title1-3" target="_blank">padding</a>」的设定。</strong>
  <br>
  那么使用这个<strong>「<u>padding</u>」</strong>设定內容吧。
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>style.scss（追加第18行）</strong>
  <br>
  <small>
    ※　<strong><u>用半母字母数字打入</u></strong>。一起点击<strong><u>「Command」跟「s」</u></strong>可以保存內容。
    <br>
    <i class="fa fa-windows color-blue"></i>　使用Windows的话，点击<strong><u>「ctrl」跟「s」</u></strong>可以保存內容。
  </small>
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>16
17
<strong class="color-red">18</strong>
19
</td>
<td class='code-content'><span class='code-line'><span class='word-green'>.header-content</span>{</span>
<span class='code-line'>  <span class='word-blue'>font-size</span>:<span class='word-blue'><span class='word-purple'>75</span><span class='word-red'>px</span></span>;</span>
<span class='code-line remarkable-code'>  <span class='word-blue'>padding-top</span>:<span class='word-blue'><span class='word-purple'>150</span><span class='word-red'>px</span></span>;</span>
<span class='code-line'>}</span>
</td>
</tr>
</table>
  <br>
  <small>
    ※　<u>一起点击<strong>「Command」跟「c」</strong></u>停止，用<strong>「<u>rails s</u>」</strong>打开的服务器之后，再打入<strong><u>「rails s」</u></strong>吧。
  </small>
  <br><br><br>
  <p class="alert alert-success">
  <i class="fa fa-windows color-blue"></i>　<strong>使用Windows的话，
  <br>
  　<u>一起点击「ctrl」跟「c」</u>停止，用「<u>rails s</u>」打开的服务器之后，再打入「<u>rails s</u>」吧。</strong>
  </p>
  <br>
  编辑完了之后，打开「<a href="http://0.0.0.0:3000" target="_blank"><strong>0.0.0.0:3000</strong></a>」吧！
  <br>
  <small>
    <i class="fa fa-windows color-blue"></i>　使用Windows的话，打开「<a href="http://localhost:3000" target="_blank"><strong>localhost:3000</strong></a>」吧。
  </small>
  <br><br>
  有沒有显示下面一样子的显示吗？
  <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page8/Chrome_posts_root.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page8/Chrome_posts_root.png",
              :target => ["_blank"] %>
  在这里学的设定有一点难懂。到习惯用这些设定为止，自己复习看看吧！
</h4>