<% provide :title, "Coffee-Cup" %>
<header class="text-center header-img-desk">
  <div class="header-content fadeIn wow">
  <%= render "common/alert" %>
    <div class="header-content-word row">
      <h1>
        <strong>
          <span style="line-height:1.6; font-size:50px">
            在20小時裡
            <br>
            學習程序設計吧！
          </span>
          <br>
          <span style="line-height:1.4; font-size:25px">
            〜 學會作網站的程序設計吧！ 〜
          </span>
          <br>
        </strong>
      </h1>
      <br>
      <p><a href="#lesson-title" class="btn btn-danger">詳細</a></p>
      <hr class="red-hr">
      <div class="col-xs-6">
        <h4 style="line-height:1.8; margin-bottom:8px">
        <strong>
          網路是在我們的日常生活中不可缺少的基礎設施。
          <br>
          我們提供作網站，學編程的教材(可以免費使用)！
        </strong>
        </h4>
        <p><strong>※　請準備 <u>Windows 或者 Mac 的電腦</u></strong></p>
        <p><%= link_to "開始！", mugcups_path, :class => "btn btn-warning", :target => ["_blank"] %></p>
      </div>
      <div class="col-xs-6">
        <%= form_for @mail_sender do |f| %>
          <h4><i class="fa fa-envelope"></i>　<strong>送這個網站的 URL</strong></h4>
          <%= f.text_field :email, :class => "form-control mail-area", :placeholder => "請打入郵箱" %>
          <%= f.submit "送信", :class => "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <div id="top-page" class="textbook-area">
    <div class="textbook-area-inner fadeIn wow">
      <br>
      <div id="lesson-section">
        <h2 id="lesson-title" class="text-center fix-link-nav">兩個教材</h2>
        <hr class="red-hr">
        <div class="row text-center">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
            <a href="/<%= I18n.locale %>/mugcups" target="_blank" class="btn btn-primary">
                  <%= image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/logo/mugcup_logo_link.png",
                                :class => "nav-img") %>
                  Mugcup(基礎編)
            </a>
            <hr>
            <p class="text-left text-muted">
            解釋，用作網路軟件「Ruby on Rails」作網路的方法。
            <br>
            <small>※　學習的時間：20~40小時(基準)</small>
            </p>
            <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/header/mugcup_demo_page.png",
                                  :width => "90%",
                                  :class => "hover_img textbook-title-img"),
                        "https://gentle-cove-48435.herokuapp.com/users/sign_in",
                        :target => ["blank"] %>
            <h5 class="text-left">
            <small>
            <i class="fa fa-arrow-right"></i>　<a href="https://guarded-gorge-84479.herokuapp.com/users/sign_in" target="_blank"><strong>看演示網站</strong></a>
            </small>
            </h5>
            <ul class="alert alert-warning text-left" style="margin:20px auto; line-height:20px; padding:25px 30px;list-style-type:none;">
              <strong>
              <li style="font-size:20px"><i class="fa fa-check-circle"></i>　目錄</li>
              <br>
              <li><i class="fa fa-bookmark"></i>　<a href="/<%= I18n.locale %>/mugcups/0" target="_blank">0 : 剛開始</a></li>
              <li><i class="fa fa-bookmark"></i>　<a href="/<%= I18n.locale %>/mugcups/1" target="_blank">1 : 什么是網路？</a></li>
              <li><i class="fa fa-bookmark"></i>　<a href="/<%= I18n.locale %>/mugcups/2" target="_blank">2 : Ruby on Rails 的基礎</a></li>
              <br>
              <li>他 ... <a href="/<%= I18n.locale %>/mugcups/" target="_blank">全部有12章</a></li>
              </strong>
            </ul>
            <br>
            <h2><strong><i class="fa fa-arrow-right"></i>　<a href="/zh-TW/mugcups" target="_blank">開始學習吧！</a></strong></h2>
            <h4><small>※　利用之前，<a href="/zh-TW/warning" target="_blank"><strong>請確認這裡</strong></a></small></h4>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
            <a href="/<%= I18n.locale %>/coffee_cups" target="_blank" class="btn btn-danger">
                  <%= image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/logo/coffee_logo_link.png",
                                :class => "nav-img") %>
                  Coffee(應用編)
            </a>
            <hr>
            <p class="text-left text-muted">
            用「Ruby on Rails」的知識，作作看網絡聊天的網站。
            <br>
            <small>※　學習的時間：20~40小時(基準)</small>
            </p>
            <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/header/coffee_demo_page.png",
                                  :width => "90%",
                                  :class => "hover_img textbook-title-img"),
                        "https://guarded-gorge-84479.herokuapp.com/users/sign_in",
                        :target => ["blank"] %>
            <h5 class="text-left">
            <small>
            <i class="fa fa-arrow-right"></i>　<a href="https://guarded-gorge-84479.herokuapp.com/users/sign_in" target="_blank"><strong>看演示網站</strong></a>
            </small>
            </h5>
            <ul class="alert alert-success text-left" style="margin:20px auto; line-height:20px; padding:25px 30px;list-style-type:none;">
              <strong>
              <li style="font-size:20px"><i class="fa fa-check-circle"></i>　目錄</li>
              <br>
              <li><i class="fa fa-bookmark"></i>　<a href="/<%= I18n.locale %>/coffee_cups/0" target="_blank">1 : Mugcup（基礎編）的復習</a></li>
              <li><i class="fa fa-bookmark"></i>　<a href="/<%= I18n.locale %>/coffee_cups/1" target="_blank">2 : 作訊息</a></li>
              <li><i class="fa fa-bookmark"></i>　<a href="/<%= I18n.locale %>/coffee_cups/2" target="_blank">3 : 作聊天室①</a></li>
              <br>
              <li>他 ... <a href="/<%= I18n.locale %>/coffee_cups/" target="_blank">全部有8章</a></li>
              </strong>
            </ul>
            <br>
            <h2><strong><i class="fa fa-arrow-right"></i>　<a href="/zh-TW/coffee_cups" target="_blank">開始學習吧！</a></strong></h2>
            <h4><small>※　利用之前，<a href="/zh-TW/warning" target="_blank"><strong>請確認這裡</strong></a></small></h4>
          </div>
        </div>
        <br>
        <p class="alert alert-info text-left" style="margin:20px auto; line-height:20px">
              <i class="fa fa-windows color-blue"></i>　<strong>使用<u>Windows</u>的話</strong>,
              <br><br>
              因為機種的關係，不能學<a href="/<%= I18n.locale %>/coffee_cups/7" target="_blank"><strong><u>「Coffee（應用編）」「7 : 上載圖像」</u></strong></a>的内容。
        </p>
        <br>
        <div class="text-center">
          <a href="#service-title" class="btn btn-warning">詳細</a>
        </div>
      </div>
      <hr>
      <br>
      <div id="service-section">
        <br>
        <h2 class="text-center fix-link-nav" id="service-title">教材詳細</h2>
        <hr class="red-hr">
        <div class="row text-center">
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
            <div class="service-box">
              <i class="fa fa-clock-o fa-4x color-green" style="margin-bottom:4px"></i>
              <h3 style="margin-top:16px">40小時可以学完的教材</h3>
              <p class="text-muted">
              <strong><u>在基礎編20小時／應用編20小時的學習</u></strong>，獲得具体化你的夢想的技術。
              <br>
              <small>※　時間是大体的基準。</small>
              </p>
              <br>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
            <div class="service-box">
              <i class="fa fa-yen fa-4x color-green" style="margin-top:3px"></i>
              <h3 style="margin-top:17px">免費使用</h3>
              <p class="text-muted">
              <strong><u>免費可以学习裡面的內容</u></strong>
              <br>
              <small>
              ※　我們用，叫做 <strong><u>Ruby on Rails</u></strong>的軟件。
              </small>
              </p>
              <br>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
            <div class="service-box">
              <i class="fa fa-thumbs-up fa-4x color-green" style="margin-bottom:4px"></i>
              <h3>可以理解網路</h3>
              <p class="text-muted">
              可以学到網路的基礎跟作法。
              </p>
              <br>
            </div>
          </div>
        </div>
        <br>
        <div class="text-center">
          <p>
          <a href="#pc-type-section" class="btn btn-success">需要什麼呢？</a>
        </div>
      </div>
      <hr>
      <br>
      <div id="pc-type-section" class="fix-link-nav">
        <h2 class="text-center">需要什麼呢？</h2>
        <hr class="red-hr">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
            <div class="service-box text-left">
              <h3><i class="fa fa-desktop color-green"></i>　<u>Mac 或者 Windows 的 電腦</u></h3>
              <p class="text-muted">
              <br>
              <i class="fa fa-apple color-red"></i>　使用 Mac（我們推薦用 mac ）的話，請準備　<strong><u>AppleID</u></strong>。
              <br>
              <small>※　AppleID可以<a href="https://support.apple.com/zh-tw/HT203993" target="_blank"><strong>从這裡</strong></a>取得</small>
              <br><br>
              <i class="fa fa-windows color-blue"></i>　使用 Windows的話，請準備<strong><u>Windows</u></strong>。
              <br><br>
              <i class="fa fa-arrow-right"></i>　操作環境，請参考<a href="/<%= I18n.locale %>/tokusho#software-environment" target="_blank"><strong>這裡</strong></a>。
              <br><br>
              如果已經有操作環境的話、我们推薦用<strong><u>Ruby 2.1.3・Rails 4.2.6</u></strong>。
              </p>
              <br>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
            <div class="service-box text-left">
              <h3><i class="fa fa-calendar color-green"></i>　時間</h3>
              <p class="text-muted">
              <br>
              基礎編：20〜40小時（基準）
              <br>
              應用編：20〜40小時（基準）
              </p>
              <br>
            </div>
          </div>
        </div>
        <br>
        <p class="text-center">
          <a href="#sales-section" class="btn btn-info">我们推薦這樣人學！</a>
        </p>
        <br><br>
      </div>
      <hr>
      <div id="sales-section" class="fix-link-nav">
        <h2 class="text-center">我们推薦这样的人学！</h2>
        <hr class="red-hr">
        <div class="row text-center">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
            <div class="service-box">
              <i class="fa fa-wrench fa-4x color-green"></i>
              <h3>学過Rails，可是挫折的你</h3>
              <p class="text-muted text-left">
              請試試看我們的教材吧！這一次，讓你一定理解 Rails！
              </p>
              <br>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
            <div class="service-box">
              <i class="fa fa-code fa-4x color-green"></i>
              <h3>想作作看網路的你</h3>
              <p class="text-muted text-left">
              想作作看網路的不知道在哪裡学的話，試試看我們的教材吧！
              </p>
              <br>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
            <div class="service-box">
              <i class="fa fa-4x fa-thumbs-o-up color-green"></i>
              <h3>想學學看新東西的你</h3>
              <p class="text-muted text-center">
              想學學新東西的你，那麼作作看網站吧。
              </p>
              <br>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
            <div class="service-box">
              <i class="fa fa-tablet fa-4x color-green"></i>
              <h3>想知道網站的結構的你</h3>
              <p class="text-muted text-center">
              理解網站的結構，作作看網站吧！
              </p>
              <br>
            </div>
          </div>
        </div>
        <br>
      </div>
      <hr>
      <br>
      <div id="contact-section">
        <div class="row text-center">
          <div class="col-lg-8 col-lg-offset-2">
            <h2>Let's Get In Touch!</h2>
            <hr class="red-hr">
            <h4>有問題的话，跟我們連絡吧！</h4>
          </div>
          <div class="col-lg-offset-2 col-lg-4">
            <div class="service-box">
              <h2><i class="fa fa-facebook-official"></i></h2>
              <h4 class="contact-detail"><a href="https://www.facebook.com/CoffeeCupJapan/" target="_blank">Coffee-Cup</a></h4>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="service-box">
              <h2><i class="fa fa-envelope"></i></h2>
              <h4 class="contact-detail"><a href="mailto:support@coffee-cup.info">support@coffee-cup.info</a></h4>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <br>
      <div id="recommend-section" class="text-center">
        <h1 style="line-height:1.6">
        <img src="https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/logo/mugcup_logo_link.png" style="margin-bottom:10px">
        <br>
        <strong>體驗體驗<br>電腦裡的世界吧！</strong></h1>
        <a href="/<%= I18n.locale %>/mugcups" class="btn btn-success" style="margin:20px auto 10px auto"><strong>開始！</strong></a>
        <br><br>
      </div>
      <br>
    </div>
  </div>
</div>