<% provide :title, "Coffee-Cup" %>
<header class="text-center header-img-desk">
  <div class="header-content fadeIn wow">
  <%= render "common/alert" %>
    <div class="header-content-word row">
      <h1>
        <strong>
          <span style="line-height:1.6; font-size:50px">
            Experience
            <br>
            The world inside the computer！
          </span>
          <br>
          <span style="line-height:1.4; font-size:25px">
            〜 Let's Develop WebSites！ 〜
          </span>
          <br>
        </strong>
      </h1>
      <br>
      <p><a href="#lesson-title" class="btn btn-danger">Detail</a></p>
      <hr class="red-hr">
      <div class="col-xs-6">
        <h4 style="line-height:1.8; margin-bottom:8px">
        <strong>
          It become part of your life, to use Websites by now.
          <br>
          We teach you this Web developing from 1month 10800JPY !
        </strong>
        </h4>
        <p><strong>※　Before studying, please prepare <u>Windows or Mac</u>.</strong></p>
        <p><%= link_to "Get started", new_user_registration_path, :class => "btn btn-warning" %>
        <br>
      </div>
      <div class="col-xs-6">
        <%= form_for @mail_sender do |f| %>
          <h4><i class="fa fa-envelope"></i>　<strong>Send URL</strong></h4>
          <%= f.text_field :email, :class => "form-control mail-area", :placeholder => "input your email" %>
          <%= f.submit "send", :class => "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <div id="top-page" class="textbook-area">
    <div class="textbook-area-inner fadeIn wow">
      <br>
      <div id="lesson-section">
        <h2 id="lesson-title" class="text-center fix-link-nav">Two courses</h2>
        <hr class="red-hr">
        <div class="row text-center">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
            <a href="/<%= I18n.locale %>/mugcups" target="_blank" class="btn btn-primary">
                  <%= image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/logo/mugcup_logo_link.png",
                                :class => "nav-img") %>
                  Mugcup(Basic)
            </a>
            <hr>
            <p class="text-left text-muted">
            Study Web development using「Ruby on Rails」.
            </p>
            <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/header/mugcup_demo_page.png",
                                  :width => "90%",
                                  :class => "hover_img textbook-title-img"),
                        "https://gentle-cove-48435.herokuapp.com/users/sign_in",
                        :target => ["blank"] %>
            <h5 class="text-left">
            <small>
            <i class="fa fa-arrow-right"></i>　If you wanna look at the Demopage we develop, <a href="https://guarded-gorge-84479.herokuapp.com/users/sign_in" target="_blank"><strong>click here</strong></a> .
            </small>
            </h5>
            <ul class="alert alert-warning text-left" style="margin:20px auto; line-height:20px; padding:25px 30px;list-style-type:none;">
              <strong>
              <li style="font-size:20px"><i class="fa fa-check-circle"></i>　Chapters</li>
              <br>
              <li><i class="fa fa-bookmark"></i>　<a href="/<%= I18n.locale %>/mugcups/0" target="_blank">0 : For the beginning</a></li>
              <li><i class="fa fa-bookmark"></i>　<a href="/<%= I18n.locale %>/mugcups/1" target="_blank">1 : What is Website ?</a></li>
              <li><i class="fa fa-bookmark"></i>　<a href="/<%= I18n.locale %>/mugcups/2" target="_blank">2 : The basic of Ruby on Rails</a></li>
              <br>
              <li><%= link_to "12 chapters", mugcups_path, :target => [":blank"] %></li>
              </strong>
            </ul>
            <h4><small>※　You can study <a href="/zh-TW/mugcups" target="_blank"><strong>Chinese version</strong></a> for free. </small></h4>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
            <a href="/<%= I18n.locale %>/coffee_cups" target="_blank" class="btn btn-danger">
                  <%= image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/logo/coffee_logo_link.png",
                                :class => "nav-img") %>
                  Coffee（Advanced）
            </a>
            <hr>
            <p class="text-left text-muted">
             Using the Ruby on Rails, develop a message website.
            </p>
            <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/header/coffee_demo_page.png",
                                  :width => "90%",
                                  :class => "hover_img textbook-title-img"),
                        "https://guarded-gorge-84479.herokuapp.com/users/sign_in",
                        :target => ["blank"] %>
            <h5 class="text-left">
            <small>
            <i class="fa fa-arrow-right"></i>　If you wanna look at the Demopage we develop, <a href="https://guarded-gorge-84479.herokuapp.com/users/sign_in" target="_blank"><strong>click here</strong></a> .
            </small>
            </h5>
            <ul class="alert alert-success text-left" style="margin:20px auto; line-height:20px; padding:25px 30px;list-style-type:none;">
              <strong>
              <li style="font-size:20px"><i class="fa fa-check-circle"></i>　Chapters</li>
              <br>
              <li><i class="fa fa-bookmark"></i>　<a href="/<%= I18n.locale %>/coffee_cups/0" target="_blank">1 : Review of Mugcup（Basic）</a></li>
              <li><i class="fa fa-bookmark"></i>　<a href="/<%= I18n.locale %>/coffee_cups/1" target="_blank">2 : Create message</a></li>
              <li><i class="fa fa-bookmark"></i>　<a href="/<%= I18n.locale %>/coffee_cups/2" target="_blank">3 : Create chatroom①</a></li>
              <br>
              <li>... <%= link_to "8 chapters", coffee_cups_path, :target => ["_blank"] %></li>
              </strong>
            </ul>
            <h4><small>※　you can study <a href="/en/coffee_cups" target="_blank"><strong>Chinese version</strong></a> for free.</small></h4>
            <br>
          </div>
        </div>
        <p class="alert alert-info text-left" style="margin:20px auto; line-height:20px">
              <i class="fa fa-windows color-blue"></i>　If using <strong><u>Windows</u></strong>,
              <br><br>
              you can't study <a href="/<%= I18n.locale %>/coffee_cups/7" target="_blank"><strong><u>「Coffee(advanced)」「7 : upload pictures 」</u></strong></a> .
        </p>
        <br>
        <h3><strong><i class="fa fa-arrow-right"></i>　After <%= link_to "Signup", new_user_registration_path, :target => ["_blank"] %>, you can purchase the textbook (10800JPY・Can Ask Question in Facebook).</strong></h3>
        <br><br>
        <div class="text-center">
          <a href="#service-title" class="btn btn-warning">What's about details of services?</a>
        </div>
      </div>
      <hr>
      <br>
      <div id="service-section">
        <br>
        <h2 class="text-center fix-link-nav" id="service-title">Details of services</h2>
        <hr class="red-hr">
        <div class="row text-center">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
            <div class="service-box">
              <i class="fa fa-clock-o fa-4x color-green" style="margin-bottom:4px"></i>
              <h3 style="margin-top:16px">80 Hour Study</h3>
              <p class="text-muted">
              <strong><u>With 80 Hour Study</u></strong>, you will acquire the web developing skill !
              <br><br>
              <small>※　80 Hour is rough time.</small>
              </p>
              <br>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
            <div class="service-box">
              <i class="fa fa-yen fa-4x color-green" style="margin-top:3px"></i>
              <h3 style="margin-top:17px">10800JPY</h3>
              <p class="text-muted">
              <strong><u>1month 10800JPY / 1month extention 2160JPY</u></strong>
              <br><br>
              <small>※　We use Web developing framework 'Ruby on Rails'. </small>
              </p>
              <br>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
            <div class="service-box">
              <i class="fa fa-mortar-board fa-4x color-green" style="margin-bottom:2px"></i>
              <h3 style="margin-top:16px">Answer your questions</h3>
              <p class="text-muted">In  Facebook page, we can answer you questions.
              </p>
              <br>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
            <div class="service-box">
              <i class="fa fa-thumbs-up fa-4x color-green" style="margin-bottom:4px"></i>
              <h3>Comprehend Websites</h3>
              <p class="text-muted">
                Can study ！
              </p>
              <br>
            </div>
          </div>
        </div>
        <br>
        <h3><strong><i class="fa fa-arrow-right"></i>　After <%= link_to "Signup", new_user_registration_path, :target => ["_blank"] %>, you can purchase the textbook.</strong></h3>
        <br><br>
        <div class="text-center">
          <p>
          <a href="#pc-type-section" class="btn btn-success">What should I prepare?</a>
        </div>
      </div>
      <hr>
      <br>
      <div id="pc-type-section" class="fix-link-nav">
        <h2 class="text-center">You have to prepare...</h2>
        <hr class="red-hr">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
            <div class="service-box text-left">
              <h3><i class="fa fa-desktop color-green"></i>　<u>Mac or Windows PC</u></h3>
              <p class="text-muted">
              <br>
              <i class="fa fa-apple color-red"></i>　If using Mac（we recommend）　, prepare <strong><u>Mac PC and AppleID</u></strong> .
              <br>
              <small>※　Create your AppleID <a href="https://support.apple.com/en-us/HT203993" target="_blank"><strong>From here</strong></a></small>
              <br><br>
              <i class="fa fa-windows color-blue"></i>　If using Windows,　　Prepare <strong><u>Windows PC</u></strong>.
              <br><br>
              <i class="fa fa-arrow-right"></i>　Our Operation Environment <a href="/<%= I18n.locale %>/tokusho#software-environment" target="_blank"><strong>Check here</strong></a>.
              <br><br>
              If you have already install ruby/rails, we recommend <strong><u>Ruby 2.1.3・Rails 4.2.6</u></strong>.
              </p>
              <br>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
            <div class="service-box text-left">
              <h3><i class="fa fa-calendar color-green"></i>　時間</h3>
              <p class="text-muted">
              <br>
              basic     : roughly 20〜40 Hours
              <br>
              advanced  : roughly 20〜40 Hours
              </p>
              <br>
            </div>
          </div>
        </div>
        <br>
        <h3><strong><i class="fa fa-arrow-right"></i>　After <%= link_to "Signup", new_user_registration_path, :target => ["_blank"] %>, you can purchase the textbook.</strong></h3>
        <br>
        <p class="text-center">
          <a href="#sales-section" class="btn btn-info">We recommend these kind of people</a>
        </p>
        <br><br>
      </div>
      <hr>
      <div id="sales-section" class="fix-link-nav">
        <h2 class="text-center">We recommend those who ...</h2>
        <hr class="red-hr">
        <div class="row text-center">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
            <div class="service-box">
              <i class="fa fa-wrench fa-4x color-green"></i>
              <h3>Fails studying Ruby on Rails</h3>
              <p class="text-muted text-left">
              This time, we gonna teach you until you understand.
              </p>
              <br>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
            <div class="service-box">
              <i class="fa fa-4x fa-thumbs-o-up color-green"></i>
              <h3>Wants to study new things</h3>
              <p class="text-muted text-left">
              Let's study the web developing skill.
              </p>
              <br>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
            <div class="service-box">
              <i class="fa fa-tablet fa-4x color-green"></i>
              <h3>Wants to understand the Website</h3>
              <p class="text-muted text-left">
              Learn what website doing in the background!
              </p>
              <br>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
            <div class="service-box">
              <i class="fa fa-code fa-4x color-green"></i>
              <h3>Wants to make own service</h3>
              <p class="text-muted text-left">
              We teach you the skill to realize your ambicious dream.
              </p>
              <br>
            </div>
          </div>
        </div>
        <br>
        <h3><strong><i class="fa fa-arrow-right"></i>　After <%= link_to "Signup", new_user_registration_path, :target => ["_blank"] %>, you can purchase the textbook.</strong></h3>
        <br><br>
        <p class="text-center">
          <%= link_to "get started!", new_user_registration_path, :class => "btn btn-green", :target => ["_blank"] %>
        </p>
        <br>
      </div>
      <hr>
      <br>
      <div id="contact-section">
        <div class="row text-center">
          <div class="col-lg-8 col-lg-offset-2">
            <h2>Let's Get In Touch!</h2>
            <hr class="red-hr">
            <h4>If any questions, contact us!</h4>
          </div>
          <div class="col-lg-offset-2 col-lg-4">
            <div class="service-box">
              <h2><i class="fa fa-facebook-official"></i></h2>
              <h4 class="contact-detail"><a href="https://www.facebook.com/CoffeeCupJapan/" target="_blank">Coffee-Cup</a></h4>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="service-box">
              <h2><i class="fa fa-envelope"></i></h2>
              <h4 class="contact-detail"><a href="mailto:support@coffee-cup.info">support@coffee-cup.info</a></h4>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <br>
      <div id="recommend-section" class="text-center">
        <h1 style="line-height:1.6">
        <img src="https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/logo/mugcup_logo_link.png" style="margin-bottom:10px">
        <br>
        <strong>Let's study<br>Website!</strong></h1>
        <a href="/<%= I18n.locale %>/users/sign_up" class="btn btn-success" style="margin:20px auto 10px auto"><strong>Get started!</strong></a>
        <br><br>
      </div>
      <br>
    </div>
  </div>
</div>