<h4 id="coffee-chapter3-2-2">
  <p id="title2-2"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">② : 新增・顯示「entries」資料</strong></p>
  <br>
  <i class="fa fa-play-circle"></i>　<strong>那麽，設定「entries」資料的新增・顯示吧！</strong>
  <hr class="red-hr">
  在這裡設定
  <strong>
  <ul class="number_ul">
    <li>「users」的「show」網頁上，<u>新增「entries」資料（create）</u></li>
    <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee3/Chrome_messages_users_1_start_chat.png",
                          :width => "90%",
                          :class => "hover_img textbook-title-img"),
                "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee3/Chrome_messages_users_1_start_chat.png",
                :target => ["_blank"] %>
    點擊 <a class="btn btn-warning">開始聊天</a> 會新增「entries」資料
    <br><br>
    <strong>entries</strong>
    <table class="table table-striped" style="width:50%">
      <thead style="font-size:0.8em">
        <tr class="active">
          <th style="background-color: #f2dede;">id</th>
          <th style="background-color: #f2dede;">room_id</th>
          <th style="background-color: #f2dede;">user_id</th>
          <th>created_at</th>
          <th>updated_at</th>
        </tr>
      </thead>
      <tbody class="text-center">
        <tr>
          <td style="background-color: #f2dede;">1</td>
          <td style="background-color: #f2dede;">1</td>
          <td style="background-color: #f2dede;">1</td>
          <td style="font-size:11px;">2016-04-12 20:30:21</td>
          <td style="font-size:11px;">2016-04-12 20:30:21</td>
        </tr>
      </tbody>
    </table>
    <table class="table table-striped" style="width:50%">
      <thead style="font-size:0.8em">
        <tr class="active">
          <th style="background-color: #f2dede;">id</th>
          <th style="background-color: #f2dede;">room_id</th>
          <th style="background-color: #f2dede;">user_id</th>
          <th>created_at</th>
          <th>updated_at</th>
        </tr>
      </thead>
      <tbody class="text-center">
        <tr>
          <td style="background-color: #f2dede;">1</td>
          <td style="background-color: #f2dede;">1</td>
          <td style="background-color: #f2dede;">2</td>
          <td style="font-size:11px;">2016-04-12 20:30:21</td>
          <td style="font-size:11px;">2016-04-12 20:30:21</td>
        </tr>
      </tbody>
    </table>
    <i class="fa fa-arrow-right"></i>　哪一個會員在參加哪一個聊天室的資料。
    <br><br>
    <li>「rooms」的「show」網頁上，<u>顯示「entries」資料</u></li>
    <br>
    <i class="fa fa-arrow-right"></i>　顯示參加聊天室的會員
    <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee3/Chrome_messages_rooms_1_no_messages.png",
                          :width => "90%",
                          :class => "hover_img textbook-title-img"),
                "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee3/Chrome_messages_rooms_1_no_messages.png",
                :target => ["_blank"] %>
    <hr class="red-hr">
    <i class="fa fa-arrow-right"></i>　顯示登入的會員在參加的聊天室
    <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee3/Chrome_messages_users_1_link_chats_1.png",
                          :width => "90%",
                          :class => "hover_img textbook-title-img"),
                "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee3/Chrome_messages_users_1_link_chats_1.png",
                :target => ["_blank"] %>
    <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee3/Chrome_messages_rooms.png",
                          :width => "90%",
                          :class => "hover_img textbook-title-img"),
                "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee3/Chrome_messages_rooms.png",
                :target => ["_blank"] %>
    <br><br>
    <li>限制可以看聊天室的會員</li>
    <br>
    如果沒有參加聊天室的會員的話，不讓他看聊天室裡面的內容。
    <br><br>
    <i class="fa fa-arrow-right"></i>　判別登入的會員有沒有參加聊天室的時候，要使用
    <br><br>
    <strong>entries</strong>
    <table class="table table-striped" style="width:50%">
      <thead style="font-size:0.8em">
        <tr class="active">
          <th style="background-color: #f2dede;">id</th>
          <th style="background-color: #f2dede;">room_id</th>
          <th style="background-color: #f2dede;">user_id</th>
          <th>created_at</th>
          <th>updated_at</th>
        </tr>
      </thead>
      <tbody class="text-center">
        <tr>
          <td style="background-color: #f2dede;">1</td>
          <td style="background-color: #f2dede;">1</td>
          <td style="background-color: #f2dede;">1</td>
          <td style="font-size:11px;">2016-04-12 20:30:21</td>
          <td style="font-size:11px;">2016-04-12 20:30:21</td>
        </tr>
      </tbody>
    </table>
    「entries」資料。
  </ul>
  </strong>
  <br>
  設定這個三個內容。
  <br><br>
  首先從<strong>新增「<u>entries</u>」資料（<u>create</u>）</strong>開始做吧！
  <hr class="red-hr">
  <%= render "coffee3/zh-CN/title2_2_1" %>
  <hr class="red-hr">
  <%= render "coffee3/zh-CN/title2_2_2" %>
  <hr class="red-hr">
  <%= render "coffee3/zh-CN/title2_2_3" %>
</h4>
<h4>
  <hr class="red-hr">
  <i class="fa fa-play-circle"></i>　<strong>
  到這裡，解釋了參加聊天室的會員資料「<u>entries</u>」的內容。
  <br><br>
  設定的內容是
  <ul class="number_ul">
    <li>新增「entries」資料</li>
    <li>新增「entries」資料</li>
    <li>用「entries」資料，限制聊天室的閱覽</li>
  </ul>
  這些三個。
  </strong>
  <br><br>
  <i class="fa fa-arrow-right"></i>　<strong>最後，總括裡面的內容吧！</strong>
</h4>