<h4 id="chapter9-2-1">
  <p id="title2-1"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">① : 装饰登入注册的网页</strong></p>
  <br>
  首先<strong><u>用Bootstrap，装饰登入注册的网页吧！</u></strong>
  <br><br>
  在这里
  <ul class="number_ul">
    <strong><li>登入注册网页里裝飾按按钮输入框（<a href="/zh-CN/mugcups/css#title2-1" target="_blank">btn</a>跟<a href="/zh-CN/mugcups/css#title2-2" target="_blank">form-control</a>）</li></strong>
    <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page9/Chrome_users_sign_up_bootstrap.png",
                          :width => "90%",
                          :class => "hover_img textbook-title-img"),
                "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page9/Chrome_users_sign_up_bootstrap.png",
                :target => ["_blank"] %>
    <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page9/Chrome_users_log_in_bootstrap.png",
                          :width => "90%",
                          :class => "hover_img textbook-title-img"),
                "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page9/Chrome_users_log_in_bootstrap.png",
                :target => ["_blank"] %>
    <hr class="red-hr">
    <strong><li>在<a href="/zh-CN/mugcups/css#title2-3" target="_blank">navigation-bar</a>追加移动到登入注册网页的<a href="/zh-CN/mugcups/5#title1-2-2" target="_blank">連結</a></li></strong>
    <br>
    游览列上设定<strong>「<a href="/users/sign_up" target="_blank">登入</a>」跟「<a href="/users/sign_in" target="_blank">注册</a>」</strong>的连接。
    <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page9/Chrome_posts_nav_add_log_in.png",
                          :width => "90%",
                          :class => "hover_img textbook-title-img"),
                "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page9/Chrome_posts_nav_add_log_in.png",
                :target => ["_blank"] %>
  </ul>
  做这个两个设定。
  <hr class="red-hr">
  <%= render "page9/zh-CN/title2_1_1" %>
  <hr class="red-hr">
  <%= render "page9/zh-CN/title2_1_2" %>
</h4>