<h2 class="textbook-section-title" id="title2"><strong>2 : 登入机能</strong></h2>
<h4 id="chapter9-2">
devise的导入也完了，接着设定登入机能吧！
<hr class="red-hr">
  <strong><u>一起点击「Command」跟「c」</u>停止，用「<u>rails s</u>」打开的服务器之后，再打入<u>「rails s」</u>吧。</strong>
  <br>
  <u>这样编辑好的內容会适用在网页上。</u>
  <br><br><br>
  <p class="alert alert-success">
  <i class="fa fa-windows color-blue"></i>　<strong>使用Windows的话，
  <br>
  　<u>一起点击「ctrl」跟「c」</u>停止，用「<u>rails s</u>」打开的服务器之后，再打入<u>「rails s」</u>吧。</strong>
  </p>
  <br>
  做完了之后，打开「<a href="http://0.0.0.0:3000/users/sign_up" target="_blank"><strong>0.0.0.0:3000/users/sign_up</strong></a>」吧！
  <br>
  <small>
    <i class="fa fa-windows color-blue"></i>　使用Windows的话打开「<a href="http://localhost:3000/users/sign_up" target="_blank"><strong>localhost:3000/users/sign_up</strong></a>」吧。
  </small>
  <br><br>
<i class="fa fa-arrow-right"></i>　<strong><u>这个是注册的网页。</u></strong>
<%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page9/Chrome_users_sign_up_before.png",
                      :width => "90%",
                      :class => "hover_img textbook-title-img"),
            "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page9/Chrome_users_sign_up_before.png",
            :target => ["_blank"] %>
<br>
接着打开「<a href="http://0.0.0.0:3000/users/sign_in" target="_blank"><strong>0.0.0.0:3000/users/sign_in</strong></a>」吧！
  <br>
  <small>
    <i class="fa fa-windows color-blue"></i>　使用Windows的话，打开「<a href="http://localhost:3000/users/sign_in" target="_blank"><strong>localhost:3000/users/sign_in</strong></a>」吧。
  </small>
  <br><br>
<i class="fa fa-arrow-right"></i>　<strong><u>这个是登入的网页。</u></strong>
<%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page9/Chrome_users_log_in_before.png",
                      :width => "90%",
                      :class => "hover_img textbook-title-img"),
            "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page9/Chrome_users_log_in_before.png",
            :target => ["_blank"] %>
<hr>
<%= render "page9/zh-CN/title2_1" %>
<hr>
<%= render "page9/zh-CN/title2_2" %>
<hr>
<%= render "page9/zh-CN/title2_3" %>
</h4>