<% provide :title, "ホームページとは？" %>
<div class="row">
  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12">
    <div class="textbook-area">
      <div class="textbook-area-inner fadeIn wow">
        <div class="textbook-title">
          <h1><strong>ホームページとは？</strong></h1>
        </div>
        <h4><u><a href="/pages/0" class="text-left ">前の章：はじめに</a></u></h4>
        <a href="">
        <%= image_tag "header/header3.jpg",
                      :width => "90%",
                      :class => "textbook-title-img hover_img" %>
        </a>
        <br>
          <h2 class="textbook-section-title" id="title1"><strong>1 : ホームページの謎</strong></h2>
          <h4>
          日頃使っているホームページ。それがどのようにして動いているか分かりますか？
          <hr>
          <ul>
            <li>投稿した文章はどのようにして表示されているのか？</li>
            <li>メッセージアプリで送った画像はどこにあるのか？</li>
            <li>そもそもホームページを作ることでなにができるのか？</li>
          </ul>
          <hr>
          分からないことは山のようにあると思います。
          <br>
          <br>
          ですが、ホームページでやっていることは<strong class="remarkable">２つ</strong>しかありません。
          <br>
          それは、<strong class="remarkable">データの表示・保存</strong>です。
          </h4>
          <br>
          <h2 class="textbook-section-title" id="title2"><strong>2 : Facebookの仕組み</strong></h2>
          <h4>
          Facebookを例に説明しましょう。
          <hr>
          <p><i class="fa fa-tags color-red"></i>　<strong>データの表示</strong></p>
          ホームページのやっていることの一つに、データをどのように画面を表示させるのかということがあります。
          <br><br>
          Facebookは大体このようになっていると思います。
          <br>
          <%= image_tag "page1/FB1.png",
                        :width => "90%",
                        :class => "textbook-title-img hover_img" %>
          <br>
          このページの
          <br>
          Google Chrome を使用している場合は、
          <br>
          上のバーの<strong class="little-remarkable color-blue">「View > Developer > ViewSource」</strong>を選択してみて下さい。(下の画像を参考にしてみて下さい)
          <%= image_tag "page1/Chrome_View_Developer_ViewSource.png",
                        :width => "90%",
                        :class => "textbook-title-img hover_img" %>
          <br>
          下のようなウィンドウが表示されます。
          <%= image_tag "page1/FB_Code.png",
                        :width => "90%",
                        :class => "textbook-title-img hover_img" %>
          </h4>
          <h2 class="textbook-section-title" id="title3"><strong>3 : データの保存</strong></h2>
          <h4>
          </h4>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xl-12">
    <br>
    <div id="slide-bar" class="clear-fix">
      <div class="list-group nomargin">
        <a class="list-group-item disabled"><h4>ホームページとは？</h4></a>
        <a href="#title1" class="list-group-item">1 : ホームページの謎</a>
        <a href="#title2" class="list-group-item">2 : Facebookの仕組み</a>
        <a href="#title3" class="list-group-item">3 : </a>
      </ul>
    </div>
  </div>
</div>
<%= render 'pages/fixedjs' %>