<% provide :title, "ホームページとは？" %>
<div class="row">
  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-xs-12">
    <div class="textbook-area">
      <div class="textbook-area-inner fadeIn wow">
        <div id="title" class="textbook-title">
          <h1><strong>ホームページとは？</strong></h1>
        </div>
        <h4><u><a href="/pages/0" class="text-left ">前の章：はじめに</a></u></h4>
        <a href="">
        <%= image_tag "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/header/header1.jpg",
                      :width => "90%",
                      :class => "textbook-title-img hover_img" %>
        </a>
          <h2 class="textbook-section-title" id="title0"><strong>0 : この章の目的</strong></h2>
          <h4>
          <i class="fa fa-bookmark color-red"></i>　ホームページの仕組みについて大まかな理解を得る。
          </h4>
          <br>
          <h2 class="textbook-section-title" id="title1"><strong>1 : ホームページの謎</strong></h2>
          <h4>
          日頃使っているホームページ。それがどのようにして動いているか分かりますか？
          <hr>
          <ul>
            <li>投稿した文章はどのようにして表示されているのか？</li>
            <li>メッセージアプリで送った画像はどこにあるのか？</li>
            <li>そもそもホームページを作ることでなにができるのか？</li>
          </ul>
          <hr>
          分からないことは山のようにあると思います。
          <br>
          <br>
          ですが、ホームページでやっていることは<strong class="remarkable">２つ</strong>しかありません。
          <br>
          それは、<strong class="remarkable">データの表示・保存</strong>です。
          </h4>
          <br>
          <h2 class="textbook-section-title" id="title2"><strong>2 : Facebookの仕組み</strong></h2>
          <h4>
          <i class="fa fa-star color-blue"></i>　Facebookを例に<strong class="little-remarkable"><u>データの表示と保存</u></strong>を説明していきます。
          <hr>
          <p id="title2-1"><i class="fa fa-tags color-red"></i>　<strong>① : データの表示</strong></p>
          ホームページはデータを表示させています。
          <br>
          ここでは、ホームページがなにで表示されているのか見てみましょう！
          <br><br>
          Facebookのトップページは大体このようになっていると思います。
          <br>
          <%= link_to (image_tag "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page1/FB1.png",
                                 :width => "90%",
                                 :class => "textbook-title-img hover_img"),
                      "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page1/FB1.png",
                      :target=>["_blank"] %>
          <br>
          では、実際にこのページを表示させているものを見てみましょう！
          <hr>
          Google Chrome を使用している場合は、
          <br>
          上のバーの<strong class="little-remarkable color-blue">「View > Developer > ViewSource」</strong>を選択してみて下さい。(下の画像を参考にしてみて下さい)
          <%= link_to (image_tag "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page1/Chrome_View_Developer_ViewSource.png",
                                 :width => "90%",
                                 :class => "textbook-title-img hover_img"),
                      "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page1/Chrome_View_Developer_ViewSource.png",
                      :target=>["_blank"] %>
          <br>
          下のようなウィンドウが表示されると思います。
          <%= link_to (image_tag "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page1/FB_Code.png",
                                 :width => "90%",
                                 :class => "textbook-title-img hover_img"),
                      "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page1/FB_Code.png",
                      :target=>["_blank"] %>
          この長い文字列がページを表示させています。これがページにどのような文字や画像・動画を表示するのかを決めています。
          <br>
          <small>※死ぬほど長いですが、探そうと思えば自分の名前なんかも見つかると思います。</small>
          <br><br>
          上に出てきた文字や画像・動画の表示をさせているものを<strong class="little-remarkable"><u>HTMLファイル</strong></u>と言います。
          <hr>
          <p id="title2-2"><i class="fa fa-tags color-red"></i>　<strong>② : データの保存</strong></p>
          ここまで、ホームページのデータの表示を簡単に説明しました。
          ですがホームページはデータを表示させているだけではありません。
          <br><br>
          例えば<strong> Facebookの投稿 </strong>のように、利用者は自分の情報を発信できるようになっています。ホームページ作成者のデータの表示だけではホームページはできていません。
          <br>
          ホームページは<strong class="little-remarkable color-red">提供者のデータの表示</strong>と<strong class="little-remarkable color-blue">利用者のデータの発信</strong>という相互の情報のやりとりでできています。
          <br><br>
          <strong>では、利用者の発信したデータはどのように処理されるのでしょうか？</strong>
          <hr>
          <i class="fa fa-question-circle color-green"></i>
          <strong class="little-remarkable">利用者の発信した情報はどこに行くのか？</strong>
          <br><br>
          Facebookの投稿を例に見てみましょう。
          <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page1/FB_Post.png",
                                :width => "90%",
                                :class => "textbook-title-img hover_img"),
                      "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page1/FB_Post.png",
                      :target => ["_blank"] %>
          「投稿する」ボタンがクリックされると、その投稿に関する情報が<strong><u>ホームページの機械（サーバー）</u></strong>に送信されます。上の投稿の画面で言うと、<span class="color-red">「ユーザーは山田太郎、内容はHello World、場所は東京都新宿」</span>などなど・・・
          <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page1/FB_Save_Data_Before.png",
                                :width => "90%",
                                :class => "textbook-title-img hover_img"),
                      "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page1/FB_Save_Data_Before.png",
                      :target => ["_blank"] %>
          こうやって送信されたデータはどうなるのでしょうか？
          <br>
          送信されたデータは、ホームページの機械（サーバー）の中にある<strong><u>情報を保存するExcelの表のようなもの（データベース）</u></strong>に保存されます。
          <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page1/FB_Save_Data_After.png",
                                :width => "90%",
                                :class => "textbook-title-img hover_img"),
                      "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page1/FB_Save_Data_After.png",
                      :target => ["_blank"] %>
          このようにして、ユーザーが発信した情報はホームページの機械（サーバー）の中にあるExcelの表（データベース）に保存されます。
          <br>
          発信され保存された情報が表示されることでFacebookではタイムラインが、Twitterではツイートが表示されます。
          <br>
          <small>※ここで保存されたデータは、更新することも削除することもできます。</small>
          </h4>
          <br>
          <h2 class="textbook-section-title" id="title3"><strong>3 : まとめ</strong></h2>
          <h4>
          <i class="fa fa-star color-blue"></i> ホームページが行っていることはデータの表示と保存だけ
          <br><br>
          <i class="fa fa-star color-blue"></i> 提供者のデータ表示と利用者が発信した情報の保存によって、提供者・利用者の双方間のデータのやりとりが行われている。
          </h4>
          <hr>
          <h4 class="little-remarkable">
          <strong>
            次の章でホームページを作るのに使うソフトウェア、Ruby on Rails を説明していきます。
          </strong>
          </h4>
          <br>
          <div class="next-page">
            <a href="/pages/2" class="btn btn-primary">次の章に進む</a>
          </div>
          <br>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 hidden-xs">
    <br>
    <div id="slide-bar" class="clear-fix">
      <div class="list-group nomargin">
        <a href="#title" class="list-group-item list-title"><h4>ホームページとは？</h4></a>
        <a href="#title0" class="list-group-item">0 : この章の目的</a>
        <a href="#title1" class="list-group-item">1 : ホームページの謎</a>
        <a href="#title2" class="list-group-item">2 : Facebookの仕組み</a>
        <a href="#title2-1" class="list-group-item"><small>　① : データの表示</small></a>
        <a href="#title2-2" class="list-group-item"><small>　② : データの保存</small></a>
        <a href="#title3" class="list-group-item">3 : まとめ</a>
      </ul>
    </div>
  </div>
</div>
<%= render 'pages/fixedjs' %>