<% provide :title, "Ruby on Rails 的基礎" %>
<div class="container">
  <div class="row">
    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-xs-12">
      <div class="textbook-area">
        <div class="textbook-area-inner fadeIn wow">
          <div id="title" class="textbook-title">
            <h1><strong>2 : Ruby on Rails 的基础</strong></h1>
          </div>
          <h4><u><a href="/zh-CN/mugcups/1" class="text-left ">上章：什么是网路？</a></u></h4>
          <%= image_tag "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/header/header2.jpg",
                        :width => "90%",
                        :class => "textbook-title-img hover_img" %>
          <%= render "page2/zh-CN/title0" %>
          <br>
          <%= render "page2/zh-CN/title1" %>
          <br><br>
          <%= render "page2/zh-CN/title2" %>
          <br>
          <div class="next-page">
            <a href="/zh-CN/mugcups/3" class="btn btn-primary">下章</a>
          </div>
          <br>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 hidden-xs">
      <br>
      <div id="slide-bar" class="clear-fix">
      <strong>
        <div class="list-group nomargin">
          <a href="#title" class="list-group-item list-title"><h5>Ruby on Rails 的基础</h5></a>
          <a href="#title0" class="list-group-item">0 : 这个章的目的</a>
          <a href="#title1" class="list-group-item">1 : Ruby on Rails </a>
          <a href="#title1-1" class="list-group-item"><small>　① : Ruby on Rails的网页</small></a>
          <a href="#title1-2" class="list-group-item"><small>　② : Ruby on Rails的资料</small></a>
          <a href="#title1-2-1" class="list-group-item"><small>　　⑴ : 作资料库</small></a>
          <a href="#title1-2-2" class="list-group-item"><small>　　⑵ : 资料的保存</small></a>
          <a href="#title1-3" class="list-group-item"><small>　③ : 总结</small></a>
          <a href="#title2" class="list-group-item">2 : Rails的准备</a>
          <a href="#title2-1" class="list-group-item"><small>　① : terminal</small></a>
          <a href="#title2-2" class="list-group-item"><small>　② : Ruby on Rails 的安装</small></a>
          <a href="#title2-3" class="list-group-item"><small>　③ : Sublime Text 的安裝</small></a>
          <a href="#title2-4" class="list-group-item"><small>　④ : MySQL 的安裝</small></a>
          <a href="#title2-5" class="list-group-item"><small>　⑤ : Sequel Pro 的安裝</small></a>
        </div>
      </strong>
      </div>
    </div>
  </div>
</div>
<%= render 'pages/fixedjs' %>