<% provide :title, "Ruby on Rails を触ってみよう！" %>
<div class="row">
  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-xs-12">
    <div class="textbook-area">
      <div class="textbook-area-inner fadeIn wow">
        <div id="title" class="textbook-title">
          <h1><strong>Ruby on Rails でページを作ろう</strong></h1>
        </div>
        <h4><u><a href="/pages/2" class="text-left ">前の章：Ruby on Rails の基本</a></u></h4>
        <a href="">
        <%= image_tag "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/header/header3.jpg",
                      :width => "90%",
                      :class => "textbook-title-img hover_img" %>
        </a>
        <h2 class="textbook-section-title" id="title0"><strong>0 : この章の目的</strong></h2>
        <h4>
        <i class="fa fa-bookmark color-red"></i>　HTMLの記述の方法とRailsの雛形ホームページの作り方を学び、Railsでページを作ってみる。
        </h4>
        <br>
        <h2 class="textbook-section-title" id="title1"><strong>1 : HTMLの基本</strong></h2>
        <h4>
          この章から手を動かながらホームページの作成をしてみましょう！
          <br>
          この章では実際に<strong class="little-remarkable"><u>ページを表示</u></strong>させるところまでやっていきます。（データの操作などは次の章からやりましょう）
          <br><br>
          <i class="fa fa-question-circle color-green"></i>　<strong>さて、ホームページはなにで表示されているのでしょうか？</strong>
          <hr>
          <a href="/pages/1#title2-1">第１章</a>でも説明しましたが、<strong>HTMLファイル</strong>という文字列でページの表示の方法が決められています。
          <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page1/FB_Code.png",
                                :width => "90%",
                                :class => "hover_img textbook-title-img"),
                      "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page1/FB_Code.png",
                      :target => ["_blank"] %>
          これはFacebookトップページの長い長いHTMLファイルですが、この文字列がどのようにページを表示させるかを決めています。
          <br>
          <br>
          FacebookのページのHTMLファイルは長いですが、<u>簡単なページならもっと短く書くこともできます。</u>
          <br>
          <strong>早速、ページを作ってみましょう！</strong>
          <hr class="red-hr">
          <p id="title1-1"><i class="fa fa-tags color-red"></i>　<strong>① : 簡単なページを作ろう！</strong></p>
          <br>
          まずは、FinderでDesktop内に<strong class="little-remarkable"><u>「rails_project」</u></strong>というフォルダを作ってください。
          <br>
          <i class="fa fa-exclamation color-red"></i>　<strong class="color-red">これから作るファイルはrails_projectに保存して下さい。</strong>
          <%= link_to image_tag("page3/Finder_mkdir_rails_project.png",
                                :width => "90%",
                                :class => "hover_img textbook-title-img"),
                      "/assets/page3/Finder_mkdir_rails_project.png",
                      :target => ["_blank"] %>
          <hr class="red-hr">
          前の章でインストールした<strong class="little-remarkable"><u>Sublime Text</u></strong>を使って、HTMLファイルを作っていきます。
          <br>
          <small>※　場所が分からなくなったら、右上の虫眼鏡マークをクリックして「Sublime Text」と入力して探してみましょう</small>
          <br>
          <br>
          このSublime Textで、HTMLファイルやRails設定ファイルを<strong>自分の表示させたいように設定していきます</strong>。
          <hr class="red-hr">
          まずは、Sublime Textを開いてみましょう。下の手順に従い開いてみて下さい。
          <%= link_to image_tag("page3/Sublime_Text_New_Window.png",
                                :width => "90%",
                                :class => "hover_img textbook-title-img"),
                      "/assets/page3/Sublime_Text_New_Window.png",
                      :target => ["_blank"] %>
          下のようなウィンドウが開けたでしょうか？
          <%= link_to image_tag("page3/Window_Sublime_Text.png",
                                :width => "90%",
                                :class => "hover_img textbook-title-img"),
                      "/assets/page3/Window_Sublime_Text.png",
                      :target => ["_blank"] %>
          ウィンドウは出てきたら、<strong class="color-blue">「File > Save」</strong>をクリックして下さい。
          <%= link_to image_tag("page3/Sublime_Text_Save.png",
                                :width => "90%",
                                :class => "hover_img textbook-title-img"),
                      "/assets/page3/Sublime_Text_Save.png",
                      :target => ["_blank"] %>
          ウィンドウが出てきたら、下のように選択してファイルを保存してください。
          <%= link_to image_tag("page3/Sublime_Text_Save_After.png",
                                :width => "90%",
                                :class => "hover_img textbook-title-img"),
                      "/assets/page3/Sublime_Text_Save_After.png",
                      :target => ["_blank"] %>
          Finderのrails_projectフォルダを確認すると、sample.htmlが作成されていることを確認できると思います。
          <%= link_to image_tag("page3/Finder_sample_html.png",
                                :width => "90%",
                                :class => "hover_img textbook-title-img"),
                      "/assets/page3/Finder_sample_html.png",
                      :target => ["_blank"] %>
          <hr>
          では実際に手を動かして、ページを作ってみましょう！
          <br>
          作成したファイルに下の文字列を入力してみて下さい。(<strong>左の数字は行数なので無視して下さい。</strong>)
          <br>
          <strong class="remarkable">また設定するファイルは半角英数字でないと動きませんので、日本語以外の部分は<span class="color-red">半角英数字</span>で入力して下さい。</strong>
          <hr class="red-hr">
          <i class="fa fa-file color-red"></i>　<strong class="font-15">sample.html</strong>
<table class="highlight">
<tr><td class='code-line-no text-center'>1<br>2<br>3<br>4<br>5<br>6<br>7<br>8<br>9<br></td><td class='code-content'><span class='code-line'>&lt;!DOCTYPE html&gt;<br></span><span class='code-line'>&lt;<span class='word-red'>html</span>&gt;<br></span><span class='code-line'>&lt;<span class='word-red'>head</span>&gt;<br></span><span class='code-line'>  &lt;<span class='word-red'>meta </span><span class='word-green'>charset</span>=<span class='word-yellow'>"utf-8"</span>&gt;<br></span><span class='code-line'>&lt;/<span class='word-red'>head</span>&gt;<br></span><span class='code-line'>&lt;<span class='word-red'>body</span>&gt;<br></span><span class='code-line'>  &lt;<span class='word-red'>p</span>&gt;テスト&lt;/<span class='word-red'>p</span>&gt;<br></span><span class='code-line'>&lt;/<span class='word-red'>body</span>&gt;<br></span><span class='code-line'>&lt;/<span class='word-red'>html</span>&gt;<br></span></td></tr>
</table>
          <%= link_to image_tag("page3/Sublime_Text_sample_html1.png",
                                :width => "90%",
                                :class => "hover_img textbook-title-img"),
                      "/assets/page3/Sublime_Text_sample_html1.png",
                      :target => ["_blank"] %>
          <hr class="red-hr">
          <strong class="remarkable">入力が終わったら、<span class="color-red">「Command」と「s」</span>を一緒に押してください。<br>これをしないと内容は変更されません。</strong>
          <hr class="red-hr">
          Finderでrails_projectのフォルダを開き、それを下の手順で開いてみて下さい。
          <%= link_to image_tag("page3/Window_Open_With_Chrome.png",
                                :width => "90%",
                                :class => "hover_img textbook-title-img"),
                      "/assets/page3/Window_Open_With_Chrome.png",
                      :target => ["_blank"] %>
          下のようなページが表示されましたでしょうか？
          <%= link_to image_tag("page3/Chrome_sample_html.png",
                                :width => "90%",
                                :class => "hover_img textbook-title-img"),
                      "/assets/page3/Chrome_sample_html.png",
                      :target => ["_blank"] %>
          <br>
          <strong class="remarkable color-red">「テスト」</strong>とだけ表示されていますね。
          <br>
          長い文章を打ち込んだ（もしくはコピペした）のに、表示されたのがこれだけでは少し悲しいですね...
          <br>
          <strong>それも実はホームページの表示をさせているのは、「<i>&lt;body&gt;</i>」と「<i>&lt;/body&gt;</i>」で囲まれた「<i>&lt;p&gt;</i>テスト<i>&lt;/p&gt;</i>」の部分だけだからです。</strong>
          <br><br>
          <i class="fa fa-exclamation color-red"></i>　なのでこれからは、<u>「<i>&lt;body&gt;</i>」と「<i>&lt;/body&gt;</i>」で囲まれた部分以外は基本的にコピペして貼り付ければ問題ないです</u>
          <br><br>
          <i class="fa fa-file color-red"></i>　<strong class="font-15">sample.html</strong>
          <br>
<table class="highlight">
<tr><td class='code-line-no text-center'>1<br>2<br>3<br>4<br>5<br>6<br>7<br>8<br>9<br></td><td class='code-content'><span class='code-line'>&lt;!DOCTYPE html&gt;<br></span><span class='code-line'>&lt;<span class='word-red'>html</span>&gt;<br></span><span class='code-line'>&lt;<span class='word-red'>head</span>&gt;<br></span><span class='code-line'>  &lt;<span class='word-red'>meta </span><span class='word-green'>charset</span>=<span class='word-yellow'>"utf-8"</span>&gt;<br></span><span class='code-line'>&lt;/<span class='word-red'>head</span>&gt;<br></span><span class='code-line'>&lt;<span class='word-red'>body</span>&gt;<br></span><span class='code-line'>  &lt;<span class='word-red'>p</span>&gt;テスト&lt;/<span class='word-red'>p</span>&gt;<br></span><span class='code-line'>&lt;/<span class='word-red'>body</span>&gt;<br></span><span class='code-line'>&lt;/<span class='word-red'>html</span>&gt;<br></span></td></tr>
</table>
          <br>
          <strong>「<i>&lt;p&gt;</i>」と「<i>&lt;/p&gt;</i>」で囲まれた部分に入力された文字列</strong>がホームページで表示されます。
          <br>
          <i><u>&lt;p&gt;</u></i>は普通の大きさの文字を出しますが、<i><u>&lt;h1&gt;</u></i>で大きい字・<i><u>&lt;h2&gt;</u></i>でまぁまぁ大きい字・<i><u>&lt;h3&gt;</u></i>で少し大きい字・<i><u>&lt;img&gt;</u></i>で画像表示・<i><u>&lt;br&gt;</u></i>で改行など...たくさんの表記の仕方があります。
          <br>
          <a href="http://techacademy.jp/magazine/5827" target="_blank">→<i>&lt;img&gt;</i>画像の貼り方</a>
          <hr class="red-hr">
          <strong>興味があったら
          <br>
          <a href="http://dotinstall.com/lessons/basic_html_v3">HTML入門 (全24回)</a>とか
          <br>
          <a href="http://techacademy.jp/magazine/4843" target="_blank">今さら聞けない！HTMLとは【初心者向け】</a>とか
          <br>
          <a href="http://techacademy.jp/magazine/4808" target="_blank">まずはここから！HTMLの書き方【初心者向け】</a>なんかを参考にして下さい</strong>
          <hr class="red-hr">
          <i class="fa fa-star color-blue"></i>　ホームページを作る際に表示させる文章・画像などは<strong><u>「<i>&lt;body&gt;</i>」と「<i>&lt;/body&gt;</i>」で囲まれた部分</u></strong>に記述される。
          <br><br>
          <i class="fa fa-question-circle color-green"></i>　<strong>sample.htmlファイル内の、<i>&lt;p&gt;</i>の代わりに<i>&lt;h1&gt;</i>を使ってページを表示させてみよう！</strong>
          <br>
          ファイルを閉じてしまったら<a href="/pages/how_to_open" target="_blank">ファイルの開き方</a>をみて下さい
          <br>
          <small>※　設定の変更が終わったら、「Command」と「s」を一緒に押して変更を保存して下さい。変更が保存されないと結果は反映されません。</small>
          <hr>
          <p id="title1-2"><i class="fa fa-tags color-red"></i>　<strong>② : ページを装飾しよう！</strong></p>
          ここまででページの表示の仕方を説明しました。
          <br>
          <strong class="little-remarkable">ですが、正直言って思ったよりもダサくって失望した人も多いのではないかと思います。</strong>
          <hr class="red-hr">
          それもそのはずです。
          <br>
          HTMLは単に文章や画像などのデータを表示させるだけで、<strong>どのように表示させるかは別の設定ファイルを使わなければならないからです。</strong>
          <br>
          そのファイルのことを、<strong class="little-remarkable color-red"><u>CSSファイル</u></strong>と言います。
          <br><br>
          <strong>早速、このCSSファイルを作って、少しだけ装飾してみましょう！</strong>
          <hr>
          まずは、「rails_project」のフォルダに「style.css」というファイルを保存してみましょう！
          <br>
          <small>※　「style.css」という名前にしたのは、この名前がよく使われているからというだけであって深い理由はありません。</small>
          <br>
          ファイルの保存の仕方が分からなくなったら、<a href="/pages/how_to_save" target="_blank">ここを参照。</a>
          <br><br>
          下のように表示されたでしょうか？
          <%= link_to image_tag("page3/Window_Style_Css.png",
                                :width => "90%",
                                :class => "hover_img textbook-title-img"),
                      "/assets/page3/Window_Style_Css.png",
                      :target => ["_blank"] %>
          Finderには、下のようにStyle.cssとSample.htmlが入っているでしょうか？
          <%= link_to image_tag("page3/Finder_rails_project.png",
                                :width => "90%",
                                :class => "hover_img textbook-title-img"),
                      "/assets/page3/Finder_rails_project.png",
                      :target => ["_blank"] %>
          ファイルが保存できたら、下のように内容を変更して下さい。（ファイルの開き方は<a href="/pages/how_to_open" target="_blank">こちら</a>から）
          <hr class="red-hr">
          <i class="fa fa-file color-red"></i>　<strong class="font-15">style.css</strong>
<table class="highlight">
<tr><td class='code-line-no text-center'>1<br>2<br>3<br></td><td class='code-content'><span class='code-line'><span class='word-red'>h1</span>{<br></span><span class='code-line'>  <span class='word-blue'>color</span>:<span class='word-blue'>red</span>;<br></span><span class='code-line'>}<br></span></td></tr>
</table>
<small>※　半角英数で入力してください</small>
          <%= link_to image_tag("page3/Sublime_Text_Style_Css.png",
                                :width => "90%",
                                :class => "hover_img textbook-title-img"),
                      "/assets/page3/Sublime_Text_Style_Css.png",
                      :target => ["_blank"] %>
          <i class="fa fa-file color-red"></i>　<strong class="font-15">sample.html（5,8行目を変更/コピペして下さい）</strong>
<table class="highlight">
<tr><td class='code-line-no text-center'>1<br>2<br>3<br>4<br>5<br>6<br>7<br>8<br>9<br>10<br></td><td class='code-content'><span class='code-line'>&lt;!DOCTYPE html&gt;<br></span><span class='code-line'>&lt;<span class='word-red'>html</span>&gt;<br></span><span class='code-line'>&lt;<span class='word-red'>head</span>&gt;<br></span><span class='code-line'>  &lt;<span class='word-red'>meta </span><span class='word-green'>charset</span>=<span class='word-yellow'>"utf-8"</span>&gt;<br></span><span class='code-line remarkable-code'>  &lt;<span class='word-red'>link </span><span class='word-green'>rel</span>=<span class='word-yellow'>"stylesheet"</span> <span class='word-green'>href</span>=<span class='word-yellow'>"style.css"</span> <span class='word-green'>type</span>=<span class='word-yellow'>"text/css"</span> /&gt;<br></span><span class='code-line'>&lt;/<span class='word-red'>head</span>&gt;<br></span><span class='code-line'>&lt;<span class='word-red'>body</span>&gt;<br></span><span class='code-line remarkable-code'>  &lt;<span class='word-red'>h1</span>&gt;テスト&lt;/<span class='word-red'>h1</span>&gt;<br></span><span class='code-line'>&lt;/<span class='word-red'>body</span>&gt;<br></span><span class='code-line'>&lt;/<span class='word-red'>html</span>&gt;<br></span></td></tr>
</table>
<small>※　半角英数で入力してください</small>
<br>
          文字列の変更ができたら、<strong class="little-remarkable color-red"><u>「Command」と「s」</u></strong>を一緒に押して内容を保存しましょう！
          <hr class="red-hr">
          変更が完了したら、下の手順にしたがって「sample.html」をブラウザで開いてみましょう！
          <%= link_to image_tag("page3/Window_Open_With_Chrome.png",
                                :width => "90%",
                                :class => "hover_img textbook-title-img"),
                      "/assets/page3/Window_Open_With_Chrome.png",
                      :target => ["_blank"] %>
          下のように表示されましたか？
          <%= link_to image_tag("page3/Chrome_Sample_html2.png",
                                :width => "90%",
                                :class => "hover_img textbook-title-img"),
                      "/assets/page3/Chrome_Sample_html2.png",
                      :target => ["_blank"] %>
          文字が赤色に変わりましたね。<strong>まだ簡単なものでしかないですが、このような装飾をCSSファイルで設定します。</strong>
          <br>
          では、変更した内容を説明していきます！
          <hr>
          まずは、変更を加えた<strong class="little-remarkable"><u>htmlファイル</u></strong>から説明しましょう。
          <br><br>
          <i class="fa fa-file color-red"></i>　<strong>sample.html</strong>
<table class="highlight">
<tr><td class='code-line-no text-center'>1<br>2<br>3<br>4<br>5<br>6<br>7<br>8<br>9<br>10<br></td><td class='code-content'><span class='code-line'>&lt;!DOCTYPE html&gt;<br></span><span class='code-line'>&lt;<span class='word-red'>html</span>&gt;<br></span><span class='code-line'>&lt;<span class='word-red'>head</span>&gt;<br></span><span class='code-line'>  &lt;<span class='word-red'>meta </span><span class='word-green'>charset</span>=<span class='word-yellow'>"utf-8"</span>&gt;<br></span><span class='code-line'>  &lt;<span class='word-red'>link </span><span class='word-green'>rel</span>=<span class='word-yellow'>"stylesheet"</span> <span class='word-green'>href</span>=<span class='word-yellow'>"style.css"</span> <span class='word-green'>type</span>=<span class='word-yellow'>"text/css"</span> /&gt;<br></span><span class='code-line'>&lt;/<span class='word-red'>head</span>&gt;<br></span><span class='code-line'>&lt;<span class='word-red'>body</span>&gt;<br></span><span class='code-line'>  &lt;<span class='word-red'>h1</span>&gt;テスト&lt;/<span class='word-red'>h1</span>&gt;<br></span><span class='code-line'>&lt;/<span class='word-red'>body</span>&gt;<br></span><span class='code-line'>&lt;/<span class='word-red'>html</span>&gt;<br></span></td></tr>
</table>
<br>
        <strong class="little-remarkable color-red">「&lt;body&gt;と&lt;/body&gt;の間以外は基本的にコピペでいい！」</strong>と言ったのに早速例外が出てきましたね笑
        <br>
        <strong>この１行で、装飾に「style.css」というCSSファイルを使うことを設定しています。</strong>
        <br>
        中に「style.css」という名前が入っているのが見えますね。ここでどのCSSファイルを使い装飾するかを決めています。<u>使う時はCSSファイル名以外の部分はコピペで、<strong class="little-remarkable"><i>&lt;head&gt;</i>と<i>&lt;/head&gt;</i>の間に書き加える</strong>ことで適用されます。</u>
        <hr class="red-hr">
        例えば「style2.css」というCSSファイルを指定する時は、
        <br>
<table class="highlight">
<tr><td class='code-line-no text-center'>1<br></td><td class='code-content'><span class='code-line'>  &lt;<span class='word-red'>link </span><span class='word-green'>rel</span>=<span class='word-yellow'>"stylesheet"</span> <span class='word-green'>href</span>=<span class='word-yellow'>"style2.css"</span> <span class='word-green'>type</span>=<span class='word-yellow'>"text/css"</span> /&gt;<br></span></td></tr>
</table>
        を<i>&lt;head&gt;</i>と<i>&lt;/head&gt;</i>の間に記述します。
        <strong></strong>
        <br><br>
        <strong class="remarkable">CSSファイルで設定をする時は、この１行を付け加え忘れないようにしましょう！</strong>
        <hr>
        では、装飾をする<strong class="little-remarkable"><u>CSSファイル</u></strong>について説明しましょう。
        <br><br>
        <i class="fa fa-file color-red"></i>　<strong>style.css</strong>
<table class="highlight">
<tr><td class='code-line-no text-center'>1<br>2<br>3<br></td><td class='code-content'><span class='code-line'><span class='word-red'>h1</span>{<br></span><span class='code-line'>  <span class='word-blue'>color</span>:<span class='word-blue'>red</span>;<br></span><span class='code-line'>}<br></span></td></tr>
</table>
<br>
        装飾をするCSSファイルは
        <pre class="japanese-code">
装飾をしたい部分の名前{
  装飾の方法
}</pre>
        のように設定します。
        <hr class="red-hr">
        装飾の方法の一つである色の変更は、
<pre>
color:色の名前;
</pre>
        と書いて設定します。
        <br><br>
        この場合は、
<table class="highlight">
<tr><td class='code-line-no text-center'>1<br></td><td class='code-content'><span class='code-line'>&lt;<span class='word-red'>h1</span>&gt;テスト&lt;/<span class='word-red'>h1</span>&gt;<br></span></td></tr>
</table>
        の行の<i>&lt;h1&gt;</i>と<i>&lt;/h1&gt;</i>の間を指定して、赤色にする設定をしています。
        <br><br>
        <i class="fa fa-exclamation color-red"></i>　試しに別の色に変えてみましょう！
        <br><br>
<i class="fa fa-file color-red"></i>　<strong>style.css</strong>（半角英数で入力して下さい）
<table class="highlight">
<tr><td class='code-line-no text-center'>1<br>2<br>3<br></td><td class='code-content'><span class='code-line'><span class='word-red'>h1</span>{<br></span><span class='code-line remarkable-code'>  <span class='word-blue'>color</span>:<span class='word-blue'>blue</span>;<br></span><span class='code-line'>}<br></span></td></tr>
</table>
        <small>※　変更ができたら「Command」と「s」を一緒に押して、内容を保存しましょう。</small>
        <br>
        終わったらページを再度読み込んでみて下さい。内容は変わったでしょうか？
        <br>
        （ブラウザでの開き方は<a href="/assets/page3/Window_Open_With_Chrome.png" target="_blank">こちら</a>から）
        <hr class="red-hr">
        ここまでで色を変更する設定をしてみましたが、<strong class="little-remarkable"><u>装飾の方法はこれだけではありません。</u></strong>
        <br>
        他にも<u>文字の大きさを変える設定や、背景色を変える設定</u>などがあります。下のようにファイルの設定を変更してみましょう！
        <br><br>
<i class="fa fa-file color-red"></i>　<strong>style.css</strong>（半角英数で入力して下さい）
<table class="highlight">
<tr><td class='code-line-no text-center'>1<br>2<br>3<br>4<br>5<br></td><td class='code-content'><span class='code-line'><span class='word-red'>h1</span>{<br></span><span class='code-line'>  <span class='word-blue'>color</span>:<span class='word-blue'>blue</span>;<br></span><span class='code-line remarkable-code'>  <span class='word-blue'>font-size</span>:<span class='word-blue'><span class='word-purple'>50</span><span class='word-red'>px</span></span>;<br></span><span class='code-line remarkable-code'>  <span class='word-blue'>background-color</span>:<span class='word-blue'>yellow</span>;<br></span><span class='code-line'>}<br></span></td></tr>
</table>
        <small>※　「Command」と「s」を押して内容を保存しましょう</small>
        <br><br>
        終わったら再度読み込んでみましょう。下のように表示されたでしょうか？
        <br>
        （ブラウザでの開き方は<a href="/assets/page3/Window_Open_With_Chrome.png" target="_blank">こちら</a>から）
        <%= link_to image_tag("page3/Chrome_Sample_html3.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "/assets/page3/Chrome_Sample_html3.png",
                    :target => ["_blank"] %>
        文字の大きさは、
<pre>
font-size:文字の大きさpx;
</pre>
        と書いて設定します。
        <br>
        pxはコンピューター内の大きさの単位なので、適当に変更して表示させていきながら確認するのがいいでしょう。
        <br><br>
        背景色は、
<pre>
background-color:色の名前;
</pre>
        と書いて設定します。
        <br><br>
        <strong class="little-remarkable">装飾は他にもたくさんありますので、興味があったら調べてみましょう！</strong>
        <hr>
        ここまでで、ページの装飾の方法について説明しました。
        <br><br>
        今の方法のままでも装飾はできますが、これだと<strong><i>&lt;h1&gt;</i>は色が青/文字の大きさが50px/背景色が黄色の文字しか表示できません。</strong>
        <br>
        文字などの装飾はできても、そのバラエティが少なければあまり使い勝手は良くないですよね。
        <br>
        なので<strong class="little-remarkable">CSSファイルではページの装飾に名前をつけて、それをhtmlファイルの中身と関連づけさせることができます。</strong>
        <hr class="red-hr">
        <strong class="remarkable">早速、試してみましょう！</strong>
        <br><br>
        ファイルの開き方は<a href="/pages/how_to_open" target="_blank">こちらから</a>
        <br>
        <i class="fa fa-file color-red"></i>　<strong>sample.html</strong>（半角英数で入力）
<table class="highlight">
<tr><td class='code-line-no text-center'>1<br>2<br>3<br>4<br>5<br>6<br>7<br>8<br>9<br>10<br>11<br></td><td class='code-content'><span class='code-line'>&lt;!DOCTYPE html&gt;<br></span><span class='code-line'>&lt;<span class='word-red'>html</span>&gt;<br></span><span class='code-line'>&lt;<span class='word-red'>head</span>&gt;<br></span><span class='code-line'>  &lt;<span class='word-red'>meta </span><span class='word-green'>charset</span>=<span class='word-yellow'>"utf-8"</span>&gt;<br></span><span class='code-line'>  &lt;<span class='word-red'>link </span><span class='word-green'>rel</span>=<span class='word-yellow'>"stylesheet"</span> <span class='word-green'>href</span>=<span class='word-yellow'>"style.css"</span> <span class='word-green'>type</span>=<span class='word-yellow'>"text/css"</span> /&gt;<br></span><span class='code-line'>&lt;/<span class='word-red'>head</span>&gt;<br></span><span class='code-line'>&lt;<span class='word-red'>body</span>&gt;<br></span><span class='code-line'>  &lt;<span class='word-red'>h1</span>&gt;テスト&lt;/<span class='word-red'>h1</span>&gt;<br></span><span class='code-line remarkable-code'>  &lt;<span class='word-red'>h1 </span><span class='word-green'>class</span>=<span class='word-yellow'>"title"</span>&gt;テスト&lt;/<span class='word-red'>h1</span>&gt;<br></span><span class='code-line'>&lt;/<span class='word-red'>body</span>&gt;<br></span><span class='code-line'>&lt;/<span class='word-red'>html</span>&gt;<br></span></td></tr>
</table>
<br>
        <i class="fa fa-file color-red"></i>　<strong>style.css</strong>（半角英数で入力/もしくはコピペ）
<table class="highlight">
<tr><td class='code-line-no text-center'>1<br>2<br>3<br>4<br>5<br></td><td class='code-content'><span class='code-line remarkable-code'><span class='word-green'>.title</span>{<br></span><span class='code-line remarkable-code'>  <span class='word-blue'>color</span>:<span class='word-blue'>white</span>;<br></span><span class='code-line remarkable-code'>  <span class='word-blue'>font-size</span>:<span class='word-blue'><span class='word-purple'>30</span><span class='word-red'>px</span></span>;<br></span><span class='code-line remarkable-code'>  <span class='word-blue'>background-color</span>:<span class='word-blue'>black</span>;<br></span><span class='code-line'>}<br></span></td></tr>
</table>
        <small>※　「Command」と「s」を一緒に押して保存して下さい。</small>
        <br><br>
        終わったら再度読み込んでみましょう。下のように表示されたでしょうか？
        <br>
        （ブラウザでの開き方は<a href="/assets/page3/Window_Open_With_Chrome.png" target="_blank">こちら</a>から）
        <%= link_to image_tag("page3/Chrome_Sample_html4.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "/assets/page3/Chrome_Sample_html4.png",
                    :target => ["_blank"] %>
        上がなにも装飾を設定していない<i>&lt;h1&gt;</i>、下が装飾を設定した<i>&lt;/h1&gt;</i>になります。
        <hr class="red-hr">
        CSSファイル内で、
<pre>
.名前{
  装飾の内容
}
</pre>
        と書くことで、<strong>いくつかの装飾の集まりに名前を設定</strong>することができます。
        <br>
        今回の名前は「title」になっていますがこれは適当につけたものなので、自由につけて大丈夫です。
        <br><br>
        htmlファイル内での表示には、
<pre>
class="名前"
</pre>
        を<strong><i>&lt;h1&gt;</i>や<i>&lt;p&gt;</i>などの中に入れる</strong>ことで適用されます。<u>こちらには「.」をつける必要はありません。</u>
        <br>
        ここの名前が、CSSファイルで設定した名前と一致すると装飾は適用されます。
        <br><br>
        <i class="fa fa-question-circle color-green"></i>　<strong>装飾をしなかった上の<i>&lt;h1&gt;</i>とCSSファイルを変更して装飾をしてみよう！</strong>
        <br>
        <small>※　半角英数字での入力と、「Command」と「s」で保存することを忘れずに</small>
        <hr>
        <p id="title1-3"><i class="fa fa-tags color-red"></i>　<strong>③ : まとめ</strong></p>
        <strong>
        ページは文字や画像を表示させるhtmlファイルと、装飾をするCSSファイルでできている。<br>htmlファイルは基本的に<i>&lt;body&gt;</i>と<i>&lt;/body&gt;</i>の中身を、CSSファイルは装飾をする部分を{}で囲った部分を変更することでページ表示の設定をしていく。
        <hr class="red-hr">
        もっと興味がある人は、
        <br>
        <a href="http://dotinstall.com/lessons/basic_css_v3" target="_blank">CSS入門(全23回)</a>とか
        <br>
        <a href="http://techacademy.jp/magazine/4857" target="_blank">今さら聞けない！CSSとは【初心者向け】</a>とか
        <br>
        <a href="http://techacademy.jp/magazine/4872" target="_blank">スタイルシート（CSS）の基本的な書き方【初心者向け】</a>などを参考にしてみて下さい
        </strong>
        </h4>
        <br>
        <h2 class="textbook-section-title" id="title2"><strong>2 : Railsでホームページの雛形を作ろう！</strong></h2>
        <h4>
        ここまでで、<strong class="little-remarkable"><u>htmlとCSSを使ったページの表示</u></strong>の方法を説明しました。
        <br>
        実際のホームページの表示は、この二つの設定ファイルを設定しながらやっていきます。細かい手法などの内容は適宜内容を付け加えていきます。
        <hr class="red-hr">
        <strong class="remarkable">
        この章から実際にRuby on Railsでホームページを作っていきます。
        </strong>
        <br>
        Ruby on Railsでは、<strong class="little-remarkable">出来上がっている雛形に自分で設定を加えていく</strong>ことでホームページを作っていきます。
        <br>
        この章では、<u>Ruby on Railsでホームページの雛形を作り、それを開いてみる</u>部分までをやってみましょう！
        <hr>
        Railsでは、前の章で使った<strong>ターミナル</strong>を使ってホームページの雛形を作ります。
        <br>
        右上にある虫眼鏡マークを押して、「ターミナル」を検索して開きましょう。
        <br><br>
        <i class="fa fa-question-circle color-green"></i>　<strong>前章の復習です。まずはターミナル内でデスクトップの位置に行きましょう。</strong>
        <br>
        　（分からなかったら<a href="/pages/2#title2-1" target="_blank">こちら</a>を参考にして下さい）
        <hr class="red-hr">
        デスクトップまで行けたら、
<pre>
cd rails_project
</pre>
        と入力して「rails_project」に移動しましょう。
        <br>
        <small>※　半角英数字で入力して下さい</small>
        <hr>
        <p id="title2-1"><i class="fa fa-tags color-red"></i>　<strong>① : rails new</strong></p>
        では、Railsでホームページの雛形を作りましょう！
<pre>
rails new myapp -d mysql
</pre>
        と入力して下さい！
        <br>
        <small>※　半角英数字で入力して下さい</small>
        <%= link_to image_tag("page3/Rails_new_myapp_2.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "/assets/page3/Rails_new_myapp_2.png",
                    :target => ["_blank"] %>
        こんな感じに表示されて、
        <%= link_to image_tag("page3/Rails_new_myapp_after.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "/assets/page3/Rails_new_myapp_after.png",
                    :target => ["_blank"] %>
        こんな感じに表示されましたでしょうか？
        <br>
        <strong class="remarkable">これでホームページの雛形は完成しました！</strong>
        <br><br>
        Finderで確認してみましょう。
        <%= link_to image_tag("page3/Finder_myapp.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "/assets/page3/Finder_myapp.png",
                    :target => ["_blank"] %>
        「rails_project」に「myapp」というフォルダができているのが確認できますか？
        <br><br>
        <strong>この「myapp」がホームページの雛形で、中にある設定ファイルを自分の好きな設定に変更していくことでホームページを作っていきます。</strong>
        <hr class="red-hr">
        では、さっきの
<pre>
rails new myapp -d mysql
</pre>
        はなにをしたのでしょうか？
        <br><br>
        これは<strong class="little-remarkable"><u>「myappという名前のホームページの雛形を作れ！（rails new myapp）MySQLというデータベースを使って（-d mysql）」</u></strong>というコンピューターに命令になります。
        <br><br>
        これ以上は説明のしようがないので次にホームページの雛形を作る時は、<pre>rails new ページ名 -d mysql</pre>をターミナルに入力して下さい。
        <hr class="red-hr">
        <i class="fa fa-star color-blue"></i>　<strong>ホームページの雛形を作る時は、ターミナルで「rails new ホームページ名 -d mysql」と入力する。</strong>
        <hr>
        <p id="title2-2"><i class="fa fa-tags color-red"></i>　<strong>② : 雛形の諸設定</strong></p>
        前章では、
<pre>
rails new myapp -d myapp
</pre>
        でホームページの雛形を作りました。
        <br><br>
        でもこれだけではホームページの雛形はまだ完成していません。ターミナルで行う、まだ終わっていない設定があります。
        <br><br>
        その設定は、<u>⑴:ホームページを作るのに必要になるツールの設定と導入　⑵:データベースの用意</u>になります。
        <br>
        <strong>ここではその設定を完了させましょう。</strong>
        <hr class="red-hr">
        <p id="title2-2-1"><i class="fa fa-check-square color-red"></i>　<strong>ツールの設定と導入</strong></p>
        Railsでホームページを作るを作る時は、
        <br><br>
        <p id="title2-2-2"><i class="fa fa-check-square color-red"></i>　<strong>データベースの用意</strong>
        <br><br>
        <hr>
        <p id="title2-3"><i class="fa fa-tags color-red"></i>　<strong>③ : 雛形を開く</strong></p>
        これで雛形は完成しましたが、開けないと本当にできたか分からないですよね？
        <br>
        <strong>ここで出来上がったホームページを開いてみましょう！</strong>
<table class="highlight">
<tr>
<td class='code-line-no text-center'>1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
</td>
<td class='code-content'><span class='code-line'>source <span class='word-yellow'>'https://rubygems.org'</span></span>
<span class='code-line'></span>
<span class='code-line'></span>
<span class='code-line'><span class='word-gray'># Bundle edge Rails instead: gem 'rails', github: 'rails/rails'</span></span>
<span class='code-line'><span class='word-red'>gem </span><span class='word-yellow'>'rails', '4.2.4'</span></span>
<span class='code-line'><span class='word-gray'># Use mysql as the database for Active Record</span></span>
<span class='code-line remarkable-code'><span class='word-red'>gem </span><span class='word-yellow'>'mysql2', '0.3.18'</span></span>
<span class='code-line'><span class='word-gray'># Use SCSS for stylesheets</span></span>
<span class='code-line'><span class='word-red'>gem </span><span class='word-yellow'>'sass-rails', '~> 5.0'</span></span>
<span class='code-line'><span class='word-gray'># Use Uglifier as compressor for JavaScript assets</span></span>
<span class='code-line'><span class='word-red'>gem </span><span class='word-yellow'>'uglifier', '>= 1.3.0'</span></span>
<span class='code-line'><span class='word-gray'># Use CoffeeScript for .coffee assets and views</span></span>
<span class='code-line'><span class='word-red'>gem </span><span class='word-yellow'>'coffee-rails', '~> 4.1.0'</span></span>
<span class='code-line'><span class='word-gray'># See https://github.com/rails/execjs#readme for more supported runtimes</span></span>
<span class='code-line'><span class='word-gray'># gem 'therubyracer', platforms: :ruby</span></span>
<span class='code-line'></span>
<span class='code-line'><span class='word-gray'># Use jquery as the JavaScript library</span></span>
<span class='code-line'><span class='word-red'>gem </span><span class='word-yellow'>'jquery-rails'</span></span>
<span class='code-line'><span class='word-gray'># Turbolinks makes following links in your web application faster. Read more: https://github.com/rails/turbolinks</span></span>
<span class='code-line'><span class='word-red'>gem </span><span class='word-yellow'>'turbolinks'</span></span>
<span class='code-line'><span class='word-gray'># Build JSON APIs with ease. Read more: https://github.com/rails/jbuilder</span></span>
<span class='code-line'><span class='word-red'>gem </span><span class='word-yellow'>'jbuilder', '~> 2.0'</span></span>
<span class='code-line'><span class='word-gray'># bundle exec rake doc:rails generates the API under doc/api.</span></span>
<span class='code-line'><span class='word-red'>gem </span><span class='word-yellow'>'sdoc', '~> 0.4.0'</span>, <span class='word-purple'>group:</span> <span class='word-purple'>:doc</span></span>
<span class='code-line'></span>
<span class='code-line'><span class='word-gray'># Use ActiveModel has_secure_password</span></span>
<span class='code-line'><span class='word-gray'># gem 'bcrypt', '~> 3.1.7'</span></span>
<span class='code-line'></span>
<span class='code-line'><span class='word-gray'># Use Unicorn as the app server</span></span>
<span class='code-line'><span class='word-gray'># gem 'unicorn'</span></span>
<span class='code-line'></span>
<span class='code-line'><span class='word-gray'># Use Capistrano for deployment</span></span>
<span class='code-line'><span class='word-gray'># gem 'capistrano-rails', group: :development</span></span>
<span class='code-line'></span>
<span class='code-line'>group <span class='word-purple'>:development</span>, <span class='word-purple'>:test</span><span class='word-red'> do</span></span>
<span class='code-line'>  <span class='word-gray'># Call 'byebug' anywhere in the code to stop execution and get a debugger console</span></span>
<span class='code-line'>  <span class='word-red'>gem </span><span class='word-yellow'>'byebug'</span></span>
<span class='code-line'><span class='word-red'>end</span></span>
<span class='code-line'></span>
<span class='code-line'>group <span class='word-purple'>:development</span><span class='word-red'> do</span></span>
<span class='code-line'>  <span class='word-gray'># Access an IRB console on exception pages or by using <%= console %> in views</span></span>
<span class='code-line'>  <span class='word-red'>gem </span><span class='word-yellow'>'web-console', '~> 2.0'</span></span>
<span class='code-line'></span>
<span class='code-line'>  <span class='word-gray'># Spring speeds up development by keeping your application running in the background. Read more: https://github.com/rails/spring</span></span>
<span class='code-line'>  <span class='word-red'>gem </span><span class='word-yellow'>'spring'</span></span>
<span class='code-line'><span class='word-red'>end</span></span>
</td>
</tr>
</table>
        </h4>
        <br>
        <div class="next-page">
            <a href="/pages/4" class="btn btn-primary">次の章に進む</a>
          </div>
          <br>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 hidden-xs">
    <br>
    <div id="slide-bar" class="clear-fix">
      <div class="list-group nomargin">
        <a href="#title" class="list-group-item list-title"><h4>Ruby on Railsでページを作ろう！</h4></a>
        <a href="#title0" class="list-group-item">0 : この章の目的</a>
        <a href="#title1" class="list-group-item">1 : HTMLの基本</a>
        <a href="#title1-1" class="list-group-item"><small>　① : 簡単なページを作ろう！</small></a>
        <a href="#title1-2" class="list-group-item"><small>　② : ページを装飾しよう！</small></a>
        <a href="#title1-3" class="list-group-item"><small>　③ : まとめ</small></a>
        <a href="#title2" class="list-group-item">2 : Railsでホームページの雛形を作ろう！</a>
        <a href="#title2-1" class="list-group-item"><small>　① : rails new</small></a>
        <a href="#title2-2" class="list-group-item"><small>　② : 雛形の諸設定</small>
        <a href="#title2-2-1" class="list-group-item"><small>　　⑴ : ツールの設定と導入</small></a>
        <a href="#title2-2-2" class="list-group-item"><small>　　⑵ : データベースの用意</small></a>
        <a href="#title2-3" class="list-group-item"><small>　③ : 雛形を開く</small></a>
      </ul>
    </div>
  </div>
</div>
<%= render 'pages/fixedjs' %>