<% provide :title, "Ruby on Rails を触ってみよう！" %>
<div class="row">
  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-xs-12">
    <div class="textbook-area">
      <div class="textbook-area-inner fadeIn wow">
        <div id="title" class="textbook-title">
          <h1><strong>Ruby on Rails でページを作ろう</strong></h1>
        </div>
        <h4><u><a href="/pages/2" class="text-left ">前の章：Ruby on Rails の基本</a></u></h4>
        <a href="">
        <%= image_tag "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/header/header3.jpg",
                      :width => "90%",
                      :class => "textbook-title-img hover_img" %>
        </a>
        <h2 class="textbook-section-title" id="title0"><strong>0 : この章の目的</strong></h2>
        <h4>
        <i class="fa fa-bookmark color-red"></i>　HTMLの記述の方法とRailsの雛形ホームページの作り方を学び、Railsの雛形を開いてみる。
        </h4>
        <br>
        <h2 class="textbook-section-title" id="title1"><strong>1 : HTMLの基本</strong></h2>
        <h4>
          この章から手を動かながらホームページの作成をしてみましょう！
          <br>
          この章では<strong class="little-remarkable"><u>Railsで作る雛形のページを見る</u></strong>ところまでやっていきます。（自分で設定するページの作成・データの操作などは次の章からやりましょう）
          <br><br>
          <i class="fa fa-question-circle color-green"></i>　<strong>さて、ホームページはなにで表示されているのでしょうか？</strong>
          <hr>
          <a href="/pages/1#title2-1">第１章</a>でも説明しましたが、<strong>HTMLファイル</strong>という文字列でページの表示の方法が決められています。
          <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page1/FB_Code.png",
                                :width => "90%",
                                :class => "hover_img textbook-title-img"),
                      "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page1/FB_Code.png",
                      :target => ["_blank"] %>
          これはFacebookトップページの長い長いHTMLファイルですが、この文字列がどのようにページを表示させるかを決めています。
          <br>
          <br>
          FacebookのページのHTMLファイルは長いですが、<u>簡単なページならもっと短く書くこともできます。</u>
          <br>
          <strong>早速、ページを作ってみましょう！</strong>
          <hr class="red-hr">
          <p id="title1-1"><i class="fa fa-tags color-red"></i>　<strong>① : 簡単なページを作ろう！</strong></p>
          <br>
          まずは、FinderでDesktop内に<strong class="little-remarkable"><u>「rails_project」</u></strong>というフォルダを作ってください。
          <br>
          <i class="fa fa-exclamation color-red"></i>　<strong class="color-red">これから作るファイルはrails_projectに保存して下さい。</strong>
          <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Finder_mkdir_rails_project.png",
                                :width => "90%",
                                :class => "hover_img textbook-title-img"),
                      "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Finder_mkdir_rails_project.png",
                      :target => ["_blank"] %>
          <hr class="red-hr">
          前の章でインストールした<strong class="little-remarkable"><u>Sublime Text</u></strong>を使って、HTMLファイルを作っていきます。
          <br>
          <small>※　場所が分からなくなったら、右上の虫眼鏡マークをクリックして「Sublime Text」と入力して探してみましょう</small>
          <br>
          <br>
          このSublime Textで、HTMLファイルやRails設定ファイルを<strong>自分の表示させたいように設定していきます</strong>。
          <hr class="red-hr">
          まずは、Sublime Textを開いてみましょう。下の手順に従い開いてみて下さい。
          <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Sublime_Text_New_Window.png",
                                :width => "90%",
                                :class => "hover_img textbook-title-img"),
                      "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Sublime_Text_New_Window.png",
                      :target => ["_blank"] %>
          下のようなウィンドウが開けたでしょうか？
          <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Window_Sublime_Text.png",
                                :width => "90%",
                                :class => "hover_img textbook-title-img"),
                      "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Window_Sublime_Text.png",
                      :target => ["_blank"] %>
          ウィンドウは出てきたら、<strong class="color-blue">「File > Save」</strong>をクリックして下さい。
          <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Sublime_Text_Save.png",
                                :width => "90%",
                                :class => "hover_img textbook-title-img"),
                      "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Sublime_Text_Save.png",
                      :target => ["_blank"] %>
          ウィンドウが出てきたら、下のように選択してファイルを保存してください。
          <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Sublime_Text_Save_After.png",
                                :width => "90%",
                                :class => "hover_img textbook-title-img"),
                      "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Sublime_Text_Save_After.png",
                      :target => ["_blank"] %>
          Finderのrails_projectフォルダを確認すると、sample.htmlが作成されていることを確認できると思います。
          <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Finder_sample_html.png",
                                :width => "90%",
                                :class => "hover_img textbook-title-img"),
                      "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Finder_sample_html.png",
                      :target => ["_blank"] %>
          <hr>
          では実際に手を動かして、ページを作ってみましょう！
          <br>
          作成したファイルに下の文字列を入力してみて下さい。(<strong>左の数字は行数なので無視して下さい。</strong>)
          <br>
          <strong class="remarkable">また設定するファイルは半角英数字でないと動きませんので、日本語以外の部分は<span class="color-red">半角英数字</span>で入力して下さい。</strong>
          <hr class="red-hr">
          <i class="fa fa-file color-red"></i>　<strong class="font-15">sample.html</strong>
<table class="highlight">
<tr><td class='code-line-no text-center'>1<br>2<br>3<br>4<br>5<br>6<br>7<br>8<br>9<br></td><td class='code-content'><span class='code-line'>&lt;!DOCTYPE html&gt;<br></span><span class='code-line'>&lt;<span class='word-red'>html</span>&gt;<br></span><span class='code-line'>&lt;<span class='word-red'>head</span>&gt;<br></span><span class='code-line'>  &lt;<span class='word-red'>meta </span><span class='word-green'>charset</span>=<span class='word-yellow'>"utf-8"</span>&gt;<br></span><span class='code-line'>&lt;/<span class='word-red'>head</span>&gt;<br></span><span class='code-line'>&lt;<span class='word-red'>body</span>&gt;<br></span><span class='code-line'>  &lt;<span class='word-red'>p</span>&gt;テスト&lt;/<span class='word-red'>p</span>&gt;<br></span><span class='code-line'>&lt;/<span class='word-red'>body</span>&gt;<br></span><span class='code-line'>&lt;/<span class='word-red'>html</span>&gt;<br></span></td></tr>
</table>
          <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Sublime_Text_sample_html1.png",
                                :width => "90%",
                                :class => "hover_img textbook-title-img"),
                      "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Sublime_Text_sample_html1.png",
                      :target => ["_blank"] %>
          <hr class="red-hr">
          <strong class="remarkable">入力が終わったら、<span class="color-red">「Command」と「s」</span>を一緒に押してください。<br>これをしないと内容は変更されません。</strong>
          <hr class="red-hr">
          Finderでrails_projectのフォルダを開き、それを下の手順で開いてみて下さい。
          <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Window_Open_With_Chrome.png",
                                :width => "90%",
                                :class => "hover_img textbook-title-img"),
                      "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Window_Open_With_Chrome.png",
                      :target => ["_blank"] %>
          下のようなページが表示されましたでしょうか？
          <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Chrome_sample_html.png",
                                :width => "90%",
                                :class => "hover_img textbook-title-img"),
                      "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Chrome_sample_html.png",
                      :target => ["_blank"] %>
          <br>
          <strong class="remarkable color-red">「テスト」</strong>とだけ表示されていますね。
          <br>
          長い文章を打ち込んだ（もしくはコピペした）のに、表示されたのがこれだけでは少し悲しいですね...
          <br>
          <strong>それも実はホームページの表示をさせているのは、「<i>&lt;body&gt;</i>」と「<i>&lt;/body&gt;</i>」で囲まれた「<i>&lt;p&gt;</i>テスト<i>&lt;/p&gt;</i>」の部分だけだからです。</strong>
          <br><br>
          <i class="fa fa-exclamation color-red"></i>　なのでこれからは、<u>「<i>&lt;body&gt;</i>」と「<i>&lt;/body&gt;</i>」で囲まれた部分以外は基本的にコピペして貼り付ければ問題ないです</u>
          <br><br>
          <i class="fa fa-file color-red"></i>　<strong class="font-15">sample.html</strong>
          <br>
<table class="highlight">
<tr><td class='code-line-no text-center'>1<br>2<br>3<br>4<br>5<br>6<br>7<br>8<br>9<br></td><td class='code-content'><span class='code-line'>&lt;!DOCTYPE html&gt;<br></span><span class='code-line'>&lt;<span class='word-red'>html</span>&gt;<br></span><span class='code-line'>&lt;<span class='word-red'>head</span>&gt;<br></span><span class='code-line'>  &lt;<span class='word-red'>meta </span><span class='word-green'>charset</span>=<span class='word-yellow'>"utf-8"</span>&gt;<br></span><span class='code-line'>&lt;/<span class='word-red'>head</span>&gt;<br></span><span class='code-line'>&lt;<span class='word-red'>body</span>&gt;<br></span><span class='code-line'>  &lt;<span class='word-red'>p</span>&gt;テスト&lt;/<span class='word-red'>p</span>&gt;<br></span><span class='code-line'>&lt;/<span class='word-red'>body</span>&gt;<br></span><span class='code-line'>&lt;/<span class='word-red'>html</span>&gt;<br></span></td></tr>
</table>
          <br>
          <strong>「<i>&lt;p&gt;</i>」と「<i>&lt;/p&gt;</i>」で囲まれた部分に入力された文字列</strong>がホームページで表示されます。
          <br>
          <i><u>&lt;p&gt;</u></i>は普通の大きさの文字を出しますが、<i><u>&lt;h1&gt;</u></i>で大きい字・<i><u>&lt;h2&gt;</u></i>でまぁまぁ大きい字・<i><u>&lt;h3&gt;</u></i>で少し大きい字・<i><u>&lt;img&gt;</u></i>で画像表示・<i><u>&lt;br&gt;</u></i>で改行など...たくさんの表記の仕方があります。
          <br>
          <a href="http://techacademy.jp/magazine/5827" target="_blank"><strong>→<i>&lt;img&gt;</i>画像の貼り方</strong></a>
          <hr class="red-hr">
          <strong>興味があったら
          <br>
          <a href="http://dotinstall.com/lessons/basic_html_v3">HTML入門 (全24回)</a>とか
          <br>
          <a href="http://techacademy.jp/magazine/4843" target="_blank">今さら聞けない！HTMLとは【初心者向け】</a>とか
          <br>
          <a href="http://techacademy.jp/magazine/4808" target="_blank">まずはここから！HTMLの書き方【初心者向け】</a>なんかを参考にして下さい</strong>
          <hr class="red-hr">
          <i class="fa fa-star color-blue"></i>　ホームページを作る際に表示させる文章・画像などは<strong><u>「<i>&lt;body&gt;</i>」と「<i>&lt;/body&gt;</i>」で囲まれた部分</u></strong>に記述される。
          <br><br>
          <i class="fa fa-question-circle color-green"></i>　<strong>sample.htmlファイル内の、<i>&lt;p&gt;</i>の代わりに<i>&lt;h1&gt;</i>を使ってページを表示させてみよう！</strong>
          <br>
          ファイルを閉じてしまったら<a href="/pages/how_to_open" target="_blank"><strong>ファイルの開き方</strong></a>をみて下さい
          <br>
          <small>※　設定の変更が終わったら、「Command」と「s」を一緒に押して変更を保存して下さい。変更が保存されないと結果は反映されません。</small>
          <hr>
          <p id="title1-2"><i class="fa fa-tags color-red"></i>　<strong>② : ページを装飾しよう！</strong></p>
          ここまででページの表示の仕方を説明しました。
          <br>
          <strong class="little-remarkable">ですが、正直言って思ったよりもダサくって失望した人も多いのではないかと思います。</strong>
          <hr class="red-hr">
          それもそのはずです。
          <br>
          HTMLは単に文章や画像などのデータを表示させるだけで、<strong>どのように表示させるかは別の設定ファイルを使わなければならないからです。</strong>
          <br>
          そのファイルのことを、<strong class="little-remarkable color-red"><u>CSSファイル</u></strong>と言います。
          <br><br>
          <strong>早速、このCSSファイルを作って、少しだけ装飾してみましょう！</strong>
          <hr>
          まずは、「rails_project」のフォルダに「style.css」というファイルを保存してみましょう！
          <br>
          <small>※　「style.css」という名前にしたのは、この名前がよく使われているからというだけであって深い理由はありません。</small>
          <br>
          ファイルの保存の仕方が分からなくなったら、<a href="/pages/how_to_save" target="_blank"><strong>ここを参照。</strong></a>
          <br><br>
          下のように表示されたでしょうか？
          <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Window_Style_Css.png",
                                :width => "90%",
                                :class => "hover_img textbook-title-img"),
                      "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Window_Style_Css.png",
                      :target => ["_blank"] %>
          Finderには、下のようにStyle.cssとSample.htmlが入っているでしょうか？
          <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Finder_rails_project.png",
                                :width => "90%",
                                :class => "hover_img textbook-title-img"),
                      "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Finder_rails_project.png",
                      :target => ["_blank"] %>
          ファイルが保存できたら、下のように内容を変更して下さい。（ファイルの開き方は<strong><a href="/pages/how_to_open" target="_blank">こちら</a></strong>から）
          <hr class="red-hr">
          <i class="fa fa-file color-red"></i>　<strong class="font-15">style.css</strong>
<table class="highlight">
<tr><td class='code-line-no text-center'>1<br>2<br>3<br></td><td class='code-content'><span class='code-line'><span class='word-red'>h1</span>{<br></span><span class='code-line'>  <span class='word-blue'>color</span>:<span class='word-blue'>red</span>;<br></span><span class='code-line'>}<br></span></td></tr>
</table>
<small>※　半角英数で入力してください</small>
          <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Sublime_Text_Style_Css.png",
                                :width => "90%",
                                :class => "hover_img textbook-title-img"),
                      "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Sublime_Text_Style_Css.png",
                      :target => ["_blank"] %>
          <i class="fa fa-file color-red"></i>　<strong class="font-15">sample.html（5,8行目を変更/コピペして下さい）</strong>
<table class="highlight">
<tr><td class='code-line-no text-center'>1<br>2<br>3<br>4<br>5<br>6<br>7<br>8<br>9<br>10<br></td><td class='code-content'><span class='code-line'>&lt;!DOCTYPE html&gt;<br></span><span class='code-line'>&lt;<span class='word-red'>html</span>&gt;<br></span><span class='code-line'>&lt;<span class='word-red'>head</span>&gt;<br></span><span class='code-line'>  &lt;<span class='word-red'>meta </span><span class='word-green'>charset</span>=<span class='word-yellow'>"utf-8"</span>&gt;<br></span><span class='code-line remarkable-code'>  &lt;<span class='word-red'>link </span><span class='word-green'>rel</span>=<span class='word-yellow'>"stylesheet"</span> <span class='word-green'>href</span>=<span class='word-yellow'>"style.css"</span> <span class='word-green'>type</span>=<span class='word-yellow'>"text/css"</span> /&gt;<br></span><span class='code-line'>&lt;/<span class='word-red'>head</span>&gt;<br></span><span class='code-line'>&lt;<span class='word-red'>body</span>&gt;<br></span><span class='code-line remarkable-code'>  &lt;<span class='word-red'>h1</span>&gt;テスト&lt;/<span class='word-red'>h1</span>&gt;<br></span><span class='code-line'>&lt;/<span class='word-red'>body</span>&gt;<br></span><span class='code-line'>&lt;/<span class='word-red'>html</span>&gt;<br></span></td></tr>
</table>
<small>※　半角英数で入力してください</small>
<br>
          文字列の変更ができたら、<strong class="little-remarkable color-red"><u>「Command」と「s」</u></strong>を一緒に押して内容を保存しましょう！
          <hr class="red-hr">
          変更が完了したら、下の手順にしたがって「sample.html」をブラウザで開いてみましょう！
          <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Window_Open_With_Chrome.png",
                                :width => "90%",
                                :class => "hover_img textbook-title-img"),
                      "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Window_Open_With_Chrome.png",
                      :target => ["_blank"] %>
          下のように表示されましたか？
          <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Chrome_Sample_html2.png",
                                :width => "90%",
                                :class => "hover_img textbook-title-img"),
                      "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Chrome_Sample_html2.png",
                      :target => ["_blank"] %>
          文字が赤色に変わりましたね。<strong>まだ簡単なものでしかないですが、このような装飾をCSSファイルで設定します。</strong>
          <br>
          では、変更した内容を説明していきます！
          <hr>
          まずは、変更を加えた<strong class="little-remarkable"><u>htmlファイル</u></strong>から説明しましょう。
          <br><br>
          <i class="fa fa-file color-red"></i>　<strong>sample.html</strong>
<table class="highlight">
<tr><td class='code-line-no text-center'>1<br>2<br>3<br>4<br>5<br>6<br>7<br>8<br>9<br>10<br></td><td class='code-content'><span class='code-line'>&lt;!DOCTYPE html&gt;<br></span><span class='code-line'>&lt;<span class='word-red'>html</span>&gt;<br></span><span class='code-line'>&lt;<span class='word-red'>head</span>&gt;<br></span><span class='code-line'>  &lt;<span class='word-red'>meta </span><span class='word-green'>charset</span>=<span class='word-yellow'>"utf-8"</span>&gt;<br></span><span class='code-line'>  &lt;<span class='word-red'>link </span><span class='word-green'>rel</span>=<span class='word-yellow'>"stylesheet"</span> <span class='word-green'>href</span>=<span class='word-yellow'>"style.css"</span> <span class='word-green'>type</span>=<span class='word-yellow'>"text/css"</span> /&gt;<br></span><span class='code-line'>&lt;/<span class='word-red'>head</span>&gt;<br></span><span class='code-line'>&lt;<span class='word-red'>body</span>&gt;<br></span><span class='code-line'>  &lt;<span class='word-red'>h1</span>&gt;テスト&lt;/<span class='word-red'>h1</span>&gt;<br></span><span class='code-line'>&lt;/<span class='word-red'>body</span>&gt;<br></span><span class='code-line'>&lt;/<span class='word-red'>html</span>&gt;<br></span></td></tr>
</table>
<br>
        <strong class="little-remarkable color-red">「&lt;body&gt;と&lt;/body&gt;の間以外は基本的にコピペでいい！」</strong>と言ったのに早速例外が出てきましたね笑
        <br>
        <strong>この１行で、装飾に「style.css」というCSSファイルを使うことを設定しています。</strong>
        <br>
        中に「style.css」という名前が入っているのが見えますね。ここでどのCSSファイルを使い装飾するかを決めています。<u>使う時はCSSファイル名以外の部分はコピペで、<strong class="little-remarkable"><i>&lt;head&gt;</i>と<i>&lt;/head&gt;</i>の間に書き加える</strong>ことで適用されます。</u>
        <hr class="red-hr">
        例えば「style2.css」というCSSファイルを指定する時は、
        <br>
<table class="highlight">
<tr><td class='code-line-no text-center'>1<br></td><td class='code-content'><span class='code-line'>  &lt;<span class='word-red'>link </span><span class='word-green'>rel</span>=<span class='word-yellow'>"stylesheet"</span> <span class='word-green'>href</span>=<span class='word-yellow'>"style2.css"</span> <span class='word-green'>type</span>=<span class='word-yellow'>"text/css"</span> /&gt;<br></span></td></tr>
</table>
        を<i>&lt;head&gt;</i>と<i>&lt;/head&gt;</i>の間に記述します。
        <strong></strong>
        <br><br>
        <strong class="remarkable">CSSファイルで設定をする時は、この１行を付け加え忘れないようにしましょう！</strong>
        <hr>
        では、装飾をする<strong class="little-remarkable"><u>CSSファイル</u></strong>について説明しましょう。
        <br><br>
        <i class="fa fa-file color-red"></i>　<strong>style.css</strong>
<table class="highlight">
<tr><td class='code-line-no text-center'>1<br>2<br>3<br></td><td class='code-content'><span class='code-line'><span class='word-red'>h1</span>{<br></span><span class='code-line'>  <span class='word-blue'>color</span>:<span class='word-blue'>red</span>;<br></span><span class='code-line'>}<br></span></td></tr>
</table>
<br>
        装飾をするCSSファイルは
        <pre class="japanese-code">
装飾をしたい部分の名前{
  装飾の方法
}</pre>
        のように設定します。
        <hr class="red-hr">
        装飾の方法の一つである色の変更は、
<pre>
color:色の名前;
</pre>
        と書いて設定します。
        <br><br>
        この場合は、
<table class="highlight">
<tr><td class='code-line-no text-center'>1<br></td><td class='code-content'><span class='code-line'>&lt;<span class='word-red'>h1</span>&gt;テスト&lt;/<span class='word-red'>h1</span>&gt;<br></span></td></tr>
</table>
        の行の<i>&lt;h1&gt;</i>と<i>&lt;/h1&gt;</i>の間を指定して、赤色にする設定をしています。
        <br><br>
        <i class="fa fa-exclamation color-red"></i>　試しに別の色に変えてみましょう！
        <br><br>
<i class="fa fa-file color-red"></i>　<strong>style.css</strong>（半角英数で入力して下さい）
<table class="highlight">
<tr><td class='code-line-no text-center'>1<br>2<br>3<br></td><td class='code-content'><span class='code-line'><span class='word-red'>h1</span>{<br></span><span class='code-line remarkable-code'>  <span class='word-blue'>color</span>:<span class='word-blue'>blue</span>;<br></span><span class='code-line'>}<br></span></td></tr>
</table>
        <small>※　変更ができたら「Command」と「s」を一緒に押して、内容を保存しましょう。</small>
        <br>
        終わったらページを再度読み込んでみて下さい。内容は変わったでしょうか？
        <br>
        （ブラウザでの開き方は<a href="https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Window_Open_With_Chrome.png" target="_blank"><strong>こちら</strong></a>から）
        <hr class="red-hr">
        ここまでで色を変更する設定をしてみましたが、<strong class="little-remarkable"><u>装飾の方法はこれだけではありません。</u></strong>
        <br>
        他にも<u>文字の大きさを変える設定や、背景色を変える設定</u>などがあります。下のようにファイルの設定を変更してみましょう！
        <br><br>
<i class="fa fa-file color-red"></i>　<strong>style.css</strong>（半角英数で入力して下さい）
<table class="highlight">
<tr><td class='code-line-no text-center'>1<br>2<br>3<br>4<br>5<br></td><td class='code-content'><span class='code-line'><span class='word-red'>h1</span>{<br></span><span class='code-line'>  <span class='word-blue'>color</span>:<span class='word-blue'>blue</span>;<br></span><span class='code-line remarkable-code'>  <span class='word-blue'>font-size</span>:<span class='word-blue'><span class='word-purple'>50</span><span class='word-red'>px</span></span>;<br></span><span class='code-line remarkable-code'>  <span class='word-blue'>background-color</span>:<span class='word-blue'>yellow</span>;<br></span><span class='code-line'>}<br></span></td></tr>
</table>
        <small>※　「Command」と「s」を押して内容を保存しましょう</small>
        <br><br>
        終わったら再度読み込んでみましょう。下のように表示されたでしょうか？
        <br>
        （ブラウザでの開き方は<a href="https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Window_Open_With_Chrome.png" target="_blank"><strong>こちら</strong></a>から）
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Chrome_Sample_html3.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Chrome_Sample_html3.png",
                    :target => ["_blank"] %>
        文字の大きさは、
<pre>
font-size:文字の大きさpx;
</pre>
        と書いて設定します。
        <br>
        pxはコンピューター内の大きさの単位なので、適当に変更して表示させていきながら確認するのがいいでしょう。
        <br><br>
        背景色は、
<pre>
background-color:色の名前;
</pre>
        と書いて設定します。
        <br><br>
        <strong class="little-remarkable">装飾は他にもたくさんありますので、興味があったら調べてみましょう！</strong>
        <hr>
        ここまでで、ページの装飾の方法について説明しました。
        <br><br>
        今の方法のままでも装飾はできますが、これだと<strong><i>&lt;h1&gt;</i>は色が青/文字の大きさが50px/背景色が黄色の文字しか表示できません。</strong>
        <br>
        文字などの装飾はできても、そのバラエティが少なければあまり使い勝手は良くないですよね。
        <br>
        なので<strong class="little-remarkable">CSSファイルではページの装飾に名前をつけて、それをhtmlファイルの中身と関連づけさせることができます。</strong>
        <hr class="red-hr">
        <strong class="remarkable">早速、試してみましょう！</strong>
        <br><br>
        ファイルの開き方は<a href="/pages/how_to_open" target="_blank"><strong>こちらから</strong></a>
        <br>
        <i class="fa fa-file color-red"></i>　<strong>sample.html</strong>（半角英数で入力）
<table class="highlight">
<tr><td class='code-line-no text-center'>1<br>2<br>3<br>4<br>5<br>6<br>7<br>8<br>9<br>10<br>11<br></td><td class='code-content'><span class='code-line'>&lt;!DOCTYPE html&gt;<br></span><span class='code-line'>&lt;<span class='word-red'>html</span>&gt;<br></span><span class='code-line'>&lt;<span class='word-red'>head</span>&gt;<br></span><span class='code-line'>  &lt;<span class='word-red'>meta </span><span class='word-green'>charset</span>=<span class='word-yellow'>"utf-8"</span>&gt;<br></span><span class='code-line'>  &lt;<span class='word-red'>link </span><span class='word-green'>rel</span>=<span class='word-yellow'>"stylesheet"</span> <span class='word-green'>href</span>=<span class='word-yellow'>"style.css"</span> <span class='word-green'>type</span>=<span class='word-yellow'>"text/css"</span> /&gt;<br></span><span class='code-line'>&lt;/<span class='word-red'>head</span>&gt;<br></span><span class='code-line'>&lt;<span class='word-red'>body</span>&gt;<br></span><span class='code-line'>  &lt;<span class='word-red'>h1</span>&gt;テスト&lt;/<span class='word-red'>h1</span>&gt;<br></span><span class='code-line remarkable-code'>  &lt;<span class='word-red'>h1 </span><span class='word-green'>class</span>=<span class='word-yellow'>"title"</span>&gt;テスト&lt;/<span class='word-red'>h1</span>&gt;<br></span><span class='code-line'>&lt;/<span class='word-red'>body</span>&gt;<br></span><span class='code-line'>&lt;/<span class='word-red'>html</span>&gt;<br></span></td></tr>
</table>
<br>
        <i class="fa fa-file color-red"></i>　<strong>style.css</strong>（半角英数で入力/もしくはコピペ）
<table class="highlight">
<tr><td class='code-line-no text-center'>1<br>2<br>3<br>4<br>5<br></td><td class='code-content'><span class='code-line remarkable-code'><span class='word-green'>.title</span>{<br></span><span class='code-line remarkable-code'>  <span class='word-blue'>color</span>:<span class='word-blue'>white</span>;<br></span><span class='code-line remarkable-code'>  <span class='word-blue'>font-size</span>:<span class='word-blue'><span class='word-purple'>30</span><span class='word-red'>px</span></span>;<br></span><span class='code-line remarkable-code'>  <span class='word-blue'>background-color</span>:<span class='word-blue'>black</span>;<br></span><span class='code-line'>}<br></span></td></tr>
</table>
        <small>※　「Command」と「s」を一緒に押して保存して下さい。</small>
        <br><br>
        終わったら再度読み込んでみましょう。下のように表示されたでしょうか？
        <br>
        （ブラウザでの開き方は<a href="https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Window_Open_With_Chrome.png" target="_blank"><strong>こちら</strong></a>から）
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Chrome_Sample_html4.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Chrome_Sample_html4.png",
                    :target => ["_blank"] %>
        上がなにも装飾を設定していない<i>&lt;h1&gt;</i>、下が装飾を設定した<i>&lt;/h1&gt;</i>になります。
        <hr class="red-hr">
        CSSファイル内で、
<pre>
.名前{
  装飾の内容
}
</pre>
        と書くことで、<strong>いくつかの装飾の集まりに名前を設定</strong>することができます。
        <br>
        今回の名前は「title」になっていますがこれは適当につけたものなので、自由につけて大丈夫です。
        <br><br>
        htmlファイル内での表示には、
<pre>
class="名前"
</pre>
        を<strong><i>&lt;h1&gt;</i>や<i>&lt;p&gt;</i>などの中に入れる</strong>ことで適用されます。<u>こちらには「.」をつける必要はありません。</u>
        <br>
        ここの名前が、CSSファイルで設定した名前と一致すると装飾は適用されます。
        <br><br>
        <i class="fa fa-question-circle color-green"></i>　<strong>装飾をしなかった上の<i>&lt;h1&gt;</i>とCSSファイルを変更して装飾をしてみよう！</strong>
        <br>
        <small>※　半角英数字での入力と、「Command」と「s」で保存することを忘れずに</small>
        <hr>
        <p id="title1-3"><i class="fa fa-tags color-red"></i>　<strong>③ : まとめ</strong></p>
        <strong>
        ページは文字や画像を表示させるhtmlファイルと、装飾をするCSSファイルでできている。<br>htmlファイルは基本的に<i>&lt;body&gt;</i>と<i>&lt;/body&gt;</i>の中身を、CSSファイルは装飾をする部分を{}で囲った部分を変更することでページ表示の設定をしていく。
        <hr class="red-hr">
        もっと興味がある人は、
        <br>
        <a href="http://dotinstall.com/lessons/basic_css_v3" target="_blank">CSS入門(全23回)</a>とか
        <br>
        <a href="http://techacademy.jp/magazine/4857" target="_blank">今さら聞けない！CSSとは【初心者向け】</a>とか
        <br>
        <a href="http://techacademy.jp/magazine/4872" target="_blank">スタイルシート（CSS）の基本的な書き方【初心者向け】</a>などを参考にしてみて下さい
        </strong>
        </h4>
        <br>
        <h2 class="textbook-section-title" id="title2"><strong>2 : Railsでホームページの雛形を作ろう！</strong></h2>
        <h4>
        ここまでで、<strong class="little-remarkable"><u>htmlとCSSを使ったページの表示</u></strong>の方法を説明しました。
        <br>
        実際のホームページの表示は、この二つの設定ファイルを設定しながらやっていきます。細かい手法などの内容は適宜内容を付け加えていきます。
        <hr class="red-hr">
        <strong class="remarkable">
        この章から実際にRuby on Railsでホームページを作っていきます。
        </strong>
        <br>
        Ruby on Railsでは、<strong class="little-remarkable">出来上がっている雛形に自分で設定を加えていく</strong>ことでホームページを作っていきます。
        <br>
        この章では、<u>Ruby on Railsでホームページの雛形を作り、それを開いてみる</u>部分までをやってみましょう！
        <hr>
        Railsでは、前の章で使った<strong>ターミナル</strong>を使ってホームページの雛形を作ります。
        <br>
        右上にある虫眼鏡マークを押して、「ターミナル」を検索して開きましょう。
        <br><br>
        <i class="fa fa-question-circle color-green"></i>　<strong>前章の復習です。まずはターミナル内でデスクトップの位置に行きましょう。</strong>
        <br>
        　（分からなかったら<a href="/pages/2#title2-1" target="_blank"><strong>こちら</strong></a>を参考にして下さい）
        <hr class="red-hr">
        デスクトップまで行けたら、
<br><br>
        <strong>ターミナル</strong>
<table class="highlight">
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>cd rails_project</span>
</td>
</tr>
</table>
        <br>
        と入力して「rails_project」に移動しましょう。
        <br>
        <small>※　半角英数字で入力して下さい</small>
        <hr>
        <p id="title2-1"><i class="fa fa-tags color-red"></i>　<strong>① : rails new</strong></p>
        では、Railsでホームページの雛形を作りましょう！
<br><br>
        <strong>ターミナル</strong>
<table class="highlight">
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rails new myapp -d mysql</span>
</td>
</tr>
</table>
        <br>
        と入力して下さい！
        <br>
        <small>※　半角英数字で入力して下さい</small>
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Rails_new_myapp_2.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Rails_new_myapp_2.png",
                    :target => ["_blank"] %>
        こんな感じに表示されて、
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Rails_new_myapp_after.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Rails_new_myapp_after.png",
                    :target => ["_blank"] %>
        こんな感じに表示されましたでしょうか？
        <br>
        <strong class="remarkable">これでホームページの雛形は完成しました！</strong>
        <br><br>
        Finderで確認してみましょう。
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Finder_myapp.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Finder_myapp.png",
                    :target => ["_blank"] %>
        「rails_project」に「myapp」というフォルダができているのが確認できますか？
        <br><br>
        <strong>この「myapp」がホームページの雛形で、中にある設定ファイルを自分の好きな設定に変更していくことでホームページを作っていきます。</strong>
        <hr class="red-hr">
        では、さっきの
<br><br>
<strong>ターミナル</strong>
<table class="highlight">
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rails new ページ名 -d mysql</span>
</td>
</tr>
</table>
        <br>
        はなにをしたのでしょうか？
        <br><br>
        これは<strong class="little-remarkable"><u>「myappという名前のホームページの雛形を作れ！（rails new myapp）MySQLというデータベースを使って（-d mysql）」</u></strong>というコンピューターに命令になります。
        <br><br>
        これ以上は説明のしようがないので次にホームページの雛形を作る時は、
        <br><br>
<strong>ターミナル</strong>
<table class="highlight">
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rails new ページ名 -d mysql</span>
</td>
</tr>
</table>
        <br>
        をターミナルに入力して下さい。
        <hr class="red-hr">
        <i class="fa fa-star color-blue"></i>　<strong>ホームページの雛形を作る時は、ターミナルで「<u>rails new ホームページ名 -d mysql</u>」と入力する。</strong>
        <hr>
        <p id="title2-2"><i class="fa fa-tags color-red"></i>　<strong>② : 雛形の諸設定</strong></p>
        前章では
<br><br>
<strong>ターミナル</strong>
<table class="highlight">
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rails new ページ名 -d mysql</span>
</td>
</tr>
</table>
<br>
        でホームページの雛形を作りました。
        <hr class="red-hr">
        でもこれだけではホームページの雛形はまだ完成していません。ターミナルで行う、まだ終わっていない設定があります。
        <br><br>
        その設定は、<u>⑴ホームページを作るのに必要になるツールの設定と導入 ⑵データベースの用意</u>になります。
        <br>
        <strong>ここではその設定を完了させましょう。</strong>
        <hr>
        <p id="title2-2-1"><i class="fa fa-check-square color-red"></i>　<strong>⑴ : ツールの導入と設定</strong></p>
        Railsでは、<strong><u>インターネット上に公開されているホームページを作る際のツール（gemといいます）</u></strong>を使いながらホームページを作っていきます。
        <br>
        これらツールをホームページに導入していくことで、例えば自分で作るとなると手間がかかる<u>ユーザー管理や画像の保存などを自動的に作ってくれます</u>。

        <br><br>
        <i class="fa fa-star color-red"></i>　<strong class="little-remarkable">ここではこのgemの導入と設定をしましょう！</strong>
        <hr class="red-hr">
        まずはSublime Textで、先ほど作った「myapp」を選択して開いてみましょう。
        <br>
        （ファイル・フォルダの開き方は<strong><a href="/pages/how_to_open" target="_blank">こちら</a></strong>から）
        <br><br>
        下のようなウィンドウはでてきましたでしょうか？
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Window_Sublime_Text_myapp.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Window_Sublime_Text_myapp.png",
                    :target => ["_blank"] %>
        開けたら下の手順に従って、「<strong>Gemfile</strong>」というファイルを開いてください。
        下のような文字列が出て来れば、大丈夫です。
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Sublime_Text_Open_Gemfile.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Sublime_Text_Open_Gemfile.png",
                    :target => ["_blank"] %>
        この「Gemfile」というファイルで、ツールの設定をしています。
        <br>
        内容がすでに書いてあるのは、初期設定で必要なツールがすでに設定されているからです。
        <br>
        中身を見ると、「<strong><u>gem '〜'</u></strong>」とか「<strong><u>gem '〜','〜'</u></strong>」という感じで表示されているのが分かると思います。
        <br><br>
        ツールを使いたければ、
<pre>
gem 'ツール名'
</pre>
        を「<strong>Gemfile</strong>」に追加して設定します。（必要なら「<u>, 'バージョン名'</u>」を加える）
        <br><br>
        さて「<strong><u>mysql2</u></strong>」というツールはこのままだと使えないことがあるので、バージョンを変更します。「<strong>Gemfile</strong>」に下の記述を追加して下さい。
        <br><br>
        <i class="fa fa-file color-red"></i>　<strong>Gemfile（7行目の「gem 'mysql2'」に「,'0.3.18'」を追加）</strong>
        <br>
        <small>※　内容を変更したら、「Command」と「s」を一緒に押して内容を保存して下さい。</small>
<table class="highlight">
<tr>
<td class='code-line-no text-center'>1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
</td>
<td class='code-content'><span class='code-line'>source <span class='word-yellow'>'https://rubygems.org'</span></span>
<span class='code-line'></span>
<span class='code-line'></span>
<span class='code-line'><span class='word-gray'># Bundle edge Rails instead: gem 'rails', github: 'rails/rails'</span></span>
<span class='code-line'><span class='word-red'>gem </span><span class='word-yellow'>'rails', '4.2.4'</span></span>
<span class='code-line'><span class='word-gray'># Use mysql as the database for Active Record</span></span>
<span class='code-line remarkable-code'><span class='word-red'>gem </span><span class='word-yellow'>'mysql2', '0.3.18'</span></span>
<span class='code-line'><span class='word-gray'># Use SCSS for stylesheets</span></span>
<span class='code-line'><span class='word-red'>gem </span><span class='word-yellow'>'sass-rails', '~> 5.0'</span></span>
<span class='code-line'><span class='word-gray'># Use Uglifier as compressor for JavaScript assets</span></span>
<span class='code-line'><span class='word-red'>gem </span><span class='word-yellow'>'uglifier', '>= 1.3.0'</span></span>
<span class='code-line'><span class='word-gray'># Use CoffeeScript for .coffee assets and views</span></span>
<span class='code-line'><span class='word-red'>gem </span><span class='word-yellow'>'coffee-rails', '~> 4.1.0'</span></span>
<span class='code-line'><span class='word-gray'># See https://github.com/rails/execjs#readme for more supported runtimes</span></span>
<span class='code-line'><span class='word-gray'># gem 'therubyracer', platforms: :ruby</span></span>
<span class='code-line'></span>
<span class='code-line'><span class='word-gray'># 省略</span></span>
</td>
</tr>
</table>
        <hr>
        ここまでで「Gemfile」というツールの設定ファイルについて説明しました。これで設定は終わりましたが、<strong><u>まだツールの導入ができていません。</u></strong>導入ができていないので、まだツールを使うことはできません。
        <br><br>
        <i class="fa fa-star color-red"></i>　<strong class="little-remarkable">ここで設定したツールの導入をしてみましょう！</strong>
        <hr class="red-hr">
        ツールの設定は「Gemfile」の設定を変更することで行いましたが、<strong>ツールの導入はターミナルで行います。</strong>
        <br><br>
        まずはターミナルを開いて（分からなかったら<a href="/pages/2#title2-1" target="_blank"><strong>こちら</strong></a>を参照）、デスクトップ内の「<u>rails_project</u>」にまで移動して下さい。
<br><br>
<strong>ターミナル</strong>
<table class="highlight">
<tr>
<td class='code-line-no text-center'>1
2
</td>
<td class='code-content'><span class='code-line'>cd Desktop</span>
<span class='code-line'>cd rails_project</span>
</td>
</tr>
</table>
<br>
        ここまでできたら、さっき作った「myapp」に移動しましょう。
<br><br>
<strong>ターミナル</strong>
<table class="highlight">
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>cd myapp</span>
</td>
</tr>
</table>
<br>
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Terminal_cd_myapp.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Terminal_cd_myapp.png",
                    :target => ["_blank"] %>
        <strong>では、ツールを導入してみましょう！下の文字を入力して下さい。</strong>
        <br>
        <small>※　半角英数字で入力して下さい。</small>
<br><br>
<strong>ターミナル</strong>
<table class="highlight">
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>bundle install</span>
</td>
</tr>
</table>
<br>
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Terminal_Bundle_install_after.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Terminal_Bundle_install_after.png",
                    :target => ["_blank"] %>
        入力すると、このような画面は表示されたでしょうか？
        <br>
        よく見ると設定ファイルに入っていたツール、例えば「mysql2」なども表示されていると思います。
        <br>
        <strong><u>これからは設定を決めている「Gemfile」にツールを追加する度に、ターミナルで「bundle install」を入力します。</u></strong>
        <br><br>
        <strong class="remarkable">これでツールの導入は完了しました。</strong>
        <br>
        <small>※　ここではツールと書き続けてきましたが、正確に言えば「<strong class="color-red"><i><u>gem</u></i></strong>」です。余力があれば覚えて下さい。</small>
        <hr class="red-hr">
        <i class="fa fa-star color-blue"></i>　<strong>ツールの設定は「Gemfile」ファイルの中身を変更して、ツールの導入はターミナルで「<u>bundle install</u>」を入力して行う。</strong>
        <hr>
        <p id="title2-2-2"><i class="fa fa-check-square color-red"></i>　<strong>⑵ : データベースの用意</strong></p>
        ここまででRailsで使うツール（gem）の設定と導入の方法について説明しました。
        <br>
        ですが設定はもう一つあります。それは<strong>データベースの用意</strong>です。
        <br>
        ホームページでデータの保存を行う時に必要になる空のExcelの表(データベース)を作ります。
        <br>
        <strong class="little-remarkable">すぐ終わるので早速やってみましょう！</strong>
        <hr class="red-hr">
        まずは<u>ターミナルで「myapp」まで移動</u>してみて下さい。（分からなかったら、<a href="/pages/2#title2-1" target="_blank"><strong>こちら</strong></a>を見てみましょう！）
        <br><br>
        できたら下の文字を入力して下さい。
<br><br>
<strong>ターミナル</strong>
<table class="highlight">
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rake db:create</span>
</td>
</tr>
</table>
<br>
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Terminal_rake_db_create.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Terminal_rake_db_create.png",
                    :target => ["_blank"] %>
        <strong class="little-remarkable">これでデータベースの用意、空のExcelの表の用意は終わりました！</strong>
        <hr class="red-hr">
        これで終わりなのは寂しいので、実際に本当にできたかを確認しましょう。
        <br>
        前章でインストールした「<strong class="little-remarkable"><u>Sequel Pro</u></strong>」を使って、<u>空のExcelの表・データベースを見てみましょう！</u>
        <br>
        まずは右上の虫眼鏡で「Sequel Pro」を検索して開いてみましょう！
        <br><br>
        開けたら、下の手順にしたがって「<strong>Connect</strong>」を押して下さい。
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/Sequel_Pro.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/Sequel_Pro.png",
                    :target => ["_blank"] %>
        下のように表示されたでしょうか？
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/Sequel_Pro_Main_Page.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/Sequel_Pro_Main_Page.png",
                    :target => ["_blank"] %>
        できたら左上の「<strong>Choose Database</strong>」を選択して下さい。
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Sequel_Pro_Choose_Database.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Sequel_Pro_Choose_Database.png",
                    :target => ["_blank"] %>
        出てきたリストボックスの中に「<strong>myapp_development</strong>」はありますか？
        <br>
        <u>これがホームページでデータを保存するデータベースになります。</u>
        <br>
        <small>※　「ページ名_development」がデータベースの名前になります。</small>
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Sequel_Pro_Select_myapp.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Sequel_Pro_Select_myapp.png",
                    :target => ["_blank"] %>
        <strong class="remarkable">ここまででひと通りの設定は終了です。</strong>
        <hr class="red-hr">
        <i class="fa fa-star color-blue"></i>　<strong>データベースは「<u>rake db:create</u>」と入力して作成する</strong>
        <hr>
        <p id="title2-2-3"><i class="fa fa-check-square color-red"></i>　<strong>⑶ : まとめ</strong></p>
        <strong>
        「<u>rails new ページ名 -d mysql</u>」でページを作ったら・・・
        <br><br>
        <ul style="list-style-type: decimal">
          <li class="color-red">
          ツール（gem）の設定と導入
          </li>
          →「Gemfile」の「<u>gem 'mysql2'</u>」を「<u>gem 'mysql2', '0.3.18'</u>」に変更して、ターミナルで「<u>bundle install</u>」を入力して、<span class="color-red">ツール（gem）を導入する。</span>
          <li class="color-blue">
          データベースの用意
          </li>
          →「<u>rake db:create</u>」で<span class="color-blue">データベースを作成する</span>
        </ul>
        </strong>
        <hr>
        <p id="title2-3"><i class="fa fa-tags color-red"></i>　<strong>③ : 雛形を開く</strong></p>
        これで雛形は完成しましたが、開けないと本当にできたか分からないですよね？
        <br>
        <strong>ここで出来上がったホームページを開いてみましょう！</strong>
        <hr class="red-hr">
        まずは<u>ターミナルで「myapp」まで移動</u>してみて下さい。（分からなかったら、<a href="/pages/2#title2-1" target="_blank"><strong>こちら</strong></a>を見てみましょう！）
        <br><br>
        できたら下の文字を入力して下さい。
<br><br>
<strong>ターミナル</strong>
<table class="highlight">
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rails s</span>
</td>
</tr>
</table>
<br>
        下のように表示されたでしょうか？
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Terminal_rails_s.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Terminal_rails_s.png",
                    :target => ["_blank"] %>
        この「<u>rails s</u>」という入力で、<strong class="little-remarkable"><u>ページの表示と保存をする機械・サーバー</u></strong>を使っているコンピューターの中で動かします。
        <br>
        <small>※　今動かしているサーバーは自分のコンピューター内で動かしてるものなので、自分のコンピューターからしか見れません。</small>
        <hr class="red-hr">
        これでホームページを表示させることができました。
        <br>
        ブラウザで、<a href="http://localhost:3000" target="_blank"><strong class="little-remarkable">localhost:3000</strong></a>を開いてみて下さい。
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Chrome_localhost1.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Chrome_localhost1.png",
                    :target => ["_blank"] %>
        このようなページは出てきたでしょうか？これがページの雛形になります。
        <hr class="red-hr">
        それでは、「rails s」で動かしたサーバーを一回止めましょう。
        <br>
        「rails s」を入力したターミナルの画面で、<strong><u>「Command」と「c」を一緒に押してみてください。</u></strong>
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Terminal_rails_s_finish.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Terminal_rails_s_finish.png",
                    :target => ["_blank"] %>
        これでページの表示と保存をしているサーバーを止めることができました。
        <br>
        もう一度ブラウザで、<a href="http://localhost:3000" target="_blank"><strong class="little-remarkable">localhost:3000</strong></a>を開いてみましょう。
        <br>
        <strong>今回はサーバーが動いていないので、<u>ページは表示されないはずです。</u></strong>
        <hr>
        <i class="fa fa-star color-blue"></i>　<strong>設定が終わった雛形は、「<u>rails s</u>」をターミナルで入力した状態で「<u>localhost:3000</u>」をブラウザで開くことで見ることができる。</strong>
        </h4>
        <br>
        <h2 class="textbook-section-title" id="title3"><strong>3 : この章のまとめ</strong></h2>
        <h4>
          この章では、
          <br>
          <strong>
          ⑴ ページを表示させる設定ファイル<a href="#title1-1">html</a>と、その装飾をする設定ファイル<a href="#title1-2">CSS</a>
          <br>
          ⑵ Railsで作る雛形ホームページの作り方と開き方
          <br>
          </strong>
          について学んびました。それぞれについて簡単なまとめをします。
          <hr>
          <strong>⑴ htmlとCSS</strong>
          <br><br>
          <strong>htmlはページの表示についての設定するファイル</strong>になり、これは今後のRailsでのページの表示の設定にも使われる。
          <br>
          書き方は以下のようになる。
          <br><br>
          <i class="fa fa-file color-red"></i>　<strong>sample.html（半角英数字で入力）</strong>
          <br>
          <small>※　CSSファイルを利用する場合は、5行名を追加</small>
<table class="highlight">
<tr>
<td class='code-line-no text-center'>1
2
3
4
5
6
7
8
9
10
</td>
<td class='code-content'><span class='code-line'>&lt;!DOCTYPE html&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>html</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>head</span>&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>meta </span><span class='word-green'>charset</span>=<span class='word-yellow'>"utf-8"</span>&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>link </span><span class='word-green'>rel</span>=<span class='word-yellow'>"stylesheet"</span> <span class='word-green'>href</span>=<span class='word-yellow'>"利用するCSSファイル名"</span> <span class='word-green'>type</span>=<span class='word-yellow'>"text/css"</span> /&gt;</span>
<span class='code-line'>&lt;/<span class='word-red'>head</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>body</span>&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>p</span>&gt;内容&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>&lt;/<span class='word-red'>body</span>&gt;</span>
<span class='code-line'>&lt;/<span class='word-red'>html</span>&gt;</span>
</td>
</tr>
</table>
        <hr class="red-hr">
        <strong>CSSはhtmlへの装飾の仕方を設定するファイル</strong>になり、これもRailsのページ表示には必要になる。
        <br>
        書き方は例えば以下のようになる
        <br><br>
        <i class="fa fa-file color-red"></i>　<strong>style.css（半角英数字で入力）</strong>
<table class="highlight">
<tr>
<td class='code-line-no text-center'>1
2
3
4
5
</td>
<td class='code-content'><span class='code-line'><span class='word-green'>.title</span>{</span>
<span class='code-line'>  <span class='word-blue'>color</span>:<span class='word-blue'>white</span>;</span>
<span class='code-line'>  <span class='word-blue'>font-size</span>:<span class='word-blue'><span class='word-purple'>30</span><span class='word-red'>px</span></span>;</span>
<span class='code-line'>  <span class='word-blue'>background-color</span>:<span class='word-blue'>black</span>;</span>
<span class='code-line'>}</span>
</td>
</tr>
</table>
        <hr>
        <strong>⑵ Railsでの雛形ホームページの作成</strong>
        <br><br>
        Railsでの雛形ホームページの作成は<strong class="little-remarkable"><u>ターミナル</u></strong>で行います（場所は右上の虫眼鏡で探してみて下さい）。
        <hr class="red-hr">
        まずは雛形の作成を
        <br><br>
        　<strong>ターミナル</strong>
<table class="highlight">
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rails new ページ名 -d mysql</span>
</td>
</tr>
</table>
        <br>
        で行い、作ったフォルダに移動するために
<br><br>
        　<strong>ターミナル</strong>
<table class="highlight">
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>cd ページ名</span>
</td>
</tr>
</table>
        <br>
        をして、作られたRailsの雛形フォルダの中にある「<strong><u>Gemfile</u></strong>」を以下のように変更して
        <br><br>
        <i class="fa fa-file color-red"></i>　<strong>Gemfile（7行目の「gem 'mysql2'」に「,'0.3.18'」を追加）</strong>
        <br>
        <small>※　変更が完了したら、「Command」と「s」を一緒に押して内容を保存する。</small>
<table class="highlight">
<tr>
<td class='code-line-no text-center'>1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
</td>
<td class='code-content'><span class='code-line'>source <span class='word-yellow'>'https://rubygems.org'</span></span>
<span class='code-line'></span>
<span class='code-line'></span>
<span class='code-line'><span class='word-gray'># Bundle edge Rails instead: gem 'rails', github: 'rails/rails'</span></span>
<span class='code-line'><span class='word-red'>gem </span><span class='word-yellow'>'rails', '4.2.4'</span></span>
<span class='code-line'><span class='word-gray'># Use mysql as the database for Active Record</span></span>
<span class='code-line remarkable-code'><span class='word-red'>gem </span><span class='word-yellow'>'mysql2', '0.3.18'</span></span>
<span class='code-line'><span class='word-gray'># Use SCSS for stylesheets</span></span>
<span class='code-line'><span class='word-red'>gem </span><span class='word-yellow'>'sass-rails', '~> 5.0'</span></span>
<span class='code-line'><span class='word-gray'># Use Uglifier as compressor for JavaScript assets</span></span>
<span class='code-line'><span class='word-red'>gem </span><span class='word-yellow'>'uglifier', '>= 1.3.0'</span></span>
<span class='code-line'><span class='word-gray'># Use CoffeeScript for .coffee assets and views</span></span>
<span class='code-line'><span class='word-red'>gem </span><span class='word-yellow'>'coffee-rails', '~> 4.1.0'</span></span>
<span class='code-line'><span class='word-gray'># See https://github.com/rails/execjs#readme for more supported runtimes</span></span>
<span class='code-line'><span class='word-gray'># gem 'therubyracer', platforms: :ruby</span></span>
<span class='code-line'></span>
<span class='code-line'><span class='word-gray'># 省略</span></span>
</td>
</tr>
</table>
        <br>
        これが完了したら、まずは<strong><u>Railsで使うツール・gemのインストール</u></strong>を行います。
<br><br>
        　<strong>ターミナル</strong>
<table class="highlight">
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>bundle install</span>
</td>
</tr>
</table>
        <br>
        その後で、ホームページのデータの保存をするための<strong><u>データベースを用意</u></strong>します。
<br><br>
        　<strong>ターミナル</strong>
<table class="highlight">
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rake db:create</span>
</td>
</tr>
</table>
        <br>
        ここまでで雛形の設定は終了です。雛形を実際に開くには、
<br><br>
<strong>ターミナル</strong>
<table class="highlight">
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rails s</span>
</td>
</tr>
</table>
<br>
        をしてサーバーをスタートさせ、<u>ページの表示とデータの保存</u>をしていきます。
        <br>
        サーバーが動いていれば、<a href="http://localhost:3000" target="_blank"><strong class="little-remarkable">localhost:3000</strong></a>で雛形のページを開けるはずです。
        <hr class="red-hr">
        サーバーを閉じるときは、<strong>ターミナルの画面で「Command」と「c」を一緒に押してください。</strong>
        <br>
        サーバーを立ち上げっぱなしにすると、無駄に電池を使います。
        <hr>
        <i class="fa fa-star color-blue"></i>　<strong>ここまでの内容をよく復習した上で、次の章に進んでください！次の章では実際にページを作ってみます。</strong>
        </h4>
        <br>
        <div class="next-page">
            <a href="/pages/4" class="btn btn-primary">次の章に進む</a>
          </div>
          <br>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 hidden-xs">
    <br>
    <div id="slide-bar" class="clear-fix">
      <div class="list-group nomargin">
        <a href="#title" class="list-group-item list-title"><h4>Ruby on Railsでページを作ろう！</h4></a>
        <a href="#title0" class="list-group-item">0 : この章の目的</a>
        <a href="#title1" class="list-group-item">1 : HTMLの基本</a>
        <a href="#title1-1" class="list-group-item"><small>　① : 簡単なページを作ろう！</small></a>
        <a href="#title1-2" class="list-group-item"><small>　② : ページを装飾しよう！</small></a>
        <a href="#title1-3" class="list-group-item"><small>　③ : まとめ</small></a>
        <a href="#title2" class="list-group-item">2 : Railsでホームページの雛形を作ろう！</a>
        <a href="#title2-1" class="list-group-item"><small>　① : rails new</small></a>
        <a href="#title2-2" class="list-group-item"><small>　② : 雛形の諸設定</small>
        <a href="#title2-2-1" class="list-group-item"><small>　　⑴ : ツールの導入と設定</small></a>
        <a href="#title2-2-2" class="list-group-item"><small>　　⑵ : データベースの用意</small></a>
        <a href="#title2-2-3" class="list-group-item"><small>　　⑶ : まとめ</small>
        <a href="#title2-3" class="list-group-item"><small>　③ : 雛形を開く</small></a>
        <a href="#title3" class="list-group-item"><small>3 : この章のまとめ</small></a>
      </ul>
    </div>
  </div>
</div>
<%= render 'pages/fixedjs' %>