<% provide :title, "作作看簡單的網站" %>
<div class="container">
  <div class="row">
    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-xs-12">
      <div class="textbook-area">
        <div class="textbook-area-inner fadeIn wow">
          <div id="title" class="textbook-title">
            <h1><strong>3 : 作作看簡單的網站</strong></h1>
          </div>
          <h4><u><a href="/zh-TW/mugcups/2" class="text-left ">前の章：Ruby on Rails 的基礎</a></u></h4>
          <%= image_tag "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/header/header3.jpg",
                        :width => "90%",
                        :class => "textbook-title-img hover_img" %>
          <%= render "page3/zh-TW/title0" %>
          <br>
          <%= render "page3/zh-TW/title1" %>
          <br>
          <%= render "page3/zh-TW/title2" %>
          <br>
          <%= render "page3/zh-TW/title3" %>
          <br>
          <div class="next-page">
              <a href="/zh-TW/mugcups/4" class="btn btn-primary">下章</a>
          </div>
            <br>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 hidden-xs">
      <br>
      <div id="slide-bar" class="clear-fix">
        <strong>
          <div class="list-group nomargin">
            <a href="#title" class="list-group-item list-title"><h5>作作看簡單的網站</h5></a>
            <a href="#title0" class="list-group-item">0 : 這個章的目的</a>
            <a href="#title1" class="list-group-item">1 : HTML的基礎</a>
            <a href="#title1-1" class="list-group-item"><small>　① : 用HTML做網頁</small></a>
            <a href="#title1-2" class="list-group-item"><small>　② : 裝飾網頁</small></a>
            <a href="#title1-3" class="list-group-item"><small>　③ : 總結</small></a>
            <a href="#title2" class="list-group-item">2 : 用 Ruby on Rails作作看網站</a>
            <a href="#title2-1" class="list-group-item"><small>　① : rails new</small></a>
            <a href="#title2-2" class="list-group-item"><small>　② : 雛形的各種設定</small></a>
            <a href="#title2-2-1" class="list-group-item"><small>　　⑴ : 工具的設定跟導入</small></a>
            <a href="#title2-2-2" class="list-group-item"><small>　　⑵ : 準備資料庫</small></a>
            <a href="#title2-2-3" class="list-group-item"><small>　　⑶ : 總結</small></a>
            <a href="#title2-3" class="list-group-item"><small>　③ : 打開網站</small></a>
            <a href="#title3" class="list-group-item">3 : 這個章的總結</a>
          </div>
        </strong>
      </div>
    </div>
  </div>
</div>
<%= render 'pages/fixedjs' %>