<% provide :title, "データベースにデータを保存する。" %>
<div class="row">
  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-xs-12">
    <div class="textbook-area">
      <div class="textbook-area-inner fadeIn wow">
        <div id="title" class="textbook-title">
          <h1><strong>4 : データベースにデータを保存する。</strong></h1>
        </div>
        <h4><u><a href="/mugcups/3" class="text-left ">前の章：ウェブページの雛形を作ろう！</a></u></h4>
        <%= image_tag "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/header/header4.jpg",
                      :width => "90%",
                      :class => "textbook-title-img hover_img" %>
        <%= render "page4/title0" %>
        <br>
        <%= render "page4/title1" %>
        <br>
        <%= render "page4/title2" %>
        <br>
        <%= render "page4/title3" %>
        <br>
        <div class="next-page">
            <a href="/mugcups/5" class="btn btn-primary">次の章に進む</a>
          </div>
          <br>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 hidden-xs">
    <br>
    <div id="slide-bar" class="clear-fix">
      <strong>
        <div class="list-group nomargin">
          <a href="#title" class="list-group-item list-title"><h5>データベースにデータを保存する。</h5></a>
          <a href="#title0" class="list-group-item">0 : この章の目的</a>
          <a href="#title1" class="list-group-item">1 : データの枠組みの定義</a>
          <a href="#title1-1" class="list-group-item"><small>　① : 自分のデータの枠組みを決めよう！</small></a>
          <a href="#title1-2" class="list-group-item"><small>　② : 枠組みを作ろう！</small></a>
          <a href="#title1-3" class="list-group-item"><small>　③ : 枠組みを変更する</small></a>
          <a href="#title1-3-1" class="list-group-item"><small>　　⑴ : 枠組みを追加する</small></a>
          <a href="#title1-3-2" class="list-group-item"><small>　　⑵ : 間違った設定を直す</small></a>
          <a href="#title1-4" class="list-group-item"><small>　④ : まとめ</small></a>
          <a href="#title2" class="list-group-item">2 : データベースへの内容の追加</a>
          <a href="#title2-1" class="list-group-item"><small>　① : データを作ろう！</small></a>
          <a href="#title2-2" class="list-group-item"><small>　② : データを変更しよう</small></a>
          <a href="#title2-3" class="list-group-item"><small>　③ : データを削除する</small></a>
          <a href="#title2-4" class="list-group-item"><small>　④ : まとめ</small></a>
          <a href="#title3" class="list-group-item"><small>3 : まとめ</small></a>
        </div>
      </strong>
    </div>
  </div>
</div>
<%= render 'pages/fixedjs' %>