<% provide :title, "ページを作ろう！①" %>
<div class="container">
  <div class="row">
    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-xs-12">
      <div class="textbook-area">
        <div class="textbook-area-inner fadeIn wow">
          <div id="title" class="textbook-title">
            <h1><strong>5 : ページを作ろう！①</strong></h1>
          </div>
          <h4><u><a href="/mugcups/4" class="text-left ">前の章：データベースにデータを保存する。</a></u></h4>
          <%= image_tag "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/header/header5.jpg",
                        :width => "90%",
                        :class => "textbook-title-img hover_img" %>
          <%= render "page5/title0" %>
          <br>
          <%= render "page5/title1" %>
          <hr>
          <%= render "page5/title1_1" %>
          <hr>
          <%= render "page5/title1_2" %>
          <h4>
          <div class="next-page">
              <a href="/mugcups/6" class="btn btn-primary">次の章に進む</a>
            </div>
            <br>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 hidden-xs">
      <br>
      <div id="slide-bar" class="clear-fix">
      <strong>
        <div class="list-group nomargin">
          <a href="#title" class="list-group-item list-title"><h5>ページを作ろう！①</h5></a>
          <a href="#title0" class="list-group-item">0 : この章の目的</a>
          <a href="#title1" class="list-group-item">1 : ページ設定をしてみよう！</a>
          <a href="#title1-1" class="list-group-item"><small>　① : １つのデータを表示する（show）</small></a>
          <a href="#title1-1-1" class="list-group-item"><small>　　⑴ : ７つのページの設定</small></a>
          <a href="#title1-1-2" class="list-group-item"><small>　　⑵ : データ操作の設定</small></a>
          <a href="#title1-1-3" class="list-group-item"><small>　　⑶ : ページを設定する</small></a>
          <a href="#title1-1-4" class="list-group-item"><small>　　⑷ : まとめ</small></a>
          <a href="#title1-2" class="list-group-item"><small>　② : 全てのデータを表示する（index）</small></a>
          <a href="#title1-2-1" class="list-group-item"><small>　　⑴ : ページを設定する</small></a>
          <a href="#title1-2-2" class="list-group-item"><small>　　⑵ : ページの移動をする</small></a>
          <a href="#title1-2-3" class="list-group-item"><small>　　⑶ : まとめ</small></a>
        </div>
      </strong>
      </div>
    </div>
  </div>
</h4>
<%= render 'pages/fixedjs' %>