<% provide :title, "ページを便利にしよう！" %>
<div class="container">
  <div class="row">
    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-xs-12">
      <div class="textbook-area">
        <div class="textbook-area-inner fadeIn wow">
          <div id="title" class="textbook-title">
            <h1><strong>7 : ページを便利にしよう！</strong></h1>
          </div>
          <h4><u><a href="/mugcups/6" class="text-left ">前の章：ページを作ろう！</a></u></h4>
          <%= image_tag "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/header/header7.jpg",
                        :width => "90%",
                        :class => "textbook-title-img hover_img" %>
          <%= render "page7/title0" %>
          <br>
          <%= render "page7/title1" %>
          <br>
          <%= render "page7/title2" %>
          <br>
          <%= render "page7/title3" %>
          <div class="next-page">
              <a href="/mugcups/8" class="btn btn-primary">次の章に進む</a>
            </div>
            <br>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 hidden-xs">
      <br>
      <strong>
      <div id="slide-bar" class="clear-fix">
        <div class="list-group nomargin">
          <a href="#title" class="list-group-item list-title"><h5>ページを便利にしよう！</h5></a>
          <a href="#title0" class="list-group-item">0 : この章の目的</a>
          <a href="#title1" class="list-group-item">1 : リンクを完成させよう！</a>
          <a href="#title1-1" class="list-group-item"><small>　① : editページへのリンク</small></a>
          <a href="#title1-2" class="list-group-item"><small>　② : newページへのリンク</small></a>
          <a href="#title1-3" class="list-group-item"><small>　③ : まとめ</small></a>
          <a href="#title2" class="list-group-item">2 : Bootstrapでページを装飾する</a>
          <a href="#title2-1" class="list-group-item"><small>　① : Bootstrapを導入する</small></a>
          <a href="#title2-2" class="list-group-item"><small>　② : Bootstrapを使う</small></a>
          <a href="#title2-2-1" class="list-group-item"><small>　　⑴ : container</small></a>
          <a href="#title2-2-2" class="list-group-item"><small>　　⑵ : btn</small></a>
          <a href="#title2-2-3" class="list-group-item"><small>　　⑶ : form-control</small></a>
          <a href="#title2-2-4" class="list-group-item"><small>　　⑷ : navigation-bar</small></a>
          <a href="#title2-2-5" class="list-group-item"><small>　　⑸ : まとめ</small></a>
          <a href="#title2-3" class="list-group-item"><small>　③ : まとめ</small></a>
          <a href="#title3" class="list-group-item">3: まとめ</a>
        </div>
      </div>
      </strong>
    </div>
  </div>
</div>
<%= render 'pages/fixedjs' %>