<% provide :title, "用戶管理①" %>
<div class="container">
  <div class="row">
    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-xs-12">
      <div class="textbook-area">
        <div class="textbook-area-inner fadeIn wow">
          <div id="title" class="textbook-title">
            <h1><strong>9 : 用戶管理①</strong></h1>
          </div>
          <h4><u><a href="/zh-TW/mugcups/8" class="text-left ">上章：作作看主頁！</a></u></h4>
          <%= image_tag "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/header/header9.jpg",
                        :width => "90%",
                        :class => "textbook-title-img hover_img" %>
          <%= render "page9/zh-TW/title0" %>
          <br>
          <%= render "page9/zh-TW/title1" %>
          <br>
          <%= render "page9/zh-TW/title2" %>
          <div class="next-page">
              <a href="/zh-TW/mugcups/10" class="btn btn-primary">下章</a>
            </div>
            <br>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 hidden-xs">
      <br>
      <div id="slide-bar" class="clear-fix">
      <strong>
        <div class="list-group nomargin">
          <a href="#title" class="list-group-item list-title"><h4>用戶管理①</h4></a>
          <a href="#title0" class="list-group-item">0 : 這個章的目的</a>
          <a href="#title1" class="list-group-item">1 : 導入devise</a>
          <a href="#title1-1" class="list-group-item">　<small>① : 安裝gem "devise"</small></a>
          <a href="#title1-2" class="list-group-item">　<small>② : 作users資料庫</small></a>
          <a href="#title1-3" class="list-group-item">　<small>③ : 導入devise的網頁</small></a>
          <a href="#title1-4" class="list-group-item">　<small>④ : 總結</small></a>
          <a href="#title2" class="list-group-item">2 : 登入機能</a>
          <a href="#title2-1" class="list-group-item">　<small>① : 裝飾登入註冊網頁</small></a>
          <a href="#title2-1-1" class="list-group-item">　　<small>⑴ : btn跟form-control</small></a>
          <a href="#title2-1-2" class="list-group-item">　　<small>⑵ : navigation-bar</small></a>
          <a href="#title2-2" class="list-group-item">　<small>② : 設定登入網頁</small></a>
          <a href="#title2-2-1" class="list-group-item">　　<small>⑴ : 限制網頁顯示</small></a>
          <a href="#title2-2-2" class="list-group-item">　　<small>⑵ : 追加登入通知</small></a>
          <a href="#title2-2-3" class="list-group-item">　　<small>⑶ : 登入</small></a>
          <a href="#title2-3" class="list-group-item">　<small>③ : 總結</small></a>
        </div>
      </strong>
      </div>
    </div>
  </div>
</div>
<%= render 'pages/fixedjs' %>