<div class="container">
  <div class="row">
    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-xs-12">
      <div class="textbook-area">
        <div class="textbook-area-inner fadeIn wow">
          <div id="title" class="textbook-title">
            <h1><strong>保存文件的方法</strong></h1>
          </div>
          <%= image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/header/header2.jpg",
                                :width => "90%",
                                :class => "hover_img textbook-title-img") %>
          <hr>
          <h2 class="textbook-section-title" id="title0"><strong>0 : 这个章的目的</strong></h2>
            <h4>
              作网站的时候需要的文件，<strong><u>必须先保存一次才可以显示</u></strong>。在这里解释怎么保存。
            </h4>
            <br>
            <h2 class="textbook-section-title" id="title1"><strong>1 : 用Sublime Text保存文件的方法</strong></h2>
            <h4>
              事先，参考下面的图像打开Sublime Text。
              <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page3/Sublime_Text_New_Window.png",
                                    :width => "90%",
                                    :class => "hover_img textbook-title-img"),
                          "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page3/Sublime_Text_New_Window.png",
                          :target => ["_blank"] %>
              打开下面一样的画面的话OK！
              <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page3/Window_Sublime_Text.png",
                                    :width => "90%",
                                    :class => "hover_img textbook-title-img"),
                          "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page3/Window_Sublime_Text.png",
                          :target => ["_blank"] %>
              打开画面的话，点击<strong class="little-remarkable color-blue">「File > Save」</strong>之后、一起点击「Command」跟「s」。
              <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page3/Sublime_Text_Save.png",
                                    :width => "90%",
                                    :class => "hover_img textbook-title-img"),
                          "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page3/Sublime_Text_Save.png",
                          :target => ["_blank"] %>
              会出现新的画面，参考下面的图像操作。
              <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page3/Sublime_Text_Save_After2.png",
                                    :width => "90%",
                                    :class => "hover_img textbook-title-img"),
                          "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page3/Sublime_Text_Save_After2.png",
                          :target => ["_blank"] %>
              <strong class="little-remarkable"><u>文件保存好了！</u></strong>
              <br>
              这样可以在文件上设定內容。
              <hr class="red-hr">
              <i class="fa fa-arrow-right"></i>　<strong>文件的打入完了之后，一起点击「Command」跟「s」。
              <br>
              这样可以保存內容。</strong>
            </h4>
            <br>
            <h2 class="textbook-section-title" id="title2"><strong>2 : 用Sublime Text保存文件的方法(Windows)</strong></h2>
            <h4>
              解释用Windows保存Sublime Text的方法。
              <br><br>
              事先打开Sublime Text的画面。
              <br>
              <ul class="number_ul">
                <li>如果是<strong><u>Windows10</u></strong>的话，<strong>打开「<u>Cortana</u>」</strong></li>
                <li>如果是<strong><u>Windows8以下</u></strong>的话，<strong>打开「<u>搜索框</u>」</strong></li>
              </ul>
              搜索<strong>「<u>Sublime Text</u>」</strong>之后打开。
              <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/sublime_text9.png",
                                    :width => "90%",
                                    :class => "hover_img textbook-title-img"),
                          "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/sublime_text9.png",
                          :target => ["_blank"] %>
              <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/sublime_text10.png",
                                    :width => "90%",
                                    :class => "hover_img textbook-title-img"),
                          "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/sublime_text10.png",
                          :target => ["_blank"] %>
              打开之后，点击<strong>「<u>File > New File</u>」</strong>，
              <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/windows_save_sublime_text1.png",
                                    :width => "90%",
                                    :class => "hover_img textbook-title-img"),
                          "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/windows_save_sublime_text1.png",
                          :target => ["_blank"] %>
              点击<strong>「<u>File > Save</u>」</strong>。
              <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/windows_save_sublime_text2.png",
                                    :width => "90%",
                                    :class => "hover_img textbook-title-img"),
                          "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/windows_save_sublime_text2.png",
                          :target => ["_blank"] %>
              点击之后会出现输入框、打入需要的资料之后点击<strong>「<u>Save</u>」</strong>。
              <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/windows_save_sublime_text3.png",
                                    :width => "90%",
                                    :class => "hover_img textbook-title-img"),
                          "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/windows_save_sublime_text3.png",
                          :target => ["_blank"] %>
              <strong><u>文件保存好了。</u></strong>
              <br>
              这样可以在文件上打入设定了。
              <hr class="red-hr">
              <i class="fa fa-arrow-right"></i>　<strong>文件上的打入完了之后，一起点击「ctrl」跟「s」。
              <br>
              这样可以保存文件。</strong>
            </h4>
            <div class="next-page">
              <a href="javascript:history.back()" class="btn btn-primary">返回</a>
            </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 hidden-xs">
      <br>
      <strong>
      <div id="slide-bar" class="clear-fix">
        <div class="list-group nomargin">
          <a href="#title" class="list-group-item list-title"><h4>保存文件的方法</h4></a>
          <a href="#title0" class="list-group-item">0 : 这个章的目的</a>
          <a href="#title1" class="list-group-item">1 : 用Sublime Text保存文件的方法</a>
          <a href="#title2" class="list-group-item">2 : 用Sublime Text保存文件的方法(Windows)</a>
        </div>
      </div>
      </strong>
    </div>
  </div>
</div>
<%= render 'pages/fixedjs' %>