<div class="container">
  <div class="row">
    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-xs-12">
      <div class="textbook-area">
        <div class="textbook-area-inner fadeIn wow">
          <div id="title" class="textbook-title">
            <h1><strong>打开文件跟文件夾的方法</strong></h1>
          </div>
          <%= image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/header/header3.jpg",
                                :width => "90%",
                                :class => "hover_img textbook-title-img")%>
          <hr>
          <h2 class="textbook-section-title" id="title0"><strong>0 : 这个章的目的</strong></h2>
            <h4>
              <strong class="color-red little-remarkable">「哎呀！不小心关掉文件了！」</strong>
              <br>
              为了这样不幸的事情发生，解释文件跟文件夾的方法。
            </h4>
            <br>
            <h2 class="textbook-section-title" id="title1"><strong>1 : 用Sublime Text打开文件的方法</strong></h2>
            <h4>
              事先，参考下面的图像打开Sublime Text。
              <br>
              <small>※　按右上边的放大镜，打入「Sublime Text」也可以打开。</small>
              <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Sublime_Text_New_Window.png",
                                    :width => "90%",
                                    :class => "hover_img textbook-title-img"),
                          "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Sublime_Text_New_Window.png",
                          :target => ["_blank"] %>
              打开下面图像一样的画面的话OK！
              <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Window_Sublime_Text.png",
                                    :width => "90%",
                                    :class => "hover_img textbook-title-img"),
                          "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Window_Sublime_Text.png",
                          :target => ["_blank"] %>
              打开画面之后，一起按「Command」跟「o」。
              <br>
              会打开新的画面，按照下面的图像操作。
              <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Sublime_Text_Open_File.png",
                                    :width => "90%",
                                    :class => "hover_img textbook-title-img"),
                          "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Sublime_Text_Open_File.png",
                          :target => ["_blank"] %>
              <strong class="little-remarkable">这样打开了！</strong>
              <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Window_Sublime_Text_myapp.png",
                                    :width => "90%",
                                    :class => "hover_img textbook-title-img"),
                          "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Window_Sublime_Text_myapp.png",
                          :target => ["_blank"] %>
            </h4>
            <br>
            <h2 class="textbook-section-title" id="title2"><strong>2 : 用Sublime Text打开文件（Windows）</strong></h2>
            <h4>
              刚开始打开Sublime Text的画面。
              <br>
              <ul class="number_ul">
                <li>如果是<strong><u>Windows10</u></strong>的话，<strong>打开「<u>Cortana</u>」</strong></li>
                <li>如果是<strong><u>Windows8以下</u></strong>的话，<strong>打开「<u>搜索框</u>」</strong></li>
              </ul>
              之后打入「Sublime Text」，点击搜索的结果。
              <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/sublime_text9.png",
                                    :width => "90%",
                                    :class => "hover_img textbook-title-img"),
                          "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/sublime_text9.png",
                          :target => ["_blank"] %>
              打开下面图像一样的画面吗？
              <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/sublime_text10.png",
                                    :width => "90%",
                                    :class => "hover_img textbook-title-img"),
                          "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/sublime_text10.png",
                          :target => ["_blank"] %>
              在这里，解释
              <strong>
              <ul class="number_ul">
                <li>打开文件的方法</li>
                <li>打开文件夾的方法</li>
              </ul>
              </strong>
              <hr class="red-hr">
              <i class="fa fa-arrow-right"></i>　<strong>打开文件的方法</strong>
              <br><br>
              事先，点击<strong>「<u>File > Open File</u>」</strong>。
              <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/sublime_text_open_file1.png",
                                    :width => "90%",
                                    :class => "hover_img textbook-title-img"),
                          "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/sublime_text_open_file1.png",
                          :target => ["_blank"] %>
              会打开新的画面，指定想打开的文件之后点击<strong>「<u>开(O)</u>」</strong>。
              <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/sublime_text_open_file2.png",
                                    :width => "90%",
                                    :class => "hover_img textbook-title-img"),
                          "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/sublime_text_open_file2.png",
                          :target => ["_blank"] %>
              这样打开文件了！
              <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/sublime_text_open_file3.png",
                                    :width => "90%",
                                    :class => "hover_img textbook-title-img"),
                          "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/sublime_text_open_file3.png",
                          :target => ["_blank"] %>
              <hr class="red-hr">
              <i class="fa fa-arrow-right"></i>　<strong>打开文件夾的方法</strong>
              <br><br>
              事先，点击左上边的<strong>「<u>File > Open Folder</u>」</strong>。
              <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/sublime_text_open_folder1.png",
                                    :width => "90%",
                                    :class => "hover_img textbook-title-img"),
                          "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/sublime_text_open_folder1.png",
                          :target => ["_blank"] %>
              会打开新的画面，之后指定想打开的文件夾之后点击<strong>「<u>开(O)</u>」</strong>。
              <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/sublime_text_open_folder2.png",
                                    :width => "90%",
                                    :class => "hover_img textbook-title-img"),
                          "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/sublime_text_open_folder2.png",
                          :target => ["_blank"] %>
              这样打开文件夾了！
              <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/sublime_text_open_folder3.png",
                                    :width => "90%",
                                    :class => "hover_img textbook-title-img"),
                          "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/sublime_text_open_folder3.png",
                          :target => ["_blank"] %>
            </h4>
            <br>
            <h2 class="textbook-section-title" id="title3"><strong>3 : 用Sequel Pro打开资料的方法</strong></h2>
            <h4>
            用右上边的放大镜，打开<strong><u>Sequel Pro</u></strong>。打开之后参考下面的图像，操作看看。
          <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/Sequel_Pro.png",
                                :width => "90%",
                                :class => "hover_img textbook-title-img"),
                      "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/Sequel_Pro.png",
                      :target => ["_blank"] %>
          做完之后，点击「<strong>Choose Database</strong>」。
          <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Sequel_Pro_Choose_Database.png",
                                :width => "90%",
                                :class => "hover_img textbook-title-img"),
                      "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Sequel_Pro_Choose_Database.png",
                      :target => ["_blank"] %>
          出來的列表框里选出<strong>「myapp_development」或者「message-app_development」</strong>之后，点击。
          <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Sequel_Pro_Select_myapp.png",
                                :width => "90%",
                                :class => "hover_img textbook-title-img"),
                      "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Sequel_Pro_Select_myapp.png",
                      :target => ["_blank"] %>
            左边会显示资料库，所以选择想看的资料库。
            <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page4/Sequel_Pro_myapp_development.png",
                                :width => "90%",
                                :class => "hover_img textbook-title-img"),
                      "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page4/Sequel_Pro_myapp_development.png",
                      :target => ["_blank"] %>
            看到內容了嗎？
            <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page4/Sequel_Pro_Posts_Data1.png",
                                :width => "90%",
                                :class => "hover_img textbook-title-img"),
                      "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page4/Sequel_Pro_Posts_Data1.png",
                      :target => ["_blank"] %>
            参考下面的图像做內容的更新。
            <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page4/Sequel_Pro_Update.png",
                                  :width => "90%",
                                  :class => "hover_img textbook-title-img"),
                        "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page4/Sequel_Pro_Update.png",
                        :target => ["_blank"] %>
            </h4>
            <br>
            <h2 class="textbook-section-title" id="title4"><strong>4 : 用SqliteBrowser打开资料库的方法</strong></h2>
            <h4>
              事先打开<strong><u>SqliteBrowser</u></strong>。
              <br>
              <ul class="number_ul">
                <li>如果是<strong><u>Windows10</u></strong>的话，<strong>打开「<u>Cortana</u>」</strong></li>
                <li>如果是<strong><u>Windows8以下</u></strong>的话，<strong>打开「<u>搜索框</u>」</strong></li>
              </ul>
              之后打入「Sublime Text」，点击搜索的结果。
              <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/sqlite_browser8.png",
                                    :width => "90%",
                                    :class => "hover_img textbook-title-img"),
                          "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/sqlite_browser8.png",
                          :target => ["_blank"] %>
              打开下面图像一样的画面吗？
              <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/sqlite_browser9.png",
                                    :width => "90%",
                                    :class => "hover_img textbook-title-img"),
                          "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/sqlite_browser9.png",
                          :target => ["_blank"] %>
              那么，点击<strong>「<u>SqliteBrowser</u>」</strong>的<strong>「<u>Open Database</u>」</strong>。
              <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/open_sqlite1.png",
                                    :width => "90%",
                                    :class => "hover_img textbook-title-img"),
                          "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/open_sqlite1.png",
                          :target => ["_blank"] %>
              在这里，选择<strong>打开的文件夾</strong>，选择<strong>「<u>开(O)</u>」</strong>。
              <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/open_sqlite2.png",
                                    :width => "90%",
                                    :class => "hover_img textbook-title-img"),
                          "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/open_sqlite2.png",
                          :target => ["_blank"] %>
              显示下面一样的画面吗？
              <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/open_sqlite3.png",
                                    :width => "90%",
                                    :class => "hover_img textbook-title-img"),
                          "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/open_sqlite3.png",
                          :target => ["_blank"] %>
              之后点击<strong>「<u>Browse Data</u>」</strong>。
              <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/open_sqlite4.png",
                                    :width => "90%",
                                    :class => "hover_img textbook-title-img"),
                          "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/open_sqlite4.png",
                          :target => ["_blank"] %>
              这样打开资料库，看到资料库的里面的！
            </h4>
            <br>
            <div class="next-page">
              <a href="javascript:history.back()" class="btn btn-primary">返回</a>
            </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 hidden-xs">
      <br>
      <strong>
      <div id="slide-bar" class="clear-fix">
        <div class="list-group nomargin">
          <a href="#title" class="list-group-item list-title"><h4>打开文件，文件夾的方法</h4></a>
          <a href="#title0" class="list-group-item">0 : 这个章的目的</a>
          <a href="#title1" class="list-group-item">1 : 用Sublime Text打开文件的方法</a>
          <a href="#title2" class="list-group-item">2 : 用Sublime Text打开文件的方法（Windows）</a>
          <a href="#title3" class="list-group-item">3 : 用Sequel Pro打开资料库的方法</a>
          <a href="#title4" class="list-group-item">4 : 用SqliteBrowser打开资料库的方法</a>
        </div>
      </div>
      </strong>
    </div>
  </div>
</div>
<%= render 'pages/fixedjs' %>