<% provide :title, "ファイルの保存方法" %>
<div class="container">
  <div class="row">
    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-xs-12">
      <div class="textbook-area">
        <div class="textbook-area-inner fadeIn wow">
          <div id="title" class="textbook-title">
            <h1><strong>ファイルの保存方法</strong></h1>
          </div>
          <%= image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/header/header2.jpg",
                                :width => "90%",
                                :class => "hover_img textbook-title-img") %>
          <hr>
          <h2 class="textbook-section-title" id="title0"><strong>0 : この章の目的</strong></h2>
            <h4>
              ウェブページを作る時に必要になる設定を決めるファイルは、<strong><u>一回保存をしなければ設定が適用されません。</u></strong>その保存の方法をここで説明します。
            </h4>
            <br>
            <h2 class="textbook-section-title" id="title1"><strong>1 : Sublime Textでのファイルの保存</strong></h2>
            <h4>
              まずは、Sublime Textのウィンドウを以下の手順で開いて下さい。
              <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page3/Sublime_Text_New_Window.png",
                                    :width => "90%",
                                    :class => "hover_img textbook-title-img"),
                          "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page3/Sublime_Text_New_Window.png",
                          :target => ["_blank"] %>
              なにも入力されていないウィンドウがでてくれば大丈夫です。
              <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page3/Window_Sublime_Text.png",
                                    :width => "90%",
                                    :class => "hover_img textbook-title-img"),
                          "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page3/Window_Sublime_Text.png",
                          :target => ["_blank"] %>
              ウィンドウが出てきたら、<strong class="little-remarkable color-blue">「File > Save」</strong>をクリックするか、「Command」と「s」を一緒に押して下さい。
              <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page3/Sublime_Text_Save.png",
                                    :width => "90%",
                                    :class => "hover_img textbook-title-img"),
                          "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page3/Sublime_Text_Save.png",
                          :target => ["_blank"] %>
              新しくウィンドウが出てきますので、下の画像の操作をして下さい。
              <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page3/Sublime_Text_Save_After2.png",
                                    :width => "90%",
                                    :class => "hover_img textbook-title-img"),
                          "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page3/Sublime_Text_Save_After2.png",
                          :target => ["_blank"] %>
              <strong class="little-remarkable"><u>ここまででファイルは保存されました。</u></strong>
              <br>
              これでファイルに設定を入力できるようになりました！
              <hr class="red-hr">
              <i class="fa fa-arrow-right"></i>　<strong>ファイルへの入力が完了したら、「Command」と「s」を一緒に押して下さい。
              <br>
              これで変更が保存されます。</strong>
            </h4>
            <br>
            <h2 class="textbook-section-title" id="title2"><strong>2 : Sublime Textでのファイル保存(Windows版)</strong></h2>
            <h4>
              WindowsでのSublime Textでのファイルの保存を説明します。
              <br><br>
              まずは、Sublime Textのウィンドウ開いてみます。
              <br>
              <ul class="number_ul">
                <li><strong><u>Windows10</u></strong>であれば、<strong>「<u>Cortana</u>」</strong></li>
                <li><strong><u>Windows8以下</u></strong>であれば、<strong>「<u>アプリ検索</u>」</strong></li>
              </ul>
              で、<strong>「<u>Sublime Text</u>」</strong>を検索して、開いてみて下さい。
              <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/sublime_text9.png",
                                    :width => "90%",
                                    :class => "hover_img textbook-title-img"),
                          "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/sublime_text9.png",
                          :target => ["_blank"] %>
              <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/sublime_text10.png",
                                    :width => "90%",
                                    :class => "hover_img textbook-title-img"),
                          "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/sublime_text10.png",
                          :target => ["_blank"] %>
              開けたら左上にある<strong>「<u>File > New File</u>」</strong>をクリックして、
              <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/windows_save_sublime_text1.png",
                                    :width => "90%",
                                    :class => "hover_img textbook-title-img"),
                          "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/windows_save_sublime_text1.png",
                          :target => ["_blank"] %>
              <strong>「<u>File > Save</u>」</strong>をクリックして下さい。
              <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/windows_save_sublime_text2.png",
                                    :width => "90%",
                                    :class => "hover_img textbook-title-img"),
                          "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/windows_save_sublime_text2.png",
                          :target => ["_blank"] %>
              クリックすると入力欄が出てくるので、必要な情報を入力して<strong>「<u>Save</u>」</strong>をクリックして下さい。
              <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/windows_save_sublime_text3.png",
                                    :width => "90%",
                                    :class => "hover_img textbook-title-img"),
                          "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/windows_save_sublime_text3.png",
                          :target => ["_blank"] %>
              <strong><u>ここまででファイルは保存されました。</u></strong>
              <br>
              これでファイルに設定を入力できるようになりました！
              <hr class="red-hr">
              <i class="fa fa-arrow-right"></i>　<strong>ファイルへの入力が完了したら、「ctrl」と「s」を一緒に押して下さい。
              <br>
              これで変更が保存されます。</strong>
            </h4>
            <div class="next-page">
              <a href="javascript:history.back()" class="btn btn-primary">戻る</a>
            </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 hidden-xs">
      <br>
      <strong>
      <div id="slide-bar" class="clear-fix">
        <div class="list-group nomargin">
          <a href="#title" class="list-group-item list-title"><h4>ファイルを保存する</h4></a>
          <a href="#title0" class="list-group-item">0 : この章の目的</a>
          <a href="#title1" class="list-group-item">1 : Sublime Textでのファイルの保存</a>
          <a href="#title2" class="list-group-item">2 : Sublime Textでのファイル保存(Windows版)</a>
        </div>
      </div>
      </strong>
    </div>
  </div>
</div>
<%= render 'pages/fixedjs' %>