<% provide :title, "打開文件，文件夾的方法" %>
<div class="container">
  <div class="row">
    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-xs-12">
      <div class="textbook-area">
        <div class="textbook-area-inner fadeIn wow">
          <div id="title" class="textbook-title">
            <h1><strong>打開文件跟文件夾的方法</strong></h1>
          </div>
          <%= image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/header/header3.jpg",
                                :width => "90%",
                                :class => "hover_img textbook-title-img")%>
          <hr>
          <h2 class="textbook-section-title" id="title0"><strong>0 : 這個章的目的</strong></h2>
            <h4>
              <strong class="color-red little-remarkable">「哎呀！不小心關掉文件了！」</strong>
              <br>
              為了這樣的不幸的事情，解釋文件跟文件夾的方法。
            </h4>
            <br>
            <h2 class="textbook-section-title" id="title1"><strong>1 : 用Sublime Text打開文件的方法</strong></h2>
            <h4>
              事先，參考下面的圖像打開Sublime Text。
              <br>
              <small>※　按右上邊的放大鏡，打入「Sublime Text」也可以打開。</small>
              <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page3/Sublime_Text_New_Window.png",
                                    :width => "90%",
                                    :class => "hover_img textbook-title-img"),
                          "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page3/Sublime_Text_New_Window.png",
                          :target => ["_blank"] %>
              打開下面圖像一樣的畫面的話OK！
              <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page3/Window_Sublime_Text.png",
                                    :width => "90%",
                                    :class => "hover_img textbook-title-img"),
                          "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page3/Window_Sublime_Text.png",
                          :target => ["_blank"] %>
              打開畫面之後，一起按「Command」跟「o」。
              <br>
              會打開新的畫面，按照下面的圖像操作。
              <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page3/Sublime_Text_Open_File.png",
                                    :width => "90%",
                                    :class => "hover_img textbook-title-img"),
                          "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page3/Sublime_Text_Open_File.png",
                          :target => ["_blank"] %>
              <strong class="little-remarkable">這樣打開了！</strong>
              <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page3/Window_Sublime_Text_myapp.png",
                                    :width => "90%",
                                    :class => "hover_img textbook-title-img"),
                          "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page3/Window_Sublime_Text_myapp.png",
                          :target => ["_blank"] %>
            </h4>
            <br>
            <h2 class="textbook-section-title" id="title2"><strong>2 : 用Sublime Text打開文件（Windows）</strong></h2>
            <h4>
              剛開始打開Sublime Text的畫面。
              <br>
              <ul class="number_ul">
                <li>如果是<strong><u>Windows10</u></strong>的話，<strong>打開「<u>Cortana</u>」</strong></li>
                <li>如果是<strong><u>Windows8以下</u></strong>的話，<strong>打開「<u>搜索框</u>」</strong></li>
              </ul>
              之後打入「Sublime Text」，點擊搜索的結果。
              <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/sublime_text9.png",
                                    :width => "90%",
                                    :class => "hover_img textbook-title-img"),
                          "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/sublime_text9.png",
                          :target => ["_blank"] %>
              打開下面圖像一樣的畫面嗎？
              <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/sublime_text10.png",
                                    :width => "90%",
                                    :class => "hover_img textbook-title-img"),
                          "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/sublime_text10.png",
                          :target => ["_blank"] %>
              在這裡，解釋
              <strong>
              <ul class="number_ul">
                <li>打開文件的方法</li>
                <li>打開文件夾的方法</li>
              </ul>
              </strong>
              <hr class="red-hr">
              <i class="fa fa-arrow-right"></i>　<strong>打開文件的方法</strong>
              <br><br>
              事先，點擊<strong>「<u>File > Open File</u>」</strong>。
              <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/sublime_text_open_file1.png",
                                    :width => "90%",
                                    :class => "hover_img textbook-title-img"),
                          "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/sublime_text_open_file1.png",
                          :target => ["_blank"] %>
              會打開新的畫面，指定想打開的文件之後點擊<strong>「<u>開(O)</u>」</strong>。
              <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/sublime_text_open_file2.png",
                                    :width => "90%",
                                    :class => "hover_img textbook-title-img"),
                          "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/sublime_text_open_file2.png",
                          :target => ["_blank"] %>
              這樣打開文件了！
              <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/sublime_text_open_file3.png",
                                    :width => "90%",
                                    :class => "hover_img textbook-title-img"),
                          "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/sublime_text_open_file3.png",
                          :target => ["_blank"] %>
              <hr class="red-hr">
              <i class="fa fa-arrow-right"></i>　<strong>打開文件夾的方法</strong>
              <br><br>
              事先，點擊左上邊的<strong>「<u>File > Open Folder</u>」</strong>。
              <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/sublime_text_open_folder1.png",
                                    :width => "90%",
                                    :class => "hover_img textbook-title-img"),
                          "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/sublime_text_open_folder1.png",
                          :target => ["_blank"] %>
              會打開新的畫面，之後指定想打開的文件夾之後點擊<strong>「<u>開(O)</u>」</strong>。
              <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/sublime_text_open_folder2.png",
                                    :width => "90%",
                                    :class => "hover_img textbook-title-img"),
                          "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/sublime_text_open_folder2.png",
                          :target => ["_blank"] %>
              這樣打開文件夾了！
              <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/sublime_text_open_folder3.png",
                                    :width => "90%",
                                    :class => "hover_img textbook-title-img"),
                          "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/sublime_text_open_folder3.png",
                          :target => ["_blank"] %>
            </h4>
            <br>
            <h2 class="textbook-section-title" id="title3"><strong>3 : 用Sequel Pro打開資料的方法</strong></h2>
            <h4>
            用右上邊的放大鏡，打開<strong><u>Sequel Pro</u></strong>。打開之後參考下面的圖像，操作看看。
          <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page2/Sequel_Pro.png",
                                :width => "90%",
                                :class => "hover_img textbook-title-img"),
                      "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page2/Sequel_Pro.png",
                      :target => ["_blank"] %>
          做完之後，點擊「<strong>Choose Database</strong>」。
          <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page3/Sequel_Pro_Choose_Database.png",
                                :width => "90%",
                                :class => "hover_img textbook-title-img"),
                      "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page3/Sequel_Pro_Choose_Database.png",
                      :target => ["_blank"] %>
          出來的列裱框裡選出<strong>「myapp_development」或者「message-app_development」</strong>之後，點擊。
          <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page3/Sequel_Pro_Select_myapp.png",
                                :width => "90%",
                                :class => "hover_img textbook-title-img"),
                      "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page3/Sequel_Pro_Select_myapp.png",
                      :target => ["_blank"] %>
            左邊會顯示資料庫，所以選擇想看的資料庫。
            <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page4/Sequel_Pro_myapp_development.png",
                                :width => "90%",
                                :class => "hover_img textbook-title-img"),
                      "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page4/Sequel_Pro_myapp_development.png",
                      :target => ["_blank"] %>
            看到內容了嗎？
            <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page4/Sequel_Pro_Posts_Data1.png",
                                :width => "90%",
                                :class => "hover_img textbook-title-img"),
                      "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page4/Sequel_Pro_Posts_Data1.png",
                      :target => ["_blank"] %>
            參考下面的圖像做內容的更新。
            <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page4/Sequel_Pro_Update.png",
                                  :width => "90%",
                                  :class => "hover_img textbook-title-img"),
                        "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page4/Sequel_Pro_Update.png",
                        :target => ["_blank"] %>
            </h4>
            <br>
            <h2 class="textbook-section-title" id="title4"><strong>4 : 用SqliteBrowser打開資料庫的方法</strong></h2>
            <h4>
              事先打開<strong><u>SqliteBrowser</u></strong>。
              <br>
              <ul class="number_ul">
                <li>如果是<strong><u>Windows10</u></strong>的話，<strong>打開「<u>Cortana</u>」</strong></li>
                <li>如果是<strong><u>Windows8以下</u></strong>的話，<strong>打開「<u>搜索框</u>」</strong></li>
              </ul>
              之後打入「Sublime Text」，點擊搜索的結果。
              <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/sqlite_browser8.png",
                                    :width => "90%",
                                    :class => "hover_img textbook-title-img"),
                          "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/sqlite_browser8.png",
                          :target => ["_blank"] %>
              打開下面圖像一樣的畫面嗎？
              <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/sqlite_browser9.png",
                                    :width => "90%",
                                    :class => "hover_img textbook-title-img"),
                          "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/sqlite_browser9.png",
                          :target => ["_blank"] %>
              那麽，點擊<strong>「<u>SqliteBrowser</u>」</strong>的<strong>「<u>Open Database</u>」</strong>。
              <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/open_sqlite1.png",
                                    :width => "90%",
                                    :class => "hover_img textbook-title-img"),
                          "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/open_sqlite1.png",
                          :target => ["_blank"] %>
              在這裡，選擇<strong>打開的文件夾</strong>，選擇<strong>「<u>打開(O)</u>」</strong>。
              <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/open_sqlite2.png",
                                    :width => "90%",
                                    :class => "hover_img textbook-title-img"),
                          "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/open_sqlite2.png",
                          :target => ["_blank"] %>
              顯示下面一樣的畫面嗎？
              <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/open_sqlite3.png",
                                    :width => "90%",
                                    :class => "hover_img textbook-title-img"),
                          "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/open_sqlite3.png",
                          :target => ["_blank"] %>
              之後點擊<strong>「<u>Browse Data</u>」</strong>。
              <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/open_sqlite4.png",
                                    :width => "90%",
                                    :class => "hover_img textbook-title-img"),
                          "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/open_sqlite4.png",
                          :target => ["_blank"] %>
              這樣打開資料庫，看到資料庫的裡面的！
            </h4>
            <br>
            <div class="next-page">
              <a href="javascript:history.back()" class="btn btn-primary">返回</a>
            </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 hidden-xs">
      <br>
      <strong>
      <div id="slide-bar" class="clear-fix">
        <div class="list-group nomargin">
          <a href="#title" class="list-group-item list-title"><h4>打開文件，文件夾的方法</h4></a>
          <a href="#title0" class="list-group-item">0 : 這個章的目的</a>
          <a href="#title1" class="list-group-item">1 : 用Sublime Text打開文件的方法</a>
          <a href="#title2" class="list-group-item">2 : 用Sublime Text打開文件的方法（Windows）</a>
          <a href="#title3" class="list-group-item">3 : 用Sequel Pro打開資料庫的方法</a>
          <a href="#title4" class="list-group-item">4 : 用SqliteBrowser打開資料庫的方法</a>
        </div>
      </div>
      </strong>
    </div>
  </div>
</div>
<%= render 'pages/fixedjs' %>