<% provide :title, "保存文件的方法" %>
<div class="container">
  <div class="row">
    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-xs-12">
      <div class="textbook-area">
        <div class="textbook-area-inner fadeIn wow">
          <div id="title" class="textbook-title">
            <h1><strong>保存文件的方法</strong></h1>
          </div>
          <%= image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/header/header2.jpg",
                                :width => "90%",
                                :class => "hover_img textbook-title-img") %>
          <hr>
          <h2 class="textbook-section-title" id="title0"><strong>0 : 這個章的目的</strong></h2>
            <h4>
              作網站的時候需要的文件，<strong><u>必須先保存一次才可以顯示</u></strong>。在這裡解釋怎麼保存。
            </h4>
            <br>
            <h2 class="textbook-section-title" id="title1"><strong>1 : 用Sublime Text保存文件的方法</strong></h2>
            <h4>
              事先，參考下面的圖像打開Sublime Text。
              <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Sublime_Text_New_Window.png",
                                    :width => "90%",
                                    :class => "hover_img textbook-title-img"),
                          "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Sublime_Text_New_Window.png",
                          :target => ["_blank"] %>
              打開下面一樣的畫面的話OK！
              <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Window_Sublime_Text.png",
                                    :width => "90%",
                                    :class => "hover_img textbook-title-img"),
                          "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Window_Sublime_Text.png",
                          :target => ["_blank"] %>
              打開畫面的話點擊<strong class="little-remarkable color-blue">「File > Save」</strong>之後、一起點擊「Command」跟「s」。
              <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Sublime_Text_Save.png",
                                    :width => "90%",
                                    :class => "hover_img textbook-title-img"),
                          "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Sublime_Text_Save.png",
                          :target => ["_blank"] %>
              會出現新的畫面，參考下面的圖像操作。
              <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Sublime_Text_Save_After2.png",
                                    :width => "90%",
                                    :class => "hover_img textbook-title-img"),
                          "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Sublime_Text_Save_After2.png",
                          :target => ["_blank"] %>
              <strong class="little-remarkable"><u>文件保存好了！</u></strong>
              <br>
              這樣可以在文件上設定內容。
              <hr class="red-hr">
              <i class="fa fa-arrow-right"></i>　<strong>文件的打入完了之後、一起點擊「Command」跟「s」。
              <br>
              這樣可以保存內容。</strong>
            </h4>
            <br>
            <h2 class="textbook-section-title" id="title2"><strong>2 : 用Sublime Text保存文件的方法(Windows)</strong></h2>
            <h4>
              解釋用Windows保存Sublime Text的方法。
              <br><br>
              事先打開Sublime Text的畫面。
              <br>
              <ul class="number_ul">
                <li>如果是<strong><u>Windows10</u></strong>的話，<strong>打開「<u>Cortana</u>」</strong></li>
                <li>如果是<strong><u>Windows8以下</u></strong>的話，<strong>打開「<u>搜索框</u>」</strong></li>
              </ul>
              搜索<strong>「<u>Sublime Text</u>」</strong>之後打開。
              <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/sublime_text9.png",
                                    :width => "90%",
                                    :class => "hover_img textbook-title-img"),
                          "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/sublime_text9.png",
                          :target => ["_blank"] %>
              <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/sublime_text10.png",
                                    :width => "90%",
                                    :class => "hover_img textbook-title-img"),
                          "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/sublime_text10.png",
                          :target => ["_blank"] %>
              打開之後，點擊<strong>「<u>File > New File</u>」</strong>，
              <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/windows_save_sublime_text1.png",
                                    :width => "90%",
                                    :class => "hover_img textbook-title-img"),
                          "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/windows_save_sublime_text1.png",
                          :target => ["_blank"] %>
              點擊<strong>「<u>File > Save</u>」</strong>。
              <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/windows_save_sublime_text2.png",
                                    :width => "90%",
                                    :class => "hover_img textbook-title-img"),
                          "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/windows_save_sublime_text2.png",
                          :target => ["_blank"] %>
              點擊之後會出現輸入框、打入需要的資料之後點擊<strong>「<u>Save</u>」</strong>。
              <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/windows_save_sublime_text3.png",
                                    :width => "90%",
                                    :class => "hover_img textbook-title-img"),
                          "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/windows_save_sublime_text3.png",
                          :target => ["_blank"] %>
              <strong><u>文件保存好了。</u></strong>
              <br>
              這樣可以在文件上打入設定了。
              <hr class="red-hr">
              <i class="fa fa-arrow-right"></i>　<strong>文件上的打入完了之後，一起點擊「ctrl」跟「s」。
              <br>
              這樣可以保存文件。</strong>
            </h4>
            <div class="next-page">
              <a href="javascript:history.back()" class="btn btn-primary">返回</a>
            </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 hidden-xs">
      <br>
      <strong>
      <div id="slide-bar" class="clear-fix">
        <div class="list-group nomargin">
          <a href="#title" class="list-group-item list-title"><h4>保存文件的方法</h4></a>
          <a href="#title0" class="list-group-item">0 : 這個章的目的</a>
          <a href="#title1" class="list-group-item">1 : 用Sublime Text保存文件的方法</a>
          <a href="#title2" class="list-group-item">2 : 用Sublime Text保存文件的方法(Windows版)</a>
        </div>
      </div>
      </strong>
    </div>
  </div>
</div>
<%= render 'pages/fixedjs' %>