<% provide :title, "Mugcup" %>
<div class="container">
  <div id="top-page" class="textbook-area">
    <div class="textbook-area-inner fadeIn wow">
      <div id="title" class="textbook-title">
        <h1><strong>Mugcup(基礎編)</strong></h1>
      </div>
      <br>
      <header class="header-img-desk">
        <div class="header-content hover_img_reverse" style="padding:100px 0">
          <h1 class="text-center" style="margin:20px auto;">
            <strong>
            <a href="/<%= I18n.locale %>/mugcups" class="btn btn-lg btn-primary" style="font-size:32px;">
            <%= image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/logo/mugcup_logo_link.png",
                          :class => "nav-img") %>
            Mugcup(基礎編)</a>
            </strong>
          </h1>
        </div>
      </header>
      <br>
      <h2 class="textbook-section-title" id="title1"><strong>目錄</strong></h2>
      <h4>
      日常生活中不可缺少的網路。
      <br>
      我們解釋，用叫做<strong class="color-red font-18">Ruby on Rails</strong> 的軟件作網站的方法。
      <br><br>
      在這裡，作作看<a href="https://gentle-cove-48435.herokuapp.com/users/sign_in" target="_blank"><strong>這樣子的網站</strong></a>。
      <br><br><br>
      <strong>
      <p class="alert alert-warning">
        <i class="fa fa-arrow-right"></i>　利用之前，<a href="/zh-TW/warning" target="_blank"><strong>請確認這裡</strong></a>
      </p>
      </strong>
      <br>
      </h4>
      <hr>
      <div id="main-section-inner" class="row">
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
          <a href="/<%= I18n.locale %>/mugcups/0">
          <div class="table-content">
            <p>0 : 剛開始</p>
          </div>
          </a>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
          <a href="/<%= I18n.locale %>/mugcups/1">
          <div class="table-content">
            <p>1 : 什麼事網路？</p>
          </div>
          </a>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
          <a href="/<%= I18n.locale %>/mugcups/2">
          <div class="table-content">
            <p>2 : Ruby on Rails 的基礎</p>
          </div>
          </a>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
          <a href="/<%= I18n.locale %>/mugcups/3">
          <div class="table-content">
            <p>3 : 作作看簡單的網站</p>
          </div>
          </a>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
          <a href="/<%= I18n.locale %>/mugcups/4">
          <div class="table-content">
            <p>4 : 資料庫裡保存資料</p>
          </div>
          </a>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
          <a href="/<%= I18n.locale %>/mugcups/5">
          <div class="table-content">
            <p>5 : 作作看網頁！①</p>
          </div>
          </a>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
          <a href="/<%= I18n.locale %>/mugcups/6">
          <div class="table-content">
            <p>6 : 作作看網頁！②</p>
          </div>
          </a>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
          <a href="/<%= I18n.locale %>/mugcups/7">
          <div class="table-content">
            <p>7 : 把網頁設定的更方便吧！</p>
          </div>
          </a>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
          <a href="/<%= I18n.locale %>/mugcups/8">
          <div class="table-content">
            <p>8 : 作作看主頁！</p>
          </div>
          </a>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
          <a href="/<%= I18n.locale %>/mugcups/9">
          <div class="table-content">
            <p>9 : 用戶管理①</p>
          </div>
          </a>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
          <a href="/<%= I18n.locale %>/mugcups/10">
          <div class="table-content">
            <p>10 : 用戶管理②</p>
          </div>
          </a>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
          <a href="/<%= I18n.locale %>/mugcups/11">
          <div class="table-content">
            <p>11 : 用戶管理③</p>
          </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>