<div class="container">
  <div class="row">
    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-xs-12">
      <div class="textbook-area">
        <div class="textbook-area-inner fadeIn wow">
          <div id="title" class="textbook-title">
            <h1><strong>Rails的准备（Windows）</strong></h1>
          </div>
          <%= image_tag "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/header/header2.jpg",
                        :width => "90%",
                        :class => "textbook-title-img hover_img" %>
          <br>
          <h2 class="textbook-section-title" id="title0"><strong>0 : 这个章的目的</strong></h2>
          <h4>
            <i class="fa fa-windows color-blue"></i>　<strong>解释使用Windows的时候的，安裝Ruby on Rails的方法。</strong>
          </h4>
          <br>
          <h2 class="textbook-section-title" id="title1"><strong>1 : 安裝Rails的环境</strong></h2>
          <h4>
            在这里解释用Windows安裝Rails的方法。
            <hr class="red-hr">
            <i class="fa fa-arrow-right"></i>　<strong>首先，解释安裝的时候，会用的应用程序<span class="color-blue">「命令提示符」</span>。</strong>
            <hr>
          </h4>
          <%= render "windows/zh-CN/rails_title1_1" %>
          <hr>
          <%= render "windows/zh-CN/rails_title1_2" %>
          <hr>
          <%= render "windows/zh-CN/rails_title1_3" %>
          <hr>
          <%= render "windows/zh-CN/rails_title1_4" %>
          <br>
          <div class="next-page">
            <a href="/zh-CN/mugcups/3" class="btn btn-primary">下章</a>
          </div>
          <br>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 hidden-xs">
      <br>
      <div id="slide-bar" class="clear-fix">
      <strong>
        <div class="list-group nomargin">
          <a href="#title" class="list-group-item list-title">安裝Rails环境（Windows）</a>
          <a href="#title0" class="list-group-item">0 : 这个章的目的</a>
          <a href="#title1" class="list-group-item">1 : 安裝Rails的环境</a>
          <a href="#title1-1" class="list-group-item">　<small>① 命令提示符</small></a>
          <a href="#title1-2" class="list-group-item">　<small>② Ruby on Rails的安裝</small></a>
          <a href="#title1-3" class="list-group-item">　<small>③ Sublime Text的安裝</small></a>
          <a href="#title1-4" class="list-group-item">　<small>④ SQLite Browser的安裝</small></a>
        </div>
      </strong>
      </div>
    </div>
  </div>
</div>
<%= render 'pages/fixedjs' %>