<% provide :title, "Windowsでの設定" %>
<div class="container">
  <div class="row">
    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-xs-12">
      <div class="textbook-area">
        <div class="textbook-area-inner fadeIn wow">
          <div id="title" class="textbook-title">
            <h1><strong>Windowsでの設定</strong></h1>
          </div>
          <%= image_tag "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/header/header4.jpg",
                        :width => "90%",
                        :class => "textbook-title-img hover_img" %>
          <br>
          <h2 class="textbook-section-title" id="title0"><strong>0 : この章の目的</strong></h2>
          <h4>
            <i class="fa fa-windows color-blue"></i>　<strong>Windowsでの設定について解説する。</strong>
          </h4>
          <br>
          <h2 class="textbook-section-title" id="title1"><strong>1 : Rails</strong></h2>
          <h4>
            <%= render "windows/tips_title1_1" %>
            <hr>
            <%= render "windows/tips_title1_2" %>
            <hr>
            <%= render "windows/tips_title1_3" %>
            <hr>
            <%= render "windows/tips_title1_4" %>
            <hr>
            <%= render "windows/tips_title1_5" %>
          </h4>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 hidden-xs">
      <br>
      <div id="slide-bar" class="clear-fix">
      <strong>
        <div class="list-group nomargin">
          <a href="#title" class="list-group-item list-title">Windowsでの設定</a>
          <a href="#title0" class="list-group-item">0 : この章の目的</a>
          <a href="#title1" class="list-group-item">1 : Rails</a>
          <a href="#title1-1" class="list-group-item">　<small>① フォルダの作成</small></a>
          <a href="#title1-2" class="list-group-item">　<small>② 「rails_projects」の開き方</small></a>
          <a href="#title1-3" class="list-group-item">　<small>③ Gemfile</small></a>
          <a href="#title1-4" class="list-group-item">　<small>④ Bootstrap の導入</small></a>
          <a href="#title1-5" class="list-group-item">　<small>⑤ gem導入時の設定</small></a>
        </div>
      </strong>
      </div>
    </div>
  </div>
</div>
<%= render 'pages/fixedjs' %>