<div class="container">
  <div class="row">
    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-xs-12">
      <div class="textbook-area">
        <div class="textbook-area-inner fadeIn wow">
          <div id="title" class="textbook-title">
            <h1><strong>上載圖像：設定一覽</strong></h1>
          </div>
          <h4><u><a href="/zh-TW/coffee_cups/7" class="text-left ">上載圖像</a></u></h4>
          <%= image_tag "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/header/coffeecup_header7.jpg",
                        :width => "90%",
                        :class => "textbook-title-img hover_img" %>
          <hr>
          <h2 class="textbook-section-title" id="title0"><strong>0 : 這個章的目的</strong></h2>
          <h4>
            <i class="fa fa-bookmark color-red"></i>　<strong>看看「上載圖像」的設定一覽</strong>
          </h4>
          <br>
          <h2 class="textbook-section-title" id="title1"><strong>1 : 設定一覽</strong></h2>
          <h4 id="code-coffee-1">
            <strong>「<a href="/zh-TW/coffee_cups/7" target="_blank">上載圖像</a>」裡使用「<u>Paperclip</u>」的gem，上載圖像。</strong>
            <br><br>
            在這個章做了，
            <strong>
            <ul class="number_ul">
              <li>導入「Paperclip」</li>
              <li>追加資料庫的框子</li>
              <li>圖像的資料操作</li>
              <li>網頁上顯示圖像</li>
            </ul>
            </strong>
            這個3個設定。
            <hr class="red-hr">
            <p id="title1-1"><i class="fa fa-play-circle"></i>　<strong>首先從「<u>Paperclip</u>」的導入開始</strong></p>
            <br>
            在terminal打入
            <br><br>
            　<strong>terminal</strong>
            <br>
            <small>
              <i class="fa fa-windows color-blue"></i>　使用Windows的話，用「命令提示符」。
            </small>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>brew install imagemagick</span>
</td>
</tr>
</table>
            <br>
            之後安裝<strong>使用「<u>Paperclip</u>」的時候會需要的「<u>imagemagick</u>」</strong>。
            <br>
            <small>※　這樣安裝好了，以後不用安裝。</small>
            <br><br>
            到這裡之後，在<strong>「<u>Gemfile</u>」</strong>裡追加內容
            <br><br>
            <i class="fa fa-file color-red"></i>　<strong>Gemfile</strong>
            <br>
            <small>
              ※　<strong><u>用半母字母數字打入</u></strong>。一起點擊<strong><u>「Command」跟「s」</u></strong>可以保存內容。
              <br>
              <i class="fa fa-windows color-blue"></i>　使用Windows的話，點擊<strong><u>「ctrl」跟「s」</u></strong>可以保存內容。
            </small>
            <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>32
</td>
<td class='code-content'><span class='code-line'><span class='word-red'>gem </span><span class='word-yellow'>"paperclip"</span></span>
</td>
</tr>
</table>
            <br>
            用terminal，做gem的導入。
            <br><br>
            　<strong>ターミナル</strong>
            <br>
            <small>
              <i class="fa fa-windows color-blue"></i>　使用Windows的話，用「命令提示符」。
            </small>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>bundle install</span>
</td>
</tr>
</table>
            <hr class="red-hr">
            <p id="title1-2"><i class="fa fa-play-circle"></i>　<strong>接着做框子的設定</strong></p>
            <br><br>
            首先在terminal打入下面的打入，作編輯資料庫的設定文件。
            <br><br>
            　<strong>terminal</strong>
            <br>
            <small>
              <i class="fa fa-windows color-blue"></i>　使用Windows的話，用「命令提示符」。
            </small>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rails g paperclip user image</span>
</td>
</tr>
</table>
            <br>
            這樣<strong>「<u>db > migrate</u>」文件夾裡作好「<u>日子_add_attachment_image_to_users.rb</u>」文件</strong>了。
            <br><br>
            <i class="fa fa-file color-red"></i>　<strong>日子_add_attachment_image_to_users.rb</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
4
5
6
7
8
9
10
11
</td>
<td class='code-content'><span class='code-line'><span class='word-red'>class </span>AddAttachmentImageToUsers <span class="word-green">< ActiveRecord::Migration</span></span>
<span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>self.up</span></span>
<span class='code-line'>    change_table <span class='word-purple'>:users</span><span class='word-red'> do</span> |t|</span>
<span class='code-line'>      t.attachment <span class='word-purple'>:image</span></span>
<span class='code-line'>    <span class='word-red'>end</span></span>
<span class='code-line'>  <span class='word-red'>end</span></span>
<span class='code-line'></span>
<span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>self.down</span></span>
<span class='code-line'>    remove_attachment <span class='word-purple'>:users</span>, <span class='word-purple'>:image</span></span>
<span class='code-line'>  <span class='word-red'>end</span></span>
<span class='code-line'><span class='word-red'>end</span></span>
</td>
</tr>
</table>
            <br>
            適用這個文件的內容。
            <br><br>
            　<strong>terminal</strong>
            <br>
            <small>
              <i class="fa fa-windows color-blue"></i>　使用Windows的話，用「命令提示符」。
            </small>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rake db:migrate</span>
</td>
</tr>
</table>
            <br>
            到這裡
            <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee4/Sequel_Pro_images.png",
                                  :width => "90%",
                                  :class => "hover_img textbook-title-img"),
                        "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee4/Sequel_Pro_images.png",
                        :target => ["_blank"]  %>
              追加了像上面圖像一樣的框子吧。
              <hr class="red-hr">
              <p id="title1-3"><i class="fa fa-play-circle"></i>　<strong>那麽做做看資料操作吧！</strong></p>
              <br><br>
              資料操作在
              <strong>
              <ul class="number_ul">
                <li>「app > controllers > users_controller.rb」</li>
                <li>「app > models > user.rb」</li>
              </ul>
              </strong>
              這個兩個文件裡設定。
              <br><br>
              <i class="fa fa-file color-red"></i>　<strong>users_controller.rb（編輯第31行）</strong>
              <br>
              <small>
                ※　<strong><u>用半母字母數字打入</u></strong>。一起點擊<strong><u>「Command」跟「s」</u></strong>可以保存內容。
                <br>
                <i class="fa fa-windows color-blue"></i>　使用Windows的話，點擊<strong><u>「ctrl」跟「s」</u></strong>可以保存內容。
              </small>
              <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>28
29
30
<strong class="color-red">31</strong>
32
33
34
35
36
37
38
</td>
<td class='code-content'>
<span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>update</span></span>
<span class='code-line'>    @user <span class="word-red">=</span> <span class='word-blue'>User</span>.find(params[<span class='word-purple'>:id</span>])</span>
<span class='code-line'>    <span class='word-red'>if </span>@user.id <span class="word-red">==</span> current_user.id</span>
<span class='code-line remarkable-code'>      @user.update(params.<span class="word-red">require</span>(<span class='word-purple'>:user</span>).permit(<span class='word-purple'>:first_name</span>, <span class='word-purple'>:family_name</span>, <span class='word-purple'>:self_introduction</span>, <span class='word-purple'>:age</span>, <span class='word-purple'>:image</span>))</span>
<span class='code-line'>      redirect_to <span class='word-yellow'>"/users/#{@user.id}/edit"</span></span>
<span class='code-line'>      flash[<span class='word-purple'>:notice</span>] <span class="word-red">=</span> <span class='word-yellow'>"編輯好了"</span></span>
<span class='code-line'>    <span class="word-red">else</span></span>
<span class='code-line'>      redirect_to <span class='word-yellow'>"/"</span></span>
<span class='code-line'>      flash[<span class='word-purple'>:alert</span>] <span class="word-red">=</span> <span class='word-yellow'>"無效的會員"</span></span>
<span class='code-line'>    <span class='word-red'>end</span></span>
<span class='code-line'>  <span class='word-red'>end</span></span>
</td>
</tr>
</table>
            <br>
            <i class="fa fa-file color-red"></i>　<strong>user.rb（追加第10〜12行）</strong>
            <br>
            <small>
              ※　<strong><u>用半母字母數字打入</u></strong>。一起點擊<strong><u>「Command」跟「s」</u></strong>可以保存內容。
              <br>
              <i class="fa fa-windows color-blue"></i>　使用Windows的話，點擊<strong><u>「ctrl」跟「s」</u></strong>可以保存內容。
            </small>
            <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
4
5
6
7
8
9
<strong class="color-red">10
11
12</strong>
13
14
</td>
<td class='code-content'><span class='code-line'><span class='word-red'>class </span>User <span class="word-green">< ActiveRecord::Base</span></span>
<span class='code-line'>  <span class='word-gray'># Include default devise modules. Others available are:</span></span>
<span class='code-line'>  <span class='word-gray'># :confirmable, :lockable, :timeoutable and :omniauthable</span></span>
<span class='code-line'>  devise <span class='word-purple'>:database_authenticatable</span>, <span class='word-purple'>:registerable</span>,</span>
<span class='code-line'>         <span class='word-purple'>:recoverable</span>, <span class='word-purple'>:rememberable</span>, <span class='word-purple'>:trackable</span>, <span class='word-purple'>:validatable</span></span>
<span class='code-line'></span>
<span class='code-line'>  has_many <span class='word-purple'>:messages</span></span>
<span class='code-line'>  has_many <span class='word-purple'>:entries</span></span>
<span class='code-line'></span>
<span class="remarkable-code"><span class='code-line'>  has_attached_file <span class='word-purple'>:image</span>, <span class='word-purple'>styles:</span> { <span class='word-purple'>medium:</span> <span class='word-yellow'>"300x300>", <span class='word-purple'>thumb:</span> "50x50>"</span> }</span>
<span class='code-line'></span>
<span class='code-line'>  validates_attachment <span class='word-purple'>:image</span>, <span class='word-purple'>content_type:</span> { <span class='word-purple'>content_type:</span> [<span class='word-yellow'>"image/jpg", "image/jpeg", "image/png", "image/gif"</span>] }</span></span>
<span class='code-line'></span>
<span class='code-line'><span class='word-red'>end</span></span>
</td>
</tr>
</table>
            <hr class="red-hr">
            <p id="title1-4"><i class="fa fa-play-circle"></i>　<strong>最後做網頁的顯示吧</strong></p>
            <br><br>
            網頁顯示要在
            <strong>
            <ul class="number_ul">
              <li>「app > views > users > edit.html.erb」</li>
              <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee4/Chrome_messages_users_1_edit_no_image.png",
                                    :width => "90%",
                                    :class => "hover_img textbook-title-img"),
                          "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee4/Chrome_messages_users_1_edit_no_image.png",
                          :target => ["_blank"] %>
              <li>「app > views > users > show.html.erb」</li>
              <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee4/Chrome_messages_users_1_after_upload_images.png",
                                    :width => "90%",
                                    :class => "hover_img textbook-title-img"),
                          "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee4/Chrome_messages_users_1_after_upload_images.png",
                          :target => ["_blank"] %>
              <li>「app > views > rooms > show.html.erb」</li>
              <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee4/Chrome_messages_rooms_1_messages_with_images.png",
                                    :width => "90%",
                                    :class => "hover_img textbook-title-img"),
                          "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee4/Chrome_messages_rooms_1_messages_with_images.png",
                          :target => ["_blank"] %>
            </ul>
            </strong>
            這個3個網頁裡，追加畫面的輸入框・顯示的內容。
            <br><br>
            <i class="fa fa-file color-red"></i>　<strong>show.html.erb（「users」文件夾）</strong>
            <br>
            <small>
              ※　<strong><u>用半母字母數字打入</u></strong>。一起點擊<strong><u>「Command」跟「s」</u></strong>可以保存內容。
              <br>
              <i class="fa fa-windows color-blue"></i>　使用Windows的話，點擊<strong><u>「ctrl」跟「s」</u></strong>可以保存內容。
            </small>
            <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
4
<strong class="color-red">5
6
7
8
9
10</strong>
11
12
...
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>div</span><span class='word-green'> class</span>=<span class='word-yellow'>"row"</span>&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>div</span><span class='word-green'> class</span>=<span class='word-yellow'>"col-xs-6"</span>&gt;</span>
<span class='code-line'>    &lt;<span class='word-red'>h1</span>&gt;會員資料&lt;/<span class='word-red'>h1</span>&gt;</span>
<span class='code-line'>    &lt;<span class='word-red'>hr</span>&gt;</span>
<span class="remarkable-code"><span class='code-line'>    &lt;% <span class="word-red">if</span> @user.image.present? %&gt;</span>
<span class='code-line'>      &lt;%= image_tag @user.image.url(<span class='word-purple'>:medium</span>) %&gt;</span>
<span class='code-line'>      &lt;<span class='word-red'>br</span>&gt;&lt;<span class='word-red'>br</span>&gt;</span>
<span class='code-line'>    &lt;% <span class="word-red">else</span> %&gt;</span>
<span class='code-line'>      &lt;<span class='word-red'>h4</span>&gt;沒有圖像&lt;/<span class='word-red'>h4</span>&gt;</span>
<span class='code-line'>    &lt;% <span class="word-red">end</span> %&gt;</span></span>
<span class='code-line'>    &lt;<span class='word-red'>p</span>&gt;名字：&lt;%= @user.family_name %&gt;&lt;%= @user.first_name %&gt;（&lt;%= @user.age %&gt;歳）&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>    &lt;<span class='word-red'>p</span>&gt;自我介紹：&lt;%= @user.self_introduction %&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line word-gray'>    &lt;!-- 省略 --&gt;</span>
</td>
</tr>
</table>
            <br>
            <i class="fa fa-file color-red"></i>　<strong>edit.html.erb（「users」文件夾）</strong>
            <br>
            <small>
              ※　<strong><u>用半母字母數字打入</u></strong>。一起點擊<strong><u>「Command」跟「s」</u></strong>可以保存內容。
              <br>
              <i class="fa fa-windows color-blue"></i>　使用Windows的話，點擊<strong><u>「ctrl」跟「s」</u></strong>可以保存內容。
            </small>
            <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
<strong class="color-red">4
5
6
7
8
9
10
11
12</strong>
13
...
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>h1</span>&gt;編輯會員資料&lt;/<span class='word-red'>h1</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line'>&lt;%= form_for @user <span class="word-red">do</span> |f| %&gt;</span>
<span class="remarkable-code"><span class='code-line'>  &lt;<span class='word-red'>p</span>&gt;頭像&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>  &lt;% <span class="word-red">if</span> @user.image.present? %&gt;</span>
<span class='code-line'>    &lt;%= image_tag @user.image.url(<span class='word-purple'>:medium</span>) %&gt;</span>
<span class='code-line'>    &lt;<span class='word-red'>br</span>&gt;&lt;<span class='word-red'>br</span>&gt;</span>
<span class='code-line'>  &lt;% <span class="word-red">else</span> %&gt;</span>
<span class='code-line'>    &lt;<span class='word-red'>h4</span>&gt;圖像還沒登錄&lt;/<span class='word-red'>h4</span>&gt;</span>
<span class='code-line'>  &lt;% <span class="word-red">end</span> %&gt;</span>
<span class='code-line'>  &lt;%= f.file_field <span class="word-purple">:image</span>, <span class='word-purple'>:class</span> =&gt; <span class='word-yellow'>"form-control my-form"</span> %&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>br</span>&gt;</span></span>
<span class='code-line'>  &lt;<span class='word-red'>p</span>&gt;名字&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line word-gray'>  &lt;!-- 省略 --&gt;</span>
</td>
</tr>
</table>
          <br>
          <i class="fa fa-file color-red"></i>　<strong>show.html.erb（「rooms」文件夾）</strong>
          <br>
          <small>
            ※　<strong><u>用半母字母數字打入</u></strong>。一起點擊<strong><u>「Command」跟「s」</u></strong>可以保存內容。
            <br>
            <i class="fa fa-windows color-blue"></i>　使用Windows的話，點擊<strong><u>「ctrl」跟「s」</u></strong>可以保存內容。
          </small>
          <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>14
15
16
17
18
19
20
21
<strong class="color-red">22</strong>
23
24
25
26
27
28
29
<strong class="color-red">30</strong>
31
32
33
34
35
...
</td>
<td class='code-content'><span class='code-line'>  &lt;<span class='word-red'>div</span><span class='word-green'> class</span>=<span class='word-yellow'>"col-xs-9"</span>&gt;</span>
<span class='code-line'>    &lt;% <span class="word-red">if</span> @messages.present? %&gt;</span>
<span class='code-line'>      &lt;% @messages.each <span class="word-red">do</span> |m| %&gt;</span>
<span class='code-line'>        &lt;% <span class="word-red">if</span> m.user_id <span class="word-red">==</span> current_user.id %&gt;</span>
<span class='code-line'>          &lt;<span class='word-red'>h4</span><span class='word-green'> class</span>=<span class='word-yellow'>"text-right"</span>&gt;</span>
<span class='code-line'>          &lt;<span class='word-red'>p</span><span class='word-green'> class</span>=<span class='word-yellow'>"alert alert-success"</span>&gt;</span>
<span class='code-line'>          &lt;%= m.content %&gt;</span>
<span class='code-line'>          &lt;<span class='word-red'>br</span>&gt;&lt;<span class='word-red'>br</span>&gt;</span>
<span class='code-line remarkable-code'>          &lt;<span class='word-red'>small</span>&gt;&lt;<span class='word-red'>strong</span>&gt;&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/users/&lt;%= m.user_id %&gt;"</span>&gt;&lt;%= m.user.family_name %&gt; &lt;%= m.user.first_name %&gt;　&lt;%= image_tag m.user.image.url(<span class='word-purple'>:thumb</span>) %&gt;&lt;/<span class='word-red'>a</span>&gt;&lt;/<span class='word-red'>strong</span>&gt;&lt;/<span class='word-red'>small</span>&gt;</span>
<span class='code-line'>          &lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>          &lt;/<span class='word-red'>h4</span>&gt;</span>
<span class='code-line'>        &lt;% <span class="word-red">else</span> %&gt;</span>
<span class='code-line'>          &lt;<span class='word-red'>h4</span><span class='word-green'> class</span>=<span class='word-yellow'>"text-left"</span>&gt;</span>
<span class='code-line'>          &lt;<span class='word-red'>p</span><span class='word-green'> class</span>=<span class='word-yellow'>"alert alert-info"</span>&gt;</span>
<span class='code-line'>          &lt;%= m.content %&gt;</span>
<span class='code-line'>          &lt;<span class='word-red'>br</span>&gt;&lt;<span class='word-red'>br</span>&gt;</span>
<span class='code-line remarkable-code'>          &lt;<span class='word-red'>small</span>&gt;&lt;<span class='word-red'>strong</span>&gt;&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/users/&lt;%= m.user_id %&gt;"</span>&gt;&lt;%= image_tag m.user.image.url(<span class='word-purple'>:thumb</span>) %&gt;　&lt;%= m.user.family_name %&gt; &lt;%= m.user.first_name %&gt;&lt;/<span class='word-red'>a</span>&gt;&lt;/<span class='word-red'>strong</span>&gt;&lt;/<span class='word-red'>small</span>&gt;</span>
<span class='code-line'>          &lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>          &lt;/<span class='word-red'>h4</span>&gt;</span>
<span class='code-line'>        &lt;% <span class="word-red">end</span> %&gt;</span>
<span class='code-line'>      &lt;% <span class="word-red">end</span> %&gt;</span>
<span class='code-line'>    &lt;% <span class="word-red">else</span> %&gt;</span>
<span class="code-line word-gray">    &lt;!-- 省略 --&gt;</span>
</td>
</tr>
</table>
            <br>
            <i class="fa fa-play-circle"></i>　<strong>到這裡設定好了「<u>Paperclip</u>」的內容了。</strong>
            </h4>
            <hr>
            <div class="next-page">
                <a href="/zh-TW/coffee_cups/7" class="btn btn-primary">返回第7章</a>
            </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 hidden-xs">
      <br>
      <div id="slide-bar" class="clear-fix">
      <strong>
        <div class="list-group nomargin">
          <a href="#title" class="list-group-item list-title"><h4>上載圖像：設定一覽</h4></a>
          <a href="#title0" class="list-group-item">0 : 這個章的目的</a>
          <a href="#title1" class="list-group-item">1 : 設定一覽</a>
          <a href="#title1-1" class="list-group-item">　<small>① : 導入「Paperclip」</small></a>
          <a href="#title1-2" class="list-group-item">　<small>② : 追加框子</small></a>
          <a href="#title1-3" class="list-group-item">　<small>③ : 資料操作</small></a>
          <a href="#title1-4" class="list-group-item">　<small>④ : 網頁顯示</small></a>
        </div>
      </strong>
      </div>
    </div>
  </div>
</div>
<%= render 'pages/fixedjs' %>