<h4 id="chapter9-2-2">
  <p id="title2-2"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">② : 設定登入機能</strong></p>
  <br>
  <strong><u>在這裡做做看登入機能吧！</u></strong>
  <br><br>
  在這裡設定的是
  <ul class="number_ul">
    <strong><li>只讓登入的會員，顯示投稿（posts）的網頁的設定</li></strong>
    <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page9/Chrome_posts_sign_in_before_alert.png",
                          :width => "90%",
                          :class => "hover_img textbook-title-img"),
                "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page9/Chrome_posts_sign_in_before_alert.png",
                :target => ["_blank"] %>
    <hr class="red-hr">
    <strong><li>登入成功的時候・錯的時候要顯示的通知的設定</li></strong>
    <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page9/Chrome_users_log_in_after.png",
                          :width => "90%",
                          :class => "hover_img textbook-title-img"),
                "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page9/Chrome_users_log_in_after.png",
                :target => ["_blank"] %>
    <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page9/Chrome_posts_fail_to_sign_in.png",
                          :width => "90%",
                          :class => "hover_img textbook-title-img"),
                "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page9/Chrome_posts_fail_to_sign_in.png",
                :target => ["_blank"] %>
  </ul>
  這個兩個設定吧。
  <hr class="red-hr">
  <%= render "page9/zh-TW/title2_2_1" %>
  <hr class="red-hr">
  <%= render "page9/zh-TW/title2_2_2" %>
  <hr class="red-hr">
  <%= render "page9/zh-TW/title2_2_3" %>
</h4>