<h2 class="textbook-section-title" id="title2"><strong>2 : 登入機能</strong></h2>
<h4 id="chapter9-2">
devise的導入也完了，接着設定登入機能吧！
<hr class="red-hr">
  <strong><u>一起點擊「Command」跟「c」</u>停止，用「<u>rails s</u>」打開的服務器之後，再打入<u>「rails s」</u>吧。</strong>
  <br>
  <u>這樣編輯好的內容會適用在網頁上。</u>
  <br><br><br>
  <p class="alert alert-success">
  <i class="fa fa-windows color-blue"></i>　<strong>使用Windows的話、
  <br>
  　<u>一起點擊「ctrl」跟「c」</u>停止，用「<u>rails s</u>」打開服務器之後，再打入<u>「rails s」</u>吧。</strong>
  </p>
  <br>
  做完了之後，打開「<a href="http://0.0.0.0:3000/users/sign_up" target="_blank"><strong>0.0.0.0:3000/users/sign_up</strong></a>」吧！
  <br>
  <small>
    <i class="fa fa-windows color-blue"></i>　使用Windows的話打開「<a href="http://localhost:3000/users/sign_up" target="_blank"><strong>localhost:3000/users/sign_up</strong></a>」吧。
  </small>
  <br><br>
<i class="fa fa-arrow-right"></i>　<strong><u>這個是註冊的網頁。</u></strong>
<%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page9/Chrome_users_sign_up_before.png",
                      :width => "90%",
                      :class => "hover_img textbook-title-img"),
            "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page9/Chrome_users_sign_up_before.png",
            :target => ["_blank"] %>
<br>
接着打開「<a href="http://0.0.0.0:3000/users/sign_in" target="_blank"><strong>0.0.0.0:3000/users/sign_in</strong></a>」吧！
  <br>
  <small>
    <i class="fa fa-windows color-blue"></i>　使用Windows的話，打開「<a href="http://localhost:3000/users/sign_in" target="_blank"><strong>localhost:3000/users/sign_in</strong></a>」吧。
  </small>
  <br><br>
<i class="fa fa-arrow-right"></i>　<strong><u>這個是登入的網頁。</u></strong>
<%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page9/Chrome_users_log_in_before.png",
                      :width => "90%",
                      :class => "hover_img textbook-title-img"),
            "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page9/Chrome_users_log_in_before.png",
            :target => ["_blank"] %>
<hr>
<%= render "page9/zh-TW/title2_1" %>
<hr>
<%= render "page9/zh-TW/title2_2" %>
<hr>
<%= render "page9/zh-TW/title2_3" %>
</h4>