<h4 id="chapter6-1-3">
          <p id="title1-3"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">③ : 打入新的資料（new）</strong></p>
          <br>
          到這邊解釋了
          <strong>
          <ul class="number_ul">
            <li>「<a href="/zh-TW/mugcups/5#title1-1" target="_blank">顯示一個資料（show）</a>」</li>
            <li>「<a href="/zh-TW/mugcups/5#title1-2" target="_blank">顯示全部的資料（index）</a>」</li>
          </ul>
          </strong>
          的設定方法。
          <hr class="red-hr">
          <strong><u>現在可是只能顯示資料，不能追加資料。</u></strong>
          <br><br>
          所以在這裡做做看作資料的方法。
          <br>
          基本上，用「<a href="/zh-TW/mugcups/4#title2-1" target="_blank"><strong>rails c</strong></a>」上做的
          <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line small-code'>Post.create(:name =&gt; "名字", :content =&gt; "内容", :place =&gt; "地方")</span>
</td>
</tr>
</table>
          <br>
          設定網頁裡的資料的追加。
          <hr class="red-hr">
          作資料的方法有「new」跟「create」的兩個。
          <br><br>
          <strong>
          <ul class="number_ul">
          <li>先用「new」顯示打入資料的畫面</li>
          <li>再來用「create」保存資料後，顯示保存好了的畫面</li>
          </ul>
          </strong>
          <br>
          的順序作資料。
          <br><br>
          在瀏覽器解釋的話，在<strong>「<u>打入新的資料（new）</u>」</strong>的網頁上打入資料之後，點擊<strong>「<u>登録</u>」</strong>按鈕之後、
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page6/Chrome_posts_new_2.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page6/Chrome_posts_new_2.png",
                    :target => ["_blank"] %>
        移動到「新增資料（create）」的網頁。
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page6/Chrome_posts_create_1.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page6/Chrome_posts_create_1.png",
                    :target => ["_blank"] %>
        然後用 Sequel Pro確認資料庫，可以看到資料會保存在資料庫裡。
        <br>
        <small><i class="fa fa-windows color-blue"></i>　使用Windows的話，用SqliteBrowser打開。</small>
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page6/Sequel_Pro_myapp_posts_3.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page6/Sequel_Pro_myapp_posts_3.png",
                    :target => ["_blank"] %>
          <br>
          首先，先作作看<strong>「<u>打入新的資料（new）</u>」</strong>的網頁吧。
          <hr>
          <%= render "page6/zh-TW/title1_3_1" %>
          <hr>
          <%= render "page6/zh-TW/title1_3_2" %>
</h4>