<h4 id="chapter3-1-1">
          <p id="title1-1"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">① : 用HTML作網頁</strong></p>
          <br>
          事先，用Finder在Desktop裡作<strong class="little-remarkable"><u>「rails_project」</u></strong>的名字的文件夾。
          <br><br><br>
          <p class="alert alert-success">
          <strong><i class="fa fa-windows color-blue"></i>　<u>用 Windows 的話</u>，<a href="/zh-TW/mugcups/windows_tips#title1-1" target="_blank">參考這裡</a>
          <br><br>
          <i class="fa fa-forward"></i>　完了之後<a href="#windows1">按這裡</a>前進。
          </strong>
          </p>
          <br><br>
          <i class="fa fa-exclamation color-red"></i>　<strong class="color-red">從現在起，新做的文件跟文件夾就保存在rails_project裡。</strong>
          <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Finder_mkdir_rails_project.png",
                                :width => "90%",
                                :class => "hover_img textbook-title-img"),
                      "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Finder_mkdir_rails_project.png",
                      :target => ["_blank"] %>
          <br>
          用上章安裝的<strong class="little-remarkable"><u>Sublime Text</u></strong>，作HTML文件。
          <br>
          <small>※　如果不知道地方的話，按右上邊放大鏡的標記，打入「Sublime Text」找找看。</small>
          <br>
          <br>
          用Sublime Text編輯HTML文件跟Ruby on Rails的設定文件等等，<strong>可以設定網站自己喜歡的樣子</strong>。
          <hr class="red-hr">
          <p class="fix-link-nav" id="windows1"><i class="fa fa-play-circle"></i>　<strong>先開Sublime Text。按照下面的圖像開開看！</strong></p>
          <br><br>
          <p class="alert alert-success">
          <strong><i class="fa fa-windows color-blue"></i>　如果使用Windows 的話，<a href="/zh-TW/mugcups/how_to_save#title2" target="_blank">參考這裡</a>，<br>保存叫做「sample.html」的HTML文件在「rails_project」文件夾。
          <br><br>
          <i class="fa fa-forward"></i>　完了之後、<a href="#windows2">從這邊</a>前進。
          </strong>
          </p>
          <br>
          <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Sublime_Text_New_Window.png",
                                :width => "90%",
                                :class => "hover_img textbook-title-img"),
                      "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Sublime_Text_New_Window.png",
                      :target => ["_blank"] %>
          打開了下面一樣的圖像嗎？
          <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Window_Sublime_Text.png",
                                :width => "90%",
                                :class => "hover_img textbook-title-img"),
                      "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Window_Sublime_Text.png",
                      :target => ["_blank"] %>
          如果打開了的話，按<strong class="color-blue">「File > Save」</strong>。
          <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Sublime_Text_Save.png",
                                :width => "90%",
                                :class => "hover_img textbook-title-img"),
                      "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Sublime_Text_Save.png",
                      :target => ["_blank"] %>
          畫面出來之後、像下面一樣子保存文件。
          <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Sublime_Text_Save_After.png",
                                :width => "90%",
                                :class => "hover_img textbook-title-img"),
                      "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Sublime_Text_Save_After.png",
                      :target => ["_blank"] %>
          從Finder的rails_project文件夾上確認的話，可以看到作好的sample.html文件。
          <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Finder_sample_html.png",
                                :width => "90%",
                                :class => "hover_img textbook-title-img"),
                      "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Finder_sample_html.png",
                      :target => ["_blank"] %>
          <hr>
          <p id="windows2" class="fix-link-nav"><i class="fa fa-play-circle"></i>　<strong>那麽咱們、作網頁吧！</strong></p>
          <br>
          在剛才保存的「sample.html」上，打入下面的內容。(<strong>左邊的數字是行數，不用管。</strong>)
          <br><br>
          <strong class="remarkable">設定的時候，漢文以外的地方請用<span class="color-red">半母字母數字</span>打入</strong>
          <hr class="red-hr">
          <i class="fa fa-file color-red"></i>　<strong>sample.html（用半母字母數字打入）</strong>
          <br>
          <small>※　如果嫌麻煩，可以用複製跟黏貼。</small>
<table class="highlight">
<tr><td class='code-line-no text-center'>1<br>2<br>3<br>4<br>5<br>6<br>7<br>8<br>9<br></td><td class='code-content'><span class='code-line'>&lt;!DOCTYPE html&gt;<br></span><span class='code-line'>&lt;<span class='word-red'>html</span>&gt;<br></span><span class='code-line'>&lt;<span class='word-red'>head</span>&gt;<br></span><span class='code-line'>  &lt;<span class='word-red'>meta </span><span class='word-green'>charset</span>=<span class='word-yellow'>"utf-8"</span>&gt;<br></span><span class='code-line'>&lt;/<span class='word-red'>head</span>&gt;<br></span><span class='code-line'>&lt;<span class='word-red'>body</span>&gt;<br></span><span class='code-line'>  &lt;<span class='word-red'>p</span>&gt;你好&lt;/<span class='word-red'>p</span>&gt;<br></span><span class='code-line'>&lt;/<span class='word-red'>body</span>&gt;<br></span><span class='code-line'>&lt;/<span class='word-red'>html</span>&gt;<br></span></td></tr>
</table>
          <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Sublime_Text_sample_html1.png",
                                :width => "90%",
                                :class => "hover_img textbook-title-img"),
                      "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Sublime_Text_sample_html1.png",
                      :target => ["_blank"] %>
          <strong>打入完了之後，<span class="color-red">一起按「Command」跟「s」</span>。<br>這樣可以保存文件的內容。</strong>
          <br><br><br>
          <p class="alert alert-success">
          <strong><i class="fa fa-windows color-blue"></i>　使用Windows的話，<span class="color-blue">一起按「ctrl」跟「s」</span>。這樣可以保存文件的內容。</strong>
          </p>
          <br>
          <hr class="red-hr">
          用Finder開rails_project的文件夾，之後按着下面的圖像打開看看。
          <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Window_Open_With_Chrome.png",
                                :width => "90%",
                                :class => "hover_img textbook-title-img"),
                      "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Window_Open_With_Chrome.png",
                      :target => ["_blank"] %>
          顯示像下面的畫面嗎？
          <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Chrome_sample_html.png",
                                :width => "90%",
                                :class => "hover_img textbook-title-img"),
                      "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Chrome_sample_html.png",
                      :target => ["_blank"] %>
          <br>
          因該顯示<strong class="remarkable color-red">「你好」</strong>。
          <br>
          雖然打入很長的內容，顯示的只是這樣的話有一點傷心哦...
          <br><br>
          <strong>其實說顯示畫面的只是「<i>&lt;body&gt;</i>」跟「<i>&lt;/body&gt;</i>」圍起來的「<i>&lt;p&gt;</i>你好<i>&lt;/p&gt;</i>」的部分而已。</strong>
          <br><br>
          <i class="fa fa-file color-red"></i>　<strong>sample.html（用半母字母數字打入）</strong>
          <br>
<table class="highlight">
<tr><td class='code-line-no text-center'>1<br>2<br>3<br>4<br>5<br>6<br>7<br>8<br>9<br></td><td class='code-content'><span class='code-line'>&lt;!DOCTYPE html&gt;<br></span><span class='code-line'>&lt;<span class='word-red'>html</span>&gt;<br></span><span class='code-line'>&lt;<span class='word-red'>head</span>&gt;<br></span><span class='code-line'>  &lt;<span class='word-red'>meta </span><span class='word-green'>charset</span>=<span class='word-yellow'>"utf-8"</span>&gt;<br></span><span class='code-line'>&lt;/<span class='word-red'>head</span>&gt;<br></span><span class='code-line'>&lt;<span class='word-red'>body</span>&gt;<br></span><span class='code-line'>  &lt;<span class='word-red'>p</span>&gt;你好&lt;/<span class='word-red'>p</span>&gt;<br></span><span class='code-line'>&lt;/<span class='word-red'>body</span>&gt;<br></span><span class='code-line'>&lt;/<span class='word-red'>html</span>&gt;<br></span></td></tr>
</table>
          <br>
          圖畫上顯示<strong>「<i>&lt;p&gt;</i>」跟「<i>&lt;/p&gt;</i>」圍起來的地方</strong>。
          <strong>
          <ul class="number_ul">
            <li><u>&lt;p&gt;</u>的話，普通大小的文字</li>
            <li><u>&lt;h1&gt;</u>的話，大的文字</li>
            <li><u>&lt;h2&gt;</u>的話，有一點大的文字</li>
            <li><u>&lt;h3&gt;</u>的話，中的文字</li>
            <li><u>&lt;img&gt;</u>的話，顯示圖像</li>
            <li><u>&lt;br&gt;</u></i>的話，改行</li>
          </ul>
          </strong>
          等等很多顯示的方法。
          <hr class="red-hr">
          <i class="fa fa-star color-blue"></i>　<strong><u>「<i>&lt;body&gt;</i>」跟「<i>&lt;/body&gt;</i>」圍起來</u></strong>的地方，打入網站上顯示的文章跟圖像。
          <br><br>
          <i class="fa fa-question-circle color-green"></i>　<strong>sample.html文件上，用<i>&lt;h1&gt;</i>顯示內容！</strong>
          <br>
          如果關掉文件的話，<a href="/zh-TW/mugcups/how_to_open#title1" target="_blank"><strong>參考打開文件的方法</strong></a>。
          <br><br>
          <small>
          ※　設定完了之後，<strong>一起按「Command」跟「s」</strong>保存文件的內容。
          <br>
          <i class="fa fa-windows"></i>　使用Windows的話，<strong>一起按「ctrl」跟「s」保存文件的內容</strong>
          </small>
</h4>