<h4 id="chapter3-1-2">
          <p id="title1-2"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">② : 装饰网页</strong></p>
          <br>
          到这里解释了网页的显示的方法。
          <br>
          <strong class="little-remarkable">可是这个网页不好看，让您有一点失望。</strong>
          <br><br>
          这个也当然。
          <br>
          HTML只在显示文章画面等等的资料。<u>这么样显示网页要用別的设定文件。</u>
          <br>
          这个文件叫做<strong class="little-remarkable color-red"><u>CSS文件</u></strong>。
          <br><br>
          <strong>那么咱們作CSS文件，装饰看网页吧！</strong>
          <hr class="red-hr">
          事先「rails_project」的文件夾里保存「style.css」的名字的文件。
          <br>
          <small>※　用「style.css」这个名字的理由，只是很多人用这个名字而已。没有大的意思。
          <br>
          ※　如果不知道这么保存，<a href="/zh-CN/mugcups/how_to_save#title1" target="_blank"><strong>请参考这里</strong></a>。
          <br>
          <i class="fa fa-windows"></i>　用Windows的保存，<a href="/zh-CN/mugcups/how_to_save#title2" target="_blank"><strong>请参考这里</strong></a>。
          </small>
          <br><br>
          像下面一样显示了嗎？
          <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page3/Window_Style_Css.png",
                                :width => "90%",
                                :class => "hover_img textbook-title-img"),
                      "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page3/Window_Style_Css.png",
                      :target => ["_blank"] %>
          在Finder的「rails_project」文件夾上有Style.css跟Sample.html，这个两个文件了吗？
          <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page3/Finder_rails_project.png",
                                :width => "90%",
                                :class => "hover_img textbook-title-img"),
                      "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page3/Finder_rails_project.png",
                      :target => ["_blank"] %>
          文件保存之后，打入內容。
          <br>
          <small>※　打开文件的方法<strong><a href="/zh-CN/mugcups/how_to_open" target="_blank">请参考这里</a></strong>。</small>
          <hr class="red-hr">
          <i class="fa fa-file color-red"></i>　<strong>style.css（用半母字母数字打入）</strong>
<table class="highlight">
<tr><td class='code-line-no text-center'>1<br>2<br>3<br></td><td class='code-content'><span class='code-line'><span class='word-red'>h1</span>{<br></span><span class='code-line'>  <span class='word-blue'>color</span>:<span class='word-blue'>red</span>;<br></span><span class='code-line'>}<br></span></td></tr>
</table>
          <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page3/Sublime_Text_Style_Css.png",
                                :width => "90%",
                                :class => "hover_img textbook-title-img"),
                      "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page3/Sublime_Text_Style_Css.png",
                      :target => ["_blank"] %>
          <i class="fa fa-file color-red"></i>　<strong>sample.html（更改第5, 8行/用半母字母数字打入）</strong>
<table class="highlight">
<tr><td class='code-line-no text-center'>1<br>2<br>3<br>4<br><strong class="color-red">5</strong><br>6<br>7<br><strong class="color-red">8</strong><br>9<br>10<br></td><td class='code-content'><span class='code-line'>&lt;!DOCTYPE html&gt;<br></span><span class='code-line'>&lt;<span class='word-red'>html</span>&gt;<br></span><span class='code-line'>&lt;<span class='word-red'>head</span>&gt;<br></span><span class='code-line'>  &lt;<span class='word-red'>meta </span><span class='word-green'>charset</span>=<span class='word-yellow'>"utf-8"</span>&gt;<br></span><span class='code-line remarkable-code'>  &lt;<span class='word-red'>link </span><span class='word-green'>rel</span>=<span class='word-yellow'>"stylesheet"</span> <span class='word-green'>href</span>=<span class='word-yellow'>"style.css"</span> <span class='word-green'>type</span>=<span class='word-yellow'>"text/css"</span> /&gt;<br></span><span class='code-line'>&lt;/<span class='word-red'>head</span>&gt;<br></span><span class='code-line'>&lt;<span class='word-red'>body</span>&gt;<br></span><span class='code-line remarkable-code'>  &lt;<span class='word-red'>h1</span>&gt;你好&lt;/<span class='word-red'>h1</span>&gt;<br></span><span class='code-line'>&lt;/<span class='word-red'>body</span>&gt;<br></span><span class='code-line'>&lt;/<span class='word-red'>html</span>&gt;<br></span></td></tr>
</table>
<br>
          內容改了之后，一起点击<strong class="little-remarkable color-red"><u>「Command」跟「s」</u></strong>保存文件。
          <br><br><br>
          <p class="alert alert-success">
          <strong><i class="fa fa-windows color-blue"></i>　使用Windows的话，一起点击<span class="color-blue little-remarkable"><u>「ctrl」跟「s」</u></span>保存內容</strong>
          </p>
          <br>
          <hr class="red-hr">
          內容改了之后，参考下面的图像打开「sample.html」。
          <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page3/Window_Open_With_Chrome.png",
                                :width => "90%",
                                :class => "hover_img textbook-title-img"),
                      "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page3/Window_Open_With_Chrome.png",
                      :target => ["_blank"] %>
          显示下面画面一样的显示了吗？
          <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page3/Chrome_Sample_html2.png",
                                :width => "90%",
                                :class => "hover_img textbook-title-img"),
                      "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page3/Chrome_Sample_html2.png",
                      :target => ["_blank"] %>
          文字变成红色了吗？<strong>这个还是简单的设定。我們用CSS文件设定这样子的装饰。</strong>
          <br>
          那么，解释改变的內容把。
          <hr>
          先解释改变的<strong class="little-remarkable"><u>html文件</u></strong>。
          <br><br>
          <i class="fa fa-file color-red"></i>　<strong>sample.html</strong>
<table class="highlight">
<tr><td class='code-line-no text-center'>1<br>2<br>3<br>4<br><strong class="color-red">5</strong><br>6<br>7<br>8<br>9<br>10<br></td><td class='code-content'><span class='code-line'>&lt;!DOCTYPE html&gt;<br></span><span class='code-line'>&lt;<span class='word-red'>html</span>&gt;<br></span><span class='code-line'>&lt;<span class='word-red'>head</span>&gt;<br></span><span class='code-line'>  &lt;<span class='word-red'>meta </span><span class='word-green'>charset</span>=<span class='word-yellow'>"utf-8"</span>&gt;<br></span><span class='code-line remarkable-code'>  &lt;<span class='word-red'>link </span><span class='word-green'>rel</span>=<span class='word-yellow'>"stylesheet"</span> <span class='word-green'>href</span>=<span class='word-yellow'>"style.css"</span> <span class='word-green'>type</span>=<span class='word-yellow'>"text/css"</span> /&gt;<br></span><span class='code-line'>&lt;/<span class='word-red'>head</span>&gt;<br></span><span class='code-line'>&lt;<span class='word-red'>body</span>&gt;<br></span><span class='code-line'>  &lt;<span class='word-red'>h1</span>&gt;你好&lt;/<span class='word-red'>h1</span>&gt;<br></span><span class='code-line'>&lt;/<span class='word-red'>body</span>&gt;<br></span><span class='code-line'>&lt;/<span class='word-red'>html</span>&gt;<br></span></td></tr>
</table>
<br>
        <strong>在这个一行決定，在这个网页上使用「style.css」名字的CSS文件。</strong>
        <br>
        里面应该可以看到「style.css」。在这里指定要用的CSS文件。<u>使用的时候除了CSS文件以外的地方都可以用一样。这个要加在<strong><i>&lt;head&gt;</i>跟<i>&lt;/head&gt;</i>围起來的地方</strong>设定</u>。
        <hr class="red-hr">
        比如说要指定名字叫「style2.css」的CSS文件的话，把
        <br><br>
<table class="highlight">
<tr><td class='code-line-no text-center'>1<br></td><td class='code-content'><span class='code-line'>  &lt;<span class='word-red'>link </span><span class='word-green'>rel</span>=<span class='word-yellow'>"stylesheet"</span> <span class='word-green'>href</span>=<span class='word-yellow'>"style2.css"</span> <span class='word-green'>type</span>=<span class='word-yellow'>"text/css"</span> /&gt;<br></span></td></tr>
</table>
        <br>
        上面的內容，加在<i>&lt;head&gt;</i>跟<i>&lt;/head&gt;</i>之间。
        <strong></strong>
        <br><br>
        <strong class="remarkable">用CSS文件的时候，请不要忘记加这个一行在<i>&lt;head&gt;</i>跟<i>&lt;/head&gt;</i>之间。</strong>
        <hr>
        那么，解释做装饰的<strong class="little-remarkable"><u>CSS文件</u></strong>。
        <br><br>
        <i class="fa fa-file color-red"></i>　<strong>style.css</strong>
<table class="highlight">
<tr><td class='code-line-no text-center'>1<br>2<br>3<br></td><td class='code-content'><span class='code-line'><span class='word-red'>h1</span>{<br></span><span class='code-line'>  <span class='word-blue'>color</span>:<span class='word-blue'>red</span>;<br></span><span class='code-line'>}<br></span></td></tr>
</table>
<br>
        做装饰的CSS文件是，
        <pre class="japanese-code">
想装饰的地方的名字{
  装饰的方法
}</pre>
        这么样设定。
        <hr class="red-hr">
        颜色的设定是
<pre>
color:顏色的名字;
</pre>
        这样子设定。
        <br><br>
        这个时候，
        <br><br>
<table class="highlight">
<tr><td class='code-line-no text-center'>1<br></td><td class='code-content'><span class='code-line'>&lt;<span class='word-red'>h1</span>&gt;你好&lt;/<span class='word-red'>h1</span>&gt;<br></span></td></tr>
</table>
        <br>
        的一行在指定<strong><u>&lt;h1&gt;跟&lt;/h1&gt;之间</u></strong>，要改成红色。
        <br><br>
        <i class="fa fa-exclamation color-red"></i>　那么用別的顏色看看好了！
        <br><br>
        <i class="fa fa-file color-red"></i>　<strong>style.css（用半母字母数字打入）</strong>
        <br>
        <small>※　內容打完之后，一起点击<strong><u>「Command」跟「s」</u></strong>保存內容。
        <br>
        <i class="fa fa-windows"></i>　使用Windows的話，一起点击<strong><u>「ctrl」跟「s」</u></strong>保存內容。
        </small>
<table class="highlight">
<tr><td class='code-line-no text-center'>1<br><strong class="color-red">2</strong><br>3<br></td><td class='code-content'><span class='code-line'><span class='word-red'>h1</span>{<br></span><span class='code-line remarkable-code'>  <span class='word-blue'>color</span>:<span class='word-blue'>blue</span>;<br></span><span class='code-line'>}<br></span></td></tr>
</table>
        <br>
        完了之后，请重新载入网页。內容变了吗？
        <br>
        <small>※　用浏览器打开网页的方法<a href="https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page3/Window_Open_With_Chrome.png" target="_blank"><strong>请参考这里</strong></a>。</small>
        <hr class="red-hr">
        到这边解释了顏色的装饰，<u>但是装饰的方法不只是这个而已。</u>
        <br>
        还有<strong><u>换文字大小的装饰设定，换背景色的装饰的方法</u></strong>等等。参考下面的內容，改设定。
        <br><br>
        <i class="fa fa-file color-red"></i>　<strong>style.css（用半母字母数字打入）</strong>
        <br>
        <small>※　一起点击<strong><u>「Command」跟「s」</u></strong>保存內容。
        <br>
        <i class="fa fa-windows"></i>　使用Windows的话、一起点击<strong><u>「ctrl」跟「s」</u></strong>保存內容。
        </small>
<table class="highlight">
<tr><td class='code-line-no text-center'>1<br>2<br><strong class="color-red">3<br>4</strong><br>5<br></td><td class='code-content'><span class='code-line'><span class='word-red'>h1</span>{<br></span><span class='code-line'>  <span class='word-blue'>color</span>:<span class='word-blue'>blue</span>;<br></span><span class='code-line remarkable-code'>  <span class='word-blue'>font-size</span>:<span class='word-blue'><span class='word-purple'>50</span><span class='word-red'>px</span></span>;<br></span><span class='code-line remarkable-code'>  <span class='word-blue'>background-color</span>:<span class='word-blue'>yellow</span>;<br></span><span class='code-line'>}<br></span></td></tr>
</table>
        <br>
        完了之后，请重新载入网页。显示像下面的图像的內容吗？
        <br>
        <small>※　用浏览器打开网页的方法<a href="https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page3/Window_Open_With_Chrome.png" target="_blank"><strong>请参考这里</strong></a>。</small>
        <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page3/Chrome_Sample_html3.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page3/Chrome_Sample_html3.png",
                    :target => ["_blank"] %>
        文字的大小用
<pre>
font-size:文字的大小px;
</pre>
        这样设定。
        <br><br>
        <strong><u>px是电脑里的大小单位</u></strong>。
        <br><br>
        背景色的设定是
<pre>
background-color:顏色;
</pre>
        <hr class="red-hr">
        <u>装饰还有很多种，如果有兴趣的话自己查查看吧。</u>
        <hr>
        <p id="title1-2-css-class" class="fix-link-nav"><i class="fa fa-play-circle color-red"></i>　<strong class="little-remarkable">CSS跟Class</strong></p>
        <br>
        到这边，解释了装饰网页的方法。
        <br><br>
        現在的方法也可以装饰，但是<strong><i>&lt;h1&gt;</i>只能显示顏色是蓝色／文字的大小是50px／背景色是黄色的文字。</strong>
        <br>
        这样也可以装饰，可是不能有很多种装饰。
        <br><br>
        所以<strong class="little-remarkable">CSS文件可以取装饰的名字、然后跟html文件里装饰。</strong>
        <hr class="red-hr">
        <strong><u>那么作作看吧！</u></strong>
        <br><br>
        <strong>打开「rails_projects」文件夾里的「sample.html」跟「style.css」</strong>！
        <br>
        <small>※　打开文件夾的方法<a href="/zh-CN/mugcups/how_to_open" target="_blank"><strong>请参考这里</strong></a>。</small>
        <br><br>
        <i class="fa fa-file color-red"></i>　<strong>sample.html（用半母字母数字打入）</strong>
        <br>
        <small>※　一起点击<strong><u>「Command」跟「s」</u></strong>可以保存內容。
        <br>
        <i class="fa fa-windows"></i>　使用Windows的话，一起点击<strong><u>「ctrl」跟「s」</u></strong>。
        </small>
<table class="highlight">
<tr><td class='code-line-no text-center'>1<br>2<br>3<br>4<br>5<br>6<br>7<br>8<br><strong class="color-red">9</strong><br>10<br>11<br></td><td class='code-content'><span class='code-line'>&lt;!DOCTYPE html&gt;<br></span><span class='code-line'>&lt;<span class='word-red'>html</span>&gt;<br></span><span class='code-line'>&lt;<span class='word-red'>head</span>&gt;<br></span><span class='code-line'>  &lt;<span class='word-red'>meta </span><span class='word-green'>charset</span>=<span class='word-yellow'>"utf-8"</span>&gt;<br></span><span class='code-line'>  &lt;<span class='word-red'>link </span><span class='word-green'>rel</span>=<span class='word-yellow'>"stylesheet"</span> <span class='word-green'>href</span>=<span class='word-yellow'>"style.css"</span> <span class='word-green'>type</span>=<span class='word-yellow'>"text/css"</span> /&gt;<br></span><span class='code-line'>&lt;/<span class='word-red'>head</span>&gt;<br></span><span class='code-line'>&lt;<span class='word-red'>body</span>&gt;<br></span><span class='code-line'>  &lt;<span class='word-red'>h1</span>&gt;你好&lt;/<span class='word-red'>h1</span>&gt;<br></span><span class='code-line remarkable-code'>  &lt;<span class='word-red'>h1 </span><span class='word-green'>class</span>=<span class='word-yellow'>"title"</span>&gt;テスト&lt;/<span class='word-red'>h1</span>&gt;<br></span><span class='code-line'>&lt;/<span class='word-red'>body</span>&gt;<br></span><span class='code-line'>&lt;/<span class='word-red'>html</span>&gt;<br></span></td></tr>
</table>
<br>
        <i class="fa fa-file color-red"></i>　<strong>style.css（用半母字母数字打入）</strong>
        <br>
        <small>※　一起点击<strong><u>「Command」跟「s」</u></strong>可以保存內容。
        <br>
        <i class="fa fa-windows"></i>　使用Windows的话，一起点击<strong><u>「ctrl」跟「s」</u></strong>。
        </small>
<table class="highlight">
<tr><td class='code-line-no text-center'><strong class="color-red">1<br>2<br>3<br>4</strong><br>5<br></td><td class='code-content'><span class='code-line remarkable-code'><span class='word-green'>.title</span>{<br></span><span class='code-line remarkable-code'>  <span class='word-blue'>color</span>:<span class='word-blue'>white</span>;<br></span><span class='code-line remarkable-code'>  <span class='word-blue'>font-size</span>:<span class='word-blue'><span class='word-purple'>30</span><span class='word-red'>px</span></span>;<br></span><span class='code-line remarkable-code'>  <span class='word-blue'>background-color</span>:<span class='word-blue'>black</span>;<br></span><span class='code-line'>}<br></span></td></tr>
</table>
        <br><br>
        完了之后，请重新载入网页。显示像下面的图像的內容吗？
        <br>
        <small>※　用浏览器打开网页的方法<a href="https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page3/Window_Open_With_Chrome.png" target="_blank"><strong>请参考这里</strong></a></small>
        <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page3/Chrome_Sample_html4.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page3/Chrome_Sample_html4.png",
                    :target => ["_blank"] %>
        上面的画面是<strong><u>沒有装饰的<i>&lt;h1&gt;</i></u></strong>、下面的画面是<strong><u>设定装饰的<i>&lt;h1&gt;</i></u></strong>。
        <hr class="red-hr">
        CSS文件內打入
<pre>
.名字{
  装饰的內容
}
</pre>
        <strong><u>可以用一個名字做几个装饰</u></strong>。
        <br>
        这一次的名字是<strong>「<u>title</u>」</strong>，但是名字可以自己自由的选。
        <br><br>
        在html文件里的显示是，加
<pre>
class="名前"
</pre>
        在<u><i>&lt;h1&gt;</i>或者<i>&lt;p&gt;</i>等等里，</u>可以设定。<u>这里不用加「.」。</u>
        <br>
        这里的名字跟在CSS文件里设定的名字是一样的时候，装饰会适用。
        <br><br>
        <i class="fa fa-question-circle color-green"></i>　改变<strong>沒有装饰的<i>&lt;h1&gt;</i>跟CSS文件，作作看装饰吧！</strong>
        <br>
        <small>
        ※　不要忘记打入用半母字母数字，一起点击<strong><u>「Command」跟「s」</u></strong>保存內容。
        <br>
        <i class="fa fa-windows"></i>　使用Windows的话，一起点击<strong><u>「ctrl」跟「s」</u></strong>保存內容。
        </small>
</h4>