<h2 class="textbook-section-title" id="title1"><strong>1 : オススメの勉強場所</strong></h2>
<h4 id="coffee-chapter5-1">
  <strong>
  「Ruby on Rails」を習える場所はたくさんあります。その中で個人的にオススメできるものを紹介します。
  </strong>
  <hr class="red-hr">
  <ul class="number_ul">
    <h3 id="title1-1"><strong><li>Dive into Code</li></strong></h3>
    <%= link_to image_tag("diveintocode.png",
                          :width => "90%",
                          :class => "hover_img textbook-title-img"),
                "/assets/diveintocode.png",
                :target => ["_blank"] %>
    サイトリンク：<strong>「<a href="diveintocode.jp" target="_blank">Dive into code</a>」</strong>
    <br><br>
    「Ruby on Rails」を教えるプログラミング塾になります。
    <br>
    <strong><u>現場レベルの「Ruby on Rails」の知識を学べます！</u></strong>
    <hr class="red-hr">
    <h3 id="title1-2"><strong><li>Ruby on Rails チュートリアル</li></strong></h3>
      <%= link_to image_tag("rails_tutorial.png",
                            :width => "90%",
                            :class => "hover_img textbook-title-img"),
                  "/assets/rails_tutorial.png",
                  :target => ["_blank"] %>
    サイトリンク：<strong>「<a href="http://railstutorial.jp/" target="_blank">Ruby on Rails チュートリアル：実例を使って Rails を学ぼう</a>」</strong>
    <br><br>
    少し内容は難しいですが、「自作ログイン機能」から<strong>「<u>実際の公開</u>」</strong>までを教えてくれます。
    <hr class="red-hr">
    <h3 id="title1-3"><strong><li>Progate</li></strong></h3>
    <%= link_to image_tag("progate.png",
                          :width => "90%",
                          :class => "hover_img textbook-title-img"),
                "/assets/progate.png",
                :target => ["_blank"] %>
    サイトリンク：<strong>「<a href="https://prog-8.com/" target="_blank">Progate</a>」</strong>
    <br><br>
    「Ruby on Rails」を実際に触りながら学べます。
    <hr class="red-hr">
    <h3 id="title1-4"><strong><li>ドットインストール</li></strong></h3>
    <%= link_to image_tag("dotinstall.png",
                          :width => "90%",
                          :class => "hover_img textbook-title-img"),
                "/assets/dotinstall.png",
                :target => ["_blank"] %>
    サイトリンク：<strong>「<a href="http://dotinstall.com/lessons/basic_rails_v2" target="_blank">ドットインストール　Ruby on Rails4入門</a>」</strong>
    <br><br>
    「Ruby on Rails」を1つ1つ理解できます。
    <hr class="red-hr">
    <h3 id="title1-5"><strong><li>パーフェクト Ruby on Rails</li></strong></h3>
    <%= link_to image_tag("perfect_rails.png",
                          :width => "90%",
                          :class => "hover_img textbook-title-img"),
                "/assets/perfect_rails.png",
                :target => ["_blank"] %>
    Amazonのリンク：<strong>「<a href="http://www.amazon.co.jp/%E3%83%91%E3%83%BC%E3%83%95%E3%82%A7%E3%82%AF%E3%83%88-Ruby-Rails-%E3%81%99%E3%81%8C%E3%82%8F%E3%82%89-%E3%81%BE%E3%81%95%E3%81%AE%E3%82%8A/dp/4774165166" target="_blank">パーフェクト-Ruby-Rails-すがわら-まさのり</a>」</strong>
    <br><br>
    もっと専門的な「Ruby on Rails」の知識を学べる書籍になります。
  </ul>
</h4>