<h4 id="chapter4-1-2">
          <p id="title1-2"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">② : 作作看资料的构造</strong></p>
          <br>
          <strong class="little-remarkable">在这里作作看，<a href="https://gentle-cove-48435.herokuapp.com/users/sign_in" target="_blank">这个网站</a>的资料库。</strong>
          <br><br>
          这个网站的资料库里有<strong>「号码」「投稿者」「内容」「时间」</strong>等等的框子。資料庫的构造就是，由资料库里一個一個的框子构成。
          <br><br>
          <i class="fa fa-arrow-right"></i>　<strong>作资料库的构造可以说是，设定「号码」「投稿者」「內容」「时间」等等一个一个的框子。</strong>
          <hr class="red-hr">
          <strong>Ruby on Rails 上，先用terminal（命令提示符）作资料库，之后在这个资料库上设定一个一个的框子。</strong>
          <br>
          先從右上边的放大镜找terminal之后，打开看看。(如果是Windows的话，用「Cortana」或者「搜索框」找「命令提示符」)
          <br><br>
          打开之后移动到<strong>「<u>myapp</u>」</strong>吧！
          <br><br><br>
          <p class="alert alert-success">
          <span><strong><i class="fa fa-windows color-blue"></i>　使用Windows移动的方法<a href="/zh-CN/mugcups/windows_tips#title1-2" target="_blank">请参考这里</a></strong></span>
          </p>
          <br>
          　<strong>命令提示符（用半母字母数字打入）</strong>
<table class="highlight">
<tr>
<td class='code-line-no text-center'>1
2
3
</td>
<td class='code-content'><span class='code-line'>cd Desktop</span>
<span class='code-line'>cd rails_project</span>
<span class='code-line'>cd myapp</span>
</td>
</tr>
</table>
        <br>
        那么开始作资料库吧！打入下面的命令。
        <br><br>
        　<strong>terminal（用半母字母数字打入）</strong>
        <br>
        <small>
          <i class="fa fa-windows color-blue"></i>　使用Windows的话，请使用「命令提示符」。
        </small>
<table class="highlight">
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rails g model post</span>
</td>
</tr>
</table>
        <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page4/Terminal_rails_g_model_post.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page4/Terminal_rails_g_model_post.png",
                    :target => ["_blank"] %>
        有显示上面图像一样的画面吗？
        <br><br>
        用这个命令<strong>作，叫做「posts」的资料库的设定文件。</strong><u>g是「generate」的省略。</u>
        <br>
        用红色画的「<strong>2016..._create_posts.rb</strong>」是作好的设定文件。
        <br>
        编辑这个设定文件，作资料库的构造。
        <br>
        <small>※　用Ruby on Rails 作的资料库全部都用英文，所以名字就用「posts」。其他框子也用英文作。</small>
        <br><br>
        作资料库的时候要打入
<pre>
rails g model 资料库的名字（单数）
</pre>
        作资料库。
        <br><br>
        打入「<strong>rails g model 资料库的名字（单数）</strong>」，作好的文件是「<strong>作的日子_create_资料库的名字（复数）.rb</strong>」。
        <hr class="red-hr">
        <i class="fa fa-play-circle"></i>　<strong>那么，咱們编辑这个设定文件吧。</strong>
        <br>
        <br>
        用「<strong><u>Sublime Text</u></strong>」编辑这个设定文件。從右上边的放大镜打开！（Windows的话，用「Cortana」或者「搜索框」）
        <br><br>
        打开之后，用「Sublime Text」打开「myapp」文件夾！
        <br>
        <small>
        ※　打开文件，文件夾的方法，<a href="/zh-CN/mugcups/how_to_open#title1" target="_blank"><strong>请参考这里</strong></a>。
        <br>
        <i class="fa fa-windows"></i>　用Windows打开文件，文件夾的方法，<a href="/zh-CN/mugcups/how_to_open#title2" target="_blank"><strong>请参考这里</strong></a>。
        </small>
        <br><br>
        有显示下面图像一样的画面吗？
        <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page3/Window_Sublime_Text_myapp.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page3/Window_Sublime_Text_myapp.png",
                    :target => ["_blank"] %>
        出來之后按照下面图像，打开文件。
        <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page4/Sublime_Text_Migration_Create_Post.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page4/Sublime_Text_Migration_Create_Post.png",
                    :target => ["_blank"] %>
        这个叫做「<strong>2016...._create_posts.rb</strong>」的文件是作资料库的设定文件。
        <br><br>
        <i class="fa fa-file color-red"></i>　<strong>2016..._create_posts.rb</strong>
<table class="highlight">
<tr>
<td class='code-line-no text-center'>1
2
3
4
<strong class="color-red">5</strong>
6
7
8
9
</td>
<td class='code-content'><span class='code-line'><span class='word-red'>class </span>CreatePosts <span class="word-green">< ActiveRecord::Migration</span></span>
<span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>change</span></span>
<span class='code-line'>    create_table <span class='word-purple'>:posts</span><span class='word-red'> do</span> |t|</span>
<span class='code-line'>                     </span>
<span class='code-line remarkable-code'>      t.timestamps <span class='word-purple'>null:</span> <span class="word-purple">false</span></span>
<span class='code-line'>    <span class='word-red'>end</span></span>
<span class='code-line'>  <span class='word-red'>end</span></span>
<span class='code-line'><span class='word-red'>end</span></span>
<span class='code-line'></span>
</td>
</tr>
</table>
        <br>
        用这个文件，作「posts」的名字的资料库（Excel的表）。
        <br>
        这个「<u>create_table :posts</u>」的部分表示「<strong>要作posts的资料库</strong>」的设定。这里不用自己从头到尾作，所以简单的理解就OK！
        <hr class="red-hr">
        资料库的构造在，「<strong>create_table :posts do |t|</strong>」跟「<strong>end</strong>」之间设定。
        <br>
        <br>
        仔细看的话，会看到「<strong>create_table :posts do |t|</strong>」跟下一次出现的「<strong>end</strong>」之间有一個设定。
        <br><br>
        <i class="fa fa-file color-red"></i>　<strong>2016..._create_posts.rb（第5行）</strong>
<table class="highlight">
<tr>
<td class='code-line-no text-center'>5
</td>
<td class='code-content'><span class='code-line'>      t.timestamps <span class='word-purple'>null:</span> <span class="word-purple">false</span></span>
</td>
</tr>
</table>
        <br>
        这个一行是设定
        <br>
        <strong>
        <ul class="number_ul">
        <li><u>资料作好的时间（<i>created_at</i>）</u></li>
        <li><u>资料更新的时间（<i>updated_at</i>）</u></li>
        </ul>
        的框子。</strong>作这个设定文件的时候，这个设定就自动追加。
        <br>
        <u>不用的话，也可以除掉。</u>
        <br><br>
        <strong class="little-remarkable"><u>跟这个「timestamps」的设定一样，咱們作跟下面一样的投稿的资料库！</u></strong>
        <br><br>
        <strong>posts</strong>
          <table class="table table-striped">
            <thead>
              <tr class="active">
                <th>id</th>
                <th>name</th>
                <th>content</th>
                <th>created_at</th>
                <th>updated_at</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>192</td>
                <td>山田太郎</td>
                <td>你好</td>
                <td style="font-size:11px;">2016-03-02 16:13:52</td>
                <td style="font-size:11px;">2016-03-02 16:13:52</td>
              </tr>
            </tbody>
          </table>
          <small>※　框子的设定只能使用英文的是应为、<strong><u>资料库里的框子只能用英文</u></strong>。</small>
        <br><br>
        各个內容是，
        <br>
        <strong>
        <ul class="number_ul">
          <li><u><i>id</i></u> 是、投稿号码</li>
          <li><u><i>name</i></u> 是、投稿者的名字</li>
          <li><u><i>content</i></u> 是、投稿内容</li>
          <li><u><i>created_at</i></u> 是、作投稿的时间</li>
          <li><u><i>updated_at</i></u> 是、更新投稿的时间</li>
        </ul>
        </strong>
        <br>
        已经解释过了<strong>「<i>created_at</i>」</strong>跟<strong>「<i>updated_at</i>」</strong>是用<strong>「<i>t.timestamps null: false</i>」</strong>追加的框子。
        <br>
        但是其实说这个<u>「<strong><i>id</i></strong>」也在作资料库的时候会自动追加</u>，所以要设定的內容只有「<strong><i>name</i></strong>」跟「<strong><i>content</i></strong>」这个两个。
        <br><br>
        <strong><u>咱們作「name」跟「contact」的框子，完成资料库的构造吧！</u></strong>
        <hr class="red-hr">
        <u>设定构造的时候要编辑下面两个设定。</u>
        <br><br>
        <ul class="number_ul">
          <strong><li>框字里放的资料的种类</li></strong>
          比如说，<u>数字・短的文章・長的文章・时间</u>等等（用上面的例子的话，<strong><i>timestamps</i></strong>）
          <strong><li>框字的名字</li></strong>
          <u>用英文，不要设定同样的名字设定</u>（用上面的例子的话，<strong><i>created_at・updated_at</i></strong>）
        </ul>
        <br>
        <i class="fa fa-play-circle color-red"></i>　<strong>那么作作看框字的设定！</strong>
        <br><br>
        <i class="fa fa-file color-red"></i>　<strong>2016..._create_posts.rb（追加第5,6行）</strong>
        <br>
        <small>
        ※　<strong><u>用半母字母数字打入</u></strong>。一起点击<strong><u>「Command」跟「s」</u></strong>保存內容。
        <br>※　有很多空格的是为了看的时候容易看，但是不用打怎么多空格也沒关系。
        <br>
        <i class="fa fa-windows"></i>　使用Windows的话，一起点击<strong><u>「ctrl」跟「s」</u></strong>保存內容。
        </small>
        <br><br>
<table class="highlight">
<tr>
<td class='code-line-no text-center'>1
2
3
4
<strong class="color-red">5
6</strong>
7
8
9
10
</td>
<td class='code-content'><span class='code-line'><span class='word-red'>class </span>CreatePosts <span class="word-green">< ActiveRecord::Migration</span></span>
<span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>change</span></span>
<span class='code-line'>    create_table <span class='word-purple'>:posts</span><span class='word-red'> do</span> |t|</span>
<span class='code-line'></span>
<span class='code-line remarkable-code'>      t.string     <span class='word-purple'>   :name</span></span>
<span class='code-line remarkable-code'>      t.text       <span class='word-purple'>    :content</span></span>
<span class='code-line'>      t.timestamps <span class='word-purple'>null:</span> <span class="word-purple">false</span></span>
<span class='code-line'>    <span class='word-red'>end</span></span>
<span class='code-line'>  <span class='word-red'>end</span></span>
<span class='code-line'><span class='word-red'>end</span></span>
</td>
</tr>
</table>
        <br>
        这个是「<strong><i>name</i></strong>」跟「<strong><i>content</i></strong>」的设定。
        <br><br>
        <ul class="number_ul">
        <strong><li>资料种类的设定</li></strong>
          <ul class="number_ul">
            <li>数字的话，用<strong>「<u>t.integer</u>」</strong></li>
            <li>短的文章的话，用<strong>「<u>t.string</u>」</strong></li>
            <li>長的文章的话，用<strong>「<u>t.text</u>」</strong></li>
            <li>时间的话，用<strong>「<u>t.timestamps</u>」</strong></li>
          </ul>
          设定资料的种类。
          <br>
          <small>※　另外还有，真假的「t.boolean」日子的「t.date」等等。</small>
        <strong><li>名字的设定</li></strong>
          <strong><u>资料种类的设定的后面，加「:名字」</u></strong>（名字用英文设定）。
        </ul>
        <br>
        这个两个设定，
        <br>
<pre>
t.资料的种类 :名字
</pre>
        像上面这样子设定。
        <br><br>
        到这里设定了
        <strong>
        <ul class="number_ul">
        <li>放数字的「id」</li>
        <li>放短的文章的「name」</li>
        <li>放長的文章的「content」</li>
        <li>放时间的「created_at/updated_at」</li>
        </ul>
        </strong>
        这个5个「posts」资料库的框字。
        <hr class="red-hr">
        <i class="fa fa-question-circle color-green"></i>　<strong>在资料库里设定，<u>放短的文章的「place」的框字</u>的話要怎么样设定？（上面放鼠标可以看答案）</strong>
        <br>
        <small>※　不用在设定文件裡追加内容</small>
        <br><br>
        <input type="input" class="form-control input-code" placeholder="上面放鼠标可以看答案">
        <br>
        <i class="fa fa-file color-red"></i>　<strong>2016..._create_posts.rb</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>答案
</td>
<td class='code-content answer-code'><span class='code-line'>  t.string <span class='word-purple'>:place</span></span>
</td>
</tr>
</table>
<hr class="red-hr">
        到这里编辑完了的话，<strong><u>把设定文件里的內容反映到资料库里。</u></strong>
        <br>
        打入下面的命令！
        <br><br>
        　<strong>terminal（用半母字母数字打入）</strong>
        <br>
        <small>
          <i class="fa fa-windows color-blue"></i>　使用Windows的话，请使用「命令提示符」。
        </small>
<table class="highlight">
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rake db:migrate</span>
</td>
</tr>
</table>
  <br>
  <small>
    <i class="fa fa-arrow-right"></i>　不动的话，前面加<strong>「bundle exec」</strong>，打入<strong>「bundle exec rake db:migrate」</strong>看看。
  </small>
        <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page4/Terminal_rake_db_migrate.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page4/Terminal_rake_db_migrate.png",
                    :target => ["_blank"] %>
        显示这样子的画面了吗？
        <br>
        <strong><u>这样，资料库作好了！</u></strong>
        <hr class="red-hr">
        用<strong><u>Sequel Pro</u></strong>咱們确认作好的资料库吧！这个也用右上边的放大镜找。
        <br><br><br>
        <p class="alert alert-success">
          <strong>
          <i class="fa fa-windows color-blue"></i>　如果是Windows的话，要使用SqliteBrowser。
          <br>
          <i class="fa fa-arrow-right"></i>　<a href="/zh-CN/mugcups/how_to_open#title4" target="_blank">请参考这里</a>打开「<u>db > development.sqlite3</u>」之后，确认「posts」资料库里面的內容。
          <br><br>
          <i class="fa fa-forward"></i>　确认完了之后，<a href="#title1-3">从这里</a>看下一个说明。
          </strong>
        </p>
        <br>
        打开之后，参考下面的图像打开！
        <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page2/Sequel_Pro.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page2/Sequel_Pro.png",
                    :target => ["_blank"] %>
        打开好了之后，点击左边的「<strong>Choose Database</strong>」。
        <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page3/Sequel_Pro_Choose_Database.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page3/Sequel_Pro_Choose_Database.png",
                    :target => ["_blank"] %>
        点击显示的列表框里的「<strong>myapp_development</strong>」。
        <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page3/Sequel_Pro_Select_myapp.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page3/Sequel_Pro_Select_myapp.png",
                    :target => ["_blank"] %>
        左边有「<strong>posts</strong>」吗？这个是作好的资料库。打开看看这个吧！
        <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page4/Sequel_Pro_myapp_development.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page4/Sequel_Pro_myapp_development.png",
                    :target => ["_blank"] %>
        打开之后有沒有看到第一行呢？
        <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page4/Sequel_Pro_myapp_development_posts.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page4/Sequel_Pro_myapp_development_posts.png",
                    :target => ["_blank"] %>
        <strong><u>Ruby on Rails上、这样子设定好资料库了。</u></strong>
        <hr class="red-hr">
        <i class="fa fa-star color-blue"></i>　<strong>terminal（命令提示符）上打入「<u>rails g model 资料库的名字</u>」作设定文件。设定文件编辑完了之后，terminal（命令提示符）上打入「<u>rake db:migrate</u>」作资料库。</strong>
</h4>