<% provide :title, 'Mugcup（基礎編）の復習' %>
<div class="container">
  <div class="row">
    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-xs-12">
      <div class="textbook-area">
        <div class="textbook-area-inner fadeIn wow">
          <div id="title" class="textbook-title">
            <h1><strong>1 : Mugcup（基礎編）の復習</strong></h1>
          </div>
          <br>
          <%= image_tag "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/header/header1.jpg",
                        :width => "90%",
                        :class => "textbook-title-img hover_img" %>
          <%= render "coffee1/title0" %>
          <br>
          <%= render "coffee1/title1" %>
          <br>
          <%= render "coffee1/title2" %>
          <br>
          <%= render "coffee1/title3" %>
          <br>
          <%= render "coffee1/title4" %>
          <hr class="red-hr">
          <h4>
          <strong>ここまでで「message-app」の<u>ユーザー管理</u>までが完成しました！
          <br>
          ここまでは復習だったので、比較的楽だったのではないかと思います。</strong>
          <hr>
          <strong>次の章から、メッセージアプリケーションのページを作ってみましょう！</strong>
          </h4>
          <div class="next-page">
              <a href="/coffee_cups/2" class="btn btn-primary">次の章に進む</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 hidden-xs">
      <br>
      <div id="slide-bar" class="clear-fix">
      <strong>
        <div class="list-group nomargin">
          <a href="#title" class="list-group-item list-title"><h5>Mugcup（基礎編）の復習</h5></a>
          <a href="#title0" class="list-group-item">0 : この章の目的</a>
          <a href="#title1" class="list-group-item">1 : 雛形を作る！</a>
          <a href="#title1-1" class="list-group-item">　<small>① : 雛形を作る</small></a>
          <a href="#title1-2" class="list-group-item">　<small>② : gemの追加</small></a>
          <a href="#title1-3" class="list-group-item">　<small>③ : データベースの用意</small></a>
          <a href="#title2" class="list-group-item">2 : トップページを作る！</a>
          <a href="#title2-1" class="list-group-item">　<small>① : 7つのページの設定</small></a>
          <a href="#title2-2" class="list-group-item">　<small>② : データ操作</small></a>
          <a href="#title2-3" class="list-group-item">　<small>③ : ページ表示</small></a>
          <a href="#title3" class="list-group-item">3 : Bootstrapを使おう！</a>
          <a href="#title4" class="list-group-item">4 : ユーザー管理をする</a>
          <a href="#title4-1" class="list-group-item">　<small>① : 「devise」のインストール</small></a>
          <a href="#title4-2" class="list-group-item">　<small>② : 会員データベースの作成</small></a>
          <a href="#title4-3" class="list-group-item">　<small>③ : 登録・ログイン画面の装飾</small></a>
          <a href="#title4-4" class="list-group-item">　<small>④ : 会員ページの作成</small></a>
        </div>
      </strong>
      </div>
    </div>
  </div>
</div>
<%= render 'pages/fixedjs' %>