<% provide :title, 'Mugcup（基礎編）的複習' %>
<div class="container">
  <div class="row">
    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-xs-12">
      <div class="textbook-area">
        <div class="textbook-area-inner fadeIn wow">
          <div id="title" class="textbook-title">
            <h1><strong>1 : Mugcup（基礎編）的複習</strong></h1>
          </div>
          <br>
          <%= image_tag "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/header/coffeecup_header1.jpg",
                        :width => "90%",
                        :class => "textbook-title-img hover_img" %>
          <%= render "coffee1/zh-TW/title0" %>
          <br>
          <%= render "coffee1/zh-TW/title1" %>
          <br>
          <%= render "coffee1/zh-TW/title2" %>
          <br>
          <%= render "coffee1/zh-TW/title3" %>
          <br>
          <%= render "coffee1/zh-TW/title4" %>
          <hr class="red-hr">
          <h4>
          <strong>到這裡作好了「message-app」的<u>用戶管理</u>了！
          <br>
          這個章的內容都是複習，應該沒有很難得地方。</strong>
          <hr class="red-hr">
          <strong>從下章，作作看網絡聊天的網站吧！</strong>
          </h4>
          <hr>
          <div class="next-page">
              <a href="/zh-TW/coffee_cups/2" class="btn btn-primary">下章</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 hidden-xs">
      <br>
      <div id="slide-bar" class="clear-fix">
      <strong>
        <div class="list-group nomargin">
          <a href="#title" class="list-group-item list-title"><h5>Mugcup（基礎編）的複習</h5></a>
          <a href="#title0" class="list-group-item">0 : 這個章的目的</a>
          <a href="#title1" class="list-group-item">1 : 作剛開始的網站！</a>
          <a href="#title1-1" class="list-group-item">　<small>① : rails new</small></a>
          <a href="#title1-2" class="list-group-item">　<small>② : 導入Gem</small></a>
          <a href="#title1-3" class="list-group-item">　<small>③ : 準備資料庫</small></a>
          <a href="#title2" class="list-group-item">2 : 作主頁！</a>
          <a href="#title2-1" class="list-group-item">　<small>① : 七個網頁的設定</small></a>
          <a href="#title2-2" class="list-group-item">　<small>② : 操作資料</small></a>
          <a href="#title2-3" class="list-group-item">　<small>③ : 顯示網頁</small></a>
          <a href="#title3" class="list-group-item">3 : 使用Bootstrap吧！</a>
          <a href="#title4" class="list-group-item">4 : 用戶管理</a>
          <a href="#title4-1" class="list-group-item">　<small>① : 安裝「devise」</small></a>
          <a href="#title4-2" class="list-group-item">　<small>② : 作會員資料庫</small></a>
          <a href="#title4-3" class="list-group-item">　<small>③ : 裝飾註冊・登入網頁</small></a>
          <a href="#title4-4" class="list-group-item">　<small>④ : 作會員網頁</small></a>
        </div>
      </strong>
      </div>
    </div>
  </div>
</div>
<%= render 'pages/fixedjs' %>