<div class="container">
  <div class="row">
    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-xs-12">
      <div class="textbook-area">
        <div class="textbook-area-inner fadeIn wow">
          <div id="title" class="textbook-title">
            <h1><strong>2 : 作讯息</strong></h1>
          </div>
          <h4><u><a href="/zh-CN/coffee_cups/1" class="text-left ">上章 : Mugcup（基础编）的复习</a></u></h4>
          <%= image_tag "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/header/coffeecup_header2.jpg",
                        :width => "90%",
                        :class => "textbook-title-img hover_img" %>
          <%= render "coffee2/zh-CN/title0" %>
          <br>
          <%= render "coffee2/zh-CN/title1" %>
          <br>
          <%= render "coffee2/zh-CN/title2" %>
          <hr class="red-hr">
          <h4>
            <strong>
            到这里，设定好了讯息机能了。
            <br><br>
            设定的內容<a href="/zh-CN/codes/c_2" target="_blank">请参考这里</a>。
            </strong>
          </h4>
          <hr>
          <div class="next-page">
              <a href="/zh-CN/coffee_cups/3" class="btn btn-primary">下章</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 hidden-xs">
      <br>
      <div id="slide-bar" class="clear-fix">
      <strong>
        <div class="list-group nomargin">
          <a href="#title" class="list-group-item list-title"><h5>作讯息</h5></a>
          <a href="#title0" class="list-group-item">0 : 这个章的目的</a>
          <a href="#title1" class="list-group-item">1 : 作资料库</a>
          <a href="#title2" class="list-group-item">2 : 设定网页</a>
          <a href="#title2-1" class="list-group-item">　<small>① : routes.rb</small></a>
          <a href="#title2-2" class="list-group-item">　<small>② : 资料操作</small></a>
          <a href="#title2-2-1" class="list-group-item">　　<small>⑴ : messages</small></a>
          <a href="#title2-2-2" class="list-group-item">　　<small>⑵ : users</small></a>
          <a href="#title2-2-3" class="list-group-item">　　<small>⑶ : 总结</small></a>
          <a href="#title2-3" class="list-group-item">　<small>③ : 网页显示</small></a>
          <a href="#title2-3-1" class="list-group-item">　　<small>⑴ : 游览列上的连接</small></a>
          <a href="#title2-3-2" class="list-group-item">　　<small>⑵ : 显示讯息</small></a>
          <a href="#title2-3-3" class="list-group-item">　　<small>⑶ : 显示输入框・按钮</small></a>
          <a href="#title2-3-4" class="list-group-item">　　<small>⑷ : 总结</small></a>
        </div>
      </strong>
    </div>
  </div>
</div>
</div>
<%= render 'pages/fixedjs' %>