<% provide :title, '画像のアップロード' %>
<div class="container">
  <div class="row">
    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-xs-12">
      <div class="textbook-area">
        <div class="textbook-area-inner fadeIn wow">
          <div id="title" class="textbook-title">
            <h1><strong>7 : 画像のアップロード</strong></h1>
          </div>
          <h4><u><a href="/coffee_cups/6" class="text-left ">前の章 : チャットルームの作成④</a></u></h4>
          <%= image_tag "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/header/coffeecup_header7.jpg",
                        :width => "90%",
                        :class => "textbook-title-img hover_img" %>
          <%= render "coffee4/title0" %>
          <br>
          <%= render "coffee4/title1" %>
          <br>
          <%= render "coffee4/title2" %>
          <br>
          <%= render "coffee4/title3" %>
          <h4>
          <strong>
          設定した内容は<a href="/codes/c_7" target="_blank">こちら</a>にまとめてあります。
          </strong>
          <br><br>
          <i class="fa fa-arrow-right color-red"></i>　<strong><a href="/mugcups/heroku" target="_blank">こちら</a>からウェブサイトの公開方法を学べます。ご参考にして下さい。</strong>
          </h4>
          <hr class="red-hr">
          <h4>
            <strong>
            <i class="fa fa-play-circle"></i>　ここまでで「<u>応用編</u>」も終了です。お疲れさまでした。
            <br><br>
            もっとこの「Ruby on Rails」に興味がある人向けに、<u>勉強できるサイト・本・塾の紹介</u>をしますので良かったら見てみて下さい。
            </strong>
            <br><br>
            <p class="alert alert-danger">
              <i class="fa fa-apple"></i>　<strong>
              Macをご利用の方は
              <br><br>
              <i class="fa fa-exclamation"></i>　内容が終了しましたら、<u>キャッシュバック</u>ができます。
              <br>
              <i class="fa fa-arrow-right"></i>　詳細は<a href="/ja/pay_info#title2-4" target="_blank"><strong>こちら</strong></a>を参考にして下さい。
              </strong>
            </p>
          </h4>
          <hr>
          <div class="next-page">
              <a href="/coffee_cups/8" class="btn btn-primary">次の章に進む</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 hidden-xs">
      <br>
      <div id="slide-bar" class="clear-fix">
      <strong>
        <div class="list-group nomargin">
          <a href="#title" class="list-group-item list-title"><h5>画像のアップロード</h5></a>
          <a href="#title0" class="list-group-item">0 : この章の目的</a>
          <a href="#title1" class="list-group-item">1 : Paperclipの導入</a>
          <a href="#title2" class="list-group-item">2 : 画像をアップロードする</a>
          <a href="#title2-1" class="list-group-item">　<small>① : 画像アップロードの仕組み</small></a>
          <a href="#title2-2" class="list-group-item">　<small>② : 「Paperclip」を使う</small></a>
          <a href="#title2-2-1" class="list-group-item">　　<small>⑴ : データベースの変更</small></a>
          <a href="#title2-2-2" class="list-group-item">　　<small>⑵ : データ操作</small></a>
          <a href="#title2-2-3" class="list-group-item">　　<small>⑶ : ページ表示</small></a>
          <a href="#title2-3" class="list-group-item">　<small>③ : まとめ</small></a>
          <a href="#title3" class="list-group-item">3 : 画像の判別</a>
        </div>
      </strong>
      </div>
    </div>
  </div>
</div>
<%= render 'pages/fixedjs' %>