<h4 id="chapter10-3-3">
  <p id="title3-3"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">③ : navigation-bar上追加「users」网页的连接</strong></p>
  <br>
  <strong>到这里，做好了「<u>users</u>」资料库的网页。</strong>
  <br>
  最后在<a href="/zh-CN/mugcups/css#title2-3" target="_blank"><strong>游览列・navigation-bar</strong></a>上，追加<strong>移动到「<u>users</u>」网页</strong>的<a href="/zh-CN/mugcups/5#title1-2-2" target="_blank"><strong>连接</strong></a>吧。
  <hr class="red-hr">
  沒有登入的时候，在游览列上显示<strong><u>「登入」「注册」的连接</u></strong>
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page10/Chrome_users_sign_in_nav.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page10/Chrome_users_sign_in_nav.png",
              :target => ["_blank"] %>
  登入的时候，在游览列上显示<strong><u>「会员一览」「会员资料」「作投稿」「登出」的连接</u></strong>
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page10/Chrome_posts_all_nav_after_login.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page10/Chrome_posts_all_nav_after_login.png",
              :target => ["_blank"] %>
  显示的这样子的设定吧。
  <hr class="red-hr">
  <%= render "page10/zh-CN/title3_3_1.html.erb" %>
  <hr class="red-hr">
  <%= render "page10/zh-CN/title3_3_2.html.erb" %>
  <hr class="red-hr">
  <%= render "page10/zh-CN/title3_3_3.html.erb" %>
</h4>