<h4 id="chapter1-3">
  <p id="title1-3"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">③ : Sublime Text的安裝</strong></p>
  <br>
  咱們安裝，编辑设定文件的文件编辑软件<strong><u>Sublime Text</u></strong>吧。
  <hr class="red-hr">
  首先，移动到<a href="http://www.sublimetext.com/3" target="_blank"><strong>Sublime Text的主页</strong></a>，下载文件。
  <br><br>
  <a href="http://www.sublimetext.com/3" target="_blank"><strong>请打开这里</strong></a>。
  <br><br>
  显示下面一样的画面了嗎？
  <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/sublime_text1.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/sublime_text1.png",
              :target => ["_blank"] %>
  使用的电脑是
  <br>
  <ul class="number_ul">
    <li><strong><u>32bit</u></strong>的话，点击网页上的<strong>「Windows」</strong></li>
    <li><strong><u>64bit</u></strong>的话，点击网页上的<strong>「Windows 64 bit」</strong></li>
  </ul>
  下载文件。
  <br>
  <small>※　确认Windows的bit的方法，<a href="/zh-CN/mugcups/windows_bit" target="_blank"><strong>请参考这里</strong></a>。</small>
  <hr class="red-hr">
  下载完了之后，点击在下面出现的<strong>「<u>运行</u>」</strong>。
  <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/sublime_text2.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/sublime_text2.png",
              :target => ["_blank"] %>
  点击之后，
  <br>
  会出现<strong>「<u>你要允许此应用对你的电脑运行的更改吗？</u>」</strong>的显示，点击<strong>「<u>是(Y)</u>」</strong>。
  <hr class="red-hr">
  之后<strong>点击「<u>Next</u>」</strong>，开始安裝。
  <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/sublime_text3.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/sublime_text3.png",
              :target => ["_blank"] %>
  <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/sublime_text4.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/sublime_text4.png",
              :target => ["_blank"] %>
  <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/sublime_text5.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/sublime_text5.png",
              :target => ["_blank"] %>
  <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/sublime_text6.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/sublime_text6.png",
              :target => ["_blank"] %>
  <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/sublime_text7.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/sublime_text7.png",
              :target => ["_blank"] %>
  安裝完成之後，會顯示下面的畫面。
  <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/sublime_text8.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/sublime_text8.png",
              :target => ["_blank"] %>
  这样子「Sublime Text」的安裝完成了！
  <hr class="red-hr">
  呢么打开看这个吧！
  <br>
  <ul class="number_ul">
    <li>如果是<strong><u>Windows10</u></strong>的话，在<strong>「<u>Cortana</u>」</strong>上</li>
    <li>如果是<strong><u>Windows8以下</u></strong>的话，在<strong>「<u>搜索框</u>」</strong>上</li>
  </ul>
  打入「Sublime Text」，之后选择结果。
  <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/sublime_text9.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/sublime_text9.png",
              :target => ["_blank"] %>
  会出现下面图像一样的画面嗎？
  <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/sublime_text10.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/sublime_text10.png",
              :target => ["_blank"] %>
  这样子<strong>Sublime Text的安裝</strong>完成了！
</h4>