<h4 id="chapter1-4">
  <p id="title1-4"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">④ : 导入Bootstrap</strong></p>
  <br>
  在这里，解释用Windows导入Bootstrap的方法。
  <br><br>
  <i class="fa fa-play-circle"></i>　<strong>首先<a href="http://getbootstrap.com/getting-started/#download" target="_blank">從这边</a>Bootstrap的网页</strong>
  <br><br>
  然后從网页的中央点击<strong>「<u>Download source</u>」</strong>，开始下载。
  <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/windows_bootstrap1.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/windows_bootstrap1.png",
              :target => ["_blank"] %>
  下载完了之后，点击<strong>「<u>打开文件夾</u>」</strong>。
  <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/windows_bootstrap2.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/windows_bootstrap2.png",
              :target => ["_blank"] %>
  看到像下面图像一样<strong>「<u>bootstrap-3.3.6-dist</u>」</strong>的文件吗？
  <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/windows_bootstrap3.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/windows_bootstrap3.png",
              :target => ["_blank"] %>
  打开<strong>「<u>bootstrap-3.3.6-dist</u>」</strong>。
  <br>
  打开之后像下面一样、<strong>用左点击移动到「<u>下载</u>」</strong>。
  <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/windows_bootstrap5.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/windows_bootstrap5.png",
              :target => ["_blank"] %>
  确认<strong>「<u>下载</u>」</strong>里面有沒有<strong>「<u>bootstrap-3.3.6-dist</u>」</strong>。
  <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/windows_bootstrap6.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/windows_bootstrap6.png",
              :target => ["_blank"] %>
  如果有的話打开之后、确认里面有沒有下面的文件。
  <br>
  <ul class="number_ul">
    <strong><li>「dist > css > bootstrap.min.css」</li></strong>
    <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/windows_bootstrap7.png",
                          :width => "90%",
                          :class => "hover_img textbook-title-img"),
                "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/windows_bootstrap7.png",
                :target => ["_blank"] %>
    <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/windows_bootstrap8.png",
                          :width => "90%",
                          :class => "hover_img textbook-title-img"),
                "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/windows_bootstrap8.png",
                :target => ["_blank"] %>
    <strong><li>「dist > js > bootstrap.min.js」</li></strong>
    <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/windows_bootstrap9.png",
                          :width => "90%",
                          :class => "hover_img textbook-title-img"),
                "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/windows_bootstrap9.png",
                :target => ["_blank"] %>
    <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/windows_bootstrap10.png",
                          :width => "90%",
                          :class => "hover_img textbook-title-img"),
                "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/windows_bootstrap10.png",
                :target => ["_blank"] %>
    <strong><li>「dist > fonts」</li></strong>
    <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/windows_bootstrap11.png",
                          :width => "90%",
                          :class => "hover_img textbook-title-img"),
                "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/windows_bootstrap11.png",
                :target => ["_blank"] %>
  </ul>
  <hr class="red-hr">
  确认好了话，参考下面的图像打开「rails_projects」之后，
  <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/make_folder2.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/make_folder2.png",
              :target => ["_blank"] %>
  <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/windows_bootstrap12.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/windows_bootstrap12.png",
              :target => ["_blank"] %>
  <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/windows_bootstrap13.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/windows_bootstrap13.png",
              :target => ["_blank"] %>
  按照下面的表，复制文件。
  <br><br>
  <small><i class="fa fa-arrow-right"></i>　选择文字之后点击<strong><u>「ctrl」跟「c」</u></strong>可以复制文字，点击<strong><u>「ctrl」跟「v」</u></strong>可以粘贴复制的文字。 </small>
  <br><br>
  <table class="table table-hover table-bordered table-striped">
    <thead>
      <th>Bootstrap里面的文件夾</th>
      <th>粘贴文件的 Rails里的文件夾</th>
    </thead>
    <tbody>
      <tr>
        <th>dist > css > bootstrap.min.css</th>
        <th>app > assets > stylesheets</th>
      </tr>
      <tr>
        <th>dist > js > bootstrap.min.js</th>
        <th>app > assets > javascripts</th>
      </tr>
      <tr>
        <th>dist > fonts</th>
        <th>vendor > assets</th>
      </tr>
    </tbody>
  </table>
  如果这些设定完了话，为了要适用這些設定，编辑
  <ul class="number_ul">
    <strong><li>「app > assets > javascripts > application.js」</li></strong>
    <strong><li>「app > assets > stylesheets > application.css」</li></strong>
  </ul>
  这个两个文件。加上下面的內容。
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>application.js（追加第15行）</strong>
  <br>
  <small>※　用半母字母数字打入。编辑好了之后，一起点击「ctrl」跟「s」保存文件的內容。</small>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
4
5
6
7
8
9
10
11
12
13
14
<strong class="color-red">15</strong>
16
17
</td>
<td class='code-content word-gray'><span class='code-line'>// This is a manifest file that'll be compiled into application.js, which will include all the files</span>
<span class='code-line'>// listed below.</span>
<span class='code-line'>//</span>
<span class='code-line'>// Any JavaScript/Coffee file within this directory, lib/assets/javascripts, vendor/assets/javascripts,</span>
<span class='code-line'>// or any plugin's vendor/assets/javascripts directory can be referenced here using a relative path.</span>
<span class='code-line'>//</span>
<span class='code-line'>// It's not advisable to add code directly here, but if you do, it'll appear at the bottom of the</span>
<span class='code-line'>// compiled file.</span>
<span class='code-line'>//</span>
<span class='code-line'>// Read Sprockets README (https://github.com/rails/sprockets#sprockets-directives) for details</span>
<span class='code-line'>// about supported directives.</span>
<span class='code-line'>//</span>
<span class='code-line'>//= require jquery</span>
<span class='code-line'>//= require jquery_ujs</span>
<span class='code-line remarkable-code'>//= require bootstrap.min</span>
<span class='code-line'>//= require turbolinks</span>
<span class='code-line'>//= require_tree .</span>
</td>
</tr>
</table>
  <br>
  <i class="fa fa-file color-red"></i>　<strong>application.css加（第15行）</strong>
  <br>
  <small>※　用半母字母数字打入。编辑好了之后，一起点击「ctrl」跟「s」保存文件的內容。</small>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
4
5
6
7
8
9
10
11
12
<strong class="color-red">13</strong>
14
15
16
</td>
<td class='code-content word-gray'><span class='code-line'>/*</span>
<span class='code-line'> * This is a manifest file that'll be compiled into application.css, which will include all the files</span>
<span class='code-line'> * listed below.</span>
<span class='code-line'> *</span>
<span class='code-line'> * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,</span>
<span class='code-line'> * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.</span>
<span class='code-line'> *</span>
<span class='code-line'> * You're free to add application-wide styles to this file and they'll appear at the bottom of the</span>
<span class='code-line'> * compiled file so the styles you add here take precedence over styles defined in any styles</span>
<span class='code-line'> * defined in the other CSS/SCSS files in this directory. It is generally better to create a new</span>
<span class='code-line'> * file per style scope.</span>
<span class='code-line'> *</span>
<span class='code-line remarkable-code'> *= require bootstrap.min</span>
<span class='code-line'> *= require_tree .</span>
<span class='code-line'> *= require_self</span>
<span class='code-line'> */</span>
</td>
</tr>
</table>
  <br>
  <i class="fa fa-windows color-blue"></i>　<strong>到这里做好了，使用Windows安裝Bootstrap的方法。</strong>
</h4>