<h4 id="chapter1-5">
  <p id="title1-5"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">⑤ : 导入gem的时候的设定</strong></p>
  <br>
  <i class="fa fa-play-circle"></i>　<strong>
  在这里解释，Windows命令提示符上不能安裝「gem」的时候的解决的方法。
  </strong>
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/windows_gem_ssl1.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/windows_gem_ssl1.png",
              :target => ["_blank"] %>
  首先<a href="https://github.com/rubygems/rubygems/releases/tag/v2.2.3" target="_blank"><strong>打開这个网页</strong></a>，点击<strong>「<u>rubygems-update-2.2.3.gem</u>」</strong>之后开始下载。
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/windows_gem_ssl2.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/windows_gem_ssl2.png",
              :target => ["_blank"] %>
  下载完了之后，点击<strong>「<u>打开文件夾</u>」</strong>看看里面有没有保存的文件。
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/windows_gem_ssl3.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/windows_gem_ssl3.png",
              :target => ["_blank"] %>
  然后打开文件资源管理器、点击<strong>左边的「<u>此电脑</u>」</strong>，之后点击这里面的<strong>「<u>Windows(C:)</u>」</strong>。
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/windows_gem_ssl4.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/windows_gem_ssl4.png",
              :target => ["_blank"] %>
  到这里，<strong>把「<u>下载</u>」文件夾里刚才下载的文件移动到「<u>Windows(C:)</u>」文件夾里</strong>。
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/windows_gem_ssl5.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/windows_gem_ssl5.png",
              :target => ["_blank"] %>
  那么打开命令提示符之后，追加设定。打入下面的命令。
  <br><br>
  <strong>　命令提示符（用半母字母数字打入）</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>gem install --local C:¥rubygems-update-2.2.3.gem</span>
</td>
</tr>
</table>
  <br><br>
  <strong>　命令提示符（用半母字母数字打入）</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>update_rubygems --no-ri --no-rdoc</span>
</td>
</tr>
</table>
  <br><br>
  <strong>　命令提示符（用半母字母数字打入）</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>gem uninstall rubygems-update -x</span>
</td>
</tr>
</table>
  <br>
  然后最後打入。
  <br><br>
  <strong>　命令提示符（用半母字母数字打入）</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>gem update --system</span>
</td>
</tr>
</table>
  <br>
  <strong><i class="fa fa-windows color-blue"></i>　这样可以安裝「<u>gem</u>」了。</strong>
</h4>