<h4 id="chapter7-2-2">
  <p id="title2-2"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">② : 使用Bootstrap</strong></p>
  <br>
  在這裡，使用<strong><u>Bootstrap</u></strong>作作看
  <strong>
  <ul class="number_ul">
    <li>按鈕</li>
    <li>輸入框</li>
    <li>網頁上面的巡覽列</li>
  </ul>
  </strong>
  這個三個顯示。
  <hr class="red-hr">
  <strong class="little-remarkable">在這個之前・・・</strong>
  <br><br>
  現在的網頁，
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page7/Chrome_bootstrap_1.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page7/Chrome_bootstrap_1.png",
              :target => ["_blank"] %>
  像上面的圖像一樣，顯示的有一點緊緊的。
  <br>
  先從這裡更改。
  <hr class="red-hr">
  <%= render "page7/zh-TW/title2_2_1" %>
  <hr>
  <%= render "page7/zh-TW/title2_2_2" %>
  <hr>
  <%= render "page7/zh-TW/title2_2_3" %>
  <hr>
  <%= render "page7/zh-TW/title2_2_4" %>
  <hr>
  <%= render "page7/zh-TW/title2_2_5" %>
</h4>