<h4 id="chapter7-2-2">
  <p id="title2-2"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">② : Bootstrapを使う！</strong></p>
  <br>
  ここでは<strong><u>Bootstrap</u></strong>を使って、
  <strong>
  <ul class="number_ul">
    <li>ボタン</li>
    <li>入力欄</li>
    <li>ページの上につくナビゲーションバー</li>
  </ul>
  </strong>
  の３つを作ってみます。
  <hr class="red-hr">
  <strong class="little-remarkable">その前に・・・</strong>
  <br><br>
  今のページは、
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page7/Chrome_bootstrap_1.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page7/Chrome_bootstrap_1.png",
              :target => ["_blank"] %>
  と少しきつきつな感じになっていると思います。
  <br>
  まずはこれを直していきます。
  <hr class="red-hr">
  <%= render "page7/title2_2_1" %>
  <hr>
  <%= render "page7/title2_2_2" %>
  <hr>
  <%= render "page7/title2_2_3" %>
  <hr>
  <%= render "page7/title2_2_4" %>
  <hr>
  <%= render "page7/title2_2_5" %>
</h4>