<h4 id="chapter7-2-2-2">
  <p id="title2-2-2"><i class="fa fa-check-square color-red"></i>　<strong>⑵ : btn</strong></p>
  <br>
  做好了空格的設定，<strong>接着從<u>按鈕</u>開始裝飾吧！</strong>
  <hr class="red-hr">
  首先在<strong>「<a href="/zh-TW/mugcups/5#title1-2" target="_blank">顯示全部的資料（index）</a>」</strong>的網頁上作的移動到<strong>「<a href="/zh-TW/mugcups/6#title1-3" target="_blank">打入新的資料（new）</a>」</strong>的連結（移動網頁的文字）改成
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page7/Chrome_posts_all_bootstrap_btn.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page7/Chrome_posts_all_bootstrap_btn.png",
              :target => ["_blank"] %>
  這樣子的 <a class="btn btn-primary">藍色的按鈕</a> 吧！
  <hr class="red-hr">
  用Bootstrap作藍色的按鈕的時候，在「<a href="/zh-TW/mugcups/3#title1-2-css-class" target="_blank"><strong>class</strong></a>」指定<strong><u>「btn」跟「btn-primary」</u></strong>。
  <br><br>
  用Sublime Text打開<strong>「<u>myapp</u>」</strong>之後，打開<strong>「<u>app > views > posts > index.html.erb</u>」</strong>吧。
  <br>
  <small>
    ※　使用Sublime Text打開文件的方法<a href="/zh-TW/mugcups/how_to_open#title1" target="_blank"><strong>請參考這裡</strong></a>
    <br>
    <i class="fa fa-windows color-blue"></i>　使用Windows的Sublime Text打開文件文件夾的方法<a href="/zh-TW/mugcups/how_to_open#title2" target="_blank"><strong>請參考這裡</strong></a>。
  </small>
  <br>
  <br>
  打開後，編輯文件的內容吧。
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>index.html.erb</strong>
  <br>
  <small>
    ※　<strong><u>用半母字母數字打入</u></strong>。一起點擊<strong><u>「Command」跟「s」</u></strong>可以保存內容。
    <br>
    <i class="fa fa-windows color-blue"></i>　使用Windows的話，點擊<strong><u>「ctrl」跟「s」</u></strong>可以保存內容。
  </small>
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
<strong class="color-red">4</strong>
5
6
7
<strong class="color-red">8</strong>
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>h1</span>&gt;投稿一覽&lt;/<span class='word-red'>h1</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line'>&lt;% @posts.each <span class="word-red">do</span> |p| %&gt;</span>
<span class='code-line remarkable-code'>  &lt;<span class='word-red'>p</span>&gt;&lt;<span class='word-red'>a </span><span class='word-green'>href</span>=<span class='word-yellow'>"/posts/&lt;%= p.id %&gt;"</span>&gt;&lt;%= p.id %&gt;：&lt;%= p.name %&gt;&lt;/<span class='word-red'>a</span>&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>p</span>&gt;&lt;%= p.content %&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line'>&lt;% <span class="word-red">end</span> %&gt;</span>
<span class='code-line remarkable-code'>&lt;<span class='word-red'>a </span><span class='word-green'>href</span>=<span class='word-yellow'>"/posts/new"</span> <span class="word-green">class</span>=<span class="word-yellow">"btn btn-primary"</span>&gt;作投稿&lt;/<span class='word-red'>a</span>&gt;</span>
</td>
</tr>
</table>
  <br>
  更改按鈕以外順便編輯第4行的內容，請不要忘記。
  <br>
  <u>在這裡，移動到<strong>「<a href="/zh-TW/mugcups/5#title1-1" target="_blank">顯示一個資料（show）</a>」</strong>的按鈕的文字用「id號碼:名字」。</u>
  <br>
  <small>
    ※　<u>一起點擊<strong>「Command」跟「c」</strong></u>停止，用<strong>「<u>rails s</u>」</strong>打開的服務器之後，再打入<strong><u>「rails s」</u></strong>吧。
  </small>
  <br><br><br>
  <p class="alert alert-success">
  <i class="fa fa-windows color-blue"></i>　<strong>使用Windows的話、
  <br>
  　<u>一起點擊「ctrl」跟「c」</u>停止，用「<u>rails s</u>」打開服務器之後，再打入「<u>rails s</u>」吧。</strong>
  </p>
  <br>
  起動服務器之後，打開看「<a href="http://0.0.0.0:3000/posts" target="_blank"><strong>0.0.0.0:3000/posts</strong></a>」吧。
  <br>
  <small>
    <i class="fa fa-windows color-blue"></i>　使用Windows的話，打開看「<a href="http://localhost:3000/posts" target="_blank"><strong>localhost:3000/posts</strong></a>」吧。
  </small>
  <br><br>
  有顯示下面一樣的畫面嗎？
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page7/Chrome_posts_all_bootstrap_btn.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page7/Chrome_posts_all_bootstrap_btn.png",
              :target => ["_blank"] %>
  這樣子用Bootstrap作藍色的按鈕的時候，
<pre>
&lt;a class="btn btn-primary"&gt;顯示的文字&lt;/a&gt;
</pre>
  像這樣子，追加<strong>「<u>class="btn btn-primary"</u>」</strong>的內容設定。
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/posts/new"</span> <span class="remarkable-code"><span class="word-green">class</span>=<span class="word-yellow">"btn btn-primary"</span></span>&gt;作投稿&lt;/<span class='word-red'>a</span>&gt;</span>
</td>
</tr>
</table>
  <hr class="red-hr">
  按鈕的顏色不只是藍色而已，還可以用更多顏色。
  <br><br>
  如果是<a class="btn btn-danger">紅色的按鈕</a> 的話，使用<strong>「<u>btn btn-danger</u>」</strong>
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line remarkable-code'>&lt;<span class='word-red'>a </span><span class='word-green'>href</span>=<span class='word-yellow'>"/posts/new"</span> <span class="word-green">class</span>=<span class="word-yellow">"btn btn-danger"</span>&gt;紅色的按鈕&lt;/<span class='word-red'>a</span>&gt;</span>
</td>
</tr>
</table>
  <br>
  如果是<a class="btn btn-success">綠色的按鈕</a> 的話，使用<strong>「<u>btn btn-success</u>」</strong>
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line remarkable-code'>&lt;<span class='word-red'>a </span><span class='word-green'>href</span>=<span class='word-yellow'>"/posts/new"</span> <span class="word-green">class</span>=<span class="word-yellow">"btn btn-success"</span>&gt;綠色的按鈕&lt;/<span class='word-red'>a</span>&gt;</span>
</td>
</tr>
</table>
  <br>
  如果是<a class="btn btn-info">淺藍色的按鈕</a> 的話，使用<strong>「<u>btn btn-info</u>」</strong>
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line remarkable-code'>&lt;<span class='word-red'>a </span><span class='word-green'>href</span>=<span class='word-yellow'>"/posts/new"</span> <span class="word-green">class</span>=<span class="word-yellow">"btn btn-info"</span>&gt;淺藍色的按鈕&lt;/<span class='word-red'>a</span>&gt;</span>
</td>
</tr>
</table>
  <br>
  等等・・・
  <br>
  詳細的內容<a href="http://getbootstrap.com/css#buttons-options" target="_blank"><strong>請參考這裡</strong></a>。
  <br><br>
  <i class="fa fa-question-circle color-green"></i>　<strong><u>作綠色的按鈕的移動到博客來的主頁「http://www.books.com.tw/」的連結（<a href="/zh-TW/mugcups/5#title1-2-2" target="_blank"><strong>&lt;a&gt;</strong></a>）</u> <a href="http://www.books.com.tw/" class="btn btn-success" target="_blank">博客來</a>
  <br>
  要怎麼設定呢？</strong>
  <br><br>
  <input type="input" class="input-code form-control" placeholder="打入答案">
  <br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content answer-code'><span class='code-line small-code'>&lt;<span class='word-red'>a </span><span class='word-green'>href</span>=<span class='word-yellow'>"http://amazon.com"</span> <span class="word-green">class</span>=<span class="word-yellow">"btn btn-success"</span>&gt;amazon&lt;/<span class='word-red'>a</span>&gt;</span>
</td>
</tr>
</table>
  <hr class="red-hr">
  這個按鈕的設定可以對什麼都可以適用，不只是<strong><u>「&lt;a&gt;」而已還可以在「&lt;h1&gt;」或者「&lt;p&gt;」等等，普通的文字上也可以適用。</u></strong>
  <br><br>
  最後，在「<a href="/zh-TW/mugcups/6#title1-3" target="_blank"><strong>new</strong></a>」網頁，「<a href="/zh-TW/mugcups/6#title1-5" target="_blank"><strong>edit</strong></a>」網頁的<strong><u>發送按鈕</u></strong>上，設定這個內容，
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page7/Chrome_posts_new_bootstrap_btn.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page7/Chrome_posts_new_bootstrap_btn.png",
              :target => ["_blank"] %>
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page7/Chrome_posts_edit_bootstrap_btn.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page7/Chrome_posts_edit_bootstrap_btn.png",
              :target => ["_blank"] %>
  設定像上面的圖像一樣的顯示吧！
  <br>
  首先從「new」網頁開始做。
  <hr class="red-hr">
  首先打開看<strong>「<u>app > views > posts > new.html.erb</u>」</strong>吧。
  <br>
  打開之後，編輯<strong>「<u>new.html.erb</u>」</strong>的內容吧。
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>new.html.erb（追加第11、13、14行）</strong>
  <br>
  <small>
    ※　<strong><u>用半母字母數字打入</u></strong>。一起點擊<strong><u>「Command」跟「s」</u></strong>可以保存內容。
    <br>
    <i class="fa fa-windows color-blue"></i>　使用Windows的話，點擊<strong><u>「ctrl」跟「s」</u></strong>可以保存內容。
  </small>
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
4
5
6
7
8
9
10
<strong class="color-red">11</strong>
12
<strong class="color-red">13</strong>
<strong class="color-red">14</strong>
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>h1</span>&gt;作投稿&lt;/<span class='word-red'>h1</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line'>&lt;%= form_for @post <span class="word-red">do</span> |f| %&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>p</span>&gt;名字&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>  &lt;%= f.text_field <span class='word-purple'>:name</span> %&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>p</span>&gt;内容&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>  &lt;%= f.text_area <span class='word-purple'>:content</span> %&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>p</span>&gt;地方&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>  &lt;%= f.text_field <span class='word-purple'>:place</span> %&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line remarkable-code'>  &lt;%= f.submit <span class="word-yellow">"登錄"</span>, <span class='word-purple'>:class</span> =&gt; <span class='word-yellow'>"btn btn-primary"</span> %&gt;</span>
<span class='code-line'>&lt;% <span class="word-red">end</span> %&gt;</span>
<span class='code-line remarkable-code'>&lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line remarkable-code'>&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/posts"</span> <span class="word-green">class</span>=<span class="word-yellow">"btn btn-info"</span>&gt;返回主頁&lt;/<span class='word-red'>a</span>&gt;</span>
</td>
</tr>
</table>
  <br>
  有沒有更改了嗎？
  <br>
  不只是按鈕的設定，還有線的設定（<strong><u>&lt;hr&gt;</u></strong>）。請不要忘記設定！
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page7/Chrome_posts_new_bootstrap_btn.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page7/Chrome_posts_new_bootstrap_btn.png",
              :target => ["_blank"] %>
  像上面的圖像一樣，顯示按鈕了嗎？
  <br><br>
  第16行是剛才有設定過的內容應該可以理解，<strong><u>但是第14行有一點難理解。</u></strong>
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>new.html.erb(第14行)</strong>
  <br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>14
</td>
<td class='code-content'><span class='code-line'>  &lt;%= f.submit <span class="word-yellow">"登錄"</span><span class="remarkable-code">, <span class='word-purple'>:class</span> =&gt; <span class='word-yellow'>"btn btn-primary"</span> %&gt;</span></span>
</td>
</tr>
</table>
  <br>
  後面有寫着<strong>「<i>:class => "btn btn-primary"</i>」</strong>，可以想像在指定「<a href="/zh-TW/mugcups/3#title1-2-css-class" target="_blank"><strong>class</strong></a>」。
  <br><br>
  用發送按鈕指定「class」的時候，追加
<pre>
,:class => "class的名字"
</pre>
  的內容！
  <br>
  在這裡設定「btn」跟自己喜歡的顏色，可以設定按鈕。
  <br><br>
  <i class="fa fa-question-circle color-green"></i>　<strong>設定看紅色的按鈕 <input type="button" class="btn btn-danger" value="登錄"> 吧</strong>
  <br><br>
  <input type="input" class="input-code form-control" placeholder="打入答案">
  <br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content answer-code'><span class='code-line small-code'>  &lt;%= f.submit <span class="word-yellow">"登錄"</span>, <span class='word-purple'>:class</span> =&gt; <span class='word-yellow'>"btn btn-danger"</span> %&gt;</span>
</td>
</tr>
</table>
  <hr class="red-hr">
  <i class="fa fa-question-circle color-green"></i>　編輯在設定<strong>「<a href="/zh-TW/mugcups/6#title1-5" target="_blank">edit</a>」的「edit.html.erb」文件，</strong>
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page7/Chrome_posts_edit_bootstrap_btn.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page7/Chrome_posts_edit_bootstrap_btn.png",
              :target => ["_blank"] %>
  <strong>
  跟上面的圖像一樣，顯示按鈕吧！
  </strong>
  <br>
  <small>※　在答案的上面放鼠標上，可以看到答案。</small>
  <br><br>
  <textarea class="input-code form-control" placeholder="打入答案" rows="10"></textarea>
  <br>
  <i class="fa fa-file color-red"></i>　<strong>edit.html.erb（編輯第9、11、12行）</strong>
  <br>
  <small>
    ※　<strong><u>用半母字母數字打入</u></strong>。一起點擊<strong><u>「Command」跟「s」</u></strong>可以保存內容。
    <br>
    <i class="fa fa-windows color-blue"></i>　使用Windows的話，點擊<strong><u>「ctrl」跟「s」</u></strong>可以保存內容。
  </small>
<table class='highlight'>
<tr>
<td class='code-line-no text-center small-code'>1
2
3
4
5
6
7
8
<strong class="color-red">9</strong>
10
<strong class="color-red">11</strong>
<strong class="color-red">12</strong>
</td>
<td class='code-content small-code'><span class='code-line'>&lt;<span class='word-red'>h1</span>&gt;編輯投稿&lt;/<span class='word-red'>h1</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line'>&lt;%= form_for @post <span class="word-red">do</span> |f| %&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>p</span>&gt;内容&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>  &lt;%= f.text_area <span class='word-purple'>:content</span> %&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>p</span>&gt;地方&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>  &lt;%= f.text_field <span class='word-purple'>:place</span> %&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line answer-code'>  &lt;%= f.submit <span class="word-yellow">"編輯投稿"</span><span class="remarkable-code">, <span class='word-purple'>:class</span> =&gt; <span class='word-yellow'>"btn btn-primary"</span></span> %&gt;</span>
<span class='code-line'>&lt;% <span class="word-red">end</span> %&gt;</span>
<span class='code-line remarkable-code'>&lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line answer-code'>&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/posts/&lt;%= @post.id %&gt;"</span> <span class="remarkable-code"><span class="word-green">class</span>=<span class="word-yellow">"btn btn-info"</span></span>&gt;返回投稿資料&lt;/<span class='word-red'>a</span>&gt;</span>
</td>
</tr>
</table>
  <hr class="red-hr">
  <i class="fa fa-question-circle color-green"></i>　<strong>在這個章設定好的「<a href="/zh-TW/mugcups/5#title1-1" target="_blank">show</a>」的網頁上的三個連結</strong>
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page7/Chrome_posts_1_add_edit.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page7/Chrome_posts_1_add_edit.png",
              :target => ["_blank"] %>
  <strong>改成下面一樣的按鈕吧！</strong>
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page7/Chrome_posts_show_bootstrap_btn.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page7/Chrome_posts_show_bootstrap_btn.png",
              :target => ["_blank"] %>
  <small>※　在答案的上面放鼠標上，可以看到答案。</small>
  <textarea class="input-code form-control" placeholder="答えを入力して下さい" rows="9"></textarea>
  <br>
  <i class="fa fa-file color-red"></i>　<strong>show.html.erb</strong>
  <br>
  <small>
    ※　<strong><u>用半母字母數字打入</u></strong>。一起點擊<strong><u>「Command」跟「s」</u></strong>可以保存內容。
    <br>
    <i class="fa fa-windows color-blue"></i>　使用Windows的話，點擊<strong><u>「ctrl」跟「s」</u></strong>可以保存內容。
  </small>
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
4
5
<strong class="color-red">6</strong>
<strong class="color-red">7</strong>
<strong class="color-red">8</strong>
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>p</span>&gt;&lt;%= @post.name %&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>p</span>&gt;&lt;%= @post.content %&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>p</span>&gt;&lt;%= @post.place %&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line answer-code'>&lt;<span class='word-red'>p</span>&gt;&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/posts"</span> <span class="remarkable-code"><span class="word-green">class</span>=<span class="word-yellow">"btn btn-info"</span></span>&gt;返回主頁&lt;/<span class='word-red'>a</span>&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line answer-code'>&lt;<span class='word-red'>p</span>&gt;&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/posts/&lt;%= @post.id %&gt;/edit"</span> <span class="remarkable-code"><span class="word-green">class</span>=<span class="word-yellow">"btn btn-success"</span></span>&gt;編輯投稿&lt;/<span class='word-red'>a</span>&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line answer-code'>&lt;<span class='word-red'>p</span>&gt;&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/posts/&lt;%= @post.id %&gt;"</span> <span class="word-green">data-method</span>=<span class="word-yellow">"delete"</span> <span class="remarkable-code"><span class="word-green">class</span>=<span class="word-yellow">"btn btn-danger"</span></span>&gt;刪除投稿&lt;/<span class='word-red'>a</span>&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
</td>
</tr>
</table>
  <hr class="red-hr">
  完了之後，自己編輯看看「<a href="/zh-TW/mugcups/6#title1-4" target="_blank"><strong>create</strong></a>」「<a href="/zh-TW/mugcups/6#title1-6" target="_blank"><strong>update</strong></a>」「<a href="/zh-TW/mugcups/6#title1-7" target="_blank"><strong>destroy</strong></a>」的網頁吧！
  <br><br>
  <i class="fa fa-star color-blue"></i>　<strong>用Bootstrap設定按鈕的時候、在「class」裡設定「btn」跟喜歡的按鈕的種類。</strong>
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>edit.html.erb</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>  &lt;%= f.submit <span class="word-yellow">"編輯資料"</span>, <span class='word-purple'>:class</span> =&gt; <span class='word-yellow'>"btn btn-primary"</span> %&gt;</span>
</td>
</tr>
</table>
</h4>