<h4 id="chapter10-3-3">
  <p id="title3-3"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">③ : navigation-barに「users」ページへのリンクを加える</strong></p>
  <br>
  ここまでで「users」データベースのページを作りました。
  <br>
  最後に<a href="/mugcups/css#title2-3" target="_blank"><strong>上についているバー・navigation-bar</strong></a>に「users」ページへの<a href="/mugcups/5#title1-2-2" target="_blank"><strong>リンク</strong></a>を追加しましょう。
  <hr class="red-hr">
  ログインしていない時には<strong><u>「ログインする」「登録する」リンク</u></strong>を
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page10/Chrome_users_sign_in_nav.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page10/Chrome_users_sign_in_nav.png",
              :target => ["_blank"] %>
  ログインしている時には<strong><u>「ユーザー一覧」「ユーザー情報」「新しく投稿する」「ログアウト」リンク</u></strong>を
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page10/Chrome_posts_all_nav_after_login.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page10/Chrome_posts_all_nav_after_login.png",
              :target => ["_blank"] %>
  表示させるように設定してみましょう。
  <hr class="red-hr">
  <%= render "page10/title3_3_1.html.erb" %>
  <hr class="red-hr">
  <%= render "page10/title3_3_2.html.erb" %>
  <hr class="red-hr">
  <%= render "page10/title3_3_3.html.erb" %>
</h4>