<footer class="footer" id="footer-section">
  <br>
  <div class="row">
    <div class="col-xs-6">
      <h3>OUTLINE</h3>
      <hr>
      <p>
        <i class="fa fa-bookmark"></i>　<%= link_to "Mugcup（基础编）", mugcups_path, :target => ["_blank"] %></p>
      <p>
        <i class="fa fa-bookmark"></i>　<%= link_to "Coffee（应用编）", coffee_cups_path, :target => ["_blank"] %>
      </p>
    </div>
    <div class="col-xs-6">
      <h3>ABOUT US</h3>
      <hr>
      <p>
        <%= link_to "运营公司", company_path, :target => ["_blank"] %>
      </p>
      <p>
        <%= link_to "利用规约", term_path, :target => ["_blank"] %>
      </p>
      <p>
        <%= link_to "私密政策", privacypolicy_path, :target => ["_blank"] %>
      </p>
      <p>
        <%= link_to "特定商取引法に基づく表記", tokusho_path, :target => ["_blank"] %>
      </p>
    </div>
  </div>
  <div>
    <h3>Language</h3>
    <hr>
    <div class="row">
      <div class="col-sm-2">
        <%= link_to "日本語",
                    url_for(controller: controller.controller_name, action: controller.action_name, locale: 'ja') %>
      </div>
      <div class="col-sm-2">
        <%= link_to "繁體字",
                    url_for(controller: controller.controller_name, action: controller.action_name, locale: 'zh-TW') %>
      </div>
      <div class="col-sm-2">
          <%= link_to '简体字',
                      url_for(controller: controller.controller_name, action: controller.action_name, locale: 'zh-CN')
          %>
      </div>
    </div>
    <br>
    <h3>CONTACT US</h3>
    <hr>
    <p>
    <i class="fa fa-envelope"></i>　邮箱：<a href="mailto:support@coffee-cup.info">support@coffee-cup.info</a>
    </p>
    <p>
    <i class="fa fa-facebook-official"></i>　Facebook：<a href="https://www.facebook.com/CoffeeCupJapan/" target="_blank">Coffee-Cup</a>
    </p>
    <hr>
    <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    <div>Copyright © 2016 <a href="http://www.coffee-cup.co.jp" target="_blank">Coffee-Cup inc.</a> All Rights Reserved.</div>
    <br>
  </div>
</footer>