<footer class="footer" id="footer-section">
  <br>
  <div class="row">
    <div class="col-xs-6">
      <h3>OUTLINE</h3>
      <hr>
      <p>
        <i class="fa fa-bookmark"></i>　<%= link_to "Mugcup（基礎編）", mugcups_path, :target => ["_blank"] %></p>
      <p>
        <i class="fa fa-bookmark"></i>　<%= link_to "Coffee（応用編）", coffee_cups_path, :target => ["_blank"] %>
      </p>
    </div>
    <div class="col-xs-6">
      <h3>ABOUT US</h3>
      <hr>
      <p>
        <%= link_to "運営会社", company_path, :target => ["_blank"] %>
      </p>
      <p>
        <%= link_to "利用規約", term_path, :target => ["_blank"] %>
      </p>
      <p>
        <%= link_to "プライバシーポリシー", privacypolicy_path, :target => ["_blank"] %>
      </p>
      <p>
        <%= link_to "特定商取引法に基づく表記", tokusho_path, :target => ["_blank"] %>
      </p>
    </div>
  </div>
  <div>
    <h3>Language</h3>
    <hr>
    <div class="row">
      <div class="col-sm-2">
        <%= link_to "日本語",
                    url_for(controller: controller.controller_name, action: controller.action_name, locale: 'ja') %>
      </div>
      <div class="col-sm-2">
        <%= link_to "繁體字",
                    url_for(controller: controller.controller_name, action: controller.action_name, locale: 'zh-TW') %>
      </div>
      <div class="col-sm-2">
          <%= link_to '简体字',
                      url_for(controller: controller.controller_name, action: controller.action_name, locale: 'zh-CN')
          %>
      </div>
    </div>
    <br>
    <h3>CONTACT US</h3>
    <hr>
    <p>
    <i class="fa fa-envelope"></i>　メールアドレス：<a href="mailto:support@coffee-cup.info">support@coffee-cup.info</a>
    </p>
    <p>
    <i class="fa fa-facebook-official"></i>　フェイスブック：<a href="https://www.facebook.com/CoffeeCupJapan/" target="_blank">Coffee-Cup</a>
    </p>
    <hr>
    <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>　　<a href='https://www.expeditedssl.com/simple-ssl-scanner/scan?target_domain=www.coffee-cup.com' target='_blank' rel='nofollow'><img src='https://www.expeditedssl.com/ssl-secure-badge.png'  alt='Expedited SSL Scanner'></a></div>
    <div>Copyright © 2016 <a href="http://www.coffee-cup.co.jp" target="_blank">株式会社Coffee-Cup</a> All Rights Reserved.</div>
    <br>
  </div>
</footer>