<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= display_meta_tags({
      :title => 'CoffeeCup',
      :description => 'インターネットを使うだけで満足ですか？ウェブサイトを作れる人になりたいならCoffeeCup',
      :keywords => 'ウェブサイト作り方, Ruby on rails, プログラミング初心者',
      :open_graph => {
        :title => "Coffee Cup | Railsで挫折した人のためのRailsを学習サイト",
        :url   => 'http://www.coffee-cup.jp/',
      },
      :viewport => "width=device-width, initial-scale=1.0" ,
      :reverse => true
    }) %>
  <meta property="og:site_name" content="CoffeeCup">
  <meta property="og:type" content="article">
  <meta property="og:image" content="https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/logo/coffee_cup_logo.png">
  <meta property="og:title" content="CoffeeCup">

  <!-- facebook -->

  <meta property="fb:admins" content="1716720158603405">
  <meta property="fb:app_id" content="1691672587760043">
  <meta property="article:publisher" content="https://www.facebook.com/CoffeeCupJapan/">

  <!-- icon -->
  <link rel="shortcut icon" href="https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/logo/coffee_cup_logo.png">

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>

</head>
<body>
  <% if admin_user_signed_in? %>
    <%= render 'common/navbar' %>
    <div id="main-section">
      <%= yield %>
      <br>
    </div>
    <br>
    <footer class="footer text-center">
      <strong>
      <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
      <div>Copyright © 2016 <a href="https://www.facebook.com/kazuya.kurihara.0218" target="_blank">Kazuya Kurihara</a> All Rights Reserved.</div>
      <div>
      <br>
      </strong>
    </footer>
    <script>
      new WOW().init();
    </script>
    <script>


    </script>
    <% if Rails.env.test? %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-75857156-1', 'auto');
      ga('send', 'pageview');
    </script>
    <% end %>
  <% else %>
    <div class="text-center">
      <br>
      <h1>
      <%= image_tag ("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/logo/mugcup_logo_nav_gray.png") %>
      <span class="color-coffee">ページを改装中です。</span>
      <br>
      <small>しばらくお待ち下さい...</small></h1>
    </div>
  <% end %>
</body>
</html>
