<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= display_meta_tags({
      :title => 'CoffeeCup',
      :description => 'インターネットを使うだけで満足ですか？ウェブサイトを作れる人になりたいならCoffeeCup',
      :keywords => 'ウェブサイト作り方, Ruby on rails, プログラミング初心者',
      :open_graph => {
        :title => "Coffee Cup | Railsで挫折した人のためのRailsを学習サイト",
        :url   => 'http://www.coffee-cup.jp/',
      },
      :viewport => "width=device-width, initial-scale=1.0" ,
      :reverse => true
    }) %>
  <meta property="og:site_name" content="CoffeeCup">
  <meta property="og:type" content="article">
  <meta property="og:image" content="https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/logo/coffee_cup_logo.png">
  <meta property="og:title" content="CoffeeCup">

  <!-- facebook -->

  <meta property="fb:admins" content="1716720158603405">
  <meta property="fb:app_id" content="1691672587760043">
  <meta property="article:publisher" content="https://www.facebook.com/CoffeeCupJapan/">

  <!-- icon -->
  <link rel="shortcut icon" href="https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/logo/coffee_cup_logo.png">

</head>
<body>

<%= render 'common/navbar' %>
<div id="main-section">
  <%= yield %>
  <br>
</div>
<hr>
<footer class="footer text-center">
  <strong>
  <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
  </strong>
</footer>
<script>
  new WOW().init();
</script>
<script>
  var x = 133;
function larger()  {
  x *= 1.1;
  var selected_doc = document.getElementsByTagName("h4");
  for(var i = 0; i < selected_doc.length; i++){
    selected_doc[i].style.fontSize = x+"%";
  }
}
function smaller() {
  x /= 1.1;
  var selected_doc = document.getElementsByTagName("h4");
  for(var i = 0; i < selected_doc.length; i++){
    selected_doc[i].style.fontSize = x+"%";
  }
}
</script>
<% if Rails.env.production? %>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-75857156-1', 'auto');
  ga('send', 'pageview');
</script>
<% end %>
</body>
</html>
