<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'common/navbar' %>
<div id="main-section">
  <div class="container">
    <%= yield %>
  </div>
  <br>
</div>
<hr>
<footer class="footer text-center">
  <strong>
  <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
  </strong>
</footer>
<script>
  new WOW().init();
</script>
<script>
  var x = 133;
function larger()  {
  x *= 1.1;
  var selected_doc = document.getElementsByTagName("h4");
  for(var i = 0; i < selected_doc.length; i++){
    selected_doc[i].style.fontSize = x+"%";
  }
}
function smaller() {
  x /= 1.1;
  var selected_doc = document.getElementsByTagName("h4");
  for(var i = 0; i < selected_doc.length; i++){
    selected_doc[i].style.fontSize = x+"%";
  }
}
</script>
<% if Rails.env.production? %>
  <script>
  </script>
<% end %>
</body>
</html>
