<h4 id="coffee-chapter3-2-2-1">
  <p id="title2-2-1"><i class="fa fa-check-square color-red"></i>　<strong>⑴ : 新增「entries」資料（create）</strong></p>
  <br>
  <i class="fa fa-play-circle"></i>　<strong>首先新增「<u>entries</u>」資料吧！</strong>
  <hr class="red-hr">
  新增「entries」資料要在<strong>資料操作文件（<u>controller文件</u>）</strong>裡
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'><span class='word-blue'>Entry</span>.create(<span class='word-purple'>:user_id</span> => 數字, <span class='word-purple'>:room_id</span> => 數字)</span>
</td>
</tr>
</table>
  <br>
  追加上面的內容。
  <br><br>
  這一次的「entries」資料的設定是
  <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/coffee3/Chrome_messages_users_1_start_chat.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/coffee3/Chrome_messages_users_1_start_chat.png",
              :target => ["_blank"] %>
  點擊 <a class="btn btn-warning">開始聊天</a> 作<strong>「<u>rooms</u>」資料</strong>的時候會一起新增「entries」資料。
  <br><br>
  所以
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'><span class='word-blue'>Entry</span>.create(<span class='word-purple'>:user_id</span> => 數字, <span class='word-purple'>:room_id</span> => 數字)</span>
</td>
</tr>
</table>
  <br>
  在<strong>「rooms_controller.rb」</strong>裡面追加像上面的設定。
  <hr class="red-hr">
  <i class="fa fa-play-circle"></i>　<strong>首先作<u>現在登入的會員在參加聊天室</u>的資料吧！</strong>
  <br><br>
  編輯<strong>「<u>app > controllers > rooms_controller.rb</u>」</strong>的內容吧！
  <br>
  <small>※　詳細<a href="/zh-TW/mugcups/4#title2-1" target="_blank"><strong>請參考這裡</strong></a></small>
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>rooms_controller.rb（追加第7行）</strong>
  <br>
  <small>
    ※　<strong><u>用半母字母數字打入</u></strong>。一起點擊<strong><u>「Command」跟「s」</u></strong>可以保存內容。
    <br>
    <i class="fa fa-windows color-blue"></i>　使用Windows的話，點擊<strong><u>「ctrl」跟「s」</u></strong>可以保存內容。
  </small>
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>5
6
<strong class="color-red">7</strong>
8
9
10
</td>
<td class='code-content'><span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>create</span></span>
<span class='code-line'>    @room <span class="word-red">=</span> <span class='word-blue'>Room</span>.create</span>
<span class='code-line remarkable-code'>    @entry1 <span class="word-red">=</span> <span class='word-blue'>Entry</span>.create(<span class='word-purple'>:room_id</span> => @room.id, <span class='word-purple'>:user_id</span> => current_user.id)</span>
<span class='code-line'>    redirect_to <span class='word-yellow'>"/rooms/#{@room.id}"</span></span>
<span class='code-line'>    flash[<span class='word-purple'>:notice</span>] <span class="word-red">=</span> <span class='word-yellow'>"作好聊天室了！"</span></span>
<span class='code-line'>  <span class='word-red'>end</span></span>
</td>
</tr>
</table>
  <br>
  這樣作好了
  <strong>
    <ul class="number_ul">
      <li>「room_id」裡放「@room」的「id」</li>
      <li>「user_id」裡放「current_user」的「id」</li>
    </ul>
  </strong>
  的「entries」資料。
  <br><br>
  <i class="fa fa-arrow-right"></i>　<strong>如果要新增登入的會員的「id」是「1」・新增的聊天室的「id」是「1」的資料的話，</strong>
  <br><br>
  <strong>entries</strong>
  <table class="table table-striped" style="width:50%">
    <thead style="font-size:0.8em">
      <tr class="active">
        <th style="background-color: #f2dede;">id</th>
        <th style="background-color: #f2dede;">room_id</th>
        <th style="background-color: #f2dede;">user_id</th>
        <th>created_at</th>
        <th>updated_at</th>
      </tr>
    </thead>
    <tbody class="text-center">
      <tr>
        <td style="background-color: #f2dede;">1</td>
        <td style="background-color: #f2dede;">1</td>
        <td style="background-color: #f2dede;">1</td>
        <td style="font-size:11px;">2016-04-12 20:30:21</td>
        <td style="font-size:11px;">2016-04-12 20:30:21</td>
      </tr>
    </tbody>
  </table>
  <br>
  <strong>這樣的資料。</strong>
  <hr class="red-hr">
  <i class="fa fa-play-circle"></i>　<strong>接着作<u>聊天的對方的會員在參加聊天室</u>的資料吧！</strong>
  <br><br>
  <strong>entries</strong>
  <table class="table table-striped" style="width:50%">
    <thead style="font-size:0.8em">
      <tr class="active">
        <th style="background-color: #f2dede;">id</th>
        <th style="background-color: #f2dede;">room_id</th>
        <th style="background-color: #f2dede;">user_id</th>
        <th>created_at</th>
        <th>updated_at</th>
      </tr>
    </thead>
    <tbody class="text-center">
      <tr>
        <td style="background-color: #f2dede;">2</td>
        <td style="background-color: #f2dede;">1</td>
        <td style="background-color: #f2dede;"><strong class="color-red">2</strong></td>
        <td style="font-size:11px;">2016-04-12 20:30:21</td>
        <td style="font-size:11px;">2016-04-12 20:30:21</td>
      </tr>
    </tbody>
  </table>
  <br>
  在這裡，
  <br>
  <ul class="number_ul">
  <strong><li>點擊，作「<u>rooms</u>」資料的 <a class="btn btn-warning">開始聊天</a> 之前</li></strong>
  <br>
  <i class="fa fa-file color-red"></i>　<strong>show.html.erb（「<u>app > views > users</u>」文件夾）</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>10
11
<strong class="color-red">12
13
14</strong>
15
16
17
</td>
<td class='code-content'><span class='code-line'>&lt;% <span class="word-red">else</span> %&gt;</span>
<span class='code-line'>  &lt;%= form_for @room <span class="word-red">do</span> |f| %&gt;</span>
<span class="remarkable-code"><span class='code-line'>      &lt;%= fields_for @entry <span class="word-red">do</span> |e| %&gt;</span>
<span class='code-line'>        &lt;%= e.hidden_field <span class="word-purple">:user_id</span>, <span class='word-purple'>:value</span> =&gt; @user.id %&gt;</span>
<span class='code-line'>      &lt;% <span class="word-red">end</span> %&gt;</span></span>
<span class='code-line'>    &lt;%= f.submit <span class="word-yellow">"開始聊天"</span>, <span class='word-purple'>:class</span> =&gt; <span class='word-yellow'>"btn btn-warning"</span> %&gt;</span>
<span class='code-line'>  &lt;% <span class="word-red">end</span> %&gt;</span>
<span class='code-line'>&lt;% <span class="word-red">end</span> %&gt;</span>
</td>
</tr>
</table>
  <br>
  <strong><u>設定新的「entries」資料。</u></strong>
  <br><br>
  <strong><li>點擊 <a class="btn btn-warning">開始聊天</a> 之後</li></strong>
  <br>
  <i class="fa fa-file color-red"></i>　<strong>rooms_controller.rb</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>5
6
7
<strong class="color-red">8</strong>
9
10
11
</td>
<td class='code-content'><span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>create</span></span>
<span class='code-line'>    @room <span class="word-red">=</span> <span class='word-blue'>Room</span>.create</span>
<span class='code-line'>    @entry1 <span class="word-red">=</span> <span class='word-blue'>Entry</span>.create(<span class='word-purple'>:room_id</span> => @room.id, <span class='word-purple'>:user_id</span> => current_user.id)</span>
<span class='code-line remarkable-code'>    @entry2 <span class="word-red">=</span> <span class='word-blue'>Entry</span>.create(params.<span class="word-red">require</span>(<span class='word-purple'>:entry</span>).permit(<span class='word-purple'>:user_id</span>, <span class='word-purple'>:room_id</span>).merge(<span class='word-purple'>:room_id</span> => @room.id))</span>
<span class='code-line'>    redirect_to <span class='word-yellow'>"/rooms/#{@room.id}"</span></span>
<span class='code-line'>    flash[<span class='word-purple'>:notice</span>] <span class="word-red">=</span> <span class='word-yellow'>"作好聊天室了！"</span></span>
<span class='code-line'>  <span class='word-red'>end</span></span>
</td>
</tr>
</table>
  <br>
  <strong><u>在「rooms_controller.rb」裡作新的資料。</u></strong>
  </ul>
  <br>
  所以在這裡設定
  <strong>
  <ul class="number_ul">
    <li><p>點擊 <a class="btn btn-warning">開始聊天</a> <span class="color-red">之前</span>的設定</p></li>
    <li><p>點擊 <a class="btn btn-warning">開始聊天</a> <span class="color-red">之後</span>的設定</p></li>
  </ul>
  </strong>
  這個兩個內容吧。
  <hr class="red-hr">
  <i class="fa fa-play-circle"></i>　<strong>那麽開始設定內容吧！</strong>
  <br><br>
  <i class="fa fa-arrow-right"></i>　<strong>首先從，點擊 <a class="btn btn-warning">開始聊天</a> <span class="color-red">之前</span>的設定做起吧。</strong>
  <br><br>
  設定這個要做
  <strong>
  <ul class="number_ul">
    <li>「users_controller.rb」裡設定新的「entries」資料「@entry」（<u>資料操作</u>）</li>
    <li>「users」資料庫的「show」網頁裡設定「@entry」的輸入框（<u>顯示網頁</u>）</li>
  </ul>
  </strong>
  這個兩個設定。
  <br><br>
  <i class="fa fa-arrow-right color-red"></i>　<strong>從第一個設定，在「users_controller.rb」裡設定「@entry」開始做吧！（<u>操作資料</u>）</strong>
  <br><br>
  打開<strong>「<u>app > controllers > users_controller.rb</u>」</strong>之後，編輯內容吧！
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>users_controller.rb（追加第10行）</strong>
  <br>
  <small>
    ※　<strong><u>用半母字母數字打入</u></strong>。一起點擊<strong><u>「Command」跟「s」</u></strong>可以保存內容。
    <br>
    <i class="fa fa-windows color-blue"></i>　使用Windows的話，點擊<strong><u>「ctrl」跟「s」</u></strong>可以保存內容。
  </small>
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>5
6
7
8
9
<strong class="color-red">10</strong>
11
12
</td>
<td class='code-content'><span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>show</span></span>
<span class='code-line'>    @user <span class="word-red">=</span> <span class='word-blue'>User</span>.find(params[<span class='word-purple'>:id</span>])</span>
<span class='code-line'>    <span class='word-red'>if </span>@user.id <span class="word-red">==</span> current_user.id</span>
<span class='code-line'>    <span class="word-red">else</span></span>
<span class='code-line'>      @room <span class="word-red">=</span> <span class="word-blue">Room</span>.<span class='word-red'>new</span></span>
<span class='code-line remarkable-code'>      @entry <span class="word-red">=</span> <span class="word-blue">Entry</span>.<span class='word-red'>new</span></span>
<span class='code-line'>    <span class='word-red'>end</span></span>
<span class='code-line'>  <span class='word-red'>end</span></span>
</td>
</tr>
</table>
  <br>
  <strong>「<u>app > views > users > show.html.erb</u>」</strong>裡面設定，在這裡作的新的「entry」資料「@entry」（<u>網頁顯示</u>）。
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>show.html.erb（追加第12〜14行）</strong>
  <br>
  <small>
    ※　<strong><u>用半母字母數字打入</u></strong>。一起點擊<strong><u>「Command」跟「s」</u></strong>可以保存內容。
    <br>
    <i class="fa fa-windows color-blue"></i>　使用Windows的話，點擊<strong><u>「ctrl」跟「s」</u></strong>可以保存內容。
  </small>
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>10
11
<strong class="color-red">12
13
14</strong>
15
16
17
</td>
<td class='code-content'><span class='code-line'>  &lt;% <span class="word-red">else</span> %&gt;</span>
<span class='code-line'>    &lt;%= form_for @room <span class="word-red">do</span> |f| %&gt;</span>
<span class="remarkable-code"><span class='code-line'>      &lt;%= fields_for @entry <span class="word-red">do</span> |e| %&gt;</span>
<span class='code-line'>        &lt;%= e.hidden_field <span class="word-purple">:user_id</span>, <span class='word-purple'>:value</span> =&gt; @user.id %&gt;</span>
<span class='code-line'>      &lt;% <span class="word-red">end</span> %&gt;</span></span>
<span class='code-line'>      &lt;%= f.submit <span class="word-yellow">"開始聊天"</span>, <span class='word-purple'>:class</span> =&gt; <span class='word-yellow'>"btn btn-warning"</span> %&gt;</span>
<span class='code-line'>    &lt;% <span class="word-red">end</span> %&gt;</span>
<span class='code-line'>  &lt;% <span class="word-red">end</span> %&gt;</span>
</td>
</tr>
</table>
  <br>
  出現了新的設定，說明內容吧！
  <hr class="red-hr">
  這一次出現了
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>12
</td>
<td class='code-content'><span class='code-line'>&lt;%= fields_for @entry <span class="word-red">do</span> |e| %&gt;</span>
</td>
</tr>
</table>
  <br>
  這個新的設定。
  <br><br>
  這個是
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>11
</td>
<td class='code-content'><span class='code-line'>&lt;%= form_for @room <span class="word-red">do</span> |f| %&gt;</span>
</td>
</tr>
</table>
  <br>
  <strong>在作「<u>rooms</u>」資料</strong>的設定裡，追加<strong>作「<u>@entry</u>」資料</strong>的設定。
  <br><br>
  在
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>&lt;% <span class="word-red">end</span> %&gt;</span>
</td>
</tr>
</table>
  <br>
  之間追加資料的設定。
  <br><br>
  在這裡使用<strong>「<a href="/zh-TW/coffee_cups/2#title2-3-4" target="_blank">hidden_field</a>」</strong>，
  <br>
  設定<strong>「@entry」的「user_id」裡放會員的資料「@user」的「id」</strong>的內容。
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>&lt;%= e.hidden_field <span class="word-purple">:user_id</span>, <span class='word-purple'>:value</span> =&gt; @user.id %&gt;</span>
</td>
</tr>
</table>
  <hr class="red-hr">
  使用<strong>「<u>users_controller.rb</u>」裡設定的「<u>@entry</u>」</strong>
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>show.html.erb</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>12
13
14
</td>
<td class='code-content'><span class='code-line'>&lt;%= fields_for @entry <span class="word-red">do</span> |e| %&gt;</span>
<span class='code-line'>  &lt;%= e.hidden_field <span class="word-purple">:user_id</span>, <span class='word-purple'>:value</span> =&gt; @user.id %&gt;</span>
<span class='code-line'>&lt;% <span class="word-red">end</span> %&gt;</span>
</td>
</tr>
</table>
  <br>
  在<strong>「<u>rooms_controller.rb</u>」</strong>裡面，新增資料。
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>@entry2 <span class="word-red">=</span> <span class='word-blue'>Entry</span>.create(params.<span class="word-red">require</span>(<span class='word-purple'>:entry</span>).permit(<span class='word-purple'>:user_id</span>, <span class='word-purple'>:room_id</span>).merge(<span class='word-purple'>:room_id</span> => @room.id))</span>
</td>
</tr>
</table>
  <br>
  這個<strong>「<u>params</u>」</strong>後面，放
  <br>
  <strong>
  <ul class="number_ul">
    <li>「rooms」資料</li>
    <li>在「entry」資料裡指定的「user_id」的資料</li>
  </ul>
  </strong>
  使用<strong><a href="/zh-TW/mugcups/6#title1-4-2-data" target="_blank">「<u>require</u>」跟「<u>permit</u>」</a></strong>，新增資料。
  <br><br>
  <i class="fa fa-question-circle color-green"></i>　<strong>做像下面一樣的「new」網頁裡，顯示「<u>@corporation」的「name」的輸入框</u>要怎麼設定好呢？</strong>
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>users_controller.rb</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
4
<strong class="color-red">5</strong>
6
7
8
9
<strong class="color-red">10</strong>
11
12
13
</td>
<td class='code-content'><span class='code-line'><span class='word-red'>class </span>UsersController <span class="word-green">< ApplicationController</span></span>
<span class='code-line'></span>
<span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>new</span></span>
<span class='code-line'>    @user <span class="word-red">=</span> <span class="word-blue">User</span>.<span class='word-red'>new</span></span>
<span class='code-line remarkable-code'>    @corporation <span class="word-red">=</span> <span class="word-blue">Corporation</span>.<span class='word-red'>new</span></span>
<span class='code-line'>  <span class='word-red'>end</span></span>
<span class='code-line'></span>
<span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>create</span></span>
<span class='code-line'>    @user <span class="word-red">=</span> <span class='word-blue'>User</span>.create(params.<span class="word-red">require</span>(<span class='word-purple'>:user</span>).permit(<span class='word-purple'>:name</span>))</span>
<span class='code-line remarkable-code'>    @corporation <span class="word-red">=</span> <span class='word-blue'>Corporation</span>.create(params.<span class="word-red">require</span>(<span class='word-purple'>:corporation</span>).permit(<span class='word-purple'>:name</span>))</span>
<span class='code-line'>  <span class='word-red'>end</span></span>
<span class='code-line'></span>
<span class='code-line'><span class='word-red'>end</span></span>
</td>
</tr>
</table>
  <hr class="red-hr">
  <textarea class="input-code form-control" placeholder="打入答案" rows="4"></textarea>
  <br>
  <i class="fa fa-file color-red"></i>　<strong>new.html.erb（<u>app > views > users 文件夾</u>）</strong>
  <br>
  <small>※　上面放鼠標，可以看到答案</small>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
4
<strong class="color-red">5
6
7</strong>
8
9
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>h1</span>&gt;作新的資料&lt;/<span class='word-red'>h1</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line'>&lt;%= form_for @user <span class="word-red">do</span> |f| %&gt;</span>
<span class='code-line'>  &lt;%= f.text_field <span class='word-purple'>:name</span> %&gt;</span>
<span class="remarkable-code answer-code"><span class='code-line'>  &lt;%= fields_for @corporation <span class="word-red">do</span> |c| %&gt;</span>
<span class='code-line'>    &lt;%= c.text_field <span class='word-purple'>:name</span> %&gt;</span>
<span class='code-line'>  &lt;% <span class="word-red">end</span> %&gt;</span></span>
<span class='code-line'>  &lt;%= f.submit <span class='word-yellow'>"新增"</span> %&gt;</span>
<span class='code-line'>&lt;% <span class="word-red">end</span> %&gt;</span>
</td>
</tr>
</table>
  <br>
  <strong>到這裡設定好，新增資料<span class="color-red">之前</span>的設定了！</strong>
  <hr class="red-hr">
  <i class="fa fa-arrow-right"></i>　<strong>接着設定，點擊 <a class="btn btn-warning">開始聊天</a> <span class="color-red">之後</span>的內容吧。</strong>
  <br><br>
  在這裡，設定<strong>「rooms_controller.rb」</strong>的內容。
  <br>
  現在是
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>rooms_controller.rb</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>5
6
7
8
9
10
</td>
<td class='code-content'><span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>create</span></span>
<span class='code-line'>    @room <span class="word-red">=</span> <span class='word-blue'>Room</span>.create</span>
<span class='code-line'>    @entry1 <span class="word-red">=</span> <span class='word-blue'>Entry</span>.create(<span class='word-purple'>:room_id</span> => @room.id, <span class='word-purple'>:user_id</span> => current_user.id)</span>
<span class='code-line'>    redirect_to <span class='word-yellow'>"/rooms/#{@room.id}"</span></span>
<span class='code-line'>    flash[<span class='word-purple'>:notice</span>] <span class="word-red">=</span> <span class='word-yellow'>"作好聊天室了！"</span></span>
<span class='code-line'>  <span class='word-red'>end</span></span>
</td>
</tr>
</table>
  <br>
  裡<strong>「<u>@room</u>」跟「<u>@entry1</u>」</strong>新增資料，在這裡追加作<strong>「<u>@entry2</u>」</strong>的設定（對方的會員的資料）吧。
  <br><br>
  那麽編輯<strong>「<u>app > controllers > rooms_controller.rb</u>」</strong>的內容吧！
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>rooms_controller.rb（追加第8行）</strong>
  <br>
  <small>
    ※　<strong><u>用半母字母數字打入</u></strong>。一起點擊<strong><u>「Command」跟「s」</u></strong>可以保存內容。
    <br>
    <i class="fa fa-windows color-blue"></i>　使用Windows的話，點擊<strong><u>「ctrl」跟「s」</u></strong>可以保存內容。
  </small>
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>5
6
7
<strong class="color-red">8</strong>
9
10
11
</td>
<td class='code-content'><span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>create</span></span>
<span class='code-line'>    @room <span class="word-red">=</span> <span class='word-blue'>Room</span>.create</span>
<span class='code-line'>    @entry1 <span class="word-red">=</span> <span class='word-blue'>Entry</span>.create(<span class='word-purple'>:room_id</span> => @room.id, <span class='word-purple'>:user_id</span> => current_user.id)</span>
<span class='code-line remarkable-code'>    @entry2 <span class="word-red">=</span> <span class='word-blue'>Entry</span>.create(params.<span class="word-red">require</span>(<span class='word-purple'>:entry</span>).permit(<span class='word-purple'>:user_id</span>, <span class='word-purple'>:room_id</span>).merge(<span class='word-purple'>:room_id</span> => @room.id))</span>
<span class='code-line'>    redirect_to <span class='word-yellow'>"/rooms/#{@room.id}"</span></span>
<span class='code-line'>    flash[<span class='word-purple'>:notice</span>] <span class="word-red">=</span> <span class='word-yellow'>"作好聊天室了！"</span></span>
<span class='code-line'>  <span class='word-red'>end</span></span>
</td>
</tr>
</table>
  <br>
  params裡面有
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>show.html.erb（第12〜14行）</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>12
13
14
</td>
<td class='code-content'><span class='code-line'>&lt;%= fields_for @entry <span class="word-red">do</span> |e| %&gt;</span>
<span class='code-line'>  &lt;%= e.hidden_field <span class="word-purple">:user_id</span>, <span class='word-purple'>:value</span> =&gt; @user.id %&gt;</span>
<span class='code-line'>&lt;% <span class="word-red">end</span> %&gt;</span>
</td>
</tr>
</table>
  <br>
  <strong>「user_id」裡放「@user」的「id」的「@entry」的資料</strong>。
  <br>
  把這個從<strong>「params」</strong>取得。
  <br>
  <small>※　params的說明<a href="/zh-TW/mugcups/6#title1-4-1" target="_blank"><strong>請參考這裡</strong></a>吧</small>
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>params.<span class="word-red">require</span>(<span class='word-purple'>:entry</span>).permit(<span class='word-purple'>:user_id</span>, <span class='word-purple'>:room_id</span>).merge(<span class='word-purple'>:room_id</span> => @room.id)</span>
</td>
</tr>
</table>
  <br>
  在這裡
  <strong>
  <ul class="number_ul">
    <li>應許編輯「entry」資料的「user_id」跟「room_id」的框子</li>
    <small>※　詳細<a href="/zh-TW/mugcups/6#title1-4-2-data" target="_blank"><strong>請參考這裡</strong></a></small>
    <li>「room_id」裡放「@room」的「id」</li>
    <small>※　詳細<a href="/zh-TW/mugcups/11#title4-2-1" target="_blank"><strong>請參考這裡</strong></a></small>
  </ul>
  </strong>
  這個兩個設定。
  <hr class="red-hr">
  這樣
  <strong>
  <ul class="number_ul">
    <li>「user_id」裡放「@user」的「id」</li>
    <li>「room_id」裡放「@room」的「id」</li>
  </ul>
  </strong>
  的新增資料的設定好了！
  <br><br>
  <strong>entries</strong>
  <table class="table table-striped" style="width:50%">
    <thead style="font-size:0.8em">
      <tr class="active">
        <th style="background-color: #f2dede;">id</th>
        <th style="background-color: #f2dede;">room_id</th>
        <th style="background-color: #f2dede;">user_id</th>
        <th>created_at</th>
        <th>updated_at</th>
      </tr>
    </thead>
    <tbody class="text-center">
      <tr>
        <td style="background-color: #f2dede;">2</td>
        <td style="background-color: #f2dede;">1</td>
        <td style="background-color: #f2dede;">2</td>
        <td style="font-size:11px;">2016-04-12 20:30:21</td>
        <td style="font-size:11px;">2016-04-12 20:30:21</td>
      </tr>
    </tbody>
  </table>
  <i class="fa fa-play-circle"></i>　<strong>那麽，試試看資料會不會新增！</strong>
  <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/coffee3/Chrome_messages_users_1_start_chat.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/coffee3/Chrome_messages_users_1_start_chat.png",
              :target => ["_blank"] %>
  從不是自己的會員的網頁以外，點擊 <a class="btn btn-warning">開始聊天</a> 吧！
  <br><br>
  <small>
    ※　<u>一起點擊<strong>「Command」跟「c」</strong></u>停止，用<strong>「<u>rails s</u>」</strong>打開的服務器之後，再打入<strong><u>「rails s」</u></strong>吧。
  </small>
  <br><br>
  <p class="alert alert-success">
  <i class="fa fa-windows color-blue"></i>　<strong>使用Windows的話、
  <br>
  　<u>一起點擊「ctrl」跟「c」</u>停止，用「<u>rails s</u>」打開的服務器之後，再打入「<u>rails s</u>」吧。</strong>
  </p>
  <br>
  <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/coffee3/Chrome_messages_rooms_1_no_messages_no_entry.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/coffee3/Chrome_messages_rooms_1_no_messages_no_entry.png",
              :target => ["_blank"] %>
  應該移動到這樣的網頁吧。
  <br>
  已經作好「rooms」網頁了，應該移動到<strong>「<a href="http://0.0.0.0:3000/rooms/2">0.0.0.0:3000/rooms/2</a>」</strong>網頁。
  <br><br>
  作好了之後，<strong>用Sequel Pro / SqliteBrowser 看看「<u>entries</u>」資料有沒有作好了沒</strong>！
  <br>
  <small>※　打開Sequel Pro的方法<a href="/zh-TW/mugcups/how_to_open#title3" target="_blank"><strong>請參考這裡</strong></a>，打開SqliteBrowser的方法<a href="/zh-TW/mugcups/how_to_open#title4" target="_blank"><strong>請參考這裡</strong></a>吧</small>
  <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/coffee3/Sequel_Pro_entries.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/coffee3/Sequel_Pro_entries.png",
              :target => ["_blank"] %>
  在這裡作了
  <strong>
    <ul class="number_ul">
      <li>表示會員「1」在參加聊天室「2」的資料</li>
      <li>表示會員「2」在參加聊天室「2」的資料</li>
    </ul>
  </strong>
  這個兩個資料！
  <hr class="red-hr">
  <strong>
  <i class="fa fa-play-circle"></i>　接著使用新增的資料，
  <ul class="number_ul">
    <li>在「rooms」網頁上，顯示參加的會員</li>
    <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/coffee3/Chrome_messages_rooms_1_no_messages.png",
                          :width => "90%",
                          :class => "hover_img textbook-title-img"),
                "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/coffee3/Chrome_messages_rooms_1_no_messages.png",
                :target => ["_blank"] %>
    <li>顯示登入的會員在參加的聊天室一覽</li>
    <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/coffee3/Chrome_messages_users_1_link_chats_1.png",
                          :width => "90%",
                          :class => "hover_img textbook-title-img"),
                "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/coffee3/Chrome_messages_users_1_link_chats_1.png",
                :target => ["_blank"] %>
    <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/coffee3/Chrome_messages_rooms.png",
                          :width => "90%",
                          :class => "hover_img textbook-title-img"),
                "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/coffee3/Chrome_messages_rooms.png",
                :target => ["_blank"] %>
  </ul>
  做這個兩個「顯示資料」吧。
  </strong>
  <br><br>
  <i class="fa fa-arrow-right"></i>　<strong>設定的內容，<a href="/zh-TW/codes/c_5" target="_blank">請參考這裡</a>。</strong>
</h4>