<h2 class="textbook-section-title" id="title2"><strong>2 : 作聊天室</strong></h2>
<h4 id="coffee-chapter3-2">
  <strong>設定作聊天室的內容吧！</strong>
  <hr class="red-hr">
  作聊天室要在
  <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/coffee3/Chrome_messages_users_1_start_chat.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/coffee3/Chrome_messages_users_1_start_chat.png",
              :target => ["_blank"] %>
  點擊上面的圖像的 <a class="btn btn-warning">開始聊天</a> 之後，
  <strong>
    <ul class="number_ul">
      <br>
      <li>作新的「<u>rooms</u>」資料</li>
      <br>
      <strong>rooms</strong>
      <table class="table table-striped" style="width:50%">
        <thead style="font-size:0.8em">
          <tr class="active">
            <th style="background-color: #f2dede;">id</th>
            <th style="background-color: #f2dede;">name</th>
            <th style="background-color: #f2dede;">explain</th>
            <th>created_at</th>
            <th>updated_at</th>
          </tr>
        </thead>
        <tbody class="text-center">
          <tr>
            <td style="background-color: #f2dede;">1</td>
            <td style="background-color: #f2dede;font-size:12px;">新的聊天</td>
            <td style="background-color: #f2dede;font-size:12px;">打入說明</td>
            <td style="font-size:11px;">2016-04-12 20:30:21</td>
            <td style="font-size:11px;">2016-04-12 20:30:21</td>
          </tr>
        </tbody>
      </table>
      <i class="fa fa-arrow-right color-red"></i>　<strong>作聊天室「1」</strong>
      <br><br>
      <li>作，表示哪一個會員在參加哪一個聊天室的「entries」資料</li>
      <br>
      <strong>entries</strong>
      <table class="table table-striped" style="width:50%">
        <thead style="font-size:0.8em">
          <tr class="active">
            <th style="background-color: #f2dede;">id</th>
            <th style="background-color: #f2dede;">room_id</th>
            <th style="background-color: #f2dede;">user_id</th>
            <th>created_at</th>
            <th>updated_at</th>
          </tr>
        </thead>
        <tbody class="text-center">
          <tr>
            <td style="background-color: #f2dede;">1</td>
            <td style="background-color: #f2dede;">1</td>
            <td style="background-color: #f2dede;">1</td>
            <td style="font-size:11px;">2016-04-12 20:30:21</td>
            <td style="font-size:11px;">2016-04-12 20:30:21</td>
          </tr>
        </tbody>
      </table>
      <table class="table table-striped" style="width:50%">
        <thead style="font-size:0.8em">
          <tr class="active">
            <th style="background-color: #f2dede;">id</th>
            <th style="background-color: #f2dede;">room_id</th>
            <th style="background-color: #f2dede;">user_id</th>
            <th>created_at</th>
            <th>updated_at</th>
          </tr>
        </thead>
        <tbody class="text-center">
          <tr>
            <td style="background-color: #f2dede;">1</td>
            <td style="background-color: #f2dede;">1</td>
            <td style="background-color: #f2dede;">2</td>
            <td style="font-size:11px;">2016-04-12 20:30:21</td>
            <td style="font-size:11px;">2016-04-12 20:30:21</td>
          </tr>
        </tbody>
      </table>
      <i class="fa fa-arrow-right color-red"></i>　<strong>表示會員「1」跟「2」在參加聊天室「1」的資料</strong>
    </ul>
    <br>
  </strong>
  使用這個兩個，
  <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/coffee3/Chrome_messages_rooms_1_no_messages.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/coffee3/Chrome_messages_rooms_1_no_messages.png",
              :target => ["_blank"] %>
  顯示這個畫面。
  <br><br>
  這個網頁<strong>「<a href="http://0.0.0.0:3000/rooms/1" target="_blank">0.0.0.0:3000/rooms/1</a>」</strong>是，
  <br>
  <strong>顯示「rooms」資料庫的「id」是「1」的資料的「show」網頁</strong>。
  <br><br>
  在右邊，<strong>顯示「<u>messages</u>」資料庫的資料</strong>。
  <br>
  在左邊，<strong>顯示「<u>rooms</u>」資料庫的資料跟「<u>entries</u>」資料庫裡的會員的資料</strong>。
  <hr class="red-hr">
  所以，在<strong>「users」資料庫的「show」網頁</strong>上做
  <strong>
  <ul class="number_ul">
    <li>新增「rooms」資料（create）</li>
    <li>新增「entries」資料（create）</li>
  </ul>
  </strong>
  <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/coffee3/Chrome_messages_users_1_start_chat.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/coffee3/Chrome_messages_users_1_start_chat.png",
              :target => ["_blank"] %>
  在<strong>「rooms」資料庫的「show」網頁</strong>上做
  <strong>
  <ul class="number_ul">
    <li>顯示「rooms」資料（show）</li>
    <li>顯示「entries」資料</li>
  </ul>
  </strong>
  <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/coffee3/Chrome_messages_rooms_1_no_messages.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/coffee3/Chrome_messages_rooms_1_no_messages.png",
              :target => ["_blank"] %>
  這些設定。
  <hr class="red-hr">
  用這個「rooms」資料庫，作
  <strong>
  <ul class="number_ul">
    <li>index網頁</li>
    <br>
    顯示全部的「rooms」資料
    <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/coffee3/Chrome_messages_rooms.png",
                          :width => "90%",
                          :class => "hover_img textbook-title-img"),
                "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/coffee3/Chrome_messages_rooms.png",
                :target => ["_blank"] %>
    <li>edit</li>
    <br>
    打入編輯的「rooms」資料
    <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/coffee3/Chrome_messages_rooms_1_edit.png",
                          :width => "90%",
                          :class => "hover_img textbook-title-img"),
                "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/coffee3/Chrome_messages_rooms_1_edit.png",
                :target => ["_blank"] %>
    <li>update</li>
    <br>
    編輯「rooms」
    <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/coffee3/Chrome_messages_rooms_1_update.png",
                          :width => "90%",
                          :class => "hover_img textbook-title-img"),
                "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/coffee3/Chrome_messages_rooms_1_update.png",
                :target => ["_blank"] %>
  </ul>
  </strong>
  這些網頁的設定。
  <hr class="red-hr">
  在這裡做的設定是，
  <br><br>
  <strong>
  <i class="fa fa-arrow-right"></i>　「rooms」資料庫
  <ul class="number_ul">
    <li>create（在<u>users資料庫的「show」網頁</u>做）</li>
    <li>show</li>
    <li>index</li>
    <li>edit</li>
    <li>update</li>
  </ul>
  <i class="fa fa-arrow-right"></i>　「entries」資料庫
  <ul class="number_ul">
    <li>create（在<u>users資料庫的「show」網頁</u>做）</li>
    <li>show（在<u>rooms資料庫的「show」網頁</u>做）</li>
  </ul>
  </strong>
  這些設定。
  <br><br>
  <i class="fa fa-play-circle"></i>　<strong>首先從「<u>rooms</u>」資料庫開始設定吧！</strong>
</h4>
<hr>
<%= render "coffee3/zh-TW/title2_1" %>