<h4 id="coffee-chapter3-2-2-2">
  <p id="title2-2-2"><i class="fa fa-check-square color-red"></i>　<strong>⑵ : 顯示「entries」資料</strong></p>
  <br>
  <i class="fa fa-play-circle"></i>　<strong>接着顯示「<u>entries</u>」資料吧！</strong>
  <hr class="red-hr">
  「entries」資料庫裡有
  <br><br>
  <strong>entries</strong>
  <table class="table table-striped" style="width:50%">
    <thead style="font-size:0.8em">
      <tr class="active">
        <th>id</th>
        <th style="background-color: #f2dede;">room_id</th>
        <th style="background-color: #f2dede;">user_id</th>
        <th>created_at</th>
        <th>updated_at</th>
      </tr>
    </thead>
    <tbody class="text-center">
      <tr>
        <td>1</td>
        <td style="background-color: #f2dede;">1</td>
        <td style="background-color: #f2dede;">1</td>
        <td style="font-size:11px;">2016-04-12 20:30:21</td>
        <td style="font-size:11px;">2016-04-12 20:30:21</td>
      </tr>
    </tbody>
  </table>
  這樣的
  <strong>
  <ul class="number_ul">
    <li>設定「rooms」資料的框子「room_id」</li>
    <li>設定「users」資料的框子「user_id」</li>
  </ul>
  </strong>
  <br>
  應為<strong>「<u>rooms</u>」資料・「<u>users</u>」資料都可以拿複數的「<u>entries</u>」資料</strong>，所以在這裡設定
  <br><br>
  <p><i class="fa fa-arrow-right color-red"></i>　<strong>從聊天室資料「@room」選擇「entries」資料</strong></p>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>@entries <span class="word-red">=</span> @room.entries</span>
</td>
</tr>
</table>
  <br>
  <p><i class="fa fa-arrow-right color-red"></i>　<strong>從會員資料「@user」選擇「@entries」資料</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>@entries <span class="word-red">=</span> @user.entries</span>
</td>
</tr>
</table>
  <br>
  <p><i class="fa fa-arrow-right color-red"></i>　<strong>從「@entry」資料選擇「@user」資料</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>@user <span class="word-red">=</span> @entry.user</span>
</td>
</tr>
</table>
  <br>
  <p><i class="fa fa-arrow-right color-red"></i>　<strong>從「@entry」選擇「@room」資料</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>@user <span class="word-red">=</span> @entry.room</span>
</td>
</tr>
</table>
  <br>
  這些內容。
  <hr class="red-hr">
  <i class="fa fa-play-circle"></i>　<strong>首先從使用這些內容的設定開始做。</strong>
  <br><br>
  這個設定在
  <br>
  <strong>
  <ul class="number_ul">
    <li>「<u>app > models > entry.rb</u>」</li>
    <li>「<u>app > models > room.rb</u>」</li>
    <li>「<u>app > models > user.rb</u>」</li>
  </ul>
  </strong>
  裡追加各個設定。
  <br>
  <small>※　詳細<a href="/zh-TW/coffee_cups/2#title2-3-4" target="_blank"><strong>請參考這裡</strong></a></small>
  <br><br>
  編輯各個設定文件吧！
  <br>
  <small>※　詳細<a href="/zh-TW/coffee_cups/2#title2-3-4" target="_blank"><strong>請參考這裡</strong></a>吧</small>
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>entry.rb（追加第3、4行目）</strong>
  <br>
  <small>
    ※　<strong><u>用半母字母數字打入</u></strong>。一起點擊<strong><u>「Command」跟「s」</u></strong>可以保存內容。
    <br>
    <i class="fa fa-windows color-blue"></i>　使用Windows的話，點擊<strong><u>「ctrl」跟「s」</u></strong>可以保存內容。
  </small>
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
<strong class="color-red">3
4</strong>
5
6
</td>
<td class='code-content'><span class='code-line'><span class='word-red'>class </span>Entry <span class="word-green">< ActiveRecord::Base</span></span>
<span class='code-line'></span>
<span class='code-line remarkable-code'>  belongs_to  <span class='word-purple'>:room</span></span>
<span class='code-line remarkable-code'>  belongs_to  <span class='word-purple'>:user</span></span>
<span class='code-line'></span>
<span class='code-line'><span class='word-red'>end</span></span>
</td>
</tr>
</table>
  <br>
  <i class="fa fa-file color-red"></i>　<strong>room.rb（追加第4行）</strong>
  <br>
  <small>
    ※　<strong><u>用半母字母數字打入</u></strong>。一起點擊<strong><u>「Command」跟「s」</u></strong>可以保存內容。
    <br>
    <i class="fa fa-windows color-blue"></i>　使用Windows的話，點擊<strong><u>「ctrl」跟「s」</u></strong>可以保存內容。
  </small>
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
<strong class="color-red">4</strong>
5
6
</td>
<td class='code-content'><span class='code-line'><span class='word-red'>class </span>Room <span class="word-green">< ActiveRecord::Base</span></span>
<span class='code-line'></span>
<span class='code-line'>  has_many <span class='word-purple'>:messages</span></span>
<span class='code-line remarkable-code'>  has_many <span class='word-purple'>:entries</span></span>
<span class='code-line'></span>
<span class='code-line'><span class='word-red'>end</span></span>
</td>
</tr>
</table>
  <br>
  <i class="fa fa-file color-red"></i>　<strong>user.rb（追加第8行）</strong>
  <br>
  <small>
    ※　<strong><u>用半母字母數字打入</u></strong>。一起點擊<strong><u>「Command」跟「s」</u></strong>可以保存內容。
    <br>
    <i class="fa fa-windows color-blue"></i>　使用Windows的話，點擊<strong><u>「ctrl」跟「s」</u></strong>可以保存內容。
  </small>
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
4
5
6
7
<strong class="color-red">8</strong>
9
10
</td>
<td class='code-content'><span class='code-line'><span class='word-red'>class </span>User <span class="word-green">< ActiveRecord::Base</span></span>
<span class='code-line'>  <span class='word-gray'># Include default devise modules. Others available are:</span></span>
<span class='code-line'>  <span class='word-gray'># :confirmable, :lockable, :timeoutable and :omniauthable</span></span>
<span class='code-line'>  devise <span class='word-purple'>:database_authenticatable</span>, <span class='word-purple'>:registerable</span>,</span>
<span class='code-line'>         <span class='word-purple'>:recoverable</span>, <span class='word-purple'>:rememberable</span>, <span class='word-purple'>:trackable</span>, <span class='word-purple'>:validatable</span></span>
<span class='code-line'></span>
<span class='code-line'>  has_many <span class='word-purple'>:messages</span></span>
<span class='code-line remarkable-code'>  has_many <span class='word-purple'>:entries</span></span>
<span class='code-line'></span>
<span class='code-line'><span class='word-red'>end</span></span>
</td>
</tr>
</table>
  <hr class="red-hr">
  到這裡，
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>@entries <span class="word-red">=</span> @room.entries</span>
</td>
</tr>
</table>
  <br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>@entries <span class="word-red">=</span> @user.entries</span>
</td>
</tr>
</table>
  <br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>@user <span class="word-red">=</span> @entry.user</span>
</td>
</tr>
</table>
  <br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>@user <span class="word-red">=</span> @entry.room</span>
</td>
</tr>
</table>
  <br>
  這些都可以用了！
  <br><br>
  <i class="fa fa-play-circle"></i>　<strong>使用這些設定
  <ul class="number_ul">
    <li>顯示參加聊天室的會員的資料</li>
    <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee3/Chrome_messages_rooms_1_no_messages.png",
                          :width => "90%",
                          :class => "hover_img textbook-title-img"),
                "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee3/Chrome_messages_rooms_1_no_messages.png",
                :target => ["_blank"] %>
    <li>顯示登入的會員在參加的聊天室的資料</li>
    <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee3/Chrome_messages_users_1_link_chats_1.png",
                          :width => "90%",
                          :class => "hover_img textbook-title-img"),
                "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee3/Chrome_messages_users_1_link_chats_1.png",
                :target => ["_blank"] %>
    <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee3/Chrome_messages_rooms.png",
                          :width => "90%",
                          :class => "hover_img textbook-title-img"),
                "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee3/Chrome_messages_rooms.png",
                :target => ["_blank"] %>
  </ul>
  這些內容！
  </strong>
  <hr class="red-hr">
  <i class="fa fa-play-circle"></i>　<strong>首先從「顯示參加聊天室的會員的資料」開始做吧！</strong>
  <br><br>
  要顯示會員的資料的是<strong>「<u>rooms</u>」資料庫的「<u>show</u>」網頁</strong>，所以在
  <br>
  <strong>
  <ul class="number_ul">
    <li>rooms_controller.rb（操作資料）</li>
    <li>show.html.erb（顯示網頁）</li>
  </ul>
  </strong>
  裡追加設定。
  <hr class="red-hr">
  <i class="fa fa-arrow-right"></i>　<strong>首先從操作資料開始做吧！</strong>
  <br><br>
  編輯操作資料的設定文件<strong>「<u>app > controllers > rooms_controller.rb</u>」</strong>吧。
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>rooms_controller.rb（追加第17行）</strong>
  <br>
  <small>
    ※　<strong><u>用半母字母數字打入</u></strong>。一起點擊<strong><u>「Command」跟「s」</u></strong>可以保存內容。
    <br>
    <i class="fa fa-windows color-blue"></i>　使用Windows的話，點擊<strong><u>「ctrl」跟「s」</u></strong>可以保存內容。
  </small>
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>13
14
15
16
<strong class="color-red">17</strong>
18
</td>
<td class='code-content'><span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>show</span></span>
<span class='code-line'>    @room <span class="word-red">=</span> <span class='word-blue'>Room</span>.find(params[<span class='word-purple'>:id</span>])</span>
<span class='code-line'>    @messages <span class="word-red">=</span> @room.messages</span>
<span class='code-line'>    @message <span class="word-red">=</span> <span class="word-blue">Message</span>.<span class='word-red'>new</span></span>
<span class='code-line remarkable-code'>    @entries <span class="word-red">=</span> @room.entries</span>
<span class='code-line'>  <span class='word-red'>end</span></span>
</td>
</tr>
</table>
  <br>
  使用這個<strong>「<u>@entries</u>」</strong>，顯示會員資料！
  <hr class="red-hr">
  <i class="fa fa-arrow-right"></i>　<strong>接着做網頁顯示吧！</strong>
  <br><br>
  在這裡
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee3/Chrome_messages_rooms_1_no_messages.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee3/Chrome_messages_rooms_1_no_messages.png",
              :target => ["_blank"] %>
  像上面的圖像一樣在左邊的聊天資料的下面，顯示參加的會員的資料。
  <br><br>
  為了要顯示這樣的顯示，用剛剛設定的
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>@entries <span class="word-red">=</span> @room.entries</span>
</td>
</tr>
</table>
  <br>
  分成一個一個的資料，
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>&lt;% @entries.each <span class="word-red">do</span> |e| %&gt;</span>
</td>
</tr>
</table>
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>&lt;%= e.user.id %&gt;</span>
</td>
</tr>
</table>
  <br>
  換成這樣子的會員資料。
  <br><br>
  那麽打開<strong>「<u>app > views > rooms > show.html.erb</u>」</strong>設定內容吧！
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>show.html.erb（追加第6〜10行）</strong>
  <br>
  <small>
    ※　<strong><u>用半母字母數字打入</u></strong>。一起點擊<strong><u>「Command」跟「s」</u></strong>可以保存內容。
    <br>
    <i class="fa fa-windows color-blue"></i>　使用Windows的話，點擊<strong><u>「ctrl」跟「s」</u></strong>可以保存內容。
  </small>
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
4
5
<strong class="color-red">6
7
8
9
10</strong>
11
12
13
14
...
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>br</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>div</span><span class='word-green'> class</span>=<span class='word-yellow'>"row"</span>&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>div</span><span class='word-green'> class</span>=<span class='word-yellow'>"col-xs-3 text-center"</span>&gt;</span>
<span class='code-line'>    &lt;<span class='word-red'>h4</span>&gt;&lt;%= @room.name %&gt;&lt;/<span class='word-red'>h4</span>&gt;</span>
<span class='code-line'>    &lt;<span class='word-red'>h4</span>&gt;&lt;<span class='word-red'>small</span>&gt;&lt;%= @room.explain %&gt;&lt;/<span class='word-red'>small</span>&gt;&lt;/<span class='word-red'>h4</span>&gt;</span>
<span class="remarkable-code"><span class='code-line'>    &lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line'>    &lt;<span class='word-red'>h4</span>&gt;参加者&lt;/<span class='word-red'>h4</span>&gt;</span>
<span class='code-line'>    &lt;% @entries.each <span class="word-red">do</span> |e| %&gt;</span>
<span class='code-line'>      &lt;<span class='word-red'>h5</span>&gt;&lt;<span class='word-red'>strong</span>&gt;&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/users/&lt;%= e.user.id %&gt;"</span>&gt;&lt;%= e.user.family_name %&gt; &lt;%= e.user.first_name %&gt;&lt;/<span class='word-red'>a</span>&gt;&lt;/<span class='word-red'>strong</span>&gt;&lt;/<span class='word-red'>h5</span>&gt;</span>
<span class='code-line'>    &lt;% <span class="word-red">end</span> %&gt;</span></span>
<span class='code-line'>    &lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line'>    &lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/rooms/&lt;%= @room.id %&gt;/edit"</span> <span class="word-green">class</span>=<span class="word-yellow">"btn btn-success"</span>&gt;編輯資料&lt;/<span class='word-red'>a</span>&gt;</span>
<span class='code-line'>  &lt;/<span class='word-red'>div</span>&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>div</span><span class='word-green'> class</span>=<span class='word-yellow'>"col-xs-9"</span>&gt;</span>
<span class="code-line">  <span class="word-gray">#省略</span></span>
</td>
</tr>
</table>
  <br>
  在上面，使用
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>&lt;% @entries.each <span class="word-red">do</span> |e| %&gt;</span>
</td>
</tr>
</table>
  <br>
  這個設定
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>@entries <span class="word-red">=</span> @room.entries</span>
</td>
</tr>
</table>
  <br>
  把「@room」拿的「@entries」資料分成一個一個的資料<strong>「e」</strong>。
  <br><br>
  <strong>entries</strong>
  <table class="table table-striped" style="width:50%">
    <thead style="font-size:0.8em">
      <tr class="active">
        <th>id</th>
        <th style="background-color: #f2dede;">room_id</th>
        <th style="background-color: #f2dede;">user_id</th>
        <th>created_at</th>
        <th>updated_at</th>
      </tr>
    </thead>
    <tbody class="text-center">
      <tr>
        <td>1</td>
        <td style="background-color: #f2dede;">1</td>
        <td style="background-color: #f2dede;">1</td>
        <td style="font-size:11px;">2016-04-12 20:30:21</td>
        <td style="font-size:11px;">2016-04-12 20:30:21</td>
      </tr>
    </tbody>
  </table>
  <table class="table table-striped" style="width:50%">
    <thead style="font-size:0.8em">
      <tr class="active">
        <th>id</th>
        <th style="background-color: #f2dede;">room_id</th>
        <th style="background-color: #f2dede;">user_id</th>
        <th>created_at</th>
        <th>updated_at</th>
      </tr>
    </thead>
    <tbody class="text-center">
      <tr>
        <td>2</td>
        <td style="background-color: #f2dede;">1</td>
        <td style="background-color: #f2dede;">2</td>
        <td style="font-size:11px;">2016-04-12 20:30:21</td>
        <td style="font-size:11px;">2016-04-12 20:30:21</td>
      </tr>
    </tbody>
  </table>
  使用這個一個一個的資料<strong>「e」</strong>，顯示會員資料。
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/users/&lt;%= <span class="remarkable-code">e.user.id</span> %&gt;"</span>&gt;&lt;%= <span class="remarkable-code">e.user.family_name</span> %&gt; &lt;%= <span class="remarkable-code">e.user.first_name</span> %&gt;&lt;/<span class='word-red'>a</span>&gt;</span>
</td>
</tr>
</table>
  <hr class="red-hr">
  <i class="fa fa-play-circle"></i>　<strong>那麽，看看參加者的資料會不會顯示！</strong>
  <br><br>
  <strong><u>一起點擊「Command」跟「c」</u>停止，用「<u>rails s</u>」打開的服務器之後，再打入<u>「rails s」</u>吧。</strong>
  <br>
  <u>這樣編輯好的內容會適用在網頁上。</u>
  <br><br><br>
  <p class="alert alert-success">
  <i class="fa fa-windows color-blue"></i>　<strong>使用Windows的話、
  <br>
  　<u>一起點擊「ctrl」跟「c」</u>停止，用「<u>rails s</u>」打開的服務器之後，再打入<u>「rails s」</u>吧。</strong>
  </p>
  <br>
  之後用瀏覽器，打開「<a href="http://0.0.0.0:3000/rooms/2" target="_blank"><strong>0.0.0.0:3000/rooms/2</strong></a>」吧。
  <br>
  <small>
  <i class="fa fa-windows color-blue"></i>　使用Windows的話，打開「<a href="http://localhost:3000/rooms/2" target="_blank"><strong>localhost:3000/rooms/2</strong></a>」吧。
  </small>
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee3/Chrome_messages_rooms_1_no_messages.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee3/Chrome_messages_rooms_1_no_messages.png",
              :target => ["_blank"] %>
  有沒有顯示上面圖像一樣的參加者的資料了嗎？
  <hr class="red-hr">
  <i class="fa fa-play-circle"></i>　<strong>接着，顯示登入的會員在參加的聊天室的資料</strong>
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee3/Chrome_messages_users_1_link_chats_1.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee3/Chrome_messages_users_1_link_chats_1.png",
              :target => ["_blank"] %>
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee3/Chrome_messages_rooms.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee3/Chrome_messages_rooms.png",
              :target => ["_blank"] %>
  <hr class="red-hr">
  為了做這個，使用
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>@entries <span class="word-red">=</span> current_user.entries</span>
</td>
</tr>
</table>
  <br>
  這個設定選擇，裡面有「user_id」是登入會員的「id」的「entries」資料。網頁上顯示這個「entries」資料。
  <br><br>
  在這裡
  <strong>
  <ul class="number_ul">
    <li>「users」資料庫的「show」網頁</li>
    <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee3/Chrome_messages_users_1_link_chats_1.png",
                          :width => "90%",
                          :class => "hover_img textbook-title-img"),
                "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee3/Chrome_messages_users_1_link_chats_1.png",
                :target => ["_blank"] %>
    <li>「rooms」資料庫的「index」網頁</li>
    <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee3/Chrome_messages_rooms.png",
                          :width => "90%",
                          :class => "hover_img textbook-title-img"),
                "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee3/Chrome_messages_rooms.png",
                :target => ["_blank"] %>
  </ul>
  </strong>
  在這個兩個網頁上，設定這個內容。
  <hr class="red-hr">
  <i class="fa fa-play-circle"></i>　<strong>首先從「users」資料庫的「show」網頁開始做吧！</strong>
  <br><br>
  在這裡也在追加
  <strong>
  <ul class="number_ul">
    <li>操作資料（users_controller.rb）</li>
    <li>顯示網頁（show.html.erb）</li>
  </ul>
  </strong>
  這個兩個設定。
  <br><br>
  <i class="fa fa-arrow-right"></i>　<strong>那麽從資料操作開始做吧！</strong>
  <br><br>
  打開<strong>「<u>app > controllers > users_controller.rb</u>」</strong>之後，編輯裡面的內容吧！
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>users_controller.rb（追加第8行）</strong>
  <br>
  <small>
    ※　<strong><u>用半母字母數字打入</u></strong>。一起點擊<strong><u>「Command」跟「s」</u></strong>可以保存內容。
    <br>
    <i class="fa fa-windows color-blue"></i>　使用Windows的話，點擊<strong><u>「ctrl」跟「s」</u></strong>可以保存內容。
  </small>
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>5
6
7
<strong class="color-red">8</strong>
9
10
11
12
13
</td>
<td class='code-content'><span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>show</span></span>
<span class='code-line'>    @user <span class="word-red">=</span> <span class='word-blue'>User</span>.find(params[<span class='word-purple'>:id</span>])</span>
<span class='code-line'>    <span class='word-red'>if </span>@user.id <span class="word-red">==</span> current_user.id</span>
<span class='code-line remarkable-code'>      @entries <span class="word-red">=</span> current_user.entries.limit(<span class="word-purple">3</span>)</span>
<span class='code-line'>    <span class="word-red">else</span></span>
<span class='code-line'>      @room <span class="word-red">=</span> <span class="word-blue">Room</span>.<span class='word-red'>new</span></span>
<span class='code-line'>      @entry <span class="word-red">=</span> <span class="word-blue">Entry</span>.<span class='word-red'>new</span></span>
<span class='code-line'>    <span class='word-red'>end</span></span>
<span class='code-line'>  <span class='word-red'>end</span></span>
</td>
</tr>
</table>
  <br>
  在這裡跟
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>7
</td>
<td class='code-content'><span class='code-line'><span class='word-red'>if </span>@user.id <span class="word-red">==</span> current_user.id</span>
</td>
</tr>
</table>
  <br>
  的條件成立的時候（顯示的網頁的會員跟登入的會員是一樣的時候），
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>9
</td>
<td class='code-content'><span class='code-line'>@entries <span class="word-red">=</span> @user.entries.limit(<span class="word-purple">3</span>)</span>
</td>
</tr>
</table>
  <br>
  用這個選擇「@user」在拿的「entries」資料。
  <br><br>
  <strong>entries</strong>
  <table class="table table-striped" style="width:50%">
    <thead style="font-size:0.8em">
      <tr class="active">
        <th>id</th>
        <th style="background-color: #f2dede;">room_id</th>
        <th style="background-color: #f2dede;">user_id</th>
        <th>created_at</th>
        <th>updated_at</th>
      </tr>
    </thead>
    <tbody class="text-center">
      <tr>
        <td>1</td>
        <td style="background-color: #f2dede;">1</td>
        <td style="background-color: #f2dede;"><strong class="color-red">1</strong></td>
        <td style="font-size:11px;">2016-04-12 20:30:21</td>
        <td style="font-size:11px;">2016-04-12 20:30:21</td>
      </tr>
    </tbody>
  </table>
  <table class="table table-striped" style="width:50%">
    <thead style="font-size:0.8em">
      <tr class="active">
        <th>id</th>
        <th style="background-color: #f2dede;">room_id</th>
        <th style="background-color: #f2dede;">user_id</th>
        <th>created_at</th>
        <th>updated_at</th>
      </tr>
    </thead>
    <tbody class="text-center">
      <tr>
        <td>3</td>
        <td style="background-color: #f2dede;">2</td>
        <td style="background-color: #f2dede;"><strong class="color-red">1</strong></td>
        <td style="font-size:11px;">2016-04-12 20:30:49</td>
        <td style="font-size:11px;">2016-04-12 20:30:49</td>
      </tr>
    </tbody>
  </table>
  在最後的一行，
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>9
</td>
<td class='code-content'><span class='code-line'>@entries <span class="word-red">=</span> @user.entries<span class="remarkable-code">.limit(<span class="word-purple">3</span></span>)</span>
</td>
</tr>
</table>
  <br>
  這裡有<strong>「limit(3)」</strong>的設定，這個是<strong>選擇最大3個以內的資料的</strong>設定。
  <hr class="red-hr">
  <i class="fa fa-arrow-right"></i>　<strong>接着設定「網頁顯示」吧。</strong>
  <br><br>
  顯示在上面設定的<strong>「@entries」</strong>吧。
  <br>
  打開<strong>「<u>app > views > users > show.html.erb</u>」</strong>之後，編輯裡面的內容吧！
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>show.html.erb（追加第19〜29行）</strong>
  <br>
  <small>
    ※　<strong><u>用半母字母數字打入</u></strong>。一起點擊<strong><u>「Command」跟「s」</u></strong>可以保存內容。
    <br>
    <i class="fa fa-windows color-blue"></i>　使用Windows的話，點擊<strong><u>「ctrl」跟「s」</u></strong>可以保存內容。
  </small>
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
<strong class="color-red">19
20
21
22
23
24
25
26
27
28
29</strong>
30
31
32
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>div</span><span class='word-green'> class</span>=<span class='word-yellow'>"row"</span>&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>div</span><span class='word-green'> class</span>=<span class='word-yellow'>"col-xs-6"</span>&gt;</span>
<span class='code-line'>    &lt;<span class='word-red'>h1</span>&gt;會員資料&lt;/<span class='word-red'>h1</span>&gt;</span>
<span class='code-line'>    &lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line'>    &lt;<span class='word-red'>p</span>&gt;名字：&lt;%= @user.family_name %&gt;&lt;%= @user.first_name %&gt;（&lt;%= @user.age %&gt;歲）&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>    &lt;<span class='word-red'>p</span>&gt;自我介紹：&lt;%= @user.self_introduction %&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>    &lt;<span class='word-red'>br</span>&gt;</span>
<span class='code-line'>    &lt;% <span class="word-red">if</span> @user.id <span class="word-red">==</span> current_user.id %&gt;</span>
<span class='code-line'>      &lt;<span class='word-red'>p</span>&gt;&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/users/&lt;%= @user.id %&gt;/edit"</span> <span class="word-green">class</span>=<span class="word-yellow">"btn btn-success"</span>&gt;編輯會員資料&lt;/<span class='word-red'>a</span>&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>    &lt;% <span class="word-red">else</span> %&gt;</span>
<span class='code-line'>      &lt;%= form_for @room <span class="word-red">do</span> |f| %&gt;</span>
<span class='code-line'>        &lt;%= fields_for @entry <span class="word-red">do</span> |e| %&gt;</span>
<span class='code-line'>          &lt;%= e.hidden_field <span class="word-purple">:user_id</span>, <span class='word-purple'>:value</span> =&gt; @user.id %&gt;</span>
<span class='code-line'>        &lt;% <span class="word-red">end</span> %&gt;</span>
<span class='code-line'>        &lt;%= f.submit <span class="word-yellow">"開始聊天"</span>, <span class='word-purple'>:class</span> =&gt; <span class='word-yellow'>"btn btn-warning"</span> %&gt;</span>
<span class='code-line'>      &lt;% <span class="word-red">end</span> %&gt;</span>
<span class='code-line'>    &lt;% <span class="word-red">end</span> %&gt;</span>
<span class='code-line'>  &lt;/<span class='word-red'>div</span>&gt;</span>
<span class="remarkable-code"><span class='code-line'>  &lt;% <span class="word-red">if</span> @user.id <span class="word-red">==</span> current_user.id %&gt;</span>
<span class='code-line'>    &lt;<span class='word-red'>div</span><span class='word-green'> class</span>=<span class='word-yellow'>"col-xs-6"</span>&gt;</span>
<span class='code-line'>      &lt;<span class='word-red'>h1</span>&gt;聊天一覽&lt;/<span class='word-red'>h1</span>&gt;</span>
<span class='code-line'>      &lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line'>      &lt;% @entries.each <span class="word-red">do</span> |e| %&gt;</span>
<span class='code-line'>        &lt;<span class='word-red'>p</span>&gt;&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/rooms/&lt;%= e.room.id %&gt;"</span>&gt;&lt;<span class='word-red'>strong</span>&gt;&lt;%= e.room.name %&gt;&lt;/<span class='word-red'>strong</span>&gt;&lt;/<span class='word-red'>a</span>&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>        &lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line'>      &lt;% <span class="word-red">end</span> %&gt;</span>
<span class='code-line'>      &lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/rooms"</span> <span class="word-green">class</span>=<span class="word-yellow">"btn btn-info"</span>&gt;看聊天一覽&lt;/<span class='word-red'>a</span>&gt;</span>
<span class='code-line'>    &lt;/<span class='word-red'>div</span>&gt;</span>
<span class='code-line'>  &lt;% <span class="word-red">end</span> %&gt;</span></span>
<span class='code-line'>&lt;/<span class='word-red'>div</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>p</span>&gt;&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/users"</span> <span class="word-green">class</span>=<span class="word-yellow">"btn btn-primary"</span>&gt;返回會員一覽&lt;/<span class='word-red'>a</span>&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
</td>
</tr>
</table>
  <br>
  在這裡使用下面的條件判別，
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>19
</td>
<td class='code-content'><span class='code-line'>&lt;% <span class="word-red">if</span> @user.id <span class="word-red">==</span> current_user.id %&gt;</span>
</td>
</tr>
</table>
  <br>
  設定如果登入的會員跟「@user」是一樣的時候而已，顯示內容。
  <br><br>
  顯示的內容，用
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>20
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>div</span><span class='word-green'> class</span>=<span class='word-yellow'>"col-xs-6"</span>&gt;</span>
</td>
</tr>
</table>
  <br>
  這個設定，分網頁的顯示。
  <br>
  <small>※　詳細<a href="/zh-TW/coffee_cups/4#title2-1-2" target="_blank"><strong>請參考這裡</strong></a></small>
  <div class="row">
    <div class="col-xs-6" style="margin-top:20px; padding:0">
      <p class="alert alert-success">會員資料</p>
    </div>
    <div class="col-xs-6" style="margin-top:20px; padding:0">
      <p class="alert alert-danger">聊天資料</p>
    </div>
  </div>
  使用
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>23
</td>
<td class='code-content'><span class='code-line'>&lt;% @entries.each <span class="word-red">do</span> |e| %&gt;</span>
</td>
</tr>
</table>
  <br>
  把<strong>「<u>@entries</u>」</strong>分成一個一個的資料<strong>「e」</strong>，
  <br>
  一個一個的顯示內容。
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>24
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>p</span>&gt;&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/rooms/&lt;%= e.room.id %&gt;"</span>&gt;&lt;<span class='word-red'>strong</span>&gt;&lt;%= e.room.name %&gt;&lt;/<span class='word-red'>strong</span>&gt;&lt;/<span class='word-red'>a</span>&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
</td>
</tr>
</table>
  <hr class="red-hr">
  <i class="fa fa-play-circle"></i>　<strong>到這裡，看看可不可以顯示內容！</strong>
  <br><br>
  <strong><u>一起點擊「Command」跟「c」</u>停止，用「<u>rails s</u>」打開的服務器之後，再打入<u>「rails s」</u>吧。</strong>
  <br>
  <u>這樣編輯好的內容會適用在網頁上。</u>
  <br><br><br>
  <p class="alert alert-success">
  <i class="fa fa-windows color-blue"></i>　<strong>使用Windows的話、
  <br>
  　<u>一起點擊「ctrl」跟「c」</u>停止，用「<u>rails s</u>」打開的服務器之後，再打入<u>「rails s」</u>吧。</strong>
  </p>
  <br>
  用瀏覽器，打開登入的會員的網頁<strong>「<u>0.0.0.0:3000/users/数字</u>」</strong>吧。
  <br>
  <small>
  <i class="fa fa-windows color-blue"></i>　使用Windows的話，打開<strong>「<u>localhost:3000/users/數字</u>」</strong>吧。
  </small>
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee3/Chrome_messages_users_1_link_chats_1.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee3/Chrome_messages_users_1_link_chats_1.png",
              :target => ["_blank"] %>
  有沒有在右邊顯示，登入的會員在參加的聊天室了嗎？
  <hr class="red-hr">
  <i class="fa fa-play-circle"></i>　<strong>接着編輯「rooms」資料庫的「index」網頁吧！</strong>
  <br><br>
  在這裡也在
  <strong>
  <ul class="number_ul">
    <li>操作資料（users_controller.rb）</li>
    <li>顯示網頁（index.html.erb）</li>
  </ul>
  </strong>
  這個兩個文件文件夾設定內容。
  <br><br>
  <i class="fa fa-arrow-right"></i>　<strong>那麽從資料操作開始做吧！</strong>
  <br><br>
  編輯<strong>「<u>app > controllers > rooms_controller.rb</u>」</strong>吧！
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>rooms_controller.rb（編輯第21行）</strong>
  <br>
  <small>
    ※　<strong><u>用半母字母數字打入</u></strong>。一起點擊<strong><u>「Command」跟「s」</u></strong>可以保存內容。
    <br>
    <i class="fa fa-windows color-blue"></i>　使用Windows的話，點擊<strong><u>「ctrl」跟「s」</u></strong>可以保存內容。
  </small>
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>20
<strong class="color-red">21</strong>
22
</td>
<td class='code-content'><span class='code-line'><span class='word-red'>def </span><span class='word-green'>index</span></span>
<span class='code-line remarkable-code'>  @entries <span class="word-red">=</span> current_user.entries</span>
<span class='code-line'><span class='word-red'>end</span></span>
</td>
</tr>
</table>
  <br>
  這樣設定好，<strong>選擇「current_user」在拿的<u>「entries」資料</u></strong>了！
  <hr class="red-hr">
  <i class="fa fa-arrow-right"></i>　<strong>接着做網頁顯示吧！</strong>
  <br><br>
  用上面設定的<strong>「@entries」</strong>顯示聊天室的內容吧！
  <br>
  編輯<strong>「<u>app > views > rooms > index.html.erb</u>」</strong>的內容吧！
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>index.html.erb（編輯第3〜6行）</strong>
  <br>
  <small>
    ※　<strong><u>用半母字母數字打入</u></strong>。一起點擊<strong><u>「Command」跟「s」</u></strong>可以保存內容。
    <br>
    <i class="fa fa-windows color-blue"></i>　使用Windows的話，點擊<strong><u>「ctrl」跟「s」</u></strong>可以保存內容。
  </small>
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
<strong class="color-red">3
4
5
6</strong>
7
8
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>h1</span>&gt;聊天室一覽&lt;/<span class='word-red'>h1</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>hr</span>&gt;</span>
<span class="remarkable-code"><span class='code-line'>&lt;% @entries.each <span class="word-red">do</span> |e| %&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/rooms/&lt;%= e.room_id %&gt;"</span>&gt;&lt;%= e.room.name %&gt;&lt;/<span class='word-red'>a</span>&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line'>&lt;% <span class="word-red">end</span> %&gt;</span></span>
<span class='code-line'>&lt;<span class='word-red'>p</span>&gt;&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/users/&lt;%= current_user.id %&gt;"</span> <span class="word-green">class</span>=<span class='word-yellow'>"btn btn-primary"</span></span>&gt;返回&lt;%= current_user.family_name %&gt; &lt;%= current_user.first_name %&gt;的資料&lt;/<span class='word-red'>a</span>&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>p</span>&gt;&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/"</span> <span class="word-green">class</span>=<span class="word-yellow">"btn btn-info"</span>&gt;返回主頁&lt;/<span class='word-red'>a</span>&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
</td>
</tr>
</table>
  <br>
  在這裡也把<strong>「<u>@entries</u>」</strong>分成一個一個的資料<strong>「e」</strong>，之後顯示這個資料「e」。
  <hr class="red-hr">
  <i class="fa fa-play-circle"></i>　<strong>到這裡，看看可不可以顯示！</strong>
  <br><br>
  <strong><u>一起點擊「Command」跟「c」</u>停止，用「<u>rails s</u>」打開的服務器之後，再打入<u>「rails s」</u>吧。</strong>
  <br>
  <u>這樣編輯好的內容會適用在網頁上。</u>
  <br><br><br>
  <p class="alert alert-success">
  <i class="fa fa-windows color-blue"></i>　<strong>使用Windows的話、
  <br>
  　<u>一起點擊「ctrl」跟「c」</u>停止，用「<u>rails s</u>」打開的服務器之後，再打入<u>「rails s」</u>吧。</strong>
  </p>
  <br>
  在瀏覽器上，打開「rooms」資料庫的「index」網頁「<a href="http://0.0.0.0:3000/rooms" target="_blank"><strong>0.0.0.0:3000/rooms</strong></a>」吧。
  <br>
  <small>
  <i class="fa fa-windows color-blue"></i>　使用Windows的話，打開「<a href="http://localhost:3000/rooms" target="_blank"><strong>localhost:3000/rooms</strong></a>」吧。
  </small>
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee3/Chrome_messages_rooms.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee3/Chrome_messages_rooms.png",
              :target => ["_blank"] %>
  有沒有顯示上面圖像一樣的畫面嗎？
  <hr class="red-hr">
  <strong>
  這樣聊天室大概作好了。
  <br><br>
  但是好不容易作好「<u>entries</u>」資料，
  <br>
  但是現在誰都可以看全部的聊天。這個應該有一點不好啊。
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee3/Chrome_messages_rooms_1_no_messages.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee3/Chrome_messages_rooms_1_no_messages.png",
              :target => ["_blank"] %>
  <i class="fa fa-play-circle"></i>　接着做聊天的檢查吧。如果沒有參加聊天室的會員想看聊天的時候，顯示
  </strong>
  <p class="alert alert-danger" style="margin-top:20px;">無效的會員</p>
  <strong>
  的通知。
  </strong>
  <br><br>
  <i class="fa fa-arrow-right"></i>　<strong>設定的內容，<a href="/zh-TW/codes/c_5" target="_blank">請參考這裡</a>。</strong>
</h4>